//
// Skin variables, mixin, config.
// 

// Import essentials
@import '../../abstracts/_variables';
@import '../../abstracts/_utils';

// Variables for this skin
$skin-font: "Source Sans Pro", Arial, sans-serif;
$skin-color: #f1868a;
$skin-font-alt: "Noto Sans", Arial, sans-serif;
$special-title-font: "Playfair Display", Didot, Garamond, serif;

// For CSS variables and editor mainly
$body-font: $skin-font;
$text-font: $skin-font;
$title-font: $skin-font;
$text-tracking: 0;

// Common elements
@mixin skin-elements {
	blockquote {
		font-family: Lora, Georgia, serif;
		font-size: 17px;
		color: #989898;
	}
}

@mixin skin-text {
	-webkit-font-smoothing: antialiased;
}

@mixin skin-entry-content {

}

@mixin skin-post-content {
	line-height: 1.857;
	font-size: 16px;
	
	h1, h2, h3, h4, h5, h6 {
		@include special-title;
	}
}

// ---

@mixin special-title {
	font-family: $special-title-font;
	font-weight: 400;
	color: #161616;
}

@mixin bold-title-alt {
	font-family: $skin-font-alt;
	font-weight: 600;
	letter-spacing: 0.16em;
}
