/**
 * Skin: Miranda 
 */

// Note: Miranada skin uses selector override method on top of base CSS styling from style.scss

// Base overrides
@import 'common';
@import 'base';

/**
 * Header and Nav
 */
.top-bar .posts-ticker {
	font-size: 10px;
	font-family: $skin-font-alt;

	.heading {
		font-weight: 400;
	}
}

.top-bar.dark .posts-ticker {
	color: #aaa;
	
	a {
		color: #aaa;
	}
}

// 11px too small with source sans
.search-action .search-field {
	font-size: 12px;
}

.main-head.nav-below-b {
	
	.dark .social-icons a {
		color: #aaa;
	}
	
	.title {
		padding: 70px 0;
	}
}

/* Navigation Adjustments */
.navigation {
	color: #535353;
	letter-spacing: 0.16em;
	font-weight: 400;
	font-family: $skin-font-alt;	
	
	// First level drops 
	.menu-item-has-children > a:after {
		color: #d8d8d8 !important;
		font-size: 13px;
		-webkit-font-smoothing: initial;
	}
	
	.menu > li > a {
		color: #111;
		padding: 0 25px;
		font-size: 12px;
		letter-spacing: 0.18em;
	}
	
	// nth level drops
	.menu > li li a,
	.mega-menu .sub-cats a {
		font-size: 10px;
		letter-spacing: 0.16em;
		font-weight: 400;
	}
	
	.menu > li li a {
		padding: 8px 17px;
	}
	 
	.menu ul .menu-item-has-children > a:after {
		color: #d8d8d8;
		font-size: 12px;
		-webkit-font-smoothing: initial;
	}
	
	.mega-menu .recent-posts .post-title {
		color: #444;
		font-family: $skin-font;
		font-size: 16px;
		font-weight: 600;
		letter-spacing: 0;
	}
}

.navigation.below {
	height: 54px;
	line-height: 54px;
}


// dark nav fixes - messed up from above
.navigation.dark {
	.menu > li > a {
		color: #ebebeb;
	}
}

.mobile-menu li a {
	letter-spacing: 0.12em;
}


/**
 * General components and global changes
 */
 
::selection { 
	background: rgba($skin-color, 0.2);
}

::-moz-selection {
	background: rgba($skin-color, 0.2);
}
 
input, 
textarea, 
select {
	font-size: 14px;
}

input[type="submit"], 
button, input[type="button"], 
.button {
	letter-spacing: 0.15em;
}

@include skin-elements;

.section-head {
	.title {
		font-size: 12px;
		font-weight: 700;
		letter-spacing: 0.11em;
		color: #2a2a2a;
    	-webkit-font-smoothing: antialiased;
	}
}
 
.post-meta {
	.post-cat > a {
		font-weight: 600;
		letter-spacing: 0.15em;
	}
	
	time {
		letter-spacing: 0.1em;
	}

}

.post-meta-b {
	.post-cat {
		margin-bottom: -2px;
	}
	
	.post-cat > a {
		font-weight: 600;
		letter-spacing: 0.18em;
	}
	
	.post-title-alt {
		margin: 18px 0;
	}
	
	time,
	.comments,
	.meta-sep {
		font-size: 12px;
		letter-spacing: 0.12em;
	}
	
	time,
	.meta-sep {
		color: #b4b4b4;
	}
	
	.comments {
		color: #5b5b5b;
	}
	
	.meta-sep:before {
		padding: 0 5px;
	}
}

.post-title,
.post-title-alt {
	@include special-title;
	letter-spacing: 0;
	
	a {
		color: #000;
	}
	
	em {
		font-weight: 600;
	}
}

.post-title-alt {
	margin-top: 12px;
	margin-bottom: 16px;
	font-size: 26px;
	
	&:after {
		display: none;
	}
}

.text,
.post-content,
.textwidget {
	@include skin-text;
}

.main-pagination {
	.next a,
	.previous a {
		letter-spacing: 0.15em;
	}
}

.main-pagination.number {
	font-size: 15px;
	font-weight: 500;
	letter-spacing: 0;
}


/**
 * Posts adjustments
 */
.grid-post {
	.post-title-alt {
		margin-bottom: 14px;
	}
	
	.post-meta-b .post-title-alt {
		margin: 16px 0;
	}
}

.grid-post-b {
	
	.post-title-alt {
		font-size: 24px;
	}
	
	.read-more-btn {
		font-family: $skin-font-alt;
		letter-spacing: 0.15em;
	}
}

// Large Post 
.large-post { 
	.featured img {
		margin-bottom: 23px;
	}
}

.large-post-b .post-footer { 
	.author a {
		letter-spacing: 0.18em;
	}
	
	.number {
		font-size: 14px;
		font-weight: 600;
	}
	
	.social-icons a {
		font-size: 14px;
	}
}

.post-footer {
	margin-top: 45px;
	
	.read-more {
		font-size: 11px;
		font-weight: 900;
		letter-spacing: 0.1em;
	}
}

.post-content .read-more {
	font-family: $skin-font-alt;
}

// Overlay post
.overlay-post .post-title {
	font-size: 25px;
}


/* Single Post */

.single-cover .overlay .post-by {
	font-weight: 600;
	letter-spacing: 0.1em;
}

.post-content {
	@include skin-post-content;
}

.post-excerpt {
	font-size: 15px;
}

.tag-share {
	.post-tags a {
		font-weight: 700;
		letter-spacing: 0.15em;
	}
}

.post-share-icons a {
	color: #454545;
}


.author-box {
	.author > span {
		letter-spacing: 0.15em;
	}
	
	.author > a {
		font-size: 22px;
		font-weight: 700;
		text-transform: uppercase;
	}
	
	.author-bio {
		font-size: 15px;
	}
}

.related-posts {
	.post-title {
		font-family: $skin-font;
		font-size: 16px;
		font-weight: 600;
		letter-spacing: 0;
	}
	
	.post-meta {
		font-size: 10px;
	}
}

.comments-list { 
	.comment-author {
		margin-bottom: 0;
		text-transform: uppercase;
		letter-spacing: 0.025em;
		font-size: 15px;
	}
	
	.comment-text {
		font-size: 15px;
		color: #777;
	}
	
	.comment-time {
		font-weight: 400;
		letter-spacing: 0.1em;
	}
}

.comment-form {
	.submit {
		font-size: 12px;
		letter-spacing: 0.15em;
	}
}


/**
 * Home & Archives changes
 */
.block-heading .title {
	font-size: 16px;
}

// Default / Stylish slider
.slider-overlay {
	.heading {
		font-family: $special-title-font;
		font-weight: 400;
		letter-spacing: 0;
	}
	
	.excerpt {
		font-size: 15px;
		letter-spacing: 0;
	}
}


// Large slider 
.large-slider {	
	
	.category a {
		font-size: 13px;
		letter-spacing: 0.18em;
		
	}
	
	.heading {
		@include special-title;
		font-size: 44px;
		
		@include breakpoint(small) {
			font-size: 30px;
		}
		
		&:after {
			margin-top: 24px;
		}
	}
	
	.read-more {
		@include bold-title-alt;
		letter-spacing: 0.2em;
	}
	
	.item:hover:after {
		background: rgba(62, 34, 34, 0.3);
	}
}

// Grid slider
.grid-slider {
	.heading {
		@include special-title;
		max-width: 450px;
	}
	
	.category {
		font-size: 11px;
	}
}

.grid-b-slider {
	.heading {
		@include special-title;
	}
}

.carousel-slider {
	.heading {
		@include special-title;
	}
}

// Bold Slider
.bold-slider {
	.heading {
		@include special-title;	
	}
}



// Home Carousel
.posts-carousel {
	.post-meta {
		font-size: 10px;
	}
	
	.post-title {
		font-size: 18px;
	}	
}

.subscribe-box .text {
	font-size: 14px;
}

.archive-head .sub-title {
	font-size: 11px;
	letter-spacing: 0.15em;
}

.error-page .search-submit {
	padding-top: 14px;
	padding-bottom: 14px;
}

/**
 * Sidebar adjustments
 */
.sidebar {
	
	.widget {
		border: 1px solid #ebebeb;
		padding: 30px;
	}
	
	.widget-title {
		margin: 0 -31px;
		margin-top: -31px;
		margin-bottom: 35px;
		border-top-color: $skin-color;
		font-size: 12px;
		font-weight: 700;
		letter-spacing: 0.11em;
		color: #2a2a2a;
    	-webkit-font-smoothing: antialiased;
		line-height: 44px;
	}
	
	// Ad widget
	.widget-a-wrap {
		border: 0;
		
		.the-wrap {
			margin: 0 -30px;
		}
	}
	

	.widget_mc4wp_form_widget,
	.widget-subscribe {
		background: #f7f7f7;
		
		.widget-title {
			margin: 0;
			margin-bottom: 35px;
			background: transparent;
			line-height: 1;
		}
	}
	
}

.widget .mc4wp-form .message, 
.widget-subscribe .message {
	color: #777;
	font-size: 14px;
}

.widget-about {
	.more {
		@include bold-title-alt;
	}
}

.widget-cta {
	.label {
		@include bold-title-alt;
		font-size: 11px;
		color: #161616;
		padding: 9px 14px;
		letter-spacing: 0.15em;
	}
}

.widget-posts {
	.post-title {
		margin-top: -4px;
		font-family: $skin-font;
		font-size: 16px;
		font-weight: 600;
		line-height: 1.45;
		-webkit-font-smoothing: antialiased;
	}
	
	.post-meta {
		//font-size: 10px;
	}
	
	.image-link img {
		margin-right: 22px;
	}
}

/* Footer Changes */
.upper-footer {
	
	.widget-title {
		color: #222;
		font-size: 15px;
		font-weight: 600;
		letter-spacing: 0.04em;
	}
	
	.widget-about .about-text {
		font-size: 14px;
	}
}

.lower-footer {
	.copyright {
		font-size: 14px;
	}
	
	.social-icons {
		letter-spacing: 0.12em;
	}
}