//
// Skin variables, mixin, config.
// 

// Import essentials
@import '../../abstracts/_variables';
@import '../../abstracts/_utils';

// Variables for this skin
$skin-font: Lato, Arial, sans-serif;
$skin-color: #ec0e0e;
$skin-font-alt: "Open Sans", Arial, sans-serif; 

// For CSS variables and editor mainly
$body-font: $skin-font;
$text-font: $skin-font;
$title-font: $skin-font-alt;
$text-tracking: 0;

// Common elements
@mixin skin-elements {
	blockquote {
		font-family: Lora, Georgia, serif;
		font-size: 17px;
		color: #989898;
	}	
}

@mixin skin-text {
	font-size: 15px;
	line-height: 1.8;
	color: #616161;
}

@mixin skin-entry-content {}

@mixin skin-post-content {
	font-size: 16px;
	line-height: 1.8125;
	
	h1, h2, h3, h4, h5, h6 {
		@include special-title;
	}
}

// ---

@mixin special-title {
	font-family: $skin-font-alt;
	font-weight: 700;
	letter-spacing: -0.01em;
	color: #000;
}

@mixin special-title-alt {
	font-family: $skin-font-alt;
	font-weight: 600;
	letter-spacing: -0.01em;
	color: #000;
}

@mixin bold-title-alt {
	font-family: $skin-font-alt;
	font-weight: 600;
	letter-spacing: 0.16em;
}

@mixin bold-title {
	font-weight: 600;
	-webkit-font-smoothing: antialiased;
}