/**
 * Skin: Magazine 
 */

// Note: Magazine skin uses selector override method on top of base CSS styling from style.scss

// Base overrides
@import 'common';
@import 'base';

/**
 * Header and Nav
 */

.main-head {
	border-color: #e7e7e7;
}

.main-head.compact {
	.posts-ticker {
		letter-spacing: 0;
		
		a {
			text-transform: none;
		}
	}
	
	.inner.sticky-bar {
		border-color: #e7e7e7;
	}
}

.top-bar.dark .top-bar-content {
	background: #000;
}

.navigation {
	letter-spacing: 0.035em;
	font-size: 12px;

	.menu > li > a {
		font-weight: 700;
		-webkit-font-smoothing: antialiased;
	}
	
	.menu li li a {
		color: #313131;
	}
	
	.mega-menu {
		.recent-posts .post {
			text-align: left;
		}
		
		.recent-posts .post-title {
			margin-bottom: 8px;
			font-size: 14px;
			font-weight: 600;
			letter-spacing: -0.01em;
		}
		
		.post-meta {
			font-size: 10px;
		}
	}
}

// Inline menu style for compact header
.navigation.inline {
	letter-spacing: 0;
	color: #383838;
	
	.menu > li > a {
		font-weight: 700;
		letter-spacing: 0.035em;
		-webkit-font-smoothing: antialiased;
	}
}

.navigation.simple {

	.menu > li > a {
		letter-spacing: 0;
	}
}

.navigation.dark {
	&.has-bg {
		background: #000;
	}
	
	.menu > li > a,
	.menu > .current-menu-item > a, 
	.menu > .current-menu-parent > a,
	.menu > .current-menu-ancestor > a {
		color: #fff;
	}
	
	.menu li:hover > a,
	.menu li li:hover > a,
	.menu li:hover > a:after {
		color: $skin-color;
	}
	
	.menu > li li a {
		border-color: rgba(187, 187, 187, 0.15);
	}
}

.mobile-menu li a {
	letter-spacing: 0.08em;
}


// Header ad
.the-wrap.head {
	border-color: #e7e7e7;
}

/**
 * General components and global changes
 */
 
::selection { 
	background: rgba($skin-color, 0.7);
	color: #fff;
}

::-moz-selection {
	background: rgba($skin-color, 0.7);
	color: #fff;
}

input[type="submit"], 
button, input[type="button"],
.button {
	font-family: $skin-font;
	font-weight: 900;
	letter-spacing: 0.06em;
}

input, 
textarea, 
select {
	font-size: 14px;
}

input {
	height: (37/14) * 1em;
}

@include skin-elements;

.section-head {
	margin-top: 65px;
	border-bottom: 1px solid #e7e7e7;
	text-align: left;
	
	.title {
		display: inline-block;
		margin-bottom: -1px;
		padding: 0 1px;
		padding-bottom: 8px;
		border-bottom: 1px solid $skin-color;
				
		font-size: 17px;
		font-weight: 700;
		text-transform: uppercase;
		letter-spacing: 0;
		line-height: 1.2;
	}
	
	&:before,
	&:after {
		display: none !important;
	}
}
 
.post-title,
.post-title-alt {
	@include special-title;
	
	a {
		color: #000;
	}
}

.post-title-alt {
	font-size: 29px;
	@include breakpoint(x-small) {
		font-size: 24px;
	}
	
	&:after {
		display: none;
	}
}

.text,
.post-content,
.textwidget {
	@include skin-text;
}

.post-meta {
	font-family: $skin-font;
	font-size: 11px;
	
	.post-author,
	time {
		letter-spacing: 0.025em;
	}
}

// Pagination changes
.main-pagination {
	.next a,
	.previous a {
		font-weight: 900;
		letter-spacing: 0.15em;
	}
}

// Structural
.main {
	margin-top: 55px;
	margin-bottom: 80px;
}

/**
 * Posts adjustments
 */

// Large Post 

.large-post-b {
	.read-more a {
		padding: 13px 19px;
		border: 1px solid #e5e5e5;
		background: #fbfbfb;
		color: #777;
		font-size: 11px;
		font-weight: 700;
		line-height: 1;
		letter-spacing: 0.08em;
		text-transform: uppercase;
		-webkit-font-smoothing: initial;
		
		&:hover {
			background: #000;
			color: #fff;
		}
			
		&:before {
			display: none;
		}
		
		span {
			padding: 0;
			background: transparent;
		}
	}
}

.post-footer {
	margin-top: 45px;
	
	.read-more {
		font-size: 11px;
		font-weight: 900;
		letter-spacing: 0.1em;
	}
}

.list-post-b .read-more-btn,
.grid-post .read-more-btn {
	padding: 13px 19px;
	font-weight: 700;
	letter-spacing: 0.08em;
}

.list-post:not(.list-post-b) {
	border-bottom: 0;
	padding-bottom: 0;
	margin-bottom: 35px;
	
	
	.content {
		display: block;
		align-self: center;
		margin-bottom: 5px;
	}
	
	.post-title {
		font-size: 21px;
		margin-top: 0;
	}
}


// Grid Posts
.grid-post {
	.post-title-alt {
		font-size: 20px;
	}
}

.posts-dynamic {
	margin-bottom: -50px;
	
	.grid-post {
		margin-bottom: 50px;
	}
}


/**
 * Single Post
 */
.single-magazine {
	.post-top {
		.post-title {
			letter-spacing: -0.025em;
		}
	}
}

.single-cover .overlay .post-by {
	font-weight: 600;
	letter-spacing: 0.1em;
}

.post-content {
	@include skin-post-content;
}

.tag-share {
	.post-tags a {
		font-weight: 700;
		letter-spacing: 0.1em;
	}
}

.post-share-icons a {
	color: #161616;
}


.author-box {
	.author > a {
		@include special-title;
	}
	
	.author-bio {
		font-size: 15px;
	}
}


// Related Posts

.related-posts {
	.posts {
		margin-bottom: -30px;
		padding-top: 35px;
		text-align: initial;
	}
	
	.post-title {
		@include special-title-alt;
		font-size: 14px;
	}
	
	.post-meta {
		display: none;
	}
}


// Comments changes

.comments-list {
	margin-bottom: -15px;
	
	.comment-author {
		font-size: 17px;
		font-weight: 700;
		letter-spacing: -0.01em;
	}
	
	.comment-text {
		margin-bottom: -5px;
	}
	
	> .comment, 
	> li {
		padding: 45px 0;
	}
	
	.comment .children {
		margin-top: 45px;
	}
	
	.children li.comment {
		margin-top: 45px;
		padding-top: 45px;
	}
	
	.comment-reply-link {
		font-weight: 700;
		letter-spacing: 0.1em;
	}
}

#cancel-comment-reply-link {
	margin-top: -38px;
}

.comment-respond .section-head {
	border: 0;
	border-top: 1px solid #f2f2f2;
	padding-top: 55px;
	margin-top: 55px;
	text-align: center;
    
	.title {
		border: 0;
				
		&:after {
			content: "";
			display: block;
			margin: 0 auto;
			margin-top: 8px;
			width: 24px;
			height: 1px;
			background: $skin-color;
		}
	}
}


/**
 * Home & Archives changes
 */
 
.blocks .block {
	margin-bottom: 50px;
}
 
.block-heading .title {
	font-size: 15px;
}

.small-post {
	.post-title {
		font-family: $skin-font-alt;
		font-size: 14px;
		font-weight: 600;
		line-height: 1.5;
		letter-spacing: -0.01em;	
	}
}

// Default / Stylish slider
.slider-overlay {
	.heading {
		@include special-title;
	}
	
	.excerpt {
		font-size: 14px;
		letter-spacing: 0;
	}
}


// Large slider 
.large-slider {	
	.heading {
		@include special-title;
	}
}

// Grid slider
.grid-slider {
	.heading {
		@include special-title;
	}
	
	.category {
		font-size: 11px;
	}
}

.grid-b-slider {
	.heading {
		@include special-title;
		-webkit-font-smoothing: antialiased;
	}
}

// Archive
.archive-head {
	.sub-title {
		font-family: $skin-font;
		font-weight: 400;
		color: #999 !important;
		letter-spacing: 0.05em;
	}
	
	.title {
		font-size: 24px;
		font-weight: 700;
		letter-spacing: -0.01em;
	}
}


/**
 * Sidebar & Widgets adjustments
 */
.sidebar {
	
	.widget {
		margin-bottom: 55px;
	}
	
	
	.widget-title {
		border: 0;
		color: #000;
		font-family: $skin-font-alt;
		font-weight: 700;
		font-size: 17px;
		letter-spacing: 0;
		line-height: 1.2;
		
		&:after {
			content: "";
			display: block;
			margin: 0 auto;
			margin-top: 8px;
			width: 24px;
			height: 1px;
			background: $skin-color;

		}
	}
	
	.widget_mc4wp_form_widget,
	.widget-subscribe {
		background: #fff;
		position: relative;
		border: 5px solid transparent;
		
		.widget-title {
			margin-top: 10px;
			margin-bottom: 17px;
			background: transparent;
			@include special-title;
			font-weight: 900;
			font-size: 21px;
			line-height: 1.3;
			text-transform: none;
			
			&:after {
				display: none;
			}
		}
			
		
		&:before {
			content: "";
			position: absolute;
			display: block;
			width: calc(100% + 10px);
			height: calc(100% + 10px);
			box-sizing: border-box;
			top: -5px;
			left: -5px;
			z-index: 1;
			border: 5px solid #f5f5f5;
			box-shadow: inset 0 0 0 1px #d7d7d7;
			pointer-events: none; 
		}
		
		.message {
			max-width: 85%;
		}
	}
}

// Default widgets font
.widget_links, 
.widget_meta, 
.widget_recent_comments, 
.widget_recent_entries, 
.widget_rss, 
.widget_pages, 
.widget_nav_menu  {
	li {
		font-size: 14px;
	}	
}

.widget_mc4wp_form_widget,
.widget-subscribe {
	
	p:last-of-type {
		margin-top: -16px;
	}
	
	.message {
		margin: 0 auto;
		margin-bottom: 20px;
		font-family: $skin-font-alt;
		font-size: 13px;
	}
}

.widget .mc4wp-form .message, 
.widget-subscribe .message {
	font-family: $skin-font;
}


.widget-cta {
	.label {
		font-weight: 600;
		font-size: 11px;
		color: #161616;
		padding: 9px 14px;
		letter-spacing: 0.15em;
	}
}

.widget-posts {
	.content {
		margin-top: 2px;
	}
	
	.image-link img {
		margin-right: 21px;
	}
	
	.post-title {
		font-family: $skin-font-alt;
		font-size: 14px;
		font-weight: 600;
		line-height: 1.5;
		letter-spacing: -0.01em;
	}
	
	.posts.large {
		.post-title {
			font-size: 16px;
			font-weight: 600;
			-webkit-font-smoothing: antialiased;
		}
		
		time {
			letter-spacing: 0.07em;
		}
	}

}

/* Footer Changes */
.upper-footer {
	
	.widget-about {
		.about-text {
			font-size: 14px;
		}
		
		.text.below {
			color: #7a7a7a;
		}
	}
	
	.widget-title {
		color: #222;
		font-size: 15px;
		font-weight: 600;
		letter-spacing: 0.04em;
	}
	
	.widget-posts .post-meta {
		color: #7a7a7a;
	}
}

.lower-footer {
	.copyright {
		font-size: 13px;
	}
	
	.social-icons {
		letter-spacing: 0.12em;
	}
}
