//
// Skin variables, mixin, config.
// 

// Import essentials
@import '../../abstracts/_variables';
@import '../../abstracts/_utils';

// Variables for this skin
$skin-font: Lato, Arial, sans-serif;
$skin-text-font: Lora, Georgia, serif;
$skin-color: #cea525;
$special-title-font: "TexGyreAdventor", Futura, Arial, sans-serif; 

// For CSS variables and editor mainly
$body-font: $skin-text-font;
$text-font: $skin-text-font;
$title-font: $skin-font;
$text-tracking: 0;

// Common elements
@mixin skin-elements {
	
	h1, h2, h3, h4, h5, h6 {
		color: #535353;
	}
}

@mixin skin-text {}

@mixin skin-entry-content {}

@mixin skin-post-content {
	line-height: 1.857;
	
	h1, h2, h3, h4, h5, h6 {
		@include special-title;
	}
}

// ---

@mixin special-title {
	font-family: $special-title-font;
	font-weight: 600;
	color: #161616;
}

@mixin bold-title {
	font-weight: 900;
	letter-spacing: 0.1em;
}