/*--------------------------------------------------------
 SP_TP_Framework
--------------------------------------------------------*/
.text-center {
	text-align: center;
}
.sp-after-text{
	padding-left: 5px;
}

.js #sp_eap_upload_options.postbox .handlediv,
.js #sp_eap_upload_options.postbox .hndle {
	display: none;
}
.sp-eap-framework .sp-eap-banner{
	background-image: -moz-linear-gradient( -45deg, rgb(255,95,109) 0%, rgb(255,195,113) 100%);
    background-image: -webkit-linear-gradient( -45deg, rgb(255,95,109) 0%, rgb(255,195,113) 100%);
	padding: 20px 28px;
	overflow: hidden;
}
.sp-eap-framework .sp-eap-logo{
	float: left;
}
.sp-eap-framework .sp-eap-logo img{
	display: block;
	width: auto;
}
.sp-eap-framework .sp-eap-short-links{
	float: right;
	line-height: 28px;
}
.sp-eap-framework .sp-eap-short-links a{
	color: #ffffff;
	text-decoration: none;
	margin-left: 16px;
	font-size: 15px;
	font-weight: 600;
}
.sp-eap-framework .sp-eap-short-links a i.fa{
	margin-right: 7px;
}

#sp_eap_shortcode_options.postbox {
	border: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}
#sp_eap_upload_options .eapro_shortcode,
#sp_eap_upload_options .eapro_shortcode_divider,
#sp_eap_shortcode_options .sp-eap-banner,
#sp_eap_shortcode_options > .handlediv,
#sp_eap_shortcode_options > .hndle.ui-sortable-handle {
 display: none;
}

.eapro_shortcode .eapro-col-lg-3 .selectable, 
.sp-field-notice .sp-notice.sp-front-end-shortcode .eapro-sc-code.selectable, 
.eapro_shortcode .eapro-col-lg-6 .eapro_shortcode_content .eapro-sc-code {
	-webkit-touch-callout: all;
	-webkit-user-select: all;
	-khtml-user-select: all;
	-moz-user-select: all;
	-ms-user-select: all;
	user-select: all;
}

.sp-eap-framework .sp-content {
	margin-left: 0;
	border-top: 1px solid #efefef;
}
.sp-eap-framework .sp-nav {
	position: inherit;
	float: none;
	width: 100%;
	background: #f1f1f1;
	-webkit-box-shadow: inset 3px -1px 1px -1px rgba(0,0,0,.04);
	-moz-box-shadow: inset 3px -1px 1px -1px rgba(0,0,0,.04);
	box-shadow: inset 3px -1px 1px -1px rgba(0,0,0,.04);
}
.sp-eap-framework .sp-nav ul {
	margin: 0;
}

.sp-eap-framework .sp-nav ul li {
	display: inline-block;

}

.sp-eap-framework .sp-nav-background {
	position: inherit;
	width: 100%;
	background-color: #e3e3e3;
}

.sp-eap-framework .sp-nav ul li a {
	background-color: #fd946f;
	border-top: 1px solid #fd946f;
	font-size: 13px;
	padding: 16px 15px;
	line-height: 1.4;
	border-bottom: none;
	color: #ffffff;
	border-left: 1px solid #ddd;
	text-transform: uppercase;
	font-weight: 600;
	margin-bottom: -1px;
}

.sp-eap-framework .sp-nav ul li a.sp-section-active {
    border-bottom: none;
    border-top: 1px solid #fd946f;
    background-color: #fff;
    box-shadow: 0 3px 0 0 #fd946f inset;
}
.sp-eap-framework .sp-nav ul li:last-child a {
	border-right: none;
}
.sp-eap-framework .sp-nav ul li .sp-section-active {
	color: #000;
}

.sp-eap-framework .sp-nav ul li .sp-section-active i {
	color: #fd946f;
}

.sp-eap-framework .sp-nav ul li :after {
	display: none;
}

.sp-element {
	padding: 22px 30px;
	border-bottom: 1px solid rgba(238, 238, 238, 0.1);
}

.sp-element:hover {
	background-color: transparent;
}

.sp-element .sp-field-number input {
	margin-right: 5px;
}

/* Help Page */
div.sp-eap-help .feature-section .sp-eap-feature {
	background-color: #fff;
	padding: 20px 20px;
	border: 1px solid #ddd;
}
div.sp-eap-help .feature-section .sp-eap-feature h3{
	font-size: 16px;
	margin-top: 18px;
}

div.sp-eap-help .feature-section i.sp-font{
	font-size: 30px;
	display: block;
	color: #52b3d9;
}

div.sp-eap-help.about-wrap h1 {
	font-size: 2.6em;
}

.about-wrap.sp-eap-help .about-text{
    min-height: 60px;
}
.about-wrap.sp-eap-help hr {
    order: 0;
    height: 0;
    margin: 0;
    border-top: 1px solid rgba(0,0,0,.1);
}
div.sp-eap-help .headline-feature.feature-video {
    position: relative;
    margin: 40px 0;
    padding-bottom: 56.25%;
    width: 100%;
    max-width: 100%;
    height: 0;
    text-align: center;
}
div.sp-eap-help .headline-feature.feature-video iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

div.sp-eap-help.about-wrap .wp-badge {
	background: url(../images/logo.png);
	background-repeat: no-repeat;
	box-shadow: none;
	background-position: top right;
	height: 100%;

}

/*
More Plugins
*/
.about-wrap .plugin-section .three-col .col{
	background: #ffffff;
}
.about-wrap .plugin-section .three-col .col .sp-eap-plugin{
	border: 1px solid #ddd;
}
.about-wrap .plugin-section .three-col .col .sp-eap-plugin .sp-eap-plugin-content{
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 20px
}
.about-wrap .plugin-section .three-col .col .sp-eap-plugin .sp-eap-plugin-content h3{
	margin-top: 20px;
	margin-bottom: 8px;
	font-weight: 500;
}

.about-wrap .plugin-section .three-col .col .sp-eap-plugin .sp-eap-plugin-content p{
	margin-top: 0;
}

.about-wrap .plugin-section .sp-plugin-section-title h2{
	font-size: 2.2em;
	color: #32373c;
	font-weight: 400;
}

.about-wrap .plugin-section .sp-plugin-section-title h4{
	font-weight: 400;
	text-align: center;
	font-size: 18px;
	color: #555d66;
	margin-top: 15px;
	margin-bottom: 40px;
}

/**
Advanced Typography Field*/
.sp-divider {
	width: 100%;
	display: block;
	height: 10px;
}

.sp-eap-framework .sp-font-preview {
	padding: 10px;
	border: 1px solid #e6e6e6;
	color: #7b7b7b;
	margin-top: 20px;
	background-color: #ececec;
	font-size: 16px;
}
#sp-tab-sp_eap_shortcode_option_4 .sp-field-typography_advanced .sp-element {
	display: inline-block;
	padding: 0 5px 0 0;
	margin: 0;
	line-height: 1.5;
	color: #999;
}
.sp_eap_margin_field .sp-font-left,
.sp_eap_margin_field .sp-font-top,
.sp_eap_margin_field .sp-font-bottom,
.sp_eap_margin_field .sp-font-right{
	margin-right: 30px;
}
.sp_eap_margin_field .sp-font-left:before,
.sp_eap_margin_field .sp-font-top:before,
.sp_eap_margin_field .sp-font-bottom:before,
.sp_eap_margin_field .sp-font-right:before {
	content: "px";
	position: absolute;
	top: 19px;
	right: -20px;
	height: 34px;
	width: 29px;
	line-height: 34px;
	text-align: center;
	background-color: #f5f5f5;
	display: block;
	border: 1px solid #ddd;
	border-left: none;
}
#sp-tab-sp_eap_shortcode_option_4 .sp-field-number.sp-font-size:before,
#sp-tab-sp_eap_shortcode_option_4 .sp-field-number.sp-font-height:before {
	content: "px";
	position: absolute;
	top: 20px;
	right: -20px;
	height: 34px;
	width: 29px;
	line-height: 34px;
	text-align: center;
	background-color: #f5f5f5;
	display: block;
	border: 1px solid #ddd;
	border-left: none;
}
#sp-tab-sp_eap_shortcode_option_4 .sp-field-number.sp-font-size {
	margin-right: 25px !important;
}

/*ShortCode Area*/
.sp-metabox-framework .eapro_shortcode{
	display: inline-flex;
	width:100%;
	background-color: #fffdfd;
	border: 1px solid #ddd;
}
.eapro_shortcode .eapro-col-lg-3 {
	border-right: 1px solid #dddddd;
	width: 33.33%;
}
.eapro_shortcode .eapro-col-lg-6 .eapro_shortcode_content,
.eapro_shortcode .eapro-col-lg-3 .eapro_shortcode_content{
	padding: 20px 16px;
}
/* .eapro_shortcode .eapro-col-lg-3:last-child .eapro_shortcode_content{
	padding: 20px 16px 0 16px;
} */
.eapro_shortcode .eapro-col-lg-6 .eapro_shortcode_content .eapro-sc-code ,
.eapro_shortcode .eapro-col-lg-3 .eapro_shortcode_content .eapro-sc-code {
    background-color: rgba(253, 148, 111, 0.15);;
    padding: 10px 15px;
    display: inline-block;
}
#sp_eap_shortcode_options .sp-sections {
    border: 1px solid #ddd;
    border-bottom: none;
    margin-top: -1px;
}
.eapro_shortcode .eapro-col-lg-3:last-child {
	border-right: none;
}

.eapro_shortcode .eapro-col-lg-6 .eapro-shortcode-title,
.eapro_shortcode .eapro-col-lg-3 .eapro-shortcode-title {
    font-weight: 500;
    font-size: 14px !important;
    padding-top: 0 !important;
    color: #4c5158;
    margin-right: 5px;
}
/* 
.eapro_shortcode .eapro-col-lg-3 p {
	margin-top: 2px;
	color: #4c5158;
} */

.eapro_shortcode .eapro-col-lg-3 .back-image {
	max-width: 100%;
	display: block;
	margin: 0 auto;
}

.eapro_shortcode .eapro-col-lg-3 textarea {
	border-color: transparent;
	box-shadow: none;
	background-color: #eee;
	padding: 4px 6px;
	resize: none;
	text-align: center;
	max-width: 100%;
}

.eapro_shortcode_divider {
	height: 20px;
	background: #f1f1f1;
	border-top: 1px solid #dddddd;
}

.sp-eap-framework .sp-content .sp-section-title {
	background-color: #52b3d9;
}
.chosen-container-multi .chosen-drop .result-selected {
	display: none;
}
.sp-field-switcher .sp-text-desc {
	margin-left:0;
}

/* Rating */
.sp-eap-client-rating{
	float: left;
}
.sp-eap-client-rating:not(:checked) > input {
	visibility:hidden;
	display: none;
	width:0;
	height:0;
	float: right;;
	top: 100%;
	clip: rect(0,0,0,0);
	margin: 0;
	padding: 0;
	border:10px #fff solid;
}

.sp-eap-client-rating:not(:checked) > label {
	float: right;
	display: block;
	padding: 0;
	margin: 0;
	cursor: pointer;
	font-size: 150%;
	line-height: 1.2;
	color: #d4d4d4;
	width: 1em;
}

.sp-eap-client-rating > input:checked ~ label {
	color: #f3bb00;
}

.sp-eap-client-rating:not(:checked) > label:hover,
.sp-eap-client-rating:not(:checked) > label:hover ~ label {
	color: #de7202;
}

.sp-eap-client-rating > input:checked + label:hover,
.sp-eap-client-rating > input:checked + label:hover ~ label,
.sp-eap-client-rating > input:checked ~ label:hover,
.sp-eap-client-rating > input:checked ~ label:hover ~ label,
.sp-eap-client-rating > label:hover ~ input:checked ~ label {
	color: #de7202;
}

/* Settings */
h1.sp-option-framework-page-title{
	font-size: 23px;
	font-weight: 400;
	margin: 0;
	padding: 18px 0 0;
	line-height: 29px;
}
.sp-eap-framework.sp-option-framework{
	border: 1px solid #cecece;
}
.sp-eap-framework.sp-option-framework .sp-field-sorter .sp-modules{
	width: 100%;
}
.sp-eap-framework.sp-option-framework .sp-header {
	background-color: #f2f2f2;
	border-bottom: 1px solid #cecece;
	padding: 22px 28px;
}
.sp-eap-framework.sp-option-framework .sp-header h2{
	float: left;
	margin: 0;
	font-size: 22px;
	color: #444444;
	font-weight: 600;
	line-height: 35px;
}
.sp-eap-framework.sp-option-framework .sp-header fieldset input{
	text-shadow: 0 0 0;
	border: 0;
	border-radius: 0;
	padding: 3px 15px;
	height: auto;
	-webkit-transition: all .4s;
	-moz-transition: all .4s;
	-ms-transition: all .4s;
	-o-transition: all .4s;
	transition: all .4s;
}
.sp-eap-framework.sp-option-framework .sp-header fieldset input.button-primary{
	box-shadow: 0 3px 0 #369ec7;
	background-color: #52b3d9;
	color: #ffffff;
}
.sp-eap-framework.sp-option-framework .sp-header fieldset input.button-primary:hover {
	box-shadow: 0 3px 0 #1784af;
	background-color: #21a1d4;
	color: #ffffff;
}
.sp-eap-framework.sp-option-framework .sp-header fieldset input.sp-restore{
	box-shadow: 0 3px 0 #666666;
	background-color: #888888;
	color: #ffffff;
	margin-left: 8px;
}
.sp-eap-framework.sp-option-framework .sp-header fieldset input.sp-restore:hover {
	box-shadow: 0 3px 0 #4a4949;
	background-color: #6b6a6a;
	color: #ffffff;
}
.sp-eap-framework.sp-option-framework .sp-content {
	margin-left: 225px;
	border-top: 0 solid;
}
.sp-eap-framework.sp-option-framework .sp-nav-background{
	position: absolute;
	width: 225px;
	background-color: #dddddd;
	border-right: 1px solid #cecece;
}
.sp-eap-framework.sp-option-framework .sp-nav{
	position: relative;
	float: left;
	width: 225px;
	background: transparent;
	-webkit-box-shadow: 0 0 0 0;
	-moz-box-shadow: 0 0 0 0;
	box-shadow: 0 0 0 0;
}
.sp-eap-framework.sp-option-framework .sp-nav ul li {
	margin-bottom: 0;
	display: list-item;
}
.sp-eap-framework.sp-option-framework .sp-nav ul li a{
	border-top: 0;
	border-right: 0;
	border-bottom: 1px solid #cecece;
	background-color: #efefef;
	margin-bottom: 0;
	color: #464646;
	padding: 15px 15px;
}
.sp-eap-framework.sp-option-framework .sp-nav ul li a.sp-section-active{
	box-shadow: 3px 0 0 0 #fd946f inset;
    background-color: #ffffff;
    color: #fd946f;
}
.sp-eap-framework.sp-option-framework .sp-nav ul ul:before{
	background-color: transparent;
}
.sp-eap-framework.sp-option-framework .sp-nav ul ul{
	border-bottom: 1px solid #cecece;
}
.sp-eap-framework.sp-option-framework .sp-nav ul ul li a{
	background-color: #f8fdff;
	padding: 13px 15px 13px 24px;
}

/* Notification Message */
#wp-pending_testimonial_message-wrap{
	float: left;
	width: 100%;
}
#wp-pending_testimonial_message-wrap #pending_testimonial_message_ifr{
	min-height: 300px;
}

.sp-field-notice .sp-notice.sp-front-end-shortcode{
	font-size: 14px;
	border-bottom: 1px solid #e8e8e8;
}
.sp-field-notice .sp-notice.sp-front-end-shortcode .eapro-sc-code{
	background-color: rgba(82, 179, 217, 0.11);
	padding: 8px 12px;
	display: inline-block;
	margin-left: 8px;
}

/**
Slider Field
 */
.sp-field-slider input {
	display: inline-block;
	width: 40px;
	background: #fff;
}

.sp-field-slider input[type=slider]:before {
	width: 35px;
	height: 35px;
	display: block;
	background: red;
	content: "%";
	position: absolute;
	right: 0;
	top: 0;
	float: right;
	margin-right: -20px;
	color: #fff;
}

.sp-slider {
	display: inline-block;
	margin: 0 8% 0 0;
	width: 50%;
	vertical-align: super;
}

.sp-field-slider .ui-slider {
	position: relative;
	width: 100%;
	height: 6px;
	background: #E8E8E8;
}

.sp-field-slider .ui-slider-range {
	background: #111;
	height: 6px;
}

.sp-field-slider .ui-slider-handle {
	height: 18px;
	width: 18px;
	background: #ff512f;
	position: absolute;
	top: -6px;
	border-radius: 100%;
	cursor: pointer;
}

/*
ButtonSet field and accordion Type field.
*/
.sp-field-button-set label input,
.sp-field-accordion-type label input {
	display:none;
}
.sp-field-accordion-type  label span,
.sp-field-button-set label span {
	background: linear-gradient(to bottom, white, #eeeeee);
	padding: 7px 12px;
	margin: 0;
	vertical-align: middle;
	border: solid 1px #ccc;
	border-radius: 0;
	cursor: pointer;
	border-right: none;
	display: inline-block;
}
.sp-field-button-set label input ~ span:hover {
	background: #fff;
}
.sp-field-accordion-type  label:first-child span,
.sp-field-button-set label:first-child span {
	border-radius: 4px 0 0 4px;
}
.sp-field-accordion-type  label:last-child span,
.sp-field-button-set label:last-child span {
	border-radius: 0 4px 4px 0;
    border-right: solid 1px #ccc;
}
.sp-field-accordion-type  input:checked ~ span,
.sp-field-button-set label input:checked ~ span {
	background: #18AFB9;
	border-color: rgb(21, 157, 167);
	color: #fff;
	cursor: default;
	box-shadow: none;
}
.sp-field-accordion-type  input:checked ~ span{
	background: #1aa6d9 !important;
	border-color: #1aa6d9 !important;
}


/* Advanced Background Field */
.sp-background-preview {
	height: 250px;
	width: 100%;
}
.sp_eap_adv_background_field .sp-element{
	display: inline-block;
	
}
.sp_eap_adv_background_field .sp-element .wp-picker-container,
.sp_eap_adv_background_field .sp-element.sp-field-upload,
.sp_eap_adv_background_field .sp-element.sp-field-select_typo select {
	margin-top: 5px;
}
.sp_eap_adv_background_field .sp-element.sp-field-upload{
	padding-left: 0;
}
.sp_eap_adv_background_field .sp-field-color_picker{
	display:block;
}
.sp-field-accordion-type label span p{
	margin: 0 !important;
}
@media (min-width: 1400px) {
	.sp-metabox-framework .sp-slider {
		width: 35%;
	}
}
@media (max-width: 1200px) {
	.sp-metabox-framework .eapro_shortcode{
		display: block;
	}
	.eapro_shortcode .eapro-col-lg-3 {
		width: 100%;
		display: block;
		border-bottom: 1px solid #e5e5e5;
		padding-bottom:15px;
		border-right:none;
	}

	.eapro_shortcode .eapro-col-lg-3:last-child {
		border-bottom: none;
		padding-bottom:0;
	}
}
@media only screen and (max-width: 782px) {
	.sp-eap-framework.sp-option-framework .sp-content {
		margin-left: 0;
	}
	.sp-eap-framework.sp-option-framework .sp-header h2{
		float: none;
	}
}

/* EAP CSS */
.sp-field-accordion_type > .sp-fieldset,
.sp-field-background_adv.eap_accordion_content_bg > .sp-fieldset,
.eap-gallery-filed-wrapper > .sp-fieldset,
.eap-video-field-wrapper > .sp-fieldset,
.sp-field-group.eap_accordion_content_wrapper .sp-fieldset {
	margin-left: 0;
	margin-top: 30px;
}
p.sp-accordion-type {
    font-size: 15px;
}
.eap-gallery-filed-wrapper .sp-fieldset .button i{
	font-size: 24px;
	margin-bottom: 10px;
}
.eap-gallery-filed-wrapper .button{
	width: 110px;
    height: 110px;
    text-align: center;
	line-height: 15px;
	color: #fff;
	border: none;
    border-radius: 2px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.eap-gallery-filed-wrapper .sp-fieldset .button.button-primary.sp-add{
	background: #4eb631;
	box-shadow: none;
	text-shadow: none;
}
.eap-gallery-filed-wrapper .sp-fieldset .button.sp-edit{
	background: #6a7885;
}
.eap-gallery-filed-wrapper .sp-fieldset .button.sp-warning-primary.sp-remove{
	background: #c44533;
}
.eap-gallery-filed-wrapper .sp-fieldset a,
.eap-gallery-filed-wrapper .sp-fieldset li {
	float:left;
}
.eap-gallery-filed-wrapper .sp-fieldset a:hover,
.eap-gallery-filed-wrapper .sp-fieldset a:focus {
	color:#fff;
}
.eap_accordion_content_wrapper.sp-field-group .sp-field-icon.eap_accordion_content_source{
padding:  12px 0;
}
.eap_accordion_content_wrapper .sp-title,
.sp-element.sp-field-accordion_type  .sp-title {
    font-size: 15px;
}
.eap_accordion_content_wrapper.sp-element {
    padding: 0 30px;
}
.sp-field-group .sp-element.sp-field-checkbox.eap_accordion_content_source{
	padding-top: 0;
}
.sp-element.sp-field-checkbox.eap_accordion_content_source .sp-title h4{
	font-weight: 400;
	 font-size: 14px;
}
.sp-element.sp-field-checkbox.eap_accordion_content_source .sp-title {
    float: left;
    display: inline-block;
    width: 135px;
    padding: 0;
}
img.theme_preview {
    display: block;
	margin: 40px 0 0;
    -webkit-box-shadow: 0px 0px 15px 0px #bbb;
	box-shadow: 0px 0px 15px 0px #bbb;
	max-width: 100%;
}
.sp-element.sp-field-checkbox.eap_accordion_content_source .sp-fieldset {
    float: left;
    padding-top: 5px;
    margin: 0;
}
.sp-element.sp-field-pronotice {
    font-size: 15px;
    margin: 22px 30px;
    color: #2f2f2f;
    background: #f9f9f9;
    -webkit-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.18);
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.18);
    padding: 10px 12px;
    border-left: 3px solid #f90000;
}
 .sp-element.sp-field-checkbox.eap_accordion_content_source .sp-fieldset label {
    margin-top: -10px;
}

.eap_accordion_content_source .sp-title{
	display:block;
		width: 100%;
}
.eap_accordion_content_source .sp-icon-add{
	    line-height: 34px;
    height: 34px;
}
.eap_accordion_content_source.sp-field-icon .sp-title{
	display:none;
}
.eap_accordion_content_wrapper .sp-field-text{
	width: 60%;
}
.eap_accordion_content_wrapper .sp-field-text input{
	width: 100%;
}
.eap_accordion_content_wrapper .sp-field-text,.eap_accordion_content_wrapper .sp-field-icon.eap_accordion_content_source {
    float: left;
}
.eap_accordion_content_wrapper.sp-field-group .sp-field-wysiwyg.eap_accordion_content_source .wp-editor-wrap {
	padding-right:  36px;
}
.eap_accordion_content_wrapper.sp-field-group .sp-field-wysiwyg.eap_accordion_content_source {
    overflow: hidden;
	width: 100%;
	padding-right: 20px;
}
#sp-tab-sp_eap_shortcode_option_1 .sp-field-image_select label img {
    border: 3px solid #ddd;
   
}
#sp-tab-sp_eap_shortcode_option_1  .sp-field-image_select input:checked ~ img {
    border-color: #52b3d9;
    opacity: 1;
}
.eap_accordion_content_source .sp-fieldset{
	margin-left:0;
}
.eap_accordion_content_bg .sp-title{
	border: 1px solid #e5e5e5;
	background: #fafafa;
	line-height: 38px;
	padding-left: 15px;
	width: 100%;
	margin-bottom: 15px;
}
.wp-core-ui a.button.button-primary.sp-add-group {
    background: #ff5f6d;
    border-color: #ff5f6d;
    font-size: 15px;
    line-height: 39px;
    height: 40px;
    padding: 0 14px;
    text-shadow: none;
    box-shadow: none;
	margin-top: 0;
	margin-bottom: 25px;
}
/* Group Remove Button */
.sp-groups .sp-remove-group {
	float: right;
	font-size: 22px;
	line-height: 22px;
	color: #d9534f;
	margin-top: 0;
}
.sp-groups .sp-remove-group:hover {
	color: #c51f1a;
}
.sp-fieldset input[type=radio]:disabled ~ img{
	cursor: default;
}
.sp-fieldset input[type=radio]:disabled ~ span{
	cursor: default;
}
.sp-eap-framework .sp-nav ul li a.tab-sp_eap_upgrade_area.sp-section-active{
	background: #fff;
	color:#25ce65;
    box-shadow: 0 3px 0 0 #25ce65 inset;
}
.sp-eap-framework .sp-nav ul li a.tab-sp_eap_upgrade_area.sp-section-active .fa{
	background: #fff;
	color:#25ce65;
}
.sp-eap-framework .sp-nav ul li a.tab-sp_eap_upgrade_area {
    background: #25ce65;
	color: #fff;
	    border-top: 1px solid #25ce65;
}
.eapro_shortcode .sp-ea-upgrade-area{
	display: none;
}
.sp-ea-upgrade-area .sp-ea-upgrade-header{
	background-size: cover;
	background-position: bottom  left;
	background: #c84a79;
	color: #fff;
	padding:  120px 0 0;
	position: relative;
	z-index: 1;
}
.sp-ea-upgrade-area .sp-ea-upgrade-header::after{
	content: ''; 
	background-image: -moz-linear-gradient( -90deg, rgb(255,95,109) 0%, rgb(255,195,113) 100%);
	background-image: -webkit-linear-gradient( -90deg, rgb(255,95,109) 0%, rgb(255,195,113) 100%);
	opacity: 0.6;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
}
.sp-ea-upgrade-area .sp-ea-upgrade-header h1{
	color: #fff;
	font-size: 30px;
	font-weight: 500;
}
.sp-ea-upgrade-area .sp-ea-upgrade-header p{
	font-size: 18px;
	padding-bottom: 30px;
	overflow: hidden;
	margin-top: 10px;
}

.sp-ea-upgrade-area .sp-ea-upgrade-header .sp-ea-button a{
	font-size: 14px;
	text-transform: uppercase;
	font-weight: bold;
	    padding: 13px 16px;
	box-shadow: 0 0 15px 0 rgb( 185, 99, 76 );
	border-radius: 5px;
	text-decoration: none;
	float: left;
	margin-right: 10px;
}
.sp-ea-upgrade-area .sp-ea-upgrade-header .sp-ea-button > div{
 	display: inline-block;
}
.sp-ea-upgrade-area .sp-ea-upgrade-header .sp-ea-button a.btn-one{
	background-image: linear-gradient( 180deg, rgba(255,95,109,0.6) 0%, rgba(255,195,113,0.6) 100%);
	background-image: -webkit-linear-gradient( 180deg, rgba(255,95,109,0.6) 0%, rgba(255,195,113,0.6) 100%);
	color: #fff;
	position: relative;
	z-index: 1;
	overflow: hidden;
	transition: background-image 3s;
	display: inline-block;
	padding: 15px 16px;
}
.sp-ea-upgrade-area .sp-ea-upgrade-header .sp-ea-button a.btn-one:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
	bottom: 0;
	background-image: linear-gradient( 180deg, rgba(255,195,113,0.6) 0%,rgba(255,95,109,0.6) 100% );
	background-image: -webkit-linear-gradient( 180deg,  rgba(255,195,113,0.6) 0%, rgba(255,95,109,0.6) 100%);
    opacity: 0;
    transition: all 0.5s ease-in-out;
	z-index: -1;
	border-radius: 5px;
	height: 100%;
	width: 100%;
}
.sp-ea-upgrade-area .sp-ea-upgrade-header .sp-ea-button a.btn-one:hover:after {
	opacity: 1;
}


.sp-ea-upgrade-area .sp-ea-upgrade-header .sp-ea-button a.btn-two{
	background: #fff;
	color: #fb5e6e;
	 border: 2px solid transparent;
}
.sp-ea-upgrade-area .sp-ea-upgrade-header .sp-ea-button a.btn-two:hover {
    background: transparent;
    color: #fff;
    border: 2px solid #fff;
}
.sp-ea-upgrade-area .sp-ea-upgrade-header img{
	width: 100%;
	padding-top: 60px;
	display: block;
	position: relative;
	z-index: -1;
}
.sp-ea-upgrade-area .sp-ea-upgrade-header img:after{
	background:  rgba(255,195,113,0.6);
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 1;
}

.sp-ea-upgrade-body{
	padding: 40px;
	background: #fff;
	overflow: hidden;
}
.sp-ea-upgrade-body h1{
 font-size: 30px;
 color: #444;
 padding-bottom: 10px;
 font-weight: 500;
}
.sp-ea-upgrade-body p{
color: #444;
font-size: 18px;
}
.sp-ea-upgrade-body .upgrade-featrue{
	padding-top:10px;
	max-width: 1024px;
	margin: 0 auto;
	overflow: hidden;
}
.sp-ea-upgrade-body .upgrade-featrue .col-6 {
	width: 50%;
	float: left;
}
.sp-ea-upgrade-body .upgrade-featrue ul li {
    font-size: 19px;
    line-height: 26px;
    padding-left: 22px;
    margin-bottom: 8px;
    position: relative;
}
.sp-ea-upgrade-body .upgrade-featrue ul li:before {
    content: "\f00c";
    color: #2ac17f;
    font-family: FontAwesome;
    font-size: 16px;
    line-height: 30px;
    position: absolute;
    left: 0;
    top: -1px;
}
.sp-ea-upgrade-footer{
  background-image: -moz-linear-gradient( -45deg, rgb(255,95,109) 0%, rgb(255,195,113) 100%);
  background-image: -webkit-linear-gradient( -45deg, rgb(255,95,109) 0%, rgb(255,195,113) 100%);
  color: #fff;
  padding: 60px 0 65px;
  
}
.sp-ea-upgrade-footer h1{
	color: #fff;
	font-size: 30px;
	margin-bottom: 25px;
	font-weight: 400;

}
.sp-ea-upgrade-footer .buy-btn a{
	display: inline-block;
    padding: 15px 25px;
    color: #ffffff;
    background: #2ac17f;
    font-size: 16px;
    border-radius: 30px;
	text-decoration: none;
	font-weight: 500;
}
.sp-ea-upgrade-footer .buy-btn a:hover{
	background: #2aaf75;
}
@media screen and (max-width: 1024px){
	.sp-ea-upgrade-body .upgrade-featrue .col-6 {
	width: 100%;
	float: none;
	}
	.sp-ea-upgrade-body .upgrade-featrue ul li {
		font-size: 16px;
	}
	.sp-ea-upgrade-area .sp-ea-upgrade-header h1,
	.sp-ea-upgrade-area .sp-ea-upgrade-header h1,
	.sp-ea-upgrade-body h1 {
		font-size: 24px;
	}
	.sp-ea-upgrade-body p {
		font-size: 16px;
	}
	.sp-ea-upgrade-body .upgrade-featrue{
		max-width: 100%;
	}
}