.sp-eap-framework {
  margin-left: 20px;
  margin-right: 0;
}
.sp-eap-framework .sp-header h1 {
  float: right;
}
.sp-eap-framework .sp-header fieldset {
  float: left;
}
.sp-eap-framework .sp-nav {
  float: right;
}
.sp-eap-framework .sp-nav ul {
  clear: right;
}
.sp-eap-framework .sp-nav ul li .sp-section-active:after {
  right: auto;
  left: 0;
  border-left-color: #fff;
  border-right-color: transparent;
}
.sp-eap-framework .sp-nav ul li .sp-arrow:after {
  content: "\f053";
  right: auto;
  left: 10px;
}
.sp-eap-framework .sp-nav ul li.sp-tab-active .sp-arrow:after {
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
}
.sp-eap-framework .sp-nav ul ul li a {
  padding-right: 25px;
  padding-left: 15px;
}
.sp-eap-framework .sp-nav ul ul:before {
  left: auto;
  right: 15px;
}
.sp-eap-framework .sp-nav .sp-icon {
  margin-left: 5px;
  margin-right: 0;
}
.sp-eap-framework .sp-nav-background {
  left: auto;
  right: 0;
}
.sp-eap-framework .sp-content {
  margin-left: 0;
  margin-right: 225px;
}
.sp-eap-framework .sp-content .sp-sections {
  float: right;
}
.sp-eap-framework .sp-show-all .sp-content {
  margin-right: 0;
  overflow: hidden;
}
.sp-eap-framework .sp-expand-all {
  right: auto;
  left: 40px;
}
.sp-eap-framework .sp-footer {
  text-align: left;
}

.sp-metabox-framework {
  margin: -6px -12px -12px -12px;
}
.sp-metabox-framework .sp-content .sp-section-title {
  padding: 20px;
}

.sp-element .sp-title {
  float: right;
}
.sp-element .sp-fieldset {
  margin-left: 0;
  margin-right: 30%;
}

.sp-pseudo-field {
  padding: 0 0 0 5px !important;
}

.sp-field-number em {
  margin-left: 0;
  margin-right: 5px;
}

.sp-field-typography select,
.sp-field-typography .chosen-container {
  margin-right: 0;
  margin-left: 5px;
}

.sp-field-checkbox .horizontal li,
.sp-field-radio .horizontal li {
  margin-right: 0;
  margin-left: 15px;
}

.sp-field-switcher label {
  float: right;
}
.sp-field-switcher .sp-text-desc {
  float: right;
  margin-left: 0;
  margin-right: 5px;
}

.sp-field-color_picker .sp-alpha-slider {
  margin-left: 0;
  margin-right: 2px;
}
.sp-field-color_picker .sp-alpha-slider .ui-slider-handle {
  margin: 0 -11px;
}
.sp-field-color_picker .sp-alpha-slider-offset {
  background-position: center right;
}
.sp-field-color_picker .sp-alpha-text {
  right: auto;
  left: 10px;
}

.sp-field-group .ui-accordion-icons {
  padding-left: 0;
  padding-right: 30px;
}
.sp-field-group .ui-accordion-header-icon {
  left: auto;
  right: .5em;
}
.sp-field-group .dashicons-arrow-right:before {
  content: "\f141";
}

.sp-help {
  right: auto;
  left: 5px;
}

.sp-field-icon .button {
  margin-right: 0;
  margin-left: 5px;
}
.sp-field-icon .sp-icon-preview i {
  margin-right: 0;
  margin-left: 5px;
}

.sp-field-gallery ul li {
  margin-right: 0;
  margin-left: 5px;
}
.sp-field-gallery .button {
  margin-right: 0;
  margin-left: 5px;
}

.sp-field-sorter .sp-modules {
  float: right;
  margin-right: 0;
  margin-left: 10px;
}

.sp-taxonomy-add-fields .sp-fieldset {
  margin-right: 0;
}
.sp-taxonomy-add-fields .sp-help {
  left: -5px;
  right: auto;
}

.sp-taxonomy-edit-fields .sp-fieldset {
  margin-left: 0;
  margin-right: 225px;
}
.sp-taxonomy-edit-fields .sp-help {
  right: auto;
  left: -5px;
}

#sp-save-ajax {
  right: auto;
  left: 5px;
}

.sp-dialog .sp-element {
  padding-right: 15px;
  padding-left: 30px;
}
.sp-dialog .sp-shortcode-clone .sp-remove-clone {
  right: auto;
  left: 5px;
}

#customize-controls .sp-element .sp-fieldset,
.widget-content .sp-element .sp-fieldset,
#side-sortables .sp-element .sp-fieldset {
  margin-right: 0;
}

@media only screen and (max-width: 1200px) {
  .sp-metabox-framework .sp-element .sp-fieldset {
    margin-left: 0;
  }
}
@media only screen and (max-width: 782px) {
  .sp-eap-framework .sp-fieldset,
  .sp-eap-framework .sp-content {
    margin-right: 0;
  }
}
.ui-dialog {
  right: auto;
}
