//
// Global generic mixins
//
@mixin root-vars($guten-editor: false) {

	// Output all CSS vars for guten but not for normal
	@if $guten-editor {
		:root {
			// Fonts & Typography
			--body-font: #{$body-font};
			--title-font: #{$title-font};
			--text-font: #{$text-font};
		
			// Accent color
			--main-color: #{$main-color};
			--main-color-rgb: #{$main-color-rgb};
			--text-color: #{$post-text-color};
			--text-tracking: #{$text-tracking};
		}
	}
	@else {
		:root {
			// Accent color
			--main-color: #{$main-color};
			--main-color-rgb: #{$main-color-rgb};
		}
	}
}

@mixin text {
	font-family: $var-text-font;
	font-size: 14px;
	letter-spacing: $var-text-tracking;
	color: $var-post-text-color;
	
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	
	@include breakpoint(x-small) {
		font-size: 13px;
	}
}

@mixin button {
	-webkit-appearance: none;
	background: $var-main-color;
	color: #fff;
	padding: 13px 20px;
	border: 0;
	
	font-family: $var-title-font;
	font-size: 11px;
	font-weight: 600;
	line-height: 1;
	height: auto;
	letter-spacing: 0.09em;
	text-transform: uppercase;
}

@mixin button-hover {}

// Image hover effects
@mixin wp-post-image {
	will-change: opacity;
	// Prefer cubic-bezier(0.45, 0.68, 0.54, 0.99)
	transition: opacity 0.3s ease-in;
	
	&:hover {
		opacity: 0.84;
	}
}