// Configuration variables for the SASS

// Fonts & Typography
$body-font: "Merriweather", Georgia, serif;
$title-font: Poppins, Arial, sans-serif;
$text-font: $body-font;
$root-font-size: 14px;

// Accent color
$main-color: #318892;
$main-color-rgb: 49,136,146;

// Default content text color
$post-text-color: #454545;

// Common text tracking
$text-tracking: -0.025em;

// Gutenberg gallery margins (combined)
$gallery-margin: 10px;

// Media query breakpoints
$mq-breakpoints: (
	'x-large': 1201px,
	'large': 1200px,
	'medium': 940px,
	'small': 767px,
	'x-small': 540px,
	'tiny': 350px,
);

//
// CSS Vars
//
$guten-editor: false !default;
$is-amp: false !default;

$var-body-font: $body-font;
$var-title-font: $title-font;
$var-text-font: $text-font;

// Accent color
$var-main-color: $main-color;

// Default content text color
$var-post-text-color: $post-text-color;
$var-text-tracking: $text-tracking;

// Use css vars in guten editor
@if $guten-editor {

	$var-body-font: var(--body-font) !global;
	$var-title-font: var(--title-font) !global;
	$var-text-font: var(--text-font) !global;

	// Accent color
	$var-main-color: var(--main-color) !global;

	// Default content text color
	$var-post-text-color: var(--text-color) !global;
	$var-text-tracking: var(--text-tracking) !global;

}

