/**
 * 1.1. =Typography
 * ----------------------------------------------------------------------------
 */

$guten-editor: false !default;

@include root-vars($guten-editor);

@if not $guten-editor {
	
	/* Baseline 14px -- 1.866x base line-height */
	html {
		font-size: $root-font-size;
	}

	body {
		font-family: $var-body-font;
		line-height: 1.8666; 
		-webkit-tap-highlight-color: rgba(0, 0, 0, 0); 
	}

	::selection { 
		background: rgba(var(--main-color-rgb), 0.2);
	}
	
	img::selection 	{ 
		background: transparent; 
	}
}

/* Base headings */

h1 { font-size: 25px; } 
h2 { font-size: 23px; }
h3 { font-size: 20px; }
h4 { font-size: 18px; }
h5 { font-size: 16px; }
h6 { font-size: 14px; }


h1, h2, h3, h4, h5, h6 {
	font-family: $var-title-font;
	font-weight: 700;
	color: #161616;
}

p {	
	margin-bottom: 26px;
}

/* Link and text helpers */

a {
	opacity: initial;
	color: #161616;
	text-decoration: none;
	
	-webkit-transition: all .25s ease-in-out;
	transition: all .25s ease-in-out;
}

a:hover { 
	text-decoration: none;
}


/**
 * 1.2. =Other Elements
 * ----------------------------------------------------------------------------
 */

address {
	margin-bottom: 1.857em;
}

hr {
	background-color: rgba(51, 51, 51, 0.1);
	border: 0;
	height: 1px;
	margin: 3em 0;
	
	@include breakpoint(x-small) {
		margin: 35px 0;
	}
}

code, 
pre {
	background: #f8f8f8;
}

code {
	padding: 4px 10px;	
}

pre {
	padding: 1.857em;
	margin-bottom: 1.857em;
	display: block;	
	word-break: break-all;
	word-wrap: break-word;
	font-family: Menlo, Monaco, Consolas, monospace;
}

pre code { 
	white-space: pre-wrap;
}

abbr, 
acronym {
	border-bottom: 1px dotted #222;	
	text-decoration: none;
}

q {
	font-style: italic;
	margin: 0;
	font-size: 1.1em;
	margin-right: 8px;
}

sup {
	font-size: 0.8em;
	vertical-align: top;
}

sub {
	font-size: 0.8em;
	vertical-align: bottom;	
}

dl {
	margin: 0 0 21px 0;
}

dt {
	font-weight: 600;
}

dd {
	margin-bottom: 21px;
}


/* Default table styling */

table {
	max-width: 100%;
	width: 100%;
	background-color: transparent;
}

th, 
td {
	background: #fff;
	padding: 10px 15px;
	border: 1px solid #e4e4e4; 
	border-right: 0;
	border-left: 0;
}

th {
	background: transparent;
	font-weight: 600;
}

tr:nth-child(odd) td {
	background: #fafafa;
}

table caption { 
	padding: 0 0 7px 0;
	width: auto;
	font-weight: 600;
}


@if not $guten-editor {

	/* Default Form styling */

	input, 
	textarea, 
	select {
		background: #fff;
		border: 1px solid #e5e5e5;
		box-sizing: border-box;
		padding: 0 16px;
		max-width: 100%;
		outline: 0;
		
		font-size: 13px;
		font-family: $var-text-font;
		letter-spacing: $var-text-tracking;
		color: #b4b4b4;
	}

	input {
		height: (37 / 13) * 1em;  // 37px in em
	}

	input[type="checkbox"],
	input[type="radio"]{
		height: auto;
	}

	select {
		line-height: 1;
		padding: 0 14px;
		height: 36px;
	}

	textarea { 
		width: 100%;
		padding: 20px 14px;
		line-height: 1.5;
		
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}
		
	input:focus, 
	textarea:focus,
	select:focus { 
		border-color: #d9d9d9;
		color: #aaa;
	}

	input[type="submit"], 
	button, input[type="button"],
	.button {
		@include button;
	}

	input[type="submit"]:active, 
	button:active, 
	input[type="button"]:active {
		opacity: 0.9;
	}

	legend {
		font-weight: 600;
		margin-bottom: 20px;
	}
}


/* Blockquotes with citation */

blockquote {
	padding-left: 45px;
	color: #828282;
	font-family: "Merriweather", Georgia, serif;
	font-size: 16px;
	font-weight: 300;
	font-style: italic;
	letter-spacing: initial;
	line-height: (28 / 16);  // desired/font-size
	
	-webkit-font-smoothing: initial;

	&:before {
		content: "\201c";
		float: left;
		margin-top: 18px;
		margin-left: -45px;
		font-family: Georgia, Merriweather, serif;
		font-style: normal;
		font-size: 52px;
		line-height: 0.41;
		color: $var-main-color;
	}

	p:last-child,
	p:last-of-type {
		margin-bottom: 0;
	}

	cite,
	.wp-block-pullquote__citation {
		font-family: $var-title-font;
		color: #9c9c9c;
		font-size: 13px;
		font-weight: 400;
	}

	p + cite,
	.wp-block-pullquote__citation {
		display: block;
		margin-top: 18px;
	}

	cite:before {
		content: "-";
		margin-right: 8px;
	}

	> p:last-of-type {
		margin-bottom: 0;
	}

	// Inline cite
	p > cite {
		margin-left: 16px;
		margin-right: 14px;
	}
}

.modern-quote {
	margin: 0;
}

.modern-quote,
.wp-block-quote.is-style-large {
	position: relative;
	padding: 0 38px;
	padding-top: 22px;
	color: #000;
	font-size: 30px;
	line-height: 1.4;
	text-align: center;

	@include breakpoint(x-small) {
		font-size: 25px;
	}

	@include breakpoint(x-small) {
		font-size: 22px;
		padding-left: 10px;
		padding-right: 10px;
	}

	&:before {
		position: absolute;
		z-index: -1;
		margin: 0;
		left: 50%;
		transform: translateX(-50%) translateY(7px) rotate(1deg);
		opacity: .12;
		font-size: 132px;
	}

	p {
		font-size: inherit;
		line-height: inherit;
		font-style: inherit;
	}
	
	cite {
		font-size: 13px;
		font-style: normal;
		text-transform: uppercase;
		text-align: center;

		&:before {
			display: none;
		}
	}

	p + cite {
		margin-top: 26px;
	}
}