/**
 * 2. =Components & Common Classes
 * ----------------------------------------------------------------------------
 */

// Miscellaneous Components which don't are usually a single 
// set of rules.

/* Default text element */
.text {
	@include text;	
}


/* Section heading */
.section-head {
	position: relative;
	margin-top: 55px;
	text-align: center;
	font-family: $var-title-font;
	font-size: 0;
	line-height: 28px;
}

.section-head:before {
	content: "";
	position: absolute;
	left: 0;
	top: 50%;
	margin-top: -1px;
	width: 100%;
	height: 1px;
	background: #ebebeb;
}

.section-head .title {
	position: relative;
	display: inline-block;
	padding: 0 22px;
	z-index: 1;
	background: #fff;
	text-transform: uppercase;
	font-size: 12px;
	font-weight: 600;
	letter-spacing: 0.04em;
	vertical-align: middle;
}

/* Common Post Titles */
.post-title-alt {
	position: relative;
	margin-top: 9px;
	margin-bottom: 22px;
	text-transform: uppercase;
	font-family: $var-title-font;
	font-size: 25px;
	font-weight: 600;
	line-height: 1.35;
	
	&:after {
		content: "";
		display: block;
		margin: 0 auto;
		margin-top: 14px;
		width: 36px;
		border-bottom: 1px solid $var-main-color;
		transition: 0.3s ease-in;
	}
	
	@include breakpoint(x-small) {
		font-size: 22px;
	}
}

.post-title {
	text-transform: uppercase;
	font-family: $var-title-font;
	font-size: 25px;
	font-weight: 600;
	line-height: 1.35;
	
	@include breakpoint(x-small) {
		font-size: 22px;
	}
}

.post-title a:hover,
a.post-title:hover,
.post-title-alt a:hover {
	opacity: 0.7;
}

.post-title:hover:after {
	width: 50px;
}

/* Home Blog Blocks Common */
.blocks .block {
	margin-bottom: 65px;
	
	@include breakpoint(x-small) {
		margin-bottom: 45px;
	}
}

.block-heading {
	position: relative;
	margin-bottom: 40px;
	font-family: $var-title-font;
	text-align: center;
	
	// Set a fixed height for correct vertical-alignment
	line-height: 20px;
	font-size: 0;
	
	&:before,
	&:after {
		content: "";
		position: absolute;
		left: 0;
		top: 50%;
		margin-top: -3px;
		width: 100%;
		height: 1px;
		background: #ebebeb;
	}

	&:after {
		margin-top: 0;
	}
	
	.title {
		position: relative;
		display: inline-block;
		padding: 0 24px;
		z-index: 1;
		height: 22px;
		vertical-align: middle;
		
		background: #fff;
		text-transform: uppercase;
		font-size: 17px;
		font-weight: 600;
		
	}
	
	.title:before,
	.title:after {
		content: "";
		position: absolute;
		left: 0;
		top: 0.22em;
		top: calc(50% - 7px);
		width: 1px;
		height: 12px;
		background: #ebebeb;
	}
	
	.title:after {
		right: 0;
		left: auto;
	}
}

/* Home Blocks: Magazine Style */
.block-head-b {
	margin-bottom: 35px;
	border-bottom: 1px solid #e7e7e7;
	font-family: $var-title-font;
	
	.title {
		display: inline-block;
		margin-bottom: -1px;
		padding: 0 1px;
		padding-bottom: 8px;
		border-bottom: 1px solid $var-main-color;
		
		font-size: 17px;
		font-weight: 700;
		text-transform: uppercase;
		line-height: 1.2;
	}
	
	.view-all {
		float: right;
		margin-top: 2px;
		padding: 0 3px;
		color: #b6b6b6;
		font-size: 11px;
		text-transform: uppercase;
		line-height: 28px;
		
		&:hover {
			color: #333;
		}
	}
}

.block-head-c {
	display: flex;
	margin-bottom: 35px;
	font-family: $var-title-font;

	.title {
		font-size: 23px;
		font-weight: 700;
		line-height: 1.2;
		text-transform: uppercase;
	}

	.view-all {
		margin-left: auto;
		color: #9e9e9e;
		font-size: 12px;
		align-self: center;

		&:hover {
			color: #333;
		}
	}
}

/* Image hover effect */

.wp-post-image,
.post-content img {
	@include wp-post-image;
	
	@include breakpoint (small) {
		will-change: initial;
	}
}

/* Lazy Load */
.lazyload,
.lazyloading {
	background: #ddd;
	opacity: 0.15 !important;
}

.lazyloading {
	mask-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0));
}

.lazyloaded {
	opacity: 1;
}

.wpcf7 {
	p {
		font-size: 0.9em;
		font-style: italic;
		color: #999;
	}
	
	.wpcf7-form-control-wrap {
		display: block;
		margin-top: 5px;
	}
	
	.wpcf7-not-valid-tip {
		font-size: 0.9em;
		color: #d24c4c;
		margin-top: 7px;	
	}
}

/* Small Post for Blocks */
.small-post {
	margin-bottom: 25px;
	
	&:last-child {
		margin-bottom: 0;
	}
	
	.image-link img {
		float: left;
		width: auto;
		margin: 0;
		margin-right: 22px;
		
		// Medium to large devices
		@include breakpoint(large, medium) {
			margin-right: 16px !important;
			max-width: 70px;
		} 
	}
	
	.post-title {
		margin: 0;
		padding: 0;
		display: block;
		font-family: $var-title-font;
		font-size: 14px;
		line-height: 1.6;
	}
	
	.post-meta {
		margin-top: 8px;
		margin-bottom: 0;
		
		.meta-sep {
			display: none;
		}
	
		.post-cat {
			margin-right: 10px;
			
			@include breakpoint(large, medium) {
				display: none;
			}
		}
	}

	.content {
		margin-top: 2px;
		overflow: hidden;
	}
}

// Pinterest
.pinit-btn {
	display: none;
	position: absolute;
	border-radius: 2px;
	width: auto !important;
	height: auto !important;
	margin-left: 5px !important;
	margin-top: 5px !important;
	padding: 9px 12px !important;
	z-index: 1;
	background: #ff1616 !important;
	color: #fff !important;
	font-size: 14px;
	line-height: 1;
	text-transform: uppercase;
	
	i {
		font-size: 22px;
	}
	
	.label {
		font-weight: 600;
		margin-left: 10px;
		margin-right: 2px;
	}
	
	&.show {
		display: flex;
		align-items: center;
		animation: 0.45s fade-in ease-in-out;
	}
}