/**
 * Posts in List Style - FLAG object
 */
 
.list-post {
	margin-bottom: 40px;
	padding-bottom: 40px;
	border-bottom: 1px solid #ebebeb;
	display: flex;
	width: 100%;
	
	// No more a list in extra small screens
	@include breakpoint(x-small) {
		display: block;
		
		.content {
			display: block;
			padding-left: 0;
			margin-top: 20px;
		}
		
		.image-link {
			display: block;
		}
	}
	
	.post-thumb {
		display: block;
		flex-shrink: 0;
		max-width: 50%;
		
		@include breakpoint(small) {
			max-width: 30%;
		}

		@include breakpoint(x-small) {
			max-width: initial;
		}
		
	}
	
	.image-link {
		display: block;
		position: relative;
		
		img {
			display: block;
			max-width: 100%;
			
			@include breakpoint(x-small) {
				max-width: initial;
				width: 100%;
			}
		}
	}
	
	.content {
		display: block;
		width: 100%;
		padding-left: 30px;
		vertical-align: top;
	}
	
	.post-title {
		margin-top: 10px;
		margin-bottom: 12px;
		font-size: 23px;
		
		@include breakpoint(x-small) {
			font-size: 21px;
		}
	}
	
	.post-excerpt {
		line-height: 1.866;
	}
	
	.post-footer {
		overflow: initial;
		margin-top: 10px;
	}
	
	.social-share {
		margin-left: 2px;
	}
}

/**
 * List style B - alternate
 */
.list-post-b {
	margin-bottom: 50px;
	padding-bottom: 0;
	border: 0;
	
	.content {
		display: block;
		align-self: center;
	}
	
	.post-meta {
		display: flex;
		font-size: 11px;
		flex-wrap: wrap;
		
		.post-cat {
			order: 1;
		}
		
		.meta-sep {
			padding: 0 4px;
		}

		.date-link {
			order: -1;
		}
		
		time {
			letter-spacing: 0.1em;
		}
		
		.post-title,
		.post-title-alt {
			order: 2;
			width: 100%;
		}
	}
	
	.post-title {
		max-width: 80%;
		margin-top: 17px;
		margin-bottom: 15px;
		font-size: 24px;
		line-height: 1.25;
		
		@include breakpoint(small) {
			width: 100%;
			font-size: 21px;
		}
	}
	
	.post-footer {
		margin-top: 28px;
	}
	
	.read-more-btn {
		padding: 12px 14px;
		border: 1px solid #e5e5e5;
		background: #fbfbfb;
		color: #777;
		font-family: $var-title-font;
		font-size: 11px;
		line-height: 1;
		letter-spacing: 0.12em;
		text-transform: uppercase;
		
		&:hover {
			background: #161616;
			color: #fff;
		}

		@include breakpoint(small) {
			padding: 10px 14px;
			font-size: 10px;
		}
	}
}