/**
 * Large post style
 */
 
.large-post {
	margin-bottom: 65px;
	
	.featured img,
	.gallery-slider {
		display: block;
		margin-bottom: 28px;
		width: 100%;
	}
	
	.post-meta-c {
		margin-bottom: 28px;
	}
	
	.featured-vid {
		margin-bottom: 28px;
	}
	
	.post-header {
		text-align: center;
	}

	.likes-count .number {
		float: right;
		visibility: hidden;
		width: 0;
		opacity: 0;
		margin: 0;
		margin-top: 1px;
		white-space: nowrap;
		transition: 0.25s ease-in-out;
		transition-property: margin, visibility, opacity;
	}

	.likes-count:after {
		display: none;
	}
	
	.likes-count:hover .number {
		visibility: visible;
		width: auto;
		margin-left: 5px;
		opacity: 1;
	}
}


/* Large Post footer meta */

.post-footer {
	margin-top: 50px;
	overflow: hidden;
	display: flex;
	flex-wrap: wrap;
	
	
	@include breakpoint(small) {
		margin-top: 25px;
	}
	
	.col {	
		border: 1px solid #ebebeb;
		border-right-color: transparent;
		text-align: center;
		line-height: 41px;
		box-sizing: border-box;
		flex: 1;
		
		@include breakpoint(medium) {
			float: left;
			width: 33.33%;
			flex: 0 0 auto;
		}
		
		@include breakpoint(small) {
			width: 50%;
		}
		
		@include breakpoint(tiny) {
			width: 100%;
			border: 0;
		}
		
		&:only-child {
			width: 100%;
			text-align: center;
		}
		
		&:last-child {
			border-right-color: #ebebeb;
		}
	}
	
	.author {
		font-size: 12px;
		letter-spacing: $var-text-tracking;
		color: #b4b4b4;
		
		@include breakpoint(small) {
			display: none;
		}
	}
	
	.author a {
		color: $var-post-text-color;
	}
	
	.read-more {
		font-family: $var-title-font;
		text-transform: uppercase;
		font-weight: 600;
		font-size: 12px;
		letter-spacing: 0.07em;
	}
	
	.read-more-link {
		margin-left: 2px;
		color: #454545;
	}
	
	.read-more-link:hover {
		opacity: 0.7;
	}
}

.post-footer .social-share {
	display: inline-block;
	line-height: 43px;
	height: 43px;
	font-family: $var-title-font;
}

// For sticky posts
.sticky.large-post {
	.post-title-alt:after {
		border-bottom-width: 4px;
	}
}

/**
 * Large Style B
 */ 
.large-post-b {

	// Title above needs bottom padding removed as featured has padding too
	.post-meta-a {
		.post-title-alt {
			margin-bottom: 0;
		}
	}

	.featured {
		margin-top: 28px;
	}
	
	.post-footer {
		margin-top: 44px;
	
		.col {
			border-right: 0;
			border-left: 0;
			
			@include breakpoint(medium) {
				width: 50%;
			}
			
			@include breakpoint(tiny) {
				width: 50%;
			}
		}
		
		.author {
			font-size: 11px;
			text-align: left;
			
			@include breakpoint(medium) {
				display: block;
			}
		}
		
		.author span {
			margin-right: 2px;
			font-style: italic;
		}
		
		.author a {
			color: $var-main-color;
			font-family: $var-title-font;
			font-weight: 600;
			text-transform: uppercase;
			letter-spacing: 0.1em;
			
			&:hover {
				opacity: 0.8;
			}
		}
		
		
		.social-icons {
			text-align: right;
		}
		
		.number {
			float: none;
			margin-left: 5px;
			visibility: visible;
			width: auto;
			opacity: 1;			
		}
	}
	
	.likes-count {
		@include breakpoint(x-small) {
			display: none;
		}
	}
	
	.likes-count:after {
		display: inline-block;
	}
	
}

/**
 * Large Style C
 */
.large-post-c {

	.featured .wp-post-image {
		margin-bottom: 0;
	}

	.meta-title {
		margin: 0 42px;
		padding: 25px 40px;
		padding-bottom: 0;
		background: #fff;
		position: relative;
		margin-top: -48px;

		@include breakpoint(x-small) {
			margin-left: 15px;
			margin-right: 15px;
			padding-left: 20px;
			padding-right: 20px;
		}
	}

	.post-meta {
		margin-bottom: 0;
	}

	.post-title-alt {
		font-size: 24px;

		@include breakpoint(x-small) { 
			font-size: 20px;
		}
	}
}