/**
 * Common Post Meta
 */
 
.post-meta {
	color: #b4b4b4;
	font-family: $var-title-font;
	font-size: 10px;
	line-height: 1.5;
	text-transform: uppercase;

	.post-cat > a {
		color: $var-main-color;
		font-weight: 600;
		letter-spacing: 0.09em;
	}
	
	.text-in {
		margin-right: 2px;
		font-family: $var-text-font;
		font-style: italic;
		text-transform: none;
	}

	.post-cat > a:hover {
		opacity: 0.8;
	}
	
	time {
		font-weight: 500;
		letter-spacing: 0.075em;
	}
	
	.date-link {
		color: inherit;
	}

	.meta-sep:first-child,
	.meta-sep:last-child {
		display: none;	
	}

	.meta-sep:before {
		content: "-";
		padding: 0 3px;	
	}
	
	.comments {
		color: #535353;
		letter-spacing: 0.1em;
		font-weight: 500;
		
		a {
			color: inherit;
			
			&:hover {
				opacity: 0.9;
			}
		}	
	}
	
}

// Style B
.post-meta-b {
	font-size: 11px;
	margin-bottom: 25px;
	
	.meta-sep {
		padding: 0 4px;
	}
	
	.post-title-alt:after {
		display: none;
	}
	
	.post-title-alt {
		margin: 15px 0;
	}
}

// Style C
.post-meta-c {
	margin-bottom: 13px;
	color: #aaa;
	text-align: left;
	font-size: 11px;
	

	.post-title-alt:after {
		display: none;
	}
	
	.post-title-alt {
		margin: 15px 0;
		margin-bottom: 12px;
		line-height: 1.3;
	}
	
	.cat-label {
		position: static;
		bottom: initial;
	}
	
	.meta-sep:before {
		padding: 0 4px;
	}
	
	.post-author > a {
		color: $var-main-color;
		font-weight: 600;
	}
	
	.post-author, 
	time {
		font-weight: 400;
		letter-spacing: 0.025em;
	}
}