/**
 * Post Content 
 */

$post-content-output: true !default;

%common-post-content {
	
	> :last-child {
		margin-bottom: 0;
	}
	
	h1, h2, h3, h4, h5, h6 {
		margin-top: 1.2em;
		margin-bottom: 1em;
		
		font-weight: 600;
		text-transform: uppercase;
		letter-spacing: normal;
		line-height: 1.5;
		
		-webkit-font-smoothing: initial;
	}
	
	a {
		color: $var-main-color;	
	}
	
	a:hover {
		opacity: 0.84;
	}
	
	// Prevent a hover flash for floated linked images 
	a:hover img {
		opacity: 1;
	}
	
	/* Post Content - Lists */
	ul,
	ol {
		margin: 2em 0;
		margin-left: 35px;
	}
	
	ul {
		list-style-type: disc;
	}
	
	ol {
		list-style-type: decimal;
	}
	
	li > ul,
	li > ol {
		margin-top: 0.5em;
		margin-bottom: 0.5em;	
	}

	table {
		margin: 2.5em 0;
	}
	
	blockquote,
	.wp-block-quote.is-style-large {
		margin-top: 2em;
		margin-bottom: 2em;

		> p:not(:last-of-type) {
			margin-bottom: 26px;
		}
	}

	.wp-block-pullquote.alignleft, 
	.wp-block-pullquote.alignright {
		margin-top: 0;
		margin-bottom: 0;
	}
	
	.modern-quote,
	.wp-block-quote.is-style-large {
		margin-bottom: 1.7em;
	}
	
	li {
		padding-left: 5px;
		margin-bottom: 0.5em;	
	}
	
	// Videos / audios
	iframe {
		max-width: 100%;
	}

	.wp-block-gallery,
	.wp-block-embed {
		margin: 40px 0;
	}

	.wp-block-gallery {
		margin-left: -$gallery-margin;
		margin-right: -$gallery-margin;
	}

	figcaption a,
	.wp-caption-text a {
		text-decoration: underline;
	}
	
	//
	// Remove margin-top for the likes of h1 etc.
	// DONT MOVE: Placed at end for specificity.
	//
	> :first-child {
		margin-top: 0;
	}

}

@mixin post-content {
	@include text;
	line-height: 2;

	@extend %common-post-content;

	// Gutenberg sizes
	.has-small-font-size {
		font-size: 13px;
	}

	.has-regular-font-size {
		font-size: inherit;
	}

	.has-large-font-size {
		font-size: (22px / 17px) * 1em;
		line-height: 1.6;
	}

	.has-larger-font-size {
		font-size: (28px / 17px) * 1em;
		line-height: 1.5;
	}
	
	.search-field {
		vertical-align: top;
	}
	
	.search-submit {
		font-size: 0;
		
		.fa {
			font-size: 11px;
		}
	}
	
	.gallery {
		margin-top: 32px;
		margin-bottom: 32px;
	}

	.tiled-gallery,
	.wp-block-media-text {
		margin: 2.5em 0;
	}

	.alignwide {
		margin-left: -3.896%;
		margin-right: -3.896%;
		max-width: 107.8%;

		&.wp-block-image img {
			width: 100%;
			max-width: initial;
		}
	}

	.wp-block-cover-image.alignwide {
		width: auto;
	}

	.no-sidebar & .alignfull {
		width: 100vw;
		max-width: 100vw;
		box-sizing: border-box;
	}

	figure > a:not(.pinit-btn) {
		display: block;
	}

	// Read more for large posts style b
	.read-more {
		margin-top: 35px;
		font-family: $var-title-font;
		font-weight: 600;
		font-size: 11px;
		letter-spacing: 0.15em;
		text-transform: uppercase;
		text-align: center;
		
		a {
			position: relative;
			display: inline-block; 
			color: #161616;
		}
		
		a span {
			position: relative;
			padding: 0 10px;
			background: #fff;
			z-index: 1;
		}
		
		a:before {
			position: absolute;
			left: -20px;
			top: 50%;
			margin-top: -1px;
			content: "";
			width: calc(100% + 40px);
			border-bottom: 1px solid #d6d6d6;
			
		}
	}

	// .right-sidebar & .alignfull {
	// 	width: 100vw;
	// 	max-width: 100vw;
	// 	margin-left: calc(50% - 50vw);

	// 	@include breakpoint(null, large) {
	// 		width: auto;

	// 		// .658 is 770/1170
	// 		margin-left: calc(50% / .658 - 50vw);
	// 	}
	// }
}

//
// Only for single posts
//

// Base content that directly affects .entry-content, used in 'p' for gutenberg
@mixin entry-content-base {
	
}

@mixin entry-content {
	@include entry-content-base;

	.modern-quote,
	.wp-block-quote.is-style-large {
		margin-top: 1.8em;
		margin-bottom: 1.9em;
	}

	iframe.instagram-media,
	.twitter-tweet {
		margin: 2.6em auto !important;
	}

	.fluid-width-video-wrapper {
		margin: 2.6em auto;
	}

	table {
		font-size: fluid-size((13px: 13px, 26px: 23px), "em");

		@include breakpoint (large) {
			display: block;
			overflow-x: auto;
			hyphens: none;
			-webkit-overflow-scrolling: touch;

			tbody {
				display: table;
				table-layout: initial !important;
				width: 100%;
			}
		}
	}
}

//
// Spacious Style
//
@mixin content-spacious {
	@include breakpoint(null, small) {
		padding-left: 3.896%;
		padding-right: 3.896%;
	}

	// For tablet view, need more space on right
	@include breakpoint(large, medium) {
		margin-right: -3.896%;
	}

	> p img.alignnone, 
	.wp-caption.alignnone,
	figure.alignnone,
	.alignwide,
	.alignfull,
	.gallery, 
	.fluid-width-video-wrapper {
		margin-left: -3.896%;
		margin-right: -3.896%;
		max-width: 107.8%;
	}

	.fluid-width-video-wrapper {
		width: auto;
	}

	.wp-block-gallery {
		margin-left: calc(-3.896% - (#{$gallery-margin} / 2));
		margin-right: calc(-3.896% - (#{$gallery-margin} / 2));
		width: calc(107.8% + #{$gallery-margin});
		max-width: initial;
	}

	> p img.alignleft,
	.wp-caption.alignleft,
	figure.alignleft,
	.wp-block-pullquote.alignleft {
		margin-left: -3.896%;
	}
	
	> p img.alignright,
	.wp-caption.alignright,
	figure.alignright,
	.wp-block-pullquote.alignright {
		margin-right: -3.896%;
	}
	
	> p img.aligncenter, 
	.wp-caption.aligncenter,
	.wp-block-image.aligncenter,
	.wp-block-gallery.aligncenter,
	.gallery.aligncenter {
		margin-left: auto;
		margin-right: auto;
		max-width: 100%;
	}

	// Block fixes
	.wp-block-cover-image {
		width: auto;
	}
}

//
// Full-width variation
// 
// Used by .the-post-modern 
//
@mixin content-spacious-full {
	
	figure img {
		vertical-align: bottom;
	}

	.alignnone,
	.wp-block-embed,
	.wp-block-image:not(.alignleft):not(.alignright),
	.wp-block-gallery {
		margin-top: calc(40px + 0.25vw);
		margin-bottom: calc(40px + 0.25vw);
	}

	.wp-caption-text, 
	.wp-block-image figcaption {
		margin-top: 1em;
	}

	.alignfull {
		margin-top: calc(40px + 1vw);
		margin-bottom: calc(40px + 1vw);
	}

	// Only for large+ devices till infinity
	@include breakpoint(false, large) {
		max-width: 720px;
		margin-left: auto;
		margin-right: auto;
	
		> p img.alignnone, 
		.wp-caption.alignnone,
		figure.alignnone,
		.alignwide,
		.alignfull,
		.gallery {
			margin-left: -190px;
			margin-right: -190px;
			width: auto;
			width: calc(100% + 380px);
			max-width: 100vw;
		}

		> p img.alignleft,
		.wp-caption.alignleft,
		figure.alignleft,
		.wp-block-pullquote.alignleft {
			margin-left: -6%;
		}
		
		> p img.alignright,
		.wp-caption.alignright,
		figure.alignright,
		.wp-block-pullquote.alignright {
			margin-right: -6%;
		}
	
		
		.wp-block-gallery {
			margin-left: calc(-190px - (#{$gallery-margin} / 2));
			margin-right: calc(-190px - (#{$gallery-margin} / 2));
			width: calc(100% + 380px + #{$gallery-margin});
			max-width: initial;
		}

		> p img.aligncenter, 
		.wp-caption.aligncenter,
		.wp-block-image.aligncenter,
		.wp-block-gallery.aligncenter,
		.gallery.aligncenter {
			margin-left: auto;
			margin-right: auto;
			max-width: 100%;
		}
	}
}

//
// Output selectors?
//
@if $post-content-output {
	.post-content {
		@include post-content;
	}

	.entry-content {
		@include entry-content;
	}

	/**
	 * Spacious Style
	 */
	.content-spacious {
		@include content-spacious;
	}

	/**
	 * Full Width variation of content spacious
	 */
	.content-spacious-full {
		@include content-spacious-full;
	}
}