/**
 * Block: Products
 */
.products-block {
	border-bottom: 1px solid #f0f0f0;
	
	.woocommerce .products {
		margin-bottom: -45px;
	}
	
	.block-heading {
		margin-bottom: 55px;
	}
	
	.more {
		display: block;
		margin-top: 50px;
		margin-bottom: 50px;
		text-align: center;
	}
	
	.more-link {
		display: inline-block;
		border: 2px solid #ebebeb;
		padding: 0 30px; 
		font-family: $var-title-font;
		font-size: 11px;
		font-weight: 700;
		letter-spacing: 0.09em;
		line-height: 34px;
		text-transform: uppercase;
		text-align: center;
		
		&:hover {
			border-color: $var-main-color;
			background: $var-main-color;
			color: #fff;
		}
	}
}

.products-block,
.blocks .products-block {
	margin-top: 15px;
	margin-bottom: 75px;
}