/**
 * 9. =Featured & Sliders
 * ----------------------------------------------------------------------------
 */
 
@keyframes slider-fade-in {
  from {
    opacity: 0;
    transform: translate3d(0, 0px, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

.slick-initialized img {
	display: inline;
}

// Slider navigation arrows
.common-slider {
	
	.slick-arrow {
		display: none;
		position: absolute;
		z-index: 100;
		top: 50%;
		left: 0;
		margin-top: -16px; 
		
		background: transparent;
		border: 1px solid #fff;
		color: #fff;
		font-size: 18px;
		height: 32px;
		width: 30px;
		line-height: 30px;
		text-align: center;
		box-sizing: border-box;
		transition-property: color, background;
		
		i {
			line-height: inherit;
		}
		
		&:hover {
			background: #fff;
			color: #161616;
		}
	}
		
	.prev-arrow {
		left: 25px;
	}
	
	.next-arrow {
		left: auto;
		right: 25px;
	}
	
	.item {
		opacity: 0;
		transition: opacity 0.2s ease-in;
	}
	
	.slides {
		max-height: 400px;
	}

	.loaded {
		
		&.slides {
			max-height: none;
		}
		
		.item {
			opacity: 1;
		}
	}
	
	// Paralax - hide image
	.parallax .wp-post-image {
		visibility: hidden;
	} 
}


/**
 * The Main Slider
 */
.main-slider {
	margin-bottom: 65px;
	width: 100%;
	font-family: $var-title-font;

	img {
		max-width: 762px;
		transition: filter 0.3s ease-in;
		
		&:hover {
			opacity: 1;
		}
	}

	.item {
		position: relative;
		margin-right: 3px;
	
		&:after {
			content: "";
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			height: 98%;
			
			background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(140,140,140,0) 45%,rgba(0,0,0,0.36) 100%);
			pointer-events: none; 
			transform: translate3d(0,0,0);
		}

		&:hover img {
			filter: brightness(110%);
		}
	}

	.slider-overlay {
		position: absolute;
		display: none;
		bottom: 0;
		width: 100%;
		padding: 28px;
		padding-bottom: 24px;
		z-index: 1;
		box-sizing: border-box;
	}
	
	
	.prev-arrow {
		left: initial; 
		margin-left: -50px;
	}

	.next-arrow {
		left: initial;
		right: initial;
		margin-left: 20px;
	}
}

// Active animation with a delay for main slider
.active .slider-overlay {
	animation: 0.35s slider-fade-in;
	animation-fill-mode: both;
	animation-delay: 0.4s;
	display: block;
}

// Slider overlay for main slider
.slider-overlay {

	.category {
		display: inline-block;
		background: #fff;
		padding: 4px 8px;
		line-height: 1;
		font-size: 9px;
		font-weight: 600;
		letter-spacing: 0.1em;
		text-transform: uppercase;
	}
	
	.heading {
		margin-top: 12px; // +7 line-height
		margin-bottom: 5px;
		text-transform: uppercase;
		font-family: $var-title-font;
		font-size: 21px;
		font-weight: 600;
		line-height: 1.3;
		letter-spacing: -0.005em;
	}
	
	.heading a {
		color: #fff;
	}
	
	.excerpt {
		color: #fff;
		font-size: 13px;
		letter-spacing: $var-text-tracking;
		-webkit-font-smoothing: antialiased;
	}
	
	.excerpt p {
		margin: 0;
	}
	
	.read-more {
		float: right;
		margin-top: -36px;
		padding: 10px 16px;
		background: transparent;
		border: 1px solid #fff;
		
		color: #fff;
		text-transform: uppercase;
		font-size: 10px;
		font-weight: 600;
		line-height: 1;
		letter-spacing: 0.11em;
		
		@include breakpoint(x-small) {
			display: none;
		}
	}
	
	.read-more:hover {
		background: #fff;
		color: inherit;
	}
}


// For medium devices, adjust the arrows and images
@include breakpoint(medium) {
	.main-slider { 
	
		.slick-arrow {
			margin-left: 0;
		}
	
		.prev-arrow {
			left: 25px;
		}
		
		.next-arrow {
			right: 25px;
			left: auto;
		}
		
		img {
			max-width: initial;
			width: 100%;
		}
		
		.item {
			margin: 0;
		}
	}
}

@include breakpoint(x-small) {
	.main-slider .slick-arrow {
		display: none !important;
	}
}

// Gallery slider for posts
.gallery-slider {
	.prev-arrow {
		left: 25px;
	}
	
	.next-arrow {
		right: 25px;
		left: auto;
	}
}

.gallery-slider-lg {
	height: inherit;
	
	.slick-list,
	.slick-track,
	.slick-slide > a {
		height: inherit;	
	}
	
	.slick-slide {
		margin: 0 3px;
		
		&:after {
			position: absolute;
			content: "";
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: rgba(#111, 0.29);
			transition: background 0.3s ease-in;
			pointer-events: none;
			will-change: opacity;
		}
	}
	
	img {
		width: auto;
		height: 100%;
	}
	
	&.parallax img {
		visibility: hidden;
	} 
}

// Classic changes
.classic-slider {
	.heading {
		@include breakpoint(null, x-small) {
			max-width: 77%;
		}
	}
}


/**
 * Stylish Slider - Borrows from .main-slider and modifies
 */
.stylish-slider {
	
	img {
		max-width: 900px;
		
		// Decrease width for large tablets to prevent pagination
		// going out of bounds.
		@include breakpoint(large, medium) {
			max-width: 700px;
		}
	}
	
	.active .slider-overlay {
		animation: 0.35s fade-in;
		animation-fill-mode: both;
		animation-delay: 0.4s;
	}
	
	.slider-overlay {
		top: 50%;
		bottom: auto;
		padding: 20px;
		transform: translate3d(0, -50%, 0);
		text-align: center;
	}
	
	.heading {
		font-size: 28px;
		line-height: 1.5;
		
		@include breakpoint(small) {
			font-size: 20px;
		}
	}
	
	.excerpt {
		@include breakpoint(tiny) {
			display: none;
		}
	}
	
	.read-more {
		display: inline-block;
		float: none;
		margin-top: 20px;
	}
	
	.category {
		font-size: 10px;
	}
	
	.item {
		margin-right: 10px;
	}
	
	.item:after {
		background: rgba(0,0,0,.28);
		top: 0px;
		width: calc(100% - 20px);
		height: calc(100% - 20px);
		margin: 10px;
	}
	
	.prev-arrow {
		margin-left: -60px;
	}
	
	.next-arrow {
		margin-left: 30px;
	}
}


/**
 * Beauty Slider
 */
.beauty-slider {
	position: relative;
	
	.wrap {
		@include breakpoint(medium) {
			max-width: initial;
			width: 100%;
			padding: 0;
		}
	}
	
	.slick-slide {
		position: relative;
	}
	
	img {
		&:hover {
			opacity: 1;
		}
	}
	
	.overlay {
		position: absolute;
		width: 340px;
		bottom: 35px;
		left: 50%;
		margin-left: -170px;
		padding: 25px 15px;
		padding-bottom: 50px;
		box-sizing: border-box;
		
		background: #fff;
		text-align: center;
		
		// No blips on small - less padding needed and should be 
		// vertically centered.
		@include breakpoint(small) {
			padding: 20px 15px;
			top: 50%;
			bottom: auto;
			transform: translateY(-50%);
		}
		
		@include breakpoint(tiny) {
			width: 250px;
			margin-left: -125px;
		}
	}
	
	.slick-current .overlay {
		animation: 0.5s fade-in ease-in;
	}
	
	.post-title {
		margin-top: 10px;
		margin-bottom: 10px;
		font-size: 22px;
		
		@include breakpoint(small) {
			font-size: 19px;
		}
	}
	
	.post-date {
		@include breakpoint(tiny) {
			display: none;
		}
	}
	
	.slick-dots {
		position: absolute;
		bottom: 58px;
		left: 50%;
		transform: translateX(-50%);
		text-align: center;
		line-height: 1;
		
		
		// No blips on small screens
		@include breakpoint(small) {
			display: none !important;
		}
	
		li {
			display: inline-block;
			line-height: 8px;
		}
	
		button {
			display: inline-block;
			padding: 0;
			margin: 0;
			margin-right: 3px;
			border-radius: 50%;
			border: 1px solid #b4b4b4;
			width: 8px;
			height: 8px;
			box-sizing: border-box;
			outline: 0;
			font-size: 0;
			background: transparent;
			vertical-align: top;
		}
	
		.slick-active button {
	    	background: $var-main-color;
	    	border-color: $var-main-color;
		}
	}
	
	.slick-arrow {
		opacity: 0;
		visibility: hidden;
		transition-property: all;
	}
	
	.slides:hover .slick-arrow {
		opacity: 1;
		visibility: visible;
	}
}


/**
 * Trendy Slider
 */
.trendy-slider {
	
	.item {
		position: relative;
		margin-right: 3px;
		
		&:hover img {
			filter: brightness(103%);
		}
	}
	
	img {
		width: 100%;
		transition: filter 0.3s ease-in;
		
		@include breakpoint(medium) {
			width: auto;
		}
		
		&:hover {
			opacity: 1;
		}
	}
	
	.overlay {
		position: absolute;
		z-index: 1;
		width: 400px;
		top: 50%;
		left: 50%;
		//transform: translateX(-50%)  translateY(-50%);
		transform: translate3d(-50%, -50%, 0);
		padding: 25px;
		box-sizing: border-box;

		background: #fff;
		text-align: center;
		
		@include breakpoint(x-small) {
			max-width: 85vw !important;
		}
	}

	// Style the post category in meta	
	.post-cat a {
		display: inline-block;
		padding: 0 6px;
		background: #fff;
		//color: #161616;
		color: $var-main-color;
		line-height: 18px;
		letter-spacing: 0.11em;
	}
	
	.post-title {
		margin-top: 12px;
		margin-bottom: 10px;
		font-size: 22px;
		
		@include breakpoint(x-small) {
			font-size: 19px;
		}
	}
	
	time {
		@include breakpoint(tiny) {
			display: none;
		}
	}
	
	.slick-arrow {
		opacity: 0;
		visibility: hidden;
		transition-property: all;
	}
	
	.slides:hover .slick-arrow {
		opacity: 1;
		visibility: visible;
	}
}

/**
 * Large / Full-width Slider
 */
.large-slider {
	font-family: $var-title-font;
	
	&:hover .slick-arrow {
		visibility: visible;
		opacity: 1;
	}
	
	.item {
		position: relative;
		height: 675px;
		
		@include breakpoint(small) {
			height: 400px;
		}
		
		@include breakpoint(x-small) {
			height: 300px;
		}
		
		&:after {
			position: absolute;
			content: "";
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: rgba(#222, 0.25);
			transition: background 0.3s ease-in;
			pointer-events: none;
			will-change: opacity;
		}
		
		&:hover:after {
			background: rgba(#222, 0.35);
		}
		
		> a {
			display: block;
			height: inherit;
			transition: none;
		}
	}
	
	img {
		max-width: 100%;
		width: 100%;
		height: inherit;
		object-fit: cover;
		
		// No opacity changes needed
		will-change: initial;
		
		// For polyfill
		font-family: 'object-fit: cover;';
		
		&:hover {
			opacity: 1;
		}
	}
	
	.overlay {
		position: absolute;
		z-index: 2;
		width: 80%;
		max-width: 700px;
		top: 50%;
		left: 50%;
		transform: translate3d(-50%, -50%, 0);
		padding: 25px;
		box-sizing: border-box;
		text-align: center;
		
		@include breakpoint(x-small) {
			max-width: 95vw !important;
		}
	}
	
	.category a {
		display: inline-block;
		line-height: 1;
		font-size: 12px;
		font-weight: 600;
		letter-spacing: 0.1em;
		text-transform: uppercase;
		color: #fff;
	}
	
	.heading {
		margin-top: 12px;
		margin-bottom: 5px;
		text-transform: uppercase;
		font-family: $var-title-font;
		font-size: 40px;
		font-weight: 600;
		line-height: 1.3;
		letter-spacing: -0.005em;
		
		@include breakpoint(small) {
			font-size: 31px;
		}
		
		@include breakpoint(x-small) {
			font-size: 28px;
		}
		
		&:after {
			content: "";
			display: block;
			margin: 0 auto;
			margin-top: 20px;
			width: 28px;
			border-bottom: 2px solid #fff;
		}
	}
	
	.heading a {
		color: #fff;
	}
	
	.read-more {
		display: inline-block;
		margin-top: 30px;
		padding: 13px;
		background: transparent;
		border: 2px solid #fff;
		
		color: #fff;
		text-transform: uppercase;
		font-size: 10px;
		font-weight: 600;
		line-height: 1;
		letter-spacing: 0.2em;
		
		@include breakpoint(x-small) {
			display: none;
		}
		
		&:hover {
			background: #fff;
			color: #161616;
		}
	}
	
	.slick-arrow {
		visibility: hidden;
		opacity: 0;
		transition: all 0.3s ease-in;

		@include breakpoint(small) {
			display: none !important;
		}
	}
		
}

/**
 * Grid Slider
 */
.grid-slider {
	
	> .wrap {
		@include breakpoint(medium) {
			width: 100%;
			max-width: initial;
			padding: 0;
		}
	}

	// Prevent a flash in Chrome on first slide.
	// DO NOT add both slick-track and slick-list - causes blurriness in Safari
	.slick-track {
		-webkit-perspective: 2000;
	}
	
	.item {
		height: 600px;
		
		@include breakpoint(large) {
			height: 500px;
		}
		
		@include breakpoint(medium) {
			height: auto;
		}
		
		.inner {
			height: 100%;
			width: 100%;
		}
	}
	
	.item-large:after,
	.item-small:after {
		position: absolute;
		content: "";
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: rgba(#000, 0.25);
		transition: opacity 0.3s ease-in;
		pointer-events: none;
		will-change: opacity;
	}

	.item-large {
		position: relative;
		float: left;
		width: percentage(870 / 1170);
		height: 100%;
		
		@include breakpoint(medium) {
			width: 100%;
			height: 400px;
		}
		
		@include breakpoint(small) {
			width: 100%;
			height: 250px;
		}
	}
	
	.item-small {
		position: relative;
		float: left;
		width: percentage(1 - (870/1170));
		height: calc(50% - 1px);
		margin-bottom: 2px;
		padding-left: 2px;
		box-sizing: border-box;
		overflow: hidden;
		
		@include breakpoint(medium) {
			margin-top: 2px;
			width: 50%;
			height: 30vh;
			min-height: 200px;
		}
		
		&:after {
			left: 2px;
		}
		
		.heading {
			font-size: 24px;
			
			@include breakpoint(small) {
				font-size: 18px;
			}
		}
	}
	
	.item-large,
	.item-small {
		&:hover:after {
			opacity: 0.5;
		}
	}
	
	.image-link {
		display: block;
		height: inherit;
		width: inherit;
	}
	
	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
		
		// For Polyfill
		font-family: 'object-fit: cover;';
		
		&:hover {
			opacity: 1;
		}
	}

	.overlay {
		position: absolute;
		z-index: 2;
		width: 80%;
		max-width: 700px;
		top: 50%;
		left: 50%;
		transform: translate3d(-50%, -50%, 0);
		padding: 25px;
		box-sizing: border-box;
		text-align: center;
		pointer-events: none;
		
		@include breakpoint(large) {
			width: 100%;
		}
	}
	
	.category {
		display: inline-block;
		background: #fff;
		padding: 4px 8px;
		line-height: 1;
		font-family: $var-title-font;
		font-size: 10px;
		font-weight: 600;
		letter-spacing: 0.15em;
		text-transform: uppercase;
		pointer-events: auto;
		
		@include breakpoint(x-small) {
			// Some skins override it, hence important
			font-size: 9px !important;
		}
	}

	.heading {
		margin: 0 auto;
		margin-top: 20px;
		max-width: 295px;
		font-family: $var-title-font;
		font-size: 30px;
		line-height: 1.33;
		text-transform: uppercase;
		font-weight: 400;
		
		@include breakpoint(small) {
			font-size: 20px;
		}
		
		a {
			color: #fff;
		}
	}
	
	.slick-arrow {
		opacity: 0;
		visibility: hidden;
		transition-property: all;
	}
	
	.slides:hover .slick-arrow {
		opacity: 1;
		visibility: visible;
	}
}

/**
 * Carousel Slider
 */
.carousel-slider {
	max-width: 100%;
	overflow: hidden;
	
	.item {
		position: relative;
		margin-right: 30px;
		transform: translate3d(0, 0, 0);
		
		&:after {
			position: absolute;
			content: "";
			border: 1px solid #fff;
			top: 0px;
			width: calc(100% - 30px);
			height: calc(100% - 30px);
			margin: 15px;
			z-index: 3;
			pointer-events: none;
			transform: translate3d(0, 0, 0);
		}
	}
	
	@include breakpoint(medium) {
		img {
			width: 100%;
			max-width: initial;
			max-height: 300px;
			
			object-fit: cover;
			// For polyfill
			font-family: 'object-fit: cover;';
		}
	}
	
	.slick-list {
		margin-right: -30px;
	}
	
	// Prevent a flash in Chrome on first slide.
	// DO NOT add both slick-track and slick-list - causes blurriness in Safari
	.slick-track {
		-webkit-perspective: 2000;
	}
	
	.overlay {
		position: absolute;
		z-index: 2;
		width: 100%;
		bottom: 0;
		left: 0;
		padding: 0 30px;
		padding-bottom: 35px;
		background: rgba(#000, 0.6);
		box-sizing: border-box;
		text-align: center;
		pointer-events: none;
		transform: translate3d(0, 0, 0);
		transition: all 0.3s ease-in;
		
		@include breakpoint(large) {
			width: 100%;
		}
	}
	
	.item:hover .overlay {
		background: rgba(#000, 0.7);
	}
	
	img:hover {
		opacity: 1;
	}
	
	.category {
		display: inline-block;
		vertical-align: top;
		transform: translateY(-50%);
		background: $var-main-color;
		color: #fff;
		padding: 7px 11px;
		line-height: 1;
		font-family: $var-title-font;
		font-size: 12px;
		font-weight: 400;
		letter-spacing: 0.075em;
		text-transform: uppercase;
		pointer-events: auto;
	}
	
	.heading {
		margin-top: 8px;
		margin-bottom: 4px;
		font-family: $var-title-font;
		font-size: 20px;
		font-weight: 400;
		line-height: 1.31;
		text-transform: uppercase;
	}
	
	.heading a {
		color: #fff;
	}
	
	.slick-arrow {
		opacity: 0;
		visibility: hidden;
		transition-property: all;
	}
	
	.slides:hover .slick-arrow {
		opacity: 1;
		visibility: visible;
	}
}

/**
 * Grid Tall Slider
 */
 
.grid-b-slider {
	
	.item {
		position: relative;
		margin-right: percentage(2/1170);
		transform: translate3d(0, 0, 0);
		float: left;
		
		&:after {
			position: absolute;
			content: "";
			top: 0;
			width: 100%;
			height: 100%;
			background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 45%,rgba(0,0,0,0.65) 100%);
			transition: opacity 0.4s ease-in-out;
			pointer-events: none;
		}
		
		&:hover:after {
			opacity: 0.8;
		}
		
		&:last-child {
			margin-right: 0;
		}
		
		&:hover img {
			transform: scale(1.06);
		}
	}
	
	.item-large {
		width: percentage(554/1170);
		
		@include breakpoint(medium) {
			width: 100%;
			max-height: 400px;
			margin-right: 0;
			margin-bottom: 2px;
			
			.wp-post-image {
				max-height: 400px;
			}
		}
	}
	
	.item-small {
		width: percentage(306/1170);
		
		@include breakpoint(medium) {
			width: calc(50% - 1px);
			margin-right: 2px;
			max-height: 300px;
			
			.wp-post-image {
				max-height: 300px;
			}
		}
	}
	
	.overlay {
		position: absolute;
		z-index: 2;
		width: 100%;
		bottom: 0;
		left: 0;
		padding: 0 27px;
		padding-bottom: 28px;
		box-sizing: border-box;
		pointer-events: none;
		transform: translate3d(0, 0, 0);
		
		@include breakpoint(large) {
			width: 100%;
		}
		
		@include breakpoint(small) {
			padding-left: 20px;
			padding-right: 20px;
		}
		
		@include breakpoint(x-small) {
			padding-left: 14px;
			padding-right: 14px;
		}
	}
	
	.wp-post-image {
		width: 100%;
		object-fit: cover;
		font-family: 'object-fit: cover;';
		
		transition: transform 0.5s ease-in;
		
		&:hover {
			opacity: 1;
		}
	}
	
	.image-link {
		display: block;
		overflow: hidden;
	}
	
	// Post Meta
	
	.post-meta {
		color: #fafafa;
		margin-bottom: 0;
		-webkit-font-smoothing: antialiased;
	
		.post-author a {
			color: inherit;
			font-weight: 400;
		}
	
		.by {
			display: none;
		}
	}
	
	// Hide all meta except heading
	.item-small .post-meta {
		@include breakpoint(x-small) {
			> :not(.heading) {
				display: none;
			}
			
			.heading {
				margin-bottom: 0;
			}
		}
	}
		
	.cat-label {
		position: static;
	}
	
	.category {
		background: $var-main-color;

		pointer-events: auto;
	}
	
	.heading {
		margin-top: 13px;
		margin-bottom: 12px;
		font-family: $var-title-font;
		font-size: 31px;
		font-weight: 600;
		line-height: 1.16;
		text-transform: uppercase;
		
		@include breakpoint(x-small) {
			font-size: 25px;	
		}
	}
	
	.heading a {
		color: #fff;
	}
	
	.item-small {
		.heading {
			font-size: 21px;
			line-height: 1.28;
			
			@include breakpoint(x-small) {
				font-size: 19px;
			}
		}
	}
	
}

/**
 * Bold Slider
 */
.bold-slider {
	font-family: $var-title-font;
	
	&:hover .slick-arrow {
		visibility: visible;
		opacity: 1;
	}
	
	.item {
		position: relative;
		height: 660px;
		min-height: 480px;
		
		@include breakpoint(1500px, small) {
			height: calc(100vw * 0.44);
		}
		
		@include breakpoint(small) {
			min-height: initial;
			height: 400px;
		}
		
		@include breakpoint(x-small) {
			height: 300px;
		}
		
		&:after {
			position: absolute;
			content: "";
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: rgba(#111, 0.29);
			transition: background 0.3s ease-in;
			pointer-events: none;
			will-change: opacity;
		}
		
		&:hover:after {
			background: rgba(#000, 0.4);
		}
		
		> a {
			display: block;
			height: 100%;
		}
	}
	
	.wp-post-image {
		max-width: 100%;
		width: 100%;
		height: inherit;
		object-fit: cover;
		
		// No opacity changes needed
		will-change: initial;
		
		// For polyfill
		font-family: 'object-fit: cover;';
		
		&:hover {
			opacity: 1;
		}
	}
	
	.overlay {
		position: absolute;
		z-index: 2;
		width: 80%;
		max-width: 650px;
		top: 50%;
		left: 50%;
		margin-top: -20px;
		transform: translate3d(-50%, -50%, 0);
		padding: 25px;
		box-sizing: border-box;
		text-align: center;
		
		opacity: 0;
		
		@include breakpoint(x-small) {
			max-width: 95vw !important;
		}
	}
	
	.active .overlay {
		opacity: 1;
		
		> * {
			animation: 0.96s fade-in-up-lg, 1s fade-in;
			animation-timing-function: cubic-bezier(0.32, 0.29, 0, 0.96);
			animation-fill-mode: both;
			animation-delay: 0.75s;
		}
		
		> :nth-child(1) {
			animation-delay: 0.35s;
		}
		
		> :nth-child(2) {
			animation-delay: 0.55s;
		}
		
		> :nth-child(3) {
			animation-delay: 0.75s;
		}
	}
		
	.cats {
		display: block;
		
		a {
			display: inline-block;
			padding: 0 8px;
			background: #000;
			color: #fff;
			line-height: 20px;
			font-size: 10px;
			font-weight: 600;
			letter-spacing: 0.06em;
			text-transform: uppercase;
		}
	}
	
	.heading {
		margin-top: 21px;
		text-transform: uppercase;
		font-family: $var-title-font;
		font-size: 44px;
		font-weight: 700;
		line-height: 1.1;
		letter-spacing: -0.01em;
		
		@include breakpoint(small) {
			font-size: 31px;
		}
	
		@include breakpoint(x-small) {
			font-size: 28px;
		}
	}
	
	.heading a {
		color: #fff;
	}
	
	.author {
		display: inline-block;
		margin-top: 27px;
		color: #fff;
		text-transform: uppercase;
		font-size: 11px;
		font-weight: 600;
		line-height: 1;
		letter-spacing: 0.06em;
		
		@include breakpoint(x-small) {
			display: none;
		}
		
		a {
			color: inherit;
		}
	}
	
	.slick-arrow {
		margin-top: -19px;
		height: 38px;
		width: 38px;
		border: 0;
		border-radius: 50%;
				
		background: rgba(#fff, 0.5);
		color: #000;
		font-size: 22px;
		line-height: 36px;
		
		visibility: hidden;
		opacity: 0;
		transition: all 0.3s ease-in;

		@include breakpoint(small) {
			display: none !important;
		}
	}
	
	.next-arrow {
		padding-left: 3px;
	}
	
	.prev-arrow {
		padding-right: 3px;
	}
	
	
	// Thumbnails 
	// ----
	.thumbs-wrap {
		display: flex;
		position: relative;
		margin-bottom: -4px;
		justify-content: center;
		transform: translate3d(0, 0, 0);
	}
	
	.thumbs {
		display: flex;
		margin-top: -50px;
		padding: 9px;
		background: #fff;
	}
	
	.post-thumb {
		padding-right: 9px;
		
		img {
			display: block;
			width: 136px;
			height: 90px;
			object-fit: cover;
			
			// For polyfill
			font-family: 'object-fit: cover;';		
		}
		
		&:last-child {
			padding-right: 0;
		}
	}
	
	.thumbs .active img {
		filter: drop-shadow(0px 1px 4px rgba(0, 0, 0, 0.13));
	}
	
}

/**
 * Fashion Slider
 */
 .fashion-slider {
	position: relative;

	.slick-track {
		-webkit-perspective: 2000;
	}
	
	.wrap {
		@include breakpoint(medium) {
			max-width: none;
			max-width: initial;
			width: 100%;
			padding: 0;
		}
	}
	
	.item {
		position: relative;
		height: 625px;
		min-height: 400px;
		
		@include breakpoint(1400px, medium) {
			height: calc(100vw * 0.4);
		}
		
		@include breakpoint(medium) {
			min-height: auto;
			min-height: initial;
			height: 400px;
		}
		
		@include breakpoint(x-small) {
			height: 300px;
		}
	}

	.image-link {
		display: block;
		height: 100%;
	}
	
	.wp-post-image {
		width: 100%;
		max-width: none;
		max-width: initial;
		height: inherit;
		will-change: initial;

		object-fit: cover;
		
		// For polyfill
		font-family: 'object-fit: cover;';

		&:hover {
			opacity: 1;
		}
	}
	
	.overlay-wrap {		
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		pointer-events: none;
	}

	.overlay {
		max-width: 680px;
		min-width: 50%;
		opacity: 0;
		will-change: opacity;
		pointer-events: auto;

		padding: 35px 45px;
		//box-shadow: 0 0 15px rgba(0, 0, 0, 0.01);
		box-shadow: 3px 3px 5px rgba(#000, 0.03); 
		box-sizing: border-box;

		background: rgba(#fff, 0.96);
		text-align: center;

		@include breakpoint(small) {
			max-width: 90%;
			min-width: 350px;
		}

		@include breakpoint(x-small) {
			padding: 20px 15px;
		}
	}

	.active .overlay {
		opacity: 1;
		animation: 0.8s fade-in-up-lg, 0.9s fade-in;
		animation-timing-function: cubic-bezier(0.32, 0.29, 0, 0.96);
		animation-fill-mode: both;
		animation-delay: 0.75s;
	}
	
	.post-meta {
		margin-bottom: 0;
	}
	
	.post-title {
		margin-top: 20px;
		margin-bottom: 20px;
		font-size: 33px;
		line-height: 1.3;
		
		@include breakpoint(small) {
			font-size: 24px;
		}
	}
	
	.post-date {
		@include breakpoint(tiny) {
			display: none;
		}
	}
	
	.slick-arrow {
		opacity: 0;
		visibility: hidden;
		transition-property: all;
	}

	.prev-arrow {
		left: 36px;
	}

	.next-arrow {
		right: 36px;
	}
	
	.slides:hover .slick-arrow {
		opacity: 1;
		visibility: visible;
	}
}