/* Widget: Posts */

.widget-posts {
	
	// Post li container
	.post {
		margin-bottom: 25px;
	}
	
	.post:last-child {
		margin-bottom: 0;
	}
	
	.image-link img {
		float: left;
		width: auto;
		margin: 0;
		margin-right: 24px;
	}
	
	.posts:not(.full) .image-link img {

		// Medium to large devices
		@include breakpoint(large, medium) {
			margin-right: 16px !important;
			max-width: 70px;
		} 
	}
	
	.content {
		overflow: hidden;
	}
	
	.post-meta {
		margin-bottom: 8px;
		margin-top: -2px;     // Clear some line-height
	
		.post-cat {
			margin-right: 10px;
			
			@include breakpoint(large, medium) {
				display: none;
			}
		}
	}
	
	.posts:not(.full) .meta-sep {
		display: none;
	}
	
	.post-title {
		margin: 0;
		padding: 0;
		display: block;
		font-family: $var-title-font;
		font-size: 14px;
		line-height: 1.6;
		
		&.limit-line {
			text-overflow: ellipsis;
			padding-right: 10px;
			
			// Medium to large devices need this not-truncated
			@include breakpoint(large, medium) {
				text-overflow: initial;
				white-space: initial;
			} 
		}
		
		em {
			font-style: normal;
		}
	}
	
	.excerpt {
		margin-top: 10px;
	}
	
	.excerpt > p {
		margin: 0;
		padding-right: 10px;
		
		color: #b4b4b4;
		font-size: 13px;
		letter-spacing: $var-text-tracking;
		line-height: 1;
		
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		
		-webkit-font-smoothing: antialiased;
	}
	
	// Meta below
	.post-title + .post-meta {
		margin-top: 11px;
		margin-bottom: 11px;
	}
	
	.content > :last-child {
		margin-bottom: 0;
	}
	
}

/* Alternate Large style */
.widget-posts .posts.large {
	
	.post {
		display: flex;
		margin-bottom: 30px;
		
		&:last-child {
			margin-bottom: 0;
		}
	}

	.image-link {
		flex: 0 0 auto;
	}
	
	img {
		width: 124px;
		height: 103px;
		object-fit: cover;
		
		// Polyfill
		font-family: 'object-fit: cover;';
	}
	
	.content {
		margin-top: -0.15em;
		align-self: center;
	}
	
	.post-title {
		font-size: 16px;
	}
}

.widget-posts .posts.full {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	counter-reset: posts;
	
	@include breakpoint(medium, small) {
		margin: 0 -15px;
	}
	
	> .post {
		@include breakpoint(medium, small) {
			width: 50%;
			float: left;
			padding: 0 15px;
			box-sizing: border-box;
		}
		
		@include breakpoint(small) {
			margin-left: auto;
			margin-right: auto;
			max-width: 480px;
		}
	}
	
	.counter:before {
		counter-increment: posts;
		content: counter(posts);
		position: absolute;
		bottom: 0;
		left: 0;
		padding: 0 10px;
		background: $var-main-color;
		color: #fff;
		font-size: 17px;
		font-family: $var-title-font;
		font-weight: 700;
		line-height: 28px;
		-webkit-font-smoothing: antialiased;
	}
	
	.post-title-alt {
		font-size: 20px;
	}
}