/**
 * Widget: Social
 */

.widget-social {
	text-align: center;
	
	.social-icons {
		margin-bottom: -5px;
	}
	
	.social-link {
		margin-right: 5px;
		margin-bottom: 5px;
		display: inline-block;
		border: 1px solid #e4e4e4;
		border-radius: 50%;
		box-sizing: border-box;
		width: 34px;
		height: 34px;		
		line-height: 34px;
		font-size: 14px;
		text-align: center;
	}
	
	// Google+ icon will not center horizontally
	.fa-google-plus {
		padding-left: 2px;
	}
	
	.social-link:hover {
		color: $var-main-color;
	}
}