/**
 * Widget: Call To Action boxes
 */
.widget-cta {
	
	.cta-box {
		position: relative;
		margin-bottom: 28px;
	}
	
	a, 
	img {
		display: block;
	}
	
	img {
		@include breakpoint(medium) {
			width: 100%;
			max-width: initial;
		}
	}
	
	.label {
		z-index: 1;
		position: absolute;
		top: 50%;
		left: 50%;
		max-width: 95%; // May not apply at all
		text-align: center;
		transform: translateY(-50%) translateX(-50%);
		padding: 6px 18px;
		border: 1px solid #fff;
		
		background: #fff;
		color: #454545;
		
		font-family: $var-title-font;
		font-size: 11px;
		font-weight: 600;
		line-height: 1.5;
		letter-spacing: 0.09em;
		text-transform: uppercase;
		transition: all 0.3s ease-in;
	}

	// Better sharpness on windows with grid
	@supports (display: grid) {
		.cta-box > a {
			display: grid;
			grid-template-columns: 1fr;
			grid-template-rows: 1fr;
		}

		img,
		.label {
			grid-column: 1/1;
			grid-row: 1/1;
		}

		.label {
			position: initial;
			max-width: initial;
			left: initial;
			top: initial;
			transform: none;
			align-self: center;
			justify-self: center;
		}
	}
	
}