//
// Skin variables, mixin, config.
// 

// Import essentials
@import '../../abstracts/_variables';
@import '../../abstracts/_utils';

// Variables for this skin
$skin-font: Lato, Arial, sans-serif;
$skin-font-alt: Montserrat, Arial, sans-serif;
$skin-color: #00a5b2;
$special-title-font: "Arima Madurai", Palatino, serif;
$skin-font-meta: "Segoe UI", Lato, Roboto, sans-serif;

// For CSS variables and editor mainly
$body-font: $skin-font;
$text-font: $skin-font;
$title-font: $skin-font;
$text-tracking: 0;

// Common elements
@mixin skin-elements {
	.modern-quote,
	.wp-block-quote.is-style-large {
		@include breakpoint(false, large) {
			font-size: 32px;
		}
	}
	
	blockquote {
		font-family: $special-title-font;
		font-size: 21px;
		color: #989898;
	}
}

@mixin skin-text {
	font-size: 14px;
	line-height: 1.86;
	-webkit-font-smoothing: antialiased;
}

@mixin skin-entry-content {}

@mixin skin-post-content {
	font-size: 15px;
	font-weight: 400;
	
	h1, h2, h3, h4, h5, h6 {
		@include bold-title;
	}
}

// ---

@mixin special-title {
	font-family: $special-title-font;
	font-weight: 600;
	color: #000;
}


@mixin bold-title {
	font-weight: 600;
}
