//
// Skin variables, mixin, config.
// 

// Import essentials
@import '../../abstracts/_variables';
@import '../../abstracts/_utils';

// Variables for this skin
$skin-font: "Nunito Sans", system-ui, sans-serif;
$skin-color: #e84d15;
$skin-font-alt: "HK Grotesk", system-ui, sans-serif;
$special-title-font: $skin-font-alt;

// For CSS variables and editor mainly
$body-font: $skin-font;
$text-font: $skin-font;
$title-font: $skin-font;
$text-tracking: 0;

// Common elements
@mixin skin-elements {
	.modern-quote,
	.wp-block-quote.is-style-large {
		color: #000;
	
		@include breakpoint(false, large) {
			font-size: 27px;
		}
	}
	
	.wp-block-pullquote {
		color: #000;
	}
	
	blockquote {
		font-family: "IBM Plex Serif", Georgia, serif;
		font-size: 21px;
		font-weight: 500;
		font-style: normal;
	}
}

@mixin skin-text {
	font-size: 15px;
	line-height: 1.7;
}

@mixin skin-entry-content {

	font-size: 17px;
	color: #3b3b3b;
	line-height: 1.71;

	p {
		margin-bottom: 1.65em;
	}
}

@mixin skin-post-content {
	h1, h2, h3, h4, h5, h6 {
		font-family: $skin-font-alt;
		font-weight: 700;
	}

	.wp-block-image figcaption,
	.wp-caption-text,
	figcaption {
		font-size: 14px;
		font-style: normal;
		color: #888;
	}
}

// ---