/**
 * Skin: Lifestyle
 */

// Note: Lifestyle skin uses selector override method on top of base CSS styling from style.scss

// Mixin
@mixin special-title {
	font-family: $special-title-font;
	font-weight: 700;
	color: #000;
}

// Base overrides
@import 'common';
@import 'base';

/**
 * General components and global changes
 */

*, 
:before, 
:after {
	-webkit-font-smoothing: antialiased;
}

%read-more-btn {
	padding: 0;
	padding-bottom: 4px;
	border: 0;
	background: transparent;
	text-transform: none;
	font-family: $skin-font-alt;
	font-size: 14px;
	font-weight: 600;
	letter-spacing: 0;
	color: #000;
	border-bottom: 1px solid var(--main-color);

	&:hover {
		background: inherit;
		border-color: #000;
		color: inherit;
		opacity: 0.8;
	}
}

::selection { 
	background: rgba($skin-color, 0.2);
}

::-moz-selection {
	background: rgba($skin-color, 0.2);
}

h1 { font-size: 29px; }
h2 { font-size: 26px; }
h3 { font-size: 22px; }

input[type="submit"], 
button, input[type="button"], 
.button {
	font-family: $skin-font-alt;
	font-size: 12px;
	letter-spacing: 0.05em;
}

input,
textarea,
select {
	color: #9c9c9c;
	font-size: 14px;
}

@include skin-elements;

.section-head {
	.title {
		font-size: 13px;
		font-weight: 700;
		letter-spacing: 0.05em;
		color: #161616;
	}
}
 
.post-meta {
	font-size: 12px;
	font-family: $skin-font-alt;
	font-weight: 500;

	.text-in {
		//font-family: $special-title-font;
		//color: #9c9c9c;
	}

	.post-cat > a {
		font-weight: 600;
		letter-spacing: 0.05em;
	}
	
	time {
		color: #aaa;
	}

	time,
	.comments {
		font-weight: inherit;
		letter-spacing: 0.05em;
	}
}

.post-meta-a,
.post-meta-alt {
	margin-left: auto;
	margin-right: auto;
}

.post-meta-b {
	margin-bottom: 34px;
	
	.date-link,
	.comments {
		color: #505050;
	}
	
	.post-title-alt {
		margin: 17px auto;
	}

	.meta-sep {
		padding: 0 2px;
	}
}

.post-title,
.post-title-alt {
	@include special-title;
	line-height: 1.3;

	a {
		color: #000;
	}
}

.post-title-alt {
	margin-top: 16px;
	margin-bottom: 16px;
	line-height: 1.285;
	font-size: 27px;
	
	@include breakpoint(x-small) {
		font-size: 24px;
	}
	
	&:after {
		display: none;
		width: 30px;
	}
}

.text,
.post-content,
.textwidget {
	@include skin-text;
}

// Pagination changes
.main-pagination {
	.next a,
	.previous a {
		letter-spacing: 0.15em;
	}

	.load-button {
		font-family: $skin-font-alt;
		min-width: initial;
		padding: 0 40px;
		border-color: var(--main-color);
		background: var(--main-color);
		color: #fff;
		font-size: 14px;
		font-weight: 700;
		line-height: 45px;
		letter-spacing: 0.075em;
		
		&:hover {
			opacity: 0.9;
		}

		.fa:not(.fa-spin) {
			display: none;
		}
	}
}


/**
 * Header and Nav
 */

.navigation {
	font-size: 13px;
	font-weight: 600;
	font-family: $skin-font-alt;
	letter-spacing: 0.05em;

	.menu > li:first-child {
		//margin-left: -19px;
	}
	
	.menu > li > a {
		//padding: 0 19px;
	}
	
	.menu > li li a {
		color: #414141;
		font-size: 12px;
	}
	
	.menu > li li a,
	.mega-menu .sub-cats a {
		font-weight: 500;
		letter-spacing: 0.09em;
	}
	
	.mega-menu .recent-posts .post-title {
		margin-bottom: 9px;
		font-size: 15px;
		font-weight: 600;
		letter-spacing: 0;
	}
}

//
// Compact header
//
.main-head.compact {
	.menu > li > a {
		font-size: 14px;
		font-weight: 700;
	}

	.menu > li li a,
	.mega-menu .sub-cats a {
		font-size: 15px;
		font-weight: 600;
	}
}

.main-head.top-below {
	.menu > li > a {
		font-size: 14px;
		font-weight: 600;
	}

	.menu li li a {
		font-size: 13px;
	}
}

// Simple header
.navigation.simple { 
	.menu > li > a {
		@include breakpoint(null, large) {
			font-size: 17px;
			font-weight: 700;
		}
	}
}

.main-head.simple-boxed {
	.menu > li > a {
		font-weight: 600;
	}
}

// All dark topbars color change
.main-head { 
	.dark {
		.top-bar-content {
			background: $skin-color;
			border-color: $skin-color;
			color: #fafafa;
		}

		.cart-action a,
		.search-field,
		.search-submit,
		.social-icons a {
			color: inherit;
		}

	}
}

.search-action {
	.search-field {
		width: 65px;
	}
}

.top-bar.dark {
	.posts-ticker {
		a {
			color: #f1f1f1;
		}

		.heading {
			font-weight: 700;
		}
	}
}

// Compact header topbar height
.main-head.compact {
	.top-bar-content {
		line-height: 38px;
		height: 38px;
	}

	.posts-ticker {
		text-transform: none;
		letter-spacing: 0;

		@include breakpoint(false, small) {
			display: inline-flex;
		}

		.heading {
			padding: 0 12px;
			font-size: 12px;
			font-weight: 700;
			text-transform: uppercase;
			letter-spacing: 0.075em;
			line-height: inherit;
		}

		a {
			font-family: $special-title-font;
			font-size: 13px;
			font-weight: 500;
		}
	}

	.dark .posts-ticker {
		.heading {
			background: #fff;
			color: $skin-color;
		}

		a {
			color: #fff;
		}
	}
}

.mobile-menu li a {
	letter-spacing: 0.12em;
}

.the-wrap.head {
	margin-bottom: 32px;
	padding: 32px 0;
}

/**
 * Posts adjustments
 */

.posts-dynamic {
	.grid-post {
		margin-bottom: 50px;
	}
}

.the-post-header .post-meta-b,
.large-post {
	.post-title,
	.post-title-alt {
		max-width: 88%;
	}
}

// Large Post 
.large-post { 
	.featured img {
		margin-bottom: 30px;
	}
	
	.author {
		letter-spacing: 0;
	}
}

.large-post-b {
	.read-more a {
		@extend %read-more-btn;
		
		&:hover {
			background: #000;
			color: #fff;
		}
			
		&:before {
			display: none;
		}
		
		span {
			padding: 0;
			background: transparent;
		}
	}
}

.large-post-b .post-footer {
	letter-spacing: 0;
	padding-bottom: 2px;
	border-bottom: 1px solid #ebebeb;
	
	.author a {
		letter-spacing: 0.15em;
	}
	
	.number {
		font-size: 13px;
		font-weight: 400;
	}
	
	.social-icons a {
		font-size: 14px;
	}
}

.post-footer {
	margin-top: 45px;
	
	.read-more {
		font-size: 11px;
		font-weight: 900;
		letter-spacing: 0.1em;
	}
}

// List posts
.posts-dynamic.list + .main-pagination {
	.load-button {
		width: 100%;
		box-sizing: border-box;
	}
}

.list-post {
	.post-excerpt {
		line-height: 1.7;
	}
}

// List post b
.list-post-b {

	.post-title {
		max-width: 100%;
		font-size: 22px;
		line-height: 1.3;
	}

	.read-more-btn {
		@extend %read-more-btn;		
	}

	.post-footer {
		margin-top: 22px;
	}
}

.grid-post { 
	.post-title-alt {
		font-size: 22px;
	}

	.post-meta-b {
		margin-top: 26px;
	}
}

.grid-cols-2 {
	.post-title-alt {
		//font-size: 23px;
	}
}

// Grid style 2
.grid-post-b,
.news-block .grid-post {

	.meta-title {
		position: relative;
	}

	.post-meta-b {
		margin-bottom: 20px;

		.post-title-alt:after {
			display: block;
		}

		.text-in {
			display: none;
		}

		.post-cat {
			position: absolute;
			width: 100%;
			top: 0;
			transform: translateY(calc(-100% - 26px));
			display: flex;
			align-items: center;
			justify-content: center;
			pointer-events: none;
		}

		.category {
			padding: 0 9px;
			padding-top: 2px;
			background: #fff;
			line-height: 25px;
			font-size: 12px;
			pointer-events: auto;

			&:hover {
				opacity: 1;
			}
		}
	}

	@include breakpoint(false, medium) {
		.post-title-alt,
		.post-excerpt {
			max-width: 70%;
			margin-left: auto;
			margin-right: auto;
		}

		.post-excerpt {
			max-width: 85%;
		}
	}
}


// Grid Post B
.grid-post-b .read-more-btn {
	@extend %read-more-btn;
}

.overlay-post {
	.post-title {
		// 1200px+
		@include breakpoint(false, medium) {
			margin-top: 18px;
			margin-bottom: 18px;
			font-size: 30px;
		}
	}
}

// News block
.small-post {
	.post-title {
		font-family: $skin-font-alt;
		font-size: 15px;
	}
}

.news-block {
	.content,
	.post-content {
		text-align: center;
	}

	.posts-list {
		margin-bottom: -38px;
	}

	.small-post {
		margin-bottom: 38px;

		img {
			margin-bottom: 22px;
		}

		.post-title {
			font-size: 17px;
			font-weight: 700;
			line-height: 1.35;

			@include breakpoint(false, medium) {
				max-width: 85%;
				margin-left: auto;
				margin-right: auto;
			}
		}

		.post-meta {
			display: none;
		}
	}
}


/**
 * Single Post 
 */

.single-cover .overlay {
	.post-by {
		font-weight: 500;
		letter-spacing: 0.14em;
	}

	.post-title {
		@include breakpoint(null, large) {
			font-size: 36px;
		}
	}
}

.single-creative { 
	.featured .post-meta {
		font-size: 13px;
	}
}

.single-magazine {
	.post-top {
		.post-title {
			font-size: fluid-size((tiny: 27px, large: 34px));
			-webkit-text-stroke: 0.3px #444;

			@include breakpoint(null, large) {
				max-width: 80%;
				font-size: 37px;
			}
		}

		.sub-title {
			margin-bottom: 19px;

			@include breakpoint(small) {
				font-size: 16px;
				line-height: 1.5;
			}
		}
	}

	.post-meta {
		time {
			font-weight: 600;
		}
	}

	.cat-label a {
		font-family: $skin-font-alt;
		font-size: 12px;
		font-weight: 700;
		letter-spacing: 0.05em;
		line-height: 23px;
	}
}

.the-post-header .post-title, 
.the-post-header .post-title-alt {
	font-size: 31px;
}


// Magazine share
.post-share-b {
	.service {
		font-weight: 600;
	}
}

.post-content {
	@include skin-post-content;
}

.entry-content {
	@include skin-entry-content;
}

.tag-share {
	.post-tags a {
		letter-spacing: 0.075em;
		font-weight: 700;
	}
}

.post-share-icons a {
	color: #161616;
}

// Author box
.author-box {
	.author > a {
		font-family: $skin-font-alt;
		font-size: 22px;
	}
}

// Related posts
.related-posts {
	.post-title {
		margin-bottom: 12px;
		font-size: 17px;
		font-weight: 600;
		letter-spacing: 0;
	}
	
	.post-meta {
		font-size: 11px;
	}

	&.grid-2 {
		.post-title {
			margin-bottom: 12px;
			font-size: 19px;
			font-weight: 700;
		}
	}
}

// Next/prev posts
.post-nav {
	.post-title {
		margin-bottom: 8px;
		font-family: inherit;
		line-height: 1.3;
		font-weight: 600;
	}
}

// Comments list
.comments-list {
	.comment-author {
		font-family: $skin-font-alt;
		font-size: 17px;
	}

	.comment-meta {
		font-family: $skin-font-alt;
	}

	.comment-time {
		color: #a0a0a0;
		font-size: 11px;
	}

	.comment-text {
		margin-top: 9px;
	}
}

// Sticky share
.post-share-float {
	.share-text {
		font-weight: 600;
		letter-spacing: 0.075em;
	}
}


/**
 * Home & Archives changes
 */
.subscribe-box {
	margin-top: -15px;
	padding-left: 27px;
	padding-right: 32px;

	.text {
		font-size: 14px;
	}

	.input {
		height: (41/13) * 1em;
		width: 270px;

		@include breakpoint(false, small) {
			margin-right: 15px;
		}
	}

	.button {
		width: auto;
		padding: 15px 34px;
		background: #000;
	}
}

.block-heading {
	margin-top: 0;
	margin-bottom: 55px;
	
	.title {
		background: transparent;
		font-size: 24px;
		font-weight: 800;
		letter-spacing: 0;
	}
	
	.title:before,
	.title:after {
		display: none;
	}
	
	&:before {
		display: none;
	}
	
	&:after {
		top: 100%;
		left: 50%;
		margin-top: 12px;
		margin-left: -18px;
		width: 30px;
		height: 1px;
		background: #000;
	}
}

.posts-carousel {
	.post-link {
		margin-bottom: 18px;
	}
	
	.post-title {
		margin-top: 16px;
		margin-bottom: 16px;
		font-size: 20px;
	}

	.post-meta {
		font-size: 10px;
	}
	
}

// Archive heading
.archive-head {
	.title {
		font-weight: 700;
	}
}

// Default / Stylish slider
.slider-overlay {
	.heading {
		@include special-title;
		line-height: 1.2;
	}
	
	.excerpt {
		font-size: 14px;
		letter-spacing: 0;
	}
}

.classic-slider {
	.heading {
		font-size: 24px;
		margin-bottom: 8px;
	}
}

// Common sliders
.common-slider {
	.post-title,
	.heading {
		@include special-title;
		line-height: 1.3;
	}

	.category {
		font-family: $skin-font-alt;
		font-weight: 700;
		letter-spacing: 0.05em;
	}
}

// Fashion slider
.fashion-slider {
	.post-title {
		margin-top: 18px;
		margin-bottom: 18px;

		// From 1200px+
		@include breakpoint(false, large) {
			font-size: 29px;
		}
	}

	.overlay {
		@include breakpoint(false, small) {
			max-width: 645px;
		}
	}

	.category {
		//line-height: 15px;
	}
}

.carousel-slider {
	.heading {
		font-size: 21px;

		@include breakpoint(false, small) {
			max-width: 80%;
			margin-left: auto;
			margin-right: auto;
		}
	}
}


/**
 * Sidebar adjustments
 */
.sidebar {
	.widget-title {
		border-color: $skin-color;
		font-weight: 700;
	}
	
	.widget_mc4wp_form_widget,
	.widget-subscribe {
		padding: 30px;
		background: #f7f7f7;
	}
}

.widget-cta {
	
	.label {
		padding: 8px 18px;
		font-weight: 500;
		font-size: 11px;
		color: #161616;
		letter-spacing: 0.15em;
	}

	.blocks > & {
		padding-bottom: 50px - 15px;
		border-bottom: 1px solid #efefef;
		margin-bottom: 70px;
	}
}

.widget_mc4wp_form_widget,
.widget-subscribe {
	.message {
		letter-spacing: 0;
		font-size: 14px;
	}

	p:last-of-type {
		margin-top: -17px;
	}
}

.widget-posts {
	.post-title {
		font-family: $skin-font-alt;
		font-size: 15px;
		font-weight: 600;
		line-height: 1.36;
		letter-spacing: 0;
	}
	
	.posts.large {
		.post-title {
			font-size: 17px;
		}
	}

}

/* Footer Changes */
.upper-footer {
	
	.widget-title {
		margin-bottom: 42px;
		color: #222;
		font-size: 16px;
		font-weight: 700;
	}
	
	.widget-posts .post-meta {
		color: #707070;
	}

	.widget-about .about-text {
		font-size: 14px;
	}
}

.lower-footer {
	.copyright {
		font-size: 14px;
	}
	
	.social-icons {
		letter-spacing: 0.12em;
	}
}

.main-footer.stylish { 
	.copyright a {
		color: $skin-color;
	}
}

.main-footer.dark {
	background: #020202;

	.widget-title {
		font-weight: 800;
	}

	.copyright {
		font-weight: 500;
	}

	.post-date {
		color: inherit;
	}

	.post-title,
	.product-title,
	.posts .post-title {
		//font-weight: 400;
	}
}

.main-footer.bold { 
	.links .menu-item {
		font-size: 13px;
		font-weight: 600;
		letter-spacing: 0.075em;
	}
}