//**
// Single Page uses several other components: post-content
// 
// Partials: comments, author-box, related-posts 
//

/**
 * The Single Post
 */
.the-post {

	.featured {
		margin-bottom: 36px;
	}

	.featured img {
		display: block;
		width: 100%;
	}
	
	.featured-vid {
		margin-bottom: 36px;
	}
	
	.the-post-header {
		text-align: center;
		
		.post-title {
			margin: 9px 0;
		}

		> :last-child:not(.featured) {
			margin-bottom: 36px;
		}
	}
	
	.the-post-meta {
		margin-bottom: 26px;
		
		// For multiple categories in meta
		.post-cat a + a:before {
			content: "/";
			margin-left: 6px;
			margin-right: 9px;
			color: #c3c3c3;
			font-size: 8px;
		}
	}
}

.the-post-foot {
	margin-top: 90px;
	
	@include breakpoint(small) {
		margin-top: 65px;
	}
}

/* Tags and sharing */
.tag-share {
	font-family: $var-title-font;
	
	.post-tags {
		float: left;
		margin-top: -8px;
		max-width: 70%;
		
		@include breakpoint(small) {
			float: none;
			max-width: 100%;
			text-align: center;
			margin-bottom: 15px;
		}
	}
	
	.post-tags a {
		display: inline-block;
		margin-top: 8px;
		margin-right: 8px;
		padding: 6px 18px;
		border: 1px solid #ebebeb;
		
		color: #454545;
		font-size: 11px;
		font-weight: 600;
		letter-spacing: 0.095em;
		line-height: 1.5;
		text-transform: uppercase;
	}
	
	.post-tags a:hover {
		color: $var-main-color;
	}
	
	// Only push share icons to the right if tags are active
	.post-tags + .post-share {
		float: right;
		margin-bottom: 25px;
		
		@include breakpoint(small) {
			float: none;
			text-align: center;
			
			.post-share-icons {
				display: inline-block;
			}
		}
	}
	
	.post-share {
		@include breakpoint(small) {
			margin-bottom: 25px;
		}
	}	
}


.post-pagination {
	margin-bottom: 45px;
}

// Limited use post header top
.post-top {
	.cat-label {
		position: static;
	}
}


/**
 * Single Post: Cover Style 
 */
 
.single-cover {
	
	.featured {
		position: relative;
		margin-top: -10px;
		margin-bottom: 45px;
		
		@include breakpoint(medium) {
			margin-left: -50px;
			margin-right: -50px;
		}
		
		@include breakpoint(small) {
			margin-left: -30px;
			margin-right: -30px;
		}
		
		@include breakpoint(x-small) {
			margin-left: -25px;
			margin-right: -25x;
		}
		
		&:before {
			content: "";
			position: absolute;
			z-index: 1;
			width: 100%;
			height: 100%;
			background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(128,128,128,0) 50%,rgba(0,0,0,0.35) 100%);
			pointer-events: none;
			
			@include breakpoint(medium) {
				background: linear-gradient(to bottom, rgba(#fff, 0) 30%, rgba(#000, 0.4) 100%);
			}
		}
		
		img {
			display: block;
			
			@include breakpoint(small) {
				width: 100%;
				min-height: 250px;
				object-fit: cover;
				font-family: 'object-fit: cover'; 
			}
		}
	}
	
	.overlay {
		position: absolute;
		z-index: 2;
		width: 100%;
		bottom: 0;
		left: 0;
		padding: 40px;
		box-sizing: border-box;
		color: #fff;
		
		@include breakpoint(x-small) {
			padding: 30px;
			padding-bottom: 20px;
		}
		
		.post-title {
			margin-top: 12px;
			margin-bottom: 12px;
			color: inherit;
			font-size: 27px;
			
			@include breakpoint(small) {
				font-size: 24px;
			}
			
			@include breakpoint (x-small) {
				font-size: 21px;
			}
		}
		
		time {
			color: inherit;
		}

		.post-by {
			font-weight: 500;
			letter-spacing: 0.075em; 
			
			a {
				color: inherit;
			}
			
			&:after {
				content: "-";
				margin: 0 9px;
			}
		}
		
		.post-cat a {
			display: inline-block;
			padding: 0 7px;
			margin-right: 5px; // if multiple
			background: $var-main-color;
			color: #fff;
			line-height: 18px;
			letter-spacing: 0.11em;
		}
		
		// Post Share
		.post-share {
			float: right;
			margin-right: -5px;
			margin-top: -7px;
			
			@include breakpoint(tiny) {
				display: none;
			}
			
			.counters {
				display: none;
			}
			
			a {
				border: 0;
				color: #fff;
				width: 25px;
				height: 23px;
				line-height: 23px;
				font-size: 13px;
			}
		}
	}
}

/**
 * Single Post: Modern Dynamic Style for full-width posts
 */
.the-post-modern {
	margin: 0 auto;
	
	@include breakpoint(medium) {
		width: 100%;
	}
	
	// Only for large+ devices till infinity
	@include breakpoint(false, large) {
		width: percentage(790/1170);

		header .featured {
			margin-left: -190px;
			margin-right: -190px;
			width: auto;
			width: calc(100% + 380px);
			max-width: 100vw;
		}
	}

	// Until large, set a max width limit
	@include breakpoint(large) {
		max-width: 790px;
	}

	.the-post {
		.featured {
			margin-bottom: 50px;

			img {
				@include breakpoint(large) {
					width: 100vw;
					max-width: 100vw;
					margin-left: calc(50% - 50vw) !important;
				}
			}
		}
	}
}

/**
 * Single Post: Magazine
 */
.single-magazine {
	
	.post-top {
		.post-title {
			margin-top: 18px;
			margin-bottom: 15px;
			font-size: 36px;
			line-height: 1.3;
			
			@include breakpoint(large) {
				font-size: 25px;
			}
		}
		
		.sub-title {
			margin-top: -4px;
			margin-bottom: 16px;
			line-height: 1.4;
			font-size: 17px;
			color: #808080;
			-webkit-font-smoothing: antialiased;
		}
		
		.the-post-meta {
			margin-bottom: 35px;
		}
	}
	
	.the-post-foot {
		margin-top: 0;
	}
	
	.tag-share {
		margin-top: 60px;
	}

	//
	// Alt style for "Spacious Style" in full width
	//
	&.the-post-modern {
		.post-top {
			text-align: center;
	
			.cat-label {
				display: inline-block;
			}
	
			.sub-title {
				max-width: 600px;
				margin-left: auto;
				margin-right: auto;
				line-height: 1.6;
			}
			
			.post-title {
				font-size: 38px;
				line-height: 1.25;
				margin-left: auto;
				margin-right: auto;
				margin-bottom: 30px;
				max-width: 790px;
	
				@include breakpoint(1500px) {
					font-size: fluid-size((medium: 30px, 1500px: 38px));
				}
	
				@include breakpoint(small) {
					font-size: 26px;
				}
			}
	
			.post-share-b {
				display: flex;
				justify-content: center;
			}
		}
	
		.post-share-b {
			.show-more {
				line-height: 41px;
				height: 100%;
			}
		}
	}
}

/**
 * Single Post: Creative Large 
 */
.single-creative {
	
	.main {
		margin-top: 50px;
	}
	
	.featured {
		position: relative;
		height: 663px;
		
		@include breakpoint(1500px, small) {
			height: calc(100vw * 0.44);
		}
		
		@include breakpoint(small) {
			min-height: initial;
			height: 400px;
		}
		
		@include breakpoint(x-small) {
			height: 300px;
		}

		&:before {
			content: "";
			position: absolute;
			z-index: 1;
			width: 100%;
			height: 100%;
			background: rgba(#0f0f0f, 0.3);
			pointer-events: none;
		}
		
		.image-link {
			display: block;
			width: 100%;
			height: 100%;
		}
		
		.wp-post-image {
			display: block;
			width: 100%;
			height: 100%;
			object-fit: cover;
			font-family: 'object-fit: cover';
		}
			
		.overlay {
			position: absolute;
			z-index: 2;
			max-width: 720px;
			margin: 0 auto;
			width: 95%;
			top: 50%;
			left: 50%;
			transform: translateX(-50%) translateY(-50%);
			padding: 40px;
			box-sizing: border-box;
			color: #fff;
			text-align: center;
			
			@include breakpoint(x-small) {
				padding: 30px;
				padding-bottom: 20px;
			}
		}
		
		.post-meta {
			font-size: 11px;
		}

		time {
			color: inherit;
		}
		
		.post-title {
			margin-top: 25px;
			margin-bottom: 23px;
			color: inherit;
			font-size: 46px;
			line-height: 1.1;
			
			@include breakpoint(small) {
				font-size: 31px;
			}
		
			@include breakpoint(x-small) {
				font-size: 28px;
			}
		}
		
		.post-by {
			font-weight: 600;
			letter-spacing: 0.06em; 
			
			a {
				color: inherit;
			}
			
			&:after {
				content: "-";
				margin: 0 5px;
			}
		}
		
		.category {
			display: inline-block;
			padding: 0 8px;
			margin-right: 5px; // if multiple
			background: #000;
			color: #fff;
			font-weight: 600;
			line-height: 20px;
			letter-spacing: 0.06em;
			
			&:last-child {
				margin-right: 0;
			}
		}
		
		// Post Share
		.post-share {
			display: none;
		}
	}
	
	.has-gallery {
		&:before {
			display: none;
		}
		
		&:hover .slick-slide:after {
			opacity: 0;
		}
		
		.overlay,
		.slick-slide:after {
			transition: 0.3s ease-in-out;
			will-change: opacity;
		}
		
		&:hover .overlay {
			opacity: 0;
			visibility: hidden;
		}
	}
	
	.parallax .image-link > img {
		visibility: hidden;
	}

	.parallax .wp-post-image {
		transition-property: opacity;
	}
}