/**
 * Visual Composer changes
 */

.page-content .block.last-block,
.page-content .blocks .last-block {
	margin-bottom: 0;
} 

.vc_column_container > .vc_column-inner {
	padding: 0 !important;
}

.ts-row[data-vc-stretch-content] > .vc_column_container {
	padding-left: 0;
	padding-right: 0;
}

// To prevent a flash of sidebar width change while JS loads
.wpb_wrapper > .sidebar {
	padding-left: 30px;
}

.vc_btn-content {
	box-sizing: border-box;
}

.the-post > .blocks:last-child > .wpb_column .block:last-child {
    margin-bottom: 0;
}