/**
 * Skin: Miranda 
 */
:root {
  --main-color: #f1868a;
  --main-color-rgb: 241, 134, 138;
}

/**
 * Change Main Color
 */
input[type="submit"],
button,
input[type="button"],
.button,
.cart-action .cart-link .counter,
.main-head.compact .posts-ticker .heading,
.single-cover .overlay .post-cat a,
.comments-list .bypostauthor .post-author,
.cat-label a:hover,
.cat-label.color a,
.post-thumb:hover .cat-label a,
.products-block .more-link:hover,
.beauty-slider .slick-dots .slick-active button,
.carousel-slider .category,
.grid-b-slider .category,
.page-links .current,
.page-links a:hover,
.page-links > span,
.widget-posts .posts.full .counter:before,
.wp-block-button .wp-block-button__link,
.woocommerce span.onsale,
.woocommerce a.button,
.woocommerce button.button,
.woocommerce input.button,
.woocommerce #respond input#submit,
.woocommerce a.button.alt,
.woocommerce a.button.alt:hover,
.woocommerce button.button.alt,
.woocommerce button.button.alt:hover,
.woocommerce input.button.alt,
.woocommerce input.button.alt:hover,
.woocommerce #respond input#submit.alt,
.woocommerce #respond input#submit.alt:hover,
.woocommerce a.button:hover,
.woocommerce button.button:hover,
.woocommerce input.button:hover,
.woocommerce #respond input#submit:hover,
.woocommerce nav.woocommerce-pagination ul li span.current,
.woocommerce nav.woocommerce-pagination ul li a:hover,
.woocommerce .widget_price_filter .price_slider_amount .button {
  background: #f1868a;
}

blockquote:before,
.main-color,
.top-bar .social-icons a:hover,
.navigation .menu > li:hover > a,
.navigation .menu > .current-menu-item > a,
.navigation .menu > .current-menu-parent > a,
.navigation .menu > .current-menu-ancestor > a,
.navigation li:hover > a:after,
.navigation .current-menu-item > a:after,
.navigation .current-menu-parent > a:after,
.navigation .current-menu-ancestor > a:after,
.navigation .menu li li:hover > a,
.navigation .menu li li.current-menu-item > a,
.tag-share .post-tags a:hover,
.post-share-icons a:hover,
.post-share-icons .likes-count,
.author-box .author > span,
.comments-area .section-head .number,
.comments-list .comment-reply-link,
.comment-form input[type=checkbox],
.main-footer.dark .social-link:hover,
.lower-footer .social-icons .fa,
.archive-head .sub-title,
.social-share a:hover,
.social-icons a:hover,
.post-meta .post-cat > a,
.post-meta-c .post-author > a,
.large-post-b .post-footer .author a,
.trendy-slider .post-cat a,
.main-pagination .next a:hover,
.main-pagination .previous a:hover,
.main-pagination.number .current,
.post-content a,
.textwidget a,
.widget-about .more,
.widget-about .social-icons .social-btn:hover,
.widget-social .social-link:hover,
.wp-block-pullquote blockquote:before,
.egcf-modal .checkbox,
.woocommerce .star-rating:before,
.woocommerce .star-rating span:before,
.woocommerce .amount,
.woocommerce .order-select .drop a:hover,
.woocommerce .order-select .drop li.active,
.woocommerce-page .order-select .drop a:hover,
.woocommerce-page .order-select .drop li.active,
.woocommerce .widget_price_filter .price_label .from,
.woocommerce .widget_price_filter .price_label .to,
.woocommerce div.product div.summary p.price,
.woocommerce div.product div.summary span.price,
.woocommerce #content div.product div.summary p.price,
.woocommerce #content div.product div.summary span.price {
  color: #f1868a;
}

.products-block .more-link:hover,
.beauty-slider .slick-dots .slick-active button,
.page-links .current,
.page-links a:hover,
.page-links > span,
.woocommerce nav.woocommerce-pagination ul li span.current,
.woocommerce nav.woocommerce-pagination ul li a:hover {
  border-color: #f1868a;
}

.woocommerce .widget_price_filter .ui-slider .ui-slider-handle {
  background-color: #f1868a;
}

.post-title-alt:after,
.block-head-b .title {
  border-bottom: 1px solid #f1868a;
}

.widget_categories a:before,
.widget_product_categories a:before,
.widget_archive a:before {
  border: 1px solid #f1868a;
}

/* Change text / contrast font */
body,
input,
textarea,
select,
.archive-head .description,
.text,
.post-meta .text-in,
.post-content,
.textwidget,
.widget_categories a,
.widget_product_categories a,
.widget_archive a,
.woocommerce .woocommerce-message,
.woocommerce .woocommerce-error,
.woocommerce .woocommerce-info,
.woocommerce form .form-row,
.woocommerce .woocommerce-noreviews,
.woocommerce #reviews #comments ol.commentlist .description,
.woocommerce-cart .cart-empty,
.woocommerce-cart .cart-collaterals .cart_totals table {
  font-family: "Source Sans Pro", Arial, sans-serif;
  letter-spacing: 0;
  -webkit-font-smoothing: initial;
}

/* Change main body and heading font */
h1,
h2,
h3,
h4,
h5,
h6,
input[type="submit"],
button,
input[type="button"],
.button,
blockquote cite,
blockquote .wp-block-pullquote__citation,
.top-bar-content,
.search-action .search-field,
.main-head .title,
.navigation,
.tag-share,
.post-share-b .service,
.post-share-float .share-text,
.author-box,
.comments-list .comment-content,
.post-nav .label,
.main-footer.dark .back-to-top,
.lower-footer .social-icons,
.main-footer .social-strip .social-link,
.main-footer.bold .links .menu-item,
.main-footer.bold .copyright,
.archive-head,
.cat-label a,
.section-head,
.post-title-alt,
.post-title,
.block-heading,
.block-head-b,
.block-head-c,
.small-post .post-title,
.likes-count .number,
.post-meta,
.grid-post-b .read-more-btn,
.list-post-b .read-more-btn,
.post-footer .read-more,
.post-footer .social-share,
.post-footer .social-icons,
.large-post-b .post-footer .author a,
.products-block .more-link,
.main-slider,
.slider-overlay .heading,
.large-slider,
.large-slider .heading,
.grid-slider .category,
.grid-slider .heading,
.carousel-slider .category,
.carousel-slider .heading,
.grid-b-slider .heading,
.bold-slider,
.bold-slider .heading,
.main-pagination,
.main-pagination .load-button,
.page-links,
.post-content .read-more,
.widget-about .more,
.widget-posts .post-title,
.widget-posts .posts.full .counter:before,
.widget-cta .label,
.social-follow .service-link,
.widget-twitter .meta .date,
.widget-twitter .follow,
.widget_categories,
.widget_product_categories,
.widget_archive,
.wp-block-button .wp-block-button__link,
.mobile-menu,
.woocommerce .main .button,
.woocommerce .quantity .qty,
.woocommerce nav.woocommerce-pagination,
.woocommerce-cart .post-content,
.woocommerce .woocommerce-ordering,
.woocommerce-page .woocommerce-ordering,
.woocommerce ul.products,
.woocommerce.widget,
.woocommerce div.product,
.woocommerce #content div.product,
.woocommerce-cart .cart-collaterals .cart_totals .button,
.woocommerce .checkout .shop_table thead th,
.woocommerce .checkout .shop_table .amount,
.woocommerce-checkout #payment #place_order {
  font-family: "Source Sans Pro", Arial, sans-serif;
}

/* Adjust text color */
.mega-menu .recent-posts .post-title,
.text,
.post-footer .author a,
.post-footer .read-more-link,
.post-content,
.widget-cta .label,
.textwidget,
.tagcloud a,
.widget_categories a,
.widget_product_categories a,
.widget_archive a {
  color: #666;
}

/* Remove uppercase text on several elements */
.navigation.inline .menu > li li a,
.navigation.inline .mega-menu .sub-cats a,
.navigation.simple,
.author-box .author > a,
.comments-list .comment-author,
.post-title-alt,
.post-title,
.block-head-c .title,
.slider-overlay .heading,
.large-slider .heading,
.grid-slider .heading,
.carousel-slider .heading,
.grid-b-slider .heading,
.bold-slider .heading,
.main-pagination.number,
.post-content h1,
.textwidget h1,
.post-content h2,
.textwidget h2,
.post-content h3,
.textwidget h3,
.post-content h4,
.textwidget h4,
.post-content h5,
.textwidget h5,
.post-content h6,
.textwidget h6,
.widget_calendar tfoot a,
.woocommerce ul.products li.product,
.woocommerce ul.products li.product .product-cat,
.woocommerce ul.products .product_type_external,
.woocommerce ul.products .added_to_cart,
.woocommerce .widget_price_filter .price_slider_amount,
.woocommerce ul.cart_list li a,
.woocommerce ul.product_list_widget li a,
.woocommerce.widget_shopping_cart .total > strong,
.woocommerce div.product .product_title,
.woocommerce #content div.product .product_title,
.woocommerce div.product .product_meta,
.woocommerce #content div.product .product_meta,
.woocommerce #reviews #comments ol.commentlist li .meta strong,
.woocommerce #reviews .comment-form-rating,
.woocommerce-cart table.cart .label,
.woocommerce-cart table.cart .product-name > a,
.woocommerce-cart table.cart .product-cat a,
.woocommerce .checkout .shop_table thead th {
  text-transform: none;
}

/**
 * Header and Nav
 */
.top-bar .posts-ticker {
  font-size: 10px;
  font-family: "Noto Sans", Arial, sans-serif;
}

.top-bar .posts-ticker .heading {
  font-weight: 400;
}

.top-bar.dark .posts-ticker {
  color: #aaa;
}

.top-bar.dark .posts-ticker a {
  color: #aaa;
}

.search-action .search-field {
  font-size: 12px;
}

.main-head.nav-below-b .dark .social-icons a {
  color: #aaa;
}

.main-head.nav-below-b .title {
  padding: 70px 0;
}

/* Navigation Adjustments */
.navigation {
  color: #535353;
  letter-spacing: 0.16em;
  font-weight: 400;
  font-family: "Noto Sans", Arial, sans-serif;
}

.navigation .menu-item-has-children > a:after {
  color: #d8d8d8 !important;
  font-size: 13px;
  -webkit-font-smoothing: initial;
}

.navigation .menu > li > a {
  color: #111;
  padding: 0 25px;
  font-size: 12px;
  letter-spacing: 0.18em;
}

.navigation .menu > li li a,
.navigation .mega-menu .sub-cats a {
  font-size: 10px;
  letter-spacing: 0.16em;
  font-weight: 400;
}

.navigation .menu > li li a {
  padding: 8px 17px;
}

.navigation .menu ul .menu-item-has-children > a:after {
  color: #d8d8d8;
  font-size: 12px;
  -webkit-font-smoothing: initial;
}

.navigation .mega-menu .recent-posts .post-title {
  color: #444;
  font-family: "Source Sans Pro", Arial, sans-serif;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0;
}

.navigation.below {
  height: 54px;
  line-height: 54px;
}

.navigation.dark .menu > li > a {
  color: #ebebeb;
}

.mobile-menu li a {
  letter-spacing: 0.12em;
}

/**
 * General components and global changes
 */
::-moz-selection {
  background: rgba(241, 134, 138, 0.2);
}
::selection {
  background: rgba(241, 134, 138, 0.2);
}

::-moz-selection {
  background: rgba(241, 134, 138, 0.2);
}

input,
textarea,
select {
  font-size: 14px;
}

input[type="submit"],
button, input[type="button"],
.button {
  letter-spacing: 0.15em;
}

blockquote {
  font-family: Lora, Georgia, serif;
  font-size: 17px;
  color: #989898;
}

.section-head .title {
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 0.11em;
  color: #2a2a2a;
  -webkit-font-smoothing: antialiased;
}

.post-meta .post-cat > a {
  font-weight: 600;
  letter-spacing: 0.15em;
}

.post-meta time {
  letter-spacing: 0.1em;
}

.post-meta-b .post-cat {
  margin-bottom: -2px;
}

.post-meta-b .post-cat > a {
  font-weight: 600;
  letter-spacing: 0.18em;
}

.post-meta-b .post-title-alt {
  margin: 18px 0;
}

.post-meta-b time,
.post-meta-b .comments,
.post-meta-b .meta-sep {
  font-size: 12px;
  letter-spacing: 0.12em;
}

.post-meta-b time,
.post-meta-b .meta-sep {
  color: #b4b4b4;
}

.post-meta-b .comments {
  color: #5b5b5b;
}

.post-meta-b .meta-sep:before {
  padding: 0 5px;
}

.post-title,
.post-title-alt {
  font-family: "Playfair Display", Didot, Garamond, serif;
  font-weight: 400;
  color: #161616;
  letter-spacing: 0;
}

.post-title a,
.post-title-alt a {
  color: #000;
}

.post-title em,
.post-title-alt em {
  font-weight: 600;
}

.post-title-alt {
  margin-top: 12px;
  margin-bottom: 16px;
  font-size: 26px;
}

.post-title-alt:after {
  display: none;
}

.text,
.post-content,
.textwidget {
  -webkit-font-smoothing: antialiased;
}

.main-pagination .next a,
.main-pagination .previous a {
  letter-spacing: 0.15em;
}

.main-pagination.number {
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 0;
}

/**
 * Posts adjustments
 */
.grid-post .post-title-alt {
  margin-bottom: 14px;
}

.grid-post .post-meta-b .post-title-alt {
  margin: 16px 0;
}

.grid-post-b .post-title-alt {
  font-size: 24px;
}

.grid-post-b .read-more-btn {
  font-family: "Noto Sans", Arial, sans-serif;
  letter-spacing: 0.15em;
}

.large-post .featured img {
  margin-bottom: 23px;
}

.large-post-b .post-footer .author a {
  letter-spacing: 0.18em;
}

.large-post-b .post-footer .number {
  font-size: 14px;
  font-weight: 600;
}

.large-post-b .post-footer .social-icons a {
  font-size: 14px;
}

.post-footer {
  margin-top: 45px;
}

.post-footer .read-more {
  font-size: 11px;
  font-weight: 900;
  letter-spacing: 0.1em;
}

.post-content .read-more {
  font-family: "Noto Sans", Arial, sans-serif;
}

.overlay-post .post-title {
  font-size: 25px;
}

/* Single Post */
.single-cover .overlay .post-by {
  font-weight: 600;
  letter-spacing: 0.1em;
}

.post-content {
  line-height: 1.857;
  font-size: 16px;
}

.post-content h1, .post-content h2, .post-content h3, .post-content h4, .post-content h5, .post-content h6 {
  font-family: "Playfair Display", Didot, Garamond, serif;
  font-weight: 400;
  color: #161616;
}

.post-excerpt {
  font-size: 15px;
}

.tag-share .post-tags a {
  font-weight: 700;
  letter-spacing: 0.15em;
}

.post-share-icons a {
  color: #454545;
}

.author-box .author > span {
  letter-spacing: 0.15em;
}

.author-box .author > a {
  font-size: 22px;
  font-weight: 700;
  text-transform: uppercase;
}

.author-box .author-bio {
  font-size: 15px;
}

.related-posts .post-title {
  font-family: "Source Sans Pro", Arial, sans-serif;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0;
}

.related-posts .post-meta {
  font-size: 10px;
}

.comments-list .comment-author {
  margin-bottom: 0;
  text-transform: uppercase;
  letter-spacing: 0.025em;
  font-size: 15px;
}

.comments-list .comment-text {
  font-size: 15px;
  color: #777;
}

.comments-list .comment-time {
  font-weight: 400;
  letter-spacing: 0.1em;
}

.comment-form .submit {
  font-size: 12px;
  letter-spacing: 0.15em;
}

/**
 * Home & Archives changes
 */
.block-heading .title {
  font-size: 16px;
}

.slider-overlay .heading {
  font-family: "Playfair Display", Didot, Garamond, serif;
  font-weight: 400;
  letter-spacing: 0;
}

.slider-overlay .excerpt {
  font-size: 15px;
  letter-spacing: 0;
}

.large-slider .category a {
  font-size: 13px;
  letter-spacing: 0.18em;
}

.large-slider .heading {
  font-family: "Playfair Display", Didot, Garamond, serif;
  font-weight: 400;
  color: #161616;
  font-size: 44px;
}

.large-slider .heading:after {
  margin-top: 24px;
}

.large-slider .read-more {
  font-family: "Noto Sans", Arial, sans-serif;
  font-weight: 600;
  letter-spacing: 0.16em;
  letter-spacing: 0.2em;
}

.large-slider .item:hover:after {
  background: rgba(62, 34, 34, 0.3);
}

.grid-slider .heading {
  font-family: "Playfair Display", Didot, Garamond, serif;
  font-weight: 400;
  color: #161616;
  max-width: 450px;
}

.grid-slider .category {
  font-size: 11px;
}

.grid-b-slider .heading {
  font-family: "Playfair Display", Didot, Garamond, serif;
  font-weight: 400;
  color: #161616;
}

.carousel-slider .heading {
  font-family: "Playfair Display", Didot, Garamond, serif;
  font-weight: 400;
  color: #161616;
}

.bold-slider .heading {
  font-family: "Playfair Display", Didot, Garamond, serif;
  font-weight: 400;
  color: #161616;
}

.posts-carousel .post-meta {
  font-size: 10px;
}

.posts-carousel .post-title {
  font-size: 18px;
}

.subscribe-box .text {
  font-size: 14px;
}

.archive-head .sub-title {
  font-size: 11px;
  letter-spacing: 0.15em;
}

.error-page .search-submit {
  padding-top: 14px;
  padding-bottom: 14px;
}

/**
 * Sidebar adjustments
 */
.sidebar .widget {
  border: 1px solid #ebebeb;
  padding: 30px;
}

.sidebar .widget-title {
  margin: 0 -31px;
  margin-top: -31px;
  margin-bottom: 35px;
  border-top-color: #f1868a;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 0.11em;
  color: #2a2a2a;
  -webkit-font-smoothing: antialiased;
  line-height: 44px;
}

.sidebar .widget-a-wrap {
  border: 0;
}

.sidebar .widget-a-wrap .the-wrap {
  margin: 0 -30px;
}

.sidebar .widget_mc4wp_form_widget,
.sidebar .widget-subscribe {
  background: #f7f7f7;
}

.sidebar .widget_mc4wp_form_widget .widget-title,
.sidebar .widget-subscribe .widget-title {
  margin: 0;
  margin-bottom: 35px;
  background: transparent;
  line-height: 1;
}

.widget .mc4wp-form .message,
.widget-subscribe .message {
  color: #777;
  font-size: 14px;
}

.widget-about .more {
  font-family: "Noto Sans", Arial, sans-serif;
  font-weight: 600;
  letter-spacing: 0.16em;
}

.widget-cta .label {
  font-family: "Noto Sans", Arial, sans-serif;
  font-weight: 600;
  letter-spacing: 0.16em;
  font-size: 11px;
  color: #161616;
  padding: 9px 14px;
  letter-spacing: 0.15em;
}

.widget-posts .post-title {
  margin-top: -4px;
  font-family: "Source Sans Pro", Arial, sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.45;
  -webkit-font-smoothing: antialiased;
}

.widget-posts .image-link img {
  margin-right: 22px;
}

/* Footer Changes */
.upper-footer .widget-title {
  color: #222;
  font-size: 15px;
  font-weight: 600;
  letter-spacing: 0.04em;
}

.upper-footer .widget-about .about-text {
  font-size: 14px;
}

.lower-footer .copyright {
  font-size: 14px;
}

.lower-footer .social-icons {
  letter-spacing: 0.12em;
}

@media (max-width: 767px) {
  .large-slider .heading {
    font-size: 30px;
  }
}
