/**
 * Skin: Bold Blog 
 */
:root {
  --main-color: #08528b;
  --main-color-rgb: 8, 82, 139;
}

/**
 * Change Main Color
 */
input[type="submit"],
button,
input[type="button"],
.button,
.cart-action .cart-link .counter,
.main-head.compact .posts-ticker .heading,
.single-cover .overlay .post-cat a,
.comments-list .bypostauthor .post-author,
.cat-label a:hover,
.cat-label.color a,
.post-thumb:hover .cat-label a,
.products-block .more-link:hover,
.beauty-slider .slick-dots .slick-active button,
.carousel-slider .category,
.grid-b-slider .category,
.page-links .current,
.page-links a:hover,
.page-links > span,
.widget-posts .posts.full .counter:before,
.wp-block-button .wp-block-button__link,
.woocommerce span.onsale,
.woocommerce a.button,
.woocommerce button.button,
.woocommerce input.button,
.woocommerce #respond input#submit,
.woocommerce a.button.alt,
.woocommerce a.button.alt:hover,
.woocommerce button.button.alt,
.woocommerce button.button.alt:hover,
.woocommerce input.button.alt,
.woocommerce input.button.alt:hover,
.woocommerce #respond input#submit.alt,
.woocommerce #respond input#submit.alt:hover,
.woocommerce a.button:hover,
.woocommerce button.button:hover,
.woocommerce input.button:hover,
.woocommerce #respond input#submit:hover,
.woocommerce nav.woocommerce-pagination ul li span.current,
.woocommerce nav.woocommerce-pagination ul li a:hover,
.woocommerce .widget_price_filter .price_slider_amount .button {
  background: #08528b;
}

blockquote:before,
.main-color,
.top-bar .social-icons a:hover,
.navigation .menu > li:hover > a,
.navigation .menu > .current-menu-item > a,
.navigation .menu > .current-menu-parent > a,
.navigation .menu > .current-menu-ancestor > a,
.navigation li:hover > a:after,
.navigation .current-menu-item > a:after,
.navigation .current-menu-parent > a:after,
.navigation .current-menu-ancestor > a:after,
.navigation .menu li li:hover > a,
.navigation .menu li li.current-menu-item > a,
.tag-share .post-tags a:hover,
.post-share-icons a:hover,
.post-share-icons .likes-count,
.author-box .author > span,
.comments-area .section-head .number,
.comments-list .comment-reply-link,
.comment-form input[type=checkbox],
.main-footer.dark .social-link:hover,
.lower-footer .social-icons .fa,
.archive-head .sub-title,
.social-share a:hover,
.social-icons a:hover,
.post-meta .post-cat > a,
.post-meta-c .post-author > a,
.large-post-b .post-footer .author a,
.trendy-slider .post-cat a,
.main-pagination .next a:hover,
.main-pagination .previous a:hover,
.main-pagination.number .current,
.post-content a,
.textwidget a,
.widget-about .more,
.widget-about .social-icons .social-btn:hover,
.widget-social .social-link:hover,
.wp-block-pullquote blockquote:before,
.egcf-modal .checkbox,
.woocommerce .star-rating:before,
.woocommerce .star-rating span:before,
.woocommerce .amount,
.woocommerce .order-select .drop a:hover,
.woocommerce .order-select .drop li.active,
.woocommerce-page .order-select .drop a:hover,
.woocommerce-page .order-select .drop li.active,
.woocommerce .widget_price_filter .price_label .from,
.woocommerce .widget_price_filter .price_label .to,
.woocommerce div.product div.summary p.price,
.woocommerce div.product div.summary span.price,
.woocommerce #content div.product div.summary p.price,
.woocommerce #content div.product div.summary span.price {
  color: #08528b;
}

.products-block .more-link:hover,
.beauty-slider .slick-dots .slick-active button,
.page-links .current,
.page-links a:hover,
.page-links > span,
.woocommerce nav.woocommerce-pagination ul li span.current,
.woocommerce nav.woocommerce-pagination ul li a:hover {
  border-color: #08528b;
}

.woocommerce .widget_price_filter .ui-slider .ui-slider-handle {
  background-color: #08528b;
}

.post-title-alt:after,
.block-head-b .title {
  border-bottom: 1px solid #08528b;
}

.widget_categories a:before,
.widget_product_categories a:before,
.widget_archive a:before {
  border: 1px solid #08528b;
}

/* Change text / contrast font */
body,
input,
textarea,
select,
.archive-head .description,
.text,
.post-meta .text-in,
.post-content,
.textwidget,
.widget_categories a,
.widget_product_categories a,
.widget_archive a,
.woocommerce .woocommerce-message,
.woocommerce .woocommerce-error,
.woocommerce .woocommerce-info,
.woocommerce form .form-row,
.woocommerce .woocommerce-noreviews,
.woocommerce #reviews #comments ol.commentlist .description,
.woocommerce-cart .cart-empty,
.woocommerce-cart .cart-collaterals .cart_totals table {
  font-family: "Open Sans", sans-serif;
  letter-spacing: 0;
  -webkit-font-smoothing: initial;
}

/* Change main body and heading font */
h1,
h2,
h3,
h4,
h5,
h6,
blockquote cite,
blockquote .wp-block-pullquote__citation,
.top-bar-content,
.search-action .search-field,
.main-head .title,
.navigation,
.tag-share,
.post-share-b .service,
.post-share-float .share-text,
.author-box,
.comments-list .comment-content,
.post-nav .label,
.main-footer.dark .back-to-top,
.lower-footer .social-icons,
.main-footer .social-strip .social-link,
.main-footer.bold .links .menu-item,
.main-footer.bold .copyright,
.archive-head,
.cat-label a,
.section-head,
.post-title-alt,
.post-title,
.block-heading,
.block-head-b,
.block-head-c,
.small-post .post-title,
.likes-count .number,
.grid-post-b .read-more-btn,
.list-post-b .read-more-btn,
.post-footer .read-more,
.post-footer .social-share,
.post-footer .social-icons,
.large-post-b .post-footer .author a,
.products-block .more-link,
.main-slider,
.slider-overlay .heading,
.large-slider,
.large-slider .heading,
.grid-slider .category,
.grid-slider .heading,
.carousel-slider .category,
.carousel-slider .heading,
.grid-b-slider .heading,
.bold-slider,
.bold-slider .heading,
.main-pagination,
.main-pagination .load-button,
.page-links,
.post-content .read-more,
.widget-about .more,
.widget-posts .post-title,
.widget-posts .posts.full .counter:before,
.widget-cta .label,
.social-follow .service-link,
.widget-twitter .meta .date,
.widget-twitter .follow,
.widget_categories,
.widget_product_categories,
.widget_archive,
.wp-block-button .wp-block-button__link,
.mobile-menu,
.woocommerce .main .button,
.woocommerce .quantity .qty,
.woocommerce nav.woocommerce-pagination,
.woocommerce-cart .post-content,
.woocommerce .woocommerce-ordering,
.woocommerce-page .woocommerce-ordering,
.woocommerce ul.products,
.woocommerce.widget,
.woocommerce div.product,
.woocommerce #content div.product,
.woocommerce-cart .cart-collaterals .cart_totals .button,
.woocommerce .checkout .shop_table thead th,
.woocommerce .checkout .shop_table .amount,
.woocommerce-checkout #payment #place_order {
  font-family: "Open Sans", sans-serif;
}

/* Remove uppercase text on several elements */
.navigation.inline .menu > li li a,
.navigation.inline .mega-menu .sub-cats a,
.navigation.simple,
.author-box .author > a,
.comments-list .comment-author,
.post-title-alt,
.post-title,
.block-head-c .title,
.slider-overlay .heading,
.large-slider .heading,
.grid-slider .heading,
.carousel-slider .heading,
.grid-b-slider .heading,
.bold-slider .heading,
.main-pagination.number,
.post-content h1,
.textwidget h1,
.post-content h2,
.textwidget h2,
.post-content h3,
.textwidget h3,
.post-content h4,
.textwidget h4,
.post-content h5,
.textwidget h5,
.post-content h6,
.textwidget h6,
.widget_calendar tfoot a,
.woocommerce ul.products li.product,
.woocommerce ul.products li.product .product-cat,
.woocommerce ul.products .product_type_external,
.woocommerce ul.products .added_to_cart,
.woocommerce .widget_price_filter .price_slider_amount,
.woocommerce ul.cart_list li a,
.woocommerce ul.product_list_widget li a,
.woocommerce.widget_shopping_cart .total > strong,
.woocommerce div.product .product_title,
.woocommerce #content div.product .product_title,
.woocommerce div.product .product_meta,
.woocommerce #content div.product .product_meta,
.woocommerce #reviews #comments ol.commentlist li .meta strong,
.woocommerce #reviews .comment-form-rating,
.woocommerce-cart table.cart .label,
.woocommerce-cart table.cart .product-name > a,
.woocommerce-cart table.cart .product-cat a,
.woocommerce .checkout .shop_table thead th {
  text-transform: none;
}

/**
 * Header and Nav
 */
.main-head {
  border-color: #ebebeb;
}

.main-head.compact .posts-ticker {
  letter-spacing: 0;
  font-size: 12px;
}

.main-head.compact .posts-ticker a {
  text-transform: none;
}

.top-bar.dark .top-bar-content {
  background: #000;
}

.navigation {
  font-family: soleil, Raleway, sans-serif;
  font-size: 13px;
  letter-spacing: 0.06em;
}

.navigation .menu > li > a {
  font-weight: 700;
  -webkit-font-smoothing: antialiased;
}

.navigation .menu li li a {
  font-size: 12px;
  color: #313131;
  letter-spacing: 0.06em;
  -webkit-font-smoothing: antialiased;
}

.navigation .mega-menu .recent-posts .post-title {
  margin-bottom: 8px;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: -0.01em;
}

.main-head.top-below .menu > li > a {
  font-size: 13px;
}

.navigation.inline {
  letter-spacing: 0;
  color: #383838;
}

.navigation.inline .menu > li > a {
  font-weight: 700;
}

.navigation.inline .menu > li li a,
.navigation.inline .mega-menu .sub-cats a {
  font-size: 14px;
}

.navigation.simple .menu > li:hover > a,
.navigation.simple .menu li li.current-menu-item > a,
.navigation.simple .menu > .current-menu-item > a,
.navigation.simple .menu > .current-menu-parent > a,
.navigation.simple .menu > .current-menu-ancestor > a,
.navigation.simple .mega-menu .sub-cats li:hover > a {
  color: #666;
}

.navigation.simple .menu > .menu-item-has-children > a:after {
  color: inherit !important;
}

.navigation.simple .sub-menu > li:not(.item-mega-menu) a {
  margin: 0 -1px;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
  -webkit-transition: 0.4s cubic-bezier(0.15, 1.03, 0.58, 1);
  transition: 0.4s cubic-bezier(0.15, 1.03, 0.58, 1);
}

.navigation.simple .menu > li:not(.item-mega-menu) li:last-child a {
  margin-bottom: -1px;
  border-bottom: 1px solid transparent;
}

.navigation.simple .menu > li:not(.item-mega-menu) li:hover > a {
  background: #000;
  color: #fff;
  border-color: #000;
}

.navigation.simple .sub-menu > li:not(:first-child) li:first-child a {
  margin-top: -1px;
  border-top: 1px solid transparent;
}

.navigation.simple .menu > li li a,
.navigation.simple .mega-menu .sub-cats a {
  font-size: 15px;
}

.navigation.dark.has-bg {
  background: #000;
}

.navigation.dark .menu > li > a,
.navigation.dark .menu > .current-menu-item > a,
.navigation.dark .menu > .current-menu-parent > a,
.navigation.dark .menu > .current-menu-ancestor > a {
  color: #fff;
}

.navigation.dark .menu li:hover > a,
.navigation.dark .menu li li:hover > a,
.navigation.dark .menu li:hover > a:after {
  color: #08528b;
}

.navigation.dark .menu > li li a {
  border-color: rgba(187, 187, 187, 0.15);
}

.mobile-menu li a {
  letter-spacing: 0.08em;
}

/**
 * General components and global changes
 */
::-moz-selection {
  background: rgba(8, 82, 139, 0.7);
  color: #fff;
}
::selection {
  background: rgba(8, 82, 139, 0.7);
  color: #fff;
}

::-moz-selection {
  background: rgba(8, 82, 139, 0.7);
  color: #fff;
}

input[type="submit"],
button, input[type="button"],
.button {
  padding: 15px 25px;
  background: #000;
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 0.075em;
  -webkit-transition: all .25s ease-in-out;
  transition: all .25s ease-in-out;
}

input,
textarea,
select {
  font-size: 14px;
}

input {
  height: 3em;
}

.button:hover {
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1), 0 3px 6px rgba(0, 0, 0, 0.07);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1), 0 3px 6px rgba(0, 0, 0, 0.07);
  -webkit-transform: translateY(-1px);
          transform: translateY(-1px);
}

h1, h2, h3, h4, h5, h6 {
  font-family: soleil, Raleway, sans-serif;
  font-weight: 700;
  letter-spacing: -0.015em;
  color: #000;
  -webkit-font-smoothing: antialiased;
}

h1 {
  font-size: 29px;
}

h2 {
  font-size: 26px;
}

h3 {
  font-size: 22px;
}

blockquote {
  font-family: Lora, Georgia, serif;
  font-size: 17px;
  color: #989898;
}

.modern-quote:before,
.wp-block-quote.is-style-large:before {
  color: #f6f6f6;
}

.post-title,
.post-title-alt {
  font-family: soleil, Raleway, sans-serif;
  font-weight: 700;
  letter-spacing: -0.015em;
  color: #000;
  -webkit-font-smoothing: antialiased;
}

.post-title a,
.post-title-alt a {
  color: #000;
}

.post-title-alt:after {
  display: none;
}

.text,
.post-content,
.textwidget {
  font-size: 15px;
  line-height: 1.73;
  -webkit-font-smoothing: antialiased;
}

.post-meta {
  font-family: "Open Sans", sans-serif;
  font-size: 11px;
}

.post-meta .post-author,
.post-meta time {
  font-weight: 400;
  letter-spacing: 0.06em;
}

.post-meta .post-cat > a {
  letter-spacing: 0.06em;
}

.post-meta .post-cat > span {
  text-transform: lowercase;
}

.post-meta .comments {
  letter-spacing: 0.06em;
  font-weight: 600;
}

.post-meta .meta-sep:before {
  padding: 0 2px;
}

.main-pagination .next a,
.main-pagination .previous a {
  font-weight: 900;
  letter-spacing: 0.15em;
}

.main-pagination .load-button {
  min-width: initial;
  padding: 0 60px;
  border-color: #e1e1e1;
  background: #fff;
  font-size: 13px;
  font-weight: 700;
  line-height: 40px;
}

.main-pagination .load-button:hover {
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1), 0 3px 6px rgba(0, 0, 0, 0.07);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1), 0 3px 6px rgba(0, 0, 0, 0.07);
  -webkit-transform: translateY(-1px);
          transform: translateY(-1px);
}

.main {
  margin-bottom: 90px;
}

/**
 * Posts adjustments
 */
.post-content .read-more a,
.grid-post-b .read-more-btn,
.list-post-b .read-more-btn {
  padding: 12px 24px;
  background: #000;
  border: 0;
  border-radius: 18px;
  color: #fff;
  font-size: 12px;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 0.075em;
  text-transform: uppercase;
  -webkit-font-smoothing: antialiased;
}

.post-content .read-more a:hover,
.grid-post-b .read-more-btn:hover,
.list-post-b .read-more-btn:hover {
  background: #000;
  color: #fff;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1), 0 3px 6px rgba(0, 0, 0, 0.07);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1), 0 3px 6px rgba(0, 0, 0, 0.07);
  -webkit-transform: translateY(-1px);
          transform: translateY(-1px);
}

.large-post .post-meta-b,
.the-post:not(.the-page) .post-header .post-meta-b {
  margin-bottom: 38px;
}

.large-post .post-title-alt,
.the-post:not(.the-page) .post-header .post-title-alt {
  max-width: 90%;
  margin: 20px auto;
  font-weight: 800;
  letter-spacing: -0.03em;
  line-height: 1.142;
}

.large-post-b .read-more {
  margin-top: 40px;
}

.large-post-b .read-more a:before {
  display: none;
}

.large-post-b .read-more a span {
  padding: 0;
  background: transparent;
}

.large-post-b .post-footer {
  letter-spacing: 0;
  padding-bottom: 2px;
  border-bottom: 1px solid #efefef;
}

.large-post-b .post-footer .author a {
  color: #000;
  letter-spacing: 0.06em;
}

.post-footer {
  margin-top: 45px;
}

.post-footer .col {
  border-color: #efefef;
}

.post-footer .read-more {
  font-size: 11px;
  font-weight: 800;
  letter-spacing: 0.1em;
}

.post-footer .number {
  font-size: 13px;
}

.post-footer .social-share li {
  font-size: 14px;
}

.grid-post .post-title-alt {
  font-size: 22px;
}

.grid-post .post-thumb {
  margin-bottom: 23px;
}

.grid-post .post-meta-b {
  margin-top: 23px;
  margin-bottom: 18px;
}

.list-post-b .post-title {
  margin-top: 15px;
  margin-bottom: 20px;
  max-width: initial;
  font-size: 23px;
}

.overlay-post .post-title {
  margin-top: 15px;
  margin-bottom: 13px;
  font-size: 32px;
  line-height: 1.2;
}

/**
 * Single Post
 */
.single-creative .featured {
  margin-right: 8px;
  margin-left: 8px;
}

.single-creative .featured .post-title {
  font-family: soleil, Raleway, sans-serif;
  font-weight: 800;
  -webkit-font-smoothing: antialiased;
  letter-spacing: -0.04em;
}

.single-magazine .post-top .post-title {
  font-family: soleil, Raleway, sans-serif;
  font-weight: 800;
  -webkit-font-smoothing: antialiased;
  letter-spacing: -0.04em;
}

.single-cover .featured {
  margin-top: -25px;
}

.single-cover .featured .post-by {
  font-weight: 600;
  letter-spacing: 0.1em;
}

.single-cover .featured .post-title {
  font-family: soleil, Raleway, sans-serif;
  font-weight: 700;
  letter-spacing: -0.03em;
  -webkit-font-smoothing: antialiased;
  margin-bottom: 15px;
}

.single-cover .featured .post-cat a {
  background: #000;
  letter-spacing: 0.06em;
  line-height: 2;
}

.post-content {
  line-height: 1.73;
}

.post-content h1, .post-content h2, .post-content h3, .post-content h4, .post-content h5, .post-content h6 {
  letter-spacing: -0.02em;
  font-weight: 700;
}

.post-content h1, .post-content h2, .post-content h4 {
  margin-bottom: 0.86em;
}

.tag-share .post-tags a {
  font-weight: 700;
  letter-spacing: 0.1em;
}

.post-share-icons a {
  color: #161616;
}

.author-box .author > a {
  font-family: soleil, Raleway, sans-serif;
  font-weight: 700;
  letter-spacing: -0.015em;
  color: #000;
  -webkit-font-smoothing: antialiased;
  margin-top: -7px;
}

.author-box .author > span {
  display: none;
}

.author-box .author-bio {
  font-size: 14px;
}

.section-head .title {
  margin-top: -4px;
  padding: 0 20px;
  font-family: soleil, Raleway, sans-serif;
  font-weight: 700;
  letter-spacing: -0.03em;
  -webkit-font-smoothing: antialiased;
  font-size: 19px;
  text-transform: none;
}

.related-posts .post-title {
  font-family: soleil, Raleway, sans-serif;
  font-weight: 700;
  letter-spacing: -0.015em;
  color: #000;
  -webkit-font-smoothing: antialiased;
  font-size: 16px;
}

.related-posts.grid-2 .post-title {
  margin-bottom: 10px;
  font-size: 17px;
  line-height: 1.3;
}

.comments-wrap {
  margin-top: 55px;
  padding-bottom: 50px;
  border: 1px solid #efefef;
}

.comments-wrap .section-head {
  margin-top: 32px;
}

.comments-area .section-head:before {
  display: none;
}

.comments-area .title {
  background: transparent;
}

.comments-area .title:after {
  content: "";
  display: block;
  margin: 0 auto;
  margin-top: 12px;
  width: 24px;
  height: 2px;
  background: #000;
}

.comments-area .submit:hover {
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1), 0 3px 6px rgba(0, 0, 0, 0.07);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1), 0 3px 6px rgba(0, 0, 0, 0.07);
  -webkit-transform: translateY(-1px);
          transform: translateY(-1px);
}

.comments-list > .comment,
.comments-list > li {
  padding: 45px 30px;
}

.comments-list .comment .children {
  margin-top: 45px;
}

.comments-list .children li.comment {
  margin-top: 45px;
  padding-top: 45px;
  padding-left: 28px;
}

.comments-list .children .comment:before, .comments-list .children .comment:after {
  display: none;
}

.comments-list .comment-author {
  font-family: soleil, Raleway, sans-serif;
  font-weight: 700;
  letter-spacing: -0.015em;
  color: #000;
  -webkit-font-smoothing: antialiased;
  margin-bottom: 0;
  font-size: 15px;
}

.comments-list .bypostauthor .post-author {
  display: none;
}

.comments-list .comment-reply-link {
  margin-top: -18px;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 0.07em;
  -webkit-font-smoothing: antialiased;
}

.comments-list .comment-reply-link:before {
  display: none;
}

.comments-list .comment-time {
  font-weight: 400;
}

.comments-list .comment-text {
  font-size: 14px;
}

#cancel-comment-reply-link {
  margin-top: -38px;
}

.comment-respond .section-head {
  border: 0;
  margin-top: 65px;
  text-align: center;
}

.the-page .post-title-alt {
  margin-bottom: 33px;
}

/**
 * Home & Archives changes
 */
.block-heading .title {
  font-family: soleil, Raleway, sans-serif;
  font-weight: 700;
  letter-spacing: -0.03em;
  -webkit-font-smoothing: antialiased;
  font-size: 19px;
  text-transform: none;
}

.posts-carousel-b {
  padding-bottom: 35px;
}

.small-post .post-title {
  font-family: soleil, Raleway, sans-serif;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.5;
  letter-spacing: -0.01em;
}

.slider-overlay .heading {
  font-family: soleil, Raleway, sans-serif;
  font-weight: 700;
  letter-spacing: -0.015em;
  color: #000;
  -webkit-font-smoothing: antialiased;
}

.slider-overlay .excerpt {
  font-size: 14px;
  letter-spacing: 0;
}

.large-slider .heading {
  font-family: soleil, Raleway, sans-serif;
  font-weight: 700;
  letter-spacing: -0.015em;
  color: #000;
  -webkit-font-smoothing: antialiased;
}

.grid-slider .heading {
  font-family: soleil, Raleway, sans-serif;
  font-weight: 700;
  letter-spacing: -0.015em;
  color: #000;
  -webkit-font-smoothing: antialiased;
  max-width: 450px;
}

.grid-slider .category {
  font-size: 11px;
}

.grid-b-slider .heading {
  font-family: soleil, Raleway, sans-serif;
  font-weight: 700;
  letter-spacing: -0.015em;
  color: #000;
  -webkit-font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
}

.carousel-slider .heading {
  font-family: soleil, Raleway, sans-serif;
  font-weight: 700;
  letter-spacing: -0.015em;
  color: #000;
  -webkit-font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
}

.bold-slider {
  margin-left: 8px;
  margin-right: 8px;
}

.bold-slider .heading {
  font-family: soleil, Raleway, sans-serif;
  font-weight: 800;
  letter-spacing: -0.04em;
  -webkit-font-smoothing: antialiased;
}

.archive-head .sub-title {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  color: #999 !important;
  letter-spacing: 0.05em;
}

.archive-head .title {
  font-size: 26px;
  font-weight: 700;
  letter-spacing: -0.03em;
  text-transform: none;
}

.archive .main,
.page .main,
.single:not(.layout-creative) .main {
  margin-top: 80px;
}

/**
 * Sidebar & Widgets adjustments
 */
.sidebar .widget {
  border: 1px solid #efefef;
  padding: 30px;
  margin-bottom: 66px;
}

.sidebar .widget-title {
  margin-top: -44px;
  margin-bottom: 33px;
  border: 0;
  color: #000;
  font-size: 19px;
  font-family: soleil, Raleway, sans-serif;
  font-weight: 700;
  letter-spacing: -0.03em;
  -webkit-font-smoothing: antialiased;
  line-height: 1.2;
  text-transform: none;
}

.sidebar .widget-title span {
  background: #fff;
  padding: 0 22px;
}

.sidebar .widget-slider,
.sidebar .widget-cta {
  padding: 0;
  border: 0;
}

.sidebar .widget + .widget-slider {
  margin-top: -6px;
}

.sidebar .widget_mc4wp_form_widget,
.sidebar .widget-subscribe {
  background: #f6f6f6;
  border: 0;
}

.sidebar .widget_mc4wp_form_widget .widget-title,
.sidebar .widget-subscribe .widget-title {
  margin-top: -5px;
  margin-bottom: 46px;
}

.sidebar .widget_mc4wp_form_widget .widget-title span,
.sidebar .widget-subscribe .widget-title span {
  padding: 0;
  background: transparent;
}

.sidebar .widget_mc4wp_form_widget .widget-title:after,
.sidebar .widget-subscribe .widget-title:after {
  margin-top: 16px;
  height: 2px;
  background: #000;
  width: 24px;
}

.sidebar .widget-a-wrap {
  border: 0;
}

.sidebar .widget-a-wrap .the-wrap {
  margin: 0 -30px;
}

.widget_links ul,
.widget_meta ul,
.widget_recent_comments ul,
.widget_recent_entries ul,
.widget_rss ul,
.widget_pages ul,
.widget_nav_menu ul {
  margin-top: 0;
}

.widget_links li,
.widget_meta li,
.widget_recent_comments li,
.widget_recent_entries li,
.widget_rss li,
.widget_pages li,
.widget_nav_menu li {
  font-size: 14px;
}

.widget_categories ul,
.widget_product_categories ul,
.widget_archive ul {
  margin-top: 0;
}

.widget .mc4wp-form .message,
.widget-subscribe .message {
  margin-bottom: 30px;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  letter-spacing: 0;
}

.widget .mc4wp-form p:last-of-type,
.widget-subscribe p:last-of-type {
  margin-top: -17px;
}

.widget-cta .label {
  font-weight: 600;
  font-size: 11px;
  color: #161616;
  padding: 9px 14px;
  letter-spacing: 0.15em;
}

.widget-posts .content {
  margin-top: 2px;
}

.widget-posts .image-link img {
  margin-right: 26px;
}

.widget-posts .post-title {
  font-family: soleil, Raleway, sans-serif;
  font-weight: 700;
  letter-spacing: -0.015em;
  color: #000;
  -webkit-font-smoothing: antialiased;
  font-size: 15px;
  line-height: 1.46;
}

.widget-posts .posts.large .post-title {
  font-size: 15px;
}

.widget-posts .posts.large time {
  letter-spacing: 0.07em;
}

.widget-about .about-text {
  font-size: 14px;
}

.widget-about .more {
  color: #000;
  font-size: 12px;
}

.widget_search button {
  margin-top: -43px;
}

/* Footer Changes */
.upper-footer .widget-about .about-text {
  font-size: 14px;
}

.upper-footer .widget-about .text.below {
  color: #7a7a7a;
}

.upper-footer .widget .widget-title {
  font-family: soleil, Raleway, sans-serif;
  font-weight: 700;
  letter-spacing: -0.03em;
  -webkit-font-smoothing: antialiased;
  margin-bottom: 40px;
}

.main-footer.dark .widget {
  color: #888;
}

.main-footer.dark .widget-posts .post-meta {
  color: #7a7a7a;
}

.main-footer.dark a {
  color: #fdfdfd;
}

.main-footer.dark a:hover {
  color: #ddd;
}

.main-footer.dark input[type="submit"] {
  background: rgba(255, 255, 255, 0.15);
}

.main-footer.dark .mid-footer a {
  color: #454545;
}

.lower-footer .copyright {
  font-size: 13px;
}

.lower-footer .social-icons {
  letter-spacing: 0.12em;
}

.main-footer .text {
  font-size: 14px;
}

.main-footer.bold {
  margin-left: 8px;
  margin-right: 8px;
}

.main-footer.bold .mid-footer {
  border-top: 8px solid #fff;
}

@media (min-width: 1200px) {
  .single-cover .featured .post-title {
    font-size: 40px;
  }
}

@media (min-width: 940px) and (max-width: 1200px) {
  .sidebar .widget {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 940px) {
  .post-title-alt {
    font-size: 34px;
  }
  .archive .main,
  .page .main,
  .single:not(.layout-creative) .main {
    margin-top: 60px;
  }
}

@media (min-width: 940px) {
  .post-title-alt {
    font-size: 42px;
  }
  .main-slider .heading {
    font-size: 29px;
    max-width: 576px;
    line-height: 1.2;
  }
  .stylish-slider .heading {
    font-size: 33px;
    max-width: 615px;
    line-height: 1.2;
    margin: 10px auto;
  }
  .bold-slider .heading {
    font-size: 46px;
  }
}

@media (max-width: 767px) {
  .post-title-alt {
    font-size: 27px;
  }
  .overlay-post .post-title {
    font-size: 26px;
  }
}
