/**
 * Skin: Lifestyle
 */
:root {
  --main-color: #e84d15;
  --main-color-rgb: 232, 77, 21;
}

/**
 * Change Main Color
 */
input[type="submit"],
button,
input[type="button"],
.button,
.cart-action .cart-link .counter,
.main-head.compact .posts-ticker .heading,
.single-cover .overlay .post-cat a,
.comments-list .bypostauthor .post-author,
.cat-label a:hover,
.cat-label.color a,
.post-thumb:hover .cat-label a,
.products-block .more-link:hover,
.beauty-slider .slick-dots .slick-active button,
.carousel-slider .category,
.grid-b-slider .category,
.page-links .current,
.page-links a:hover,
.page-links > span,
.widget-posts .posts.full .counter:before,
.wp-block-button .wp-block-button__link,
.woocommerce span.onsale,
.woocommerce a.button,
.woocommerce button.button,
.woocommerce input.button,
.woocommerce #respond input#submit,
.woocommerce a.button.alt,
.woocommerce a.button.alt:hover,
.woocommerce button.button.alt,
.woocommerce button.button.alt:hover,
.woocommerce input.button.alt,
.woocommerce input.button.alt:hover,
.woocommerce #respond input#submit.alt,
.woocommerce #respond input#submit.alt:hover,
.woocommerce a.button:hover,
.woocommerce button.button:hover,
.woocommerce input.button:hover,
.woocommerce #respond input#submit:hover,
.woocommerce nav.woocommerce-pagination ul li span.current,
.woocommerce nav.woocommerce-pagination ul li a:hover,
.woocommerce .widget_price_filter .price_slider_amount .button {
  background: #e84d15;
}

blockquote:before,
.main-color,
.top-bar .social-icons a:hover,
.navigation .menu > li:hover > a,
.navigation .menu > .current-menu-item > a,
.navigation .menu > .current-menu-parent > a,
.navigation .menu > .current-menu-ancestor > a,
.navigation li:hover > a:after,
.navigation .current-menu-item > a:after,
.navigation .current-menu-parent > a:after,
.navigation .current-menu-ancestor > a:after,
.navigation .menu li li:hover > a,
.navigation .menu li li.current-menu-item > a,
.tag-share .post-tags a:hover,
.post-share-icons a:hover,
.post-share-icons .likes-count,
.author-box .author > span,
.comments-area .section-head .number,
.comments-list .comment-reply-link,
.comment-form input[type=checkbox],
.main-footer.dark .social-link:hover,
.lower-footer .social-icons .fa,
.archive-head .sub-title,
.social-share a:hover,
.social-icons a:hover,
.post-meta .post-cat > a,
.post-meta-c .post-author > a,
.large-post-b .post-footer .author a,
.trendy-slider .post-cat a,
.main-pagination .next a:hover,
.main-pagination .previous a:hover,
.main-pagination.number .current,
.post-content a,
.textwidget a,
.widget-about .more,
.widget-about .social-icons .social-btn:hover,
.widget-social .social-link:hover,
.wp-block-pullquote blockquote:before,
.egcf-modal .checkbox,
.woocommerce .star-rating:before,
.woocommerce .star-rating span:before,
.woocommerce .amount,
.woocommerce .order-select .drop a:hover,
.woocommerce .order-select .drop li.active,
.woocommerce-page .order-select .drop a:hover,
.woocommerce-page .order-select .drop li.active,
.woocommerce .widget_price_filter .price_label .from,
.woocommerce .widget_price_filter .price_label .to,
.woocommerce div.product div.summary p.price,
.woocommerce div.product div.summary span.price,
.woocommerce #content div.product div.summary p.price,
.woocommerce #content div.product div.summary span.price {
  color: #e84d15;
}

.products-block .more-link:hover,
.beauty-slider .slick-dots .slick-active button,
.page-links .current,
.page-links a:hover,
.page-links > span,
.woocommerce nav.woocommerce-pagination ul li span.current,
.woocommerce nav.woocommerce-pagination ul li a:hover {
  border-color: #e84d15;
}

.woocommerce .widget_price_filter .ui-slider .ui-slider-handle {
  background-color: #e84d15;
}

.post-title-alt:after,
.block-head-b .title {
  border-bottom: 1px solid #e84d15;
}

.widget_categories a:before,
.widget_product_categories a:before,
.widget_archive a:before {
  border: 1px solid #e84d15;
}

/* Change text / contrast font */
body,
input,
textarea,
select,
.archive-head .description,
.text,
.post-meta .text-in,
.post-content,
.textwidget,
.widget_categories a,
.widget_product_categories a,
.widget_archive a,
.woocommerce .woocommerce-message,
.woocommerce .woocommerce-error,
.woocommerce .woocommerce-info,
.woocommerce form .form-row,
.woocommerce .woocommerce-noreviews,
.woocommerce #reviews #comments ol.commentlist .description,
.woocommerce-cart .cart-empty,
.woocommerce-cart .cart-collaterals .cart_totals table {
  font-family: "Nunito Sans", system-ui, sans-serif;
  letter-spacing: 0;
  -webkit-font-smoothing: antialiased;
}

/* Change main body and heading font */
h1,
h2,
h3,
h4,
h5,
h6,
input[type="submit"],
button,
input[type="button"],
.button,
blockquote cite,
blockquote .wp-block-pullquote__citation,
.top-bar-content,
.search-action .search-field,
.main-head .title,
.navigation,
.tag-share,
.post-share-b .service,
.post-share-float .share-text,
.author-box,
.comments-list .comment-content,
.post-nav .label,
.main-footer.dark .back-to-top,
.lower-footer .social-icons,
.main-footer .social-strip .social-link,
.main-footer.bold .links .menu-item,
.main-footer.bold .copyright,
.archive-head,
.cat-label a,
.section-head,
.post-title-alt,
.post-title,
.block-heading,
.block-head-b,
.block-head-c,
.small-post .post-title,
.likes-count .number,
.post-meta,
.grid-post-b .read-more-btn,
.list-post-b .read-more-btn,
.post-footer .read-more,
.post-footer .social-share,
.post-footer .social-icons,
.large-post-b .post-footer .author a,
.products-block .more-link,
.main-slider,
.slider-overlay .heading,
.large-slider,
.large-slider .heading,
.grid-slider .category,
.grid-slider .heading,
.carousel-slider .category,
.carousel-slider .heading,
.grid-b-slider .heading,
.bold-slider,
.bold-slider .heading,
.main-pagination,
.main-pagination .load-button,
.page-links,
.post-content .read-more,
.widget-about .more,
.widget-posts .post-title,
.widget-posts .posts.full .counter:before,
.widget-cta .label,
.social-follow .service-link,
.widget-twitter .meta .date,
.widget-twitter .follow,
.widget_categories,
.widget_product_categories,
.widget_archive,
.wp-block-button .wp-block-button__link,
.mobile-menu,
.woocommerce .main .button,
.woocommerce .quantity .qty,
.woocommerce nav.woocommerce-pagination,
.woocommerce-cart .post-content,
.woocommerce .woocommerce-ordering,
.woocommerce-page .woocommerce-ordering,
.woocommerce ul.products,
.woocommerce.widget,
.woocommerce div.product,
.woocommerce #content div.product,
.woocommerce-cart .cart-collaterals .cart_totals .button,
.woocommerce .checkout .shop_table thead th,
.woocommerce .checkout .shop_table .amount,
.woocommerce-checkout #payment #place_order {
  font-family: "Nunito Sans", system-ui, sans-serif;
}

.mega-menu .recent-posts .post-title,
.text,
.post-footer .author a,
.post-footer .read-more-link,
.post-content,
.widget-cta .label,
.textwidget,
.tagcloud a,
.widget_categories a,
.widget_product_categories a,
.widget_archive a {
  color: #292929;
}

/* Remove uppercase text on several elements */
.navigation.inline .menu > li li a,
.navigation.inline .mega-menu .sub-cats a,
.navigation.simple,
.author-box .author > a,
.comments-list .comment-author,
.post-title-alt,
.post-title,
.block-head-c .title,
.slider-overlay .heading,
.large-slider .heading,
.grid-slider .heading,
.carousel-slider .heading,
.grid-b-slider .heading,
.bold-slider .heading,
.main-pagination.number,
.post-content h1,
.textwidget h1,
.post-content h2,
.textwidget h2,
.post-content h3,
.textwidget h3,
.post-content h4,
.textwidget h4,
.post-content h5,
.textwidget h5,
.post-content h6,
.textwidget h6,
.widget_calendar tfoot a,
.woocommerce ul.products li.product,
.woocommerce ul.products li.product .product-cat,
.woocommerce ul.products .product_type_external,
.woocommerce ul.products .added_to_cart,
.woocommerce .widget_price_filter .price_slider_amount,
.woocommerce ul.cart_list li a,
.woocommerce ul.product_list_widget li a,
.woocommerce.widget_shopping_cart .total > strong,
.woocommerce div.product .product_title,
.woocommerce #content div.product .product_title,
.woocommerce div.product .product_meta,
.woocommerce #content div.product .product_meta,
.woocommerce #reviews #comments ol.commentlist li .meta strong,
.woocommerce #reviews .comment-form-rating,
.woocommerce-cart table.cart .label,
.woocommerce-cart table.cart .product-name > a,
.woocommerce-cart table.cart .product-cat a,
.woocommerce .checkout .shop_table thead th {
  text-transform: none;
}

/**
 * General components and global changes
 */
*,
:before,
:after {
  -webkit-font-smoothing: antialiased;
}

.large-post-b .read-more a, .list-post-b .read-more-btn, .grid-post-b .read-more-btn {
  padding: 0;
  padding-bottom: 4px;
  border: 0;
  background: transparent;
  text-transform: none;
  font-family: "HK Grotesk", system-ui, sans-serif;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0;
  color: #000;
  border-bottom: 1px solid var(--main-color);
}

.large-post-b .read-more a:hover, .list-post-b .read-more-btn:hover, .grid-post-b .read-more-btn:hover {
  background: inherit;
  border-color: #000;
  color: inherit;
  opacity: 0.8;
}

::-moz-selection {
  background: rgba(232, 77, 21, 0.2);
}

::selection {
  background: rgba(232, 77, 21, 0.2);
}

::-moz-selection {
  background: rgba(232, 77, 21, 0.2);
}

h1 {
  font-size: 29px;
}

h2 {
  font-size: 26px;
}

h3 {
  font-size: 22px;
}

input[type="submit"],
button, input[type="button"],
.button {
  font-family: "HK Grotesk", system-ui, sans-serif;
  font-size: 12px;
  letter-spacing: 0.05em;
}

input,
textarea,
select {
  color: #9c9c9c;
  font-size: 14px;
}

.modern-quote,
.wp-block-quote.is-style-large {
  color: #000;
}

.wp-block-pullquote {
  color: #000;
}

blockquote {
  font-family: "IBM Plex Serif", Georgia, serif;
  font-size: 21px;
  font-weight: 500;
  font-style: normal;
}

.section-head .title {
  font-size: 13px;
  font-weight: 700;
  letter-spacing: 0.05em;
  color: #161616;
}

.post-meta {
  font-size: 12px;
  font-family: "HK Grotesk", system-ui, sans-serif;
  font-weight: 500;
}

.post-meta .post-cat > a {
  font-weight: 600;
  letter-spacing: 0.05em;
}

.post-meta time {
  color: #aaa;
}

.post-meta time,
.post-meta .comments {
  font-weight: inherit;
  letter-spacing: 0.05em;
}

.post-meta-a,
.post-meta-alt {
  margin-left: auto;
  margin-right: auto;
}

.post-meta-b {
  margin-bottom: 34px;
}

.post-meta-b .date-link,
.post-meta-b .comments {
  color: #505050;
}

.post-meta-b .post-title-alt {
  margin: 17px auto;
}

.post-meta-b .meta-sep {
  padding: 0 2px;
}

.post-title,
.post-title-alt {
  font-family: "HK Grotesk", system-ui, sans-serif;
  font-weight: 700;
  color: #000;
  line-height: 1.3;
}

.post-title a,
.post-title-alt a {
  color: #000;
}

.post-title-alt {
  margin-top: 16px;
  margin-bottom: 16px;
  line-height: 1.285;
  font-size: 27px;
}

.post-title-alt:after {
  display: none;
  width: 30px;
}

.text,
.post-content,
.textwidget {
  font-size: 15px;
  line-height: 1.7;
}

.main-pagination .next a,
.main-pagination .previous a {
  letter-spacing: 0.15em;
}

.main-pagination .load-button {
  font-family: "HK Grotesk", system-ui, sans-serif;
  min-width: initial;
  padding: 0 40px;
  border-color: var(--main-color);
  background: var(--main-color);
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  line-height: 45px;
  letter-spacing: 0.075em;
}

.main-pagination .load-button:hover {
  opacity: 0.9;
}

.main-pagination .load-button .fa:not(.fa-spin) {
  display: none;
}

/**
 * Header and Nav
 */
.navigation {
  font-size: 13px;
  font-weight: 600;
  font-family: "HK Grotesk", system-ui, sans-serif;
  letter-spacing: 0.05em;
}

.navigation .menu > li li a {
  color: #414141;
  font-size: 12px;
}

.navigation .menu > li li a,
.navigation .mega-menu .sub-cats a {
  font-weight: 500;
  letter-spacing: 0.09em;
}

.navigation .mega-menu .recent-posts .post-title {
  margin-bottom: 9px;
  font-size: 15px;
  font-weight: 600;
  letter-spacing: 0;
}

.main-head.compact .menu > li > a {
  font-size: 14px;
  font-weight: 700;
}

.main-head.compact .menu > li li a,
.main-head.compact .mega-menu .sub-cats a {
  font-size: 15px;
  font-weight: 600;
}

.main-head.top-below .menu > li > a {
  font-size: 14px;
  font-weight: 600;
}

.main-head.top-below .menu li li a {
  font-size: 13px;
}

.main-head.simple-boxed .menu > li > a {
  font-weight: 600;
}

.main-head .dark .top-bar-content {
  background: #e84d15;
  border-color: #e84d15;
  color: #fafafa;
}

.main-head .dark .cart-action a,
.main-head .dark .search-field,
.main-head .dark .search-submit,
.main-head .dark .social-icons a {
  color: inherit;
}

.search-action .search-field {
  width: 65px;
}

.top-bar.dark .posts-ticker a {
  color: #f1f1f1;
}

.top-bar.dark .posts-ticker .heading {
  font-weight: 700;
}

.main-head.compact .top-bar-content {
  line-height: 38px;
  height: 38px;
}

.main-head.compact .posts-ticker {
  text-transform: none;
  letter-spacing: 0;
}

.main-head.compact .posts-ticker .heading {
  padding: 0 12px;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.075em;
  line-height: inherit;
}

.main-head.compact .posts-ticker a {
  font-family: "HK Grotesk", system-ui, sans-serif;
  font-size: 13px;
  font-weight: 500;
}

.main-head.compact .dark .posts-ticker .heading {
  background: #fff;
  color: #e84d15;
}

.main-head.compact .dark .posts-ticker a {
  color: #fff;
}

.mobile-menu li a {
  letter-spacing: 0.12em;
}

.the-wrap.head {
  margin-bottom: 32px;
  padding: 32px 0;
}

/**
 * Posts adjustments
 */
.posts-dynamic .grid-post {
  margin-bottom: 50px;
}

.the-post-header .post-meta-b .post-title,
.the-post-header .post-meta-b .post-title-alt,
.large-post .post-title,
.large-post .post-title-alt {
  max-width: 88%;
}

.large-post .featured img {
  margin-bottom: 30px;
}

.large-post .author {
  letter-spacing: 0;
}

.large-post-b .read-more a:hover {
  background: #000;
  color: #fff;
}

.large-post-b .read-more a:before {
  display: none;
}

.large-post-b .read-more a span {
  padding: 0;
  background: transparent;
}

.large-post-b .post-footer {
  letter-spacing: 0;
  padding-bottom: 2px;
  border-bottom: 1px solid #ebebeb;
}

.large-post-b .post-footer .author a {
  letter-spacing: 0.15em;
}

.large-post-b .post-footer .number {
  font-size: 13px;
  font-weight: 400;
}

.large-post-b .post-footer .social-icons a {
  font-size: 14px;
}

.post-footer {
  margin-top: 45px;
}

.post-footer .read-more {
  font-size: 11px;
  font-weight: 900;
  letter-spacing: 0.1em;
}

.posts-dynamic.list + .main-pagination .load-button {
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.list-post .post-excerpt {
  line-height: 1.7;
}

.list-post-b .post-title {
  max-width: 100%;
  font-size: 22px;
  line-height: 1.3;
}

.list-post-b .post-footer {
  margin-top: 22px;
}

.grid-post .post-title-alt {
  font-size: 22px;
}

.grid-post .post-meta-b {
  margin-top: 26px;
}

.grid-post-b .meta-title,
.news-block .grid-post .meta-title {
  position: relative;
}

.grid-post-b .post-meta-b,
.news-block .grid-post .post-meta-b {
  margin-bottom: 20px;
}

.grid-post-b .post-meta-b .post-title-alt:after,
.news-block .grid-post .post-meta-b .post-title-alt:after {
  display: block;
}

.grid-post-b .post-meta-b .text-in,
.news-block .grid-post .post-meta-b .text-in {
  display: none;
}

.grid-post-b .post-meta-b .post-cat,
.news-block .grid-post .post-meta-b .post-cat {
  position: absolute;
  width: 100%;
  top: 0;
  -webkit-transform: translateY(calc(-100% - 26px));
          transform: translateY(calc(-100% - 26px));
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  pointer-events: none;
}

.grid-post-b .post-meta-b .category,
.news-block .grid-post .post-meta-b .category {
  padding: 0 9px;
  padding-top: 2px;
  background: #fff;
  line-height: 25px;
  font-size: 12px;
  pointer-events: auto;
}

.grid-post-b .post-meta-b .category:hover,
.news-block .grid-post .post-meta-b .category:hover {
  opacity: 1;
}

.small-post .post-title {
  font-family: "HK Grotesk", system-ui, sans-serif;
  font-size: 15px;
}

.news-block .content,
.news-block .post-content {
  text-align: center;
}

.news-block .posts-list {
  margin-bottom: -38px;
}

.news-block .small-post {
  margin-bottom: 38px;
}

.news-block .small-post img {
  margin-bottom: 22px;
}

.news-block .small-post .post-title {
  font-size: 17px;
  font-weight: 700;
  line-height: 1.35;
}

.news-block .small-post .post-meta {
  display: none;
}

/**
 * Single Post 
 */
.single-cover .overlay .post-by {
  font-weight: 500;
  letter-spacing: 0.14em;
}

.single-creative .featured .post-meta {
  font-size: 13px;
}

.single-magazine .post-top .post-title {
  font-size: calc(0.82353vw + 24.11765px);
  -webkit-text-stroke: 0.3px #444;
}

.single-magazine .post-top .sub-title {
  margin-bottom: 19px;
}

.single-magazine .post-meta time {
  font-weight: 600;
}

.single-magazine .cat-label a {
  font-family: "HK Grotesk", system-ui, sans-serif;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 0.05em;
  line-height: 23px;
}

.the-post-header .post-title,
.the-post-header .post-title-alt {
  font-size: 31px;
}

.post-share-b .service {
  font-weight: 600;
}

.post-content h1, .post-content h2, .post-content h3, .post-content h4, .post-content h5, .post-content h6 {
  font-family: "HK Grotesk", system-ui, sans-serif;
  font-weight: 700;
}

.post-content .wp-block-image figcaption,
.post-content .wp-caption-text,
.post-content figcaption {
  font-size: 14px;
  font-style: normal;
  color: #888;
}

.entry-content {
  font-size: 17px;
  color: #3b3b3b;
  line-height: 1.71;
}

.entry-content p {
  margin-bottom: 1.65em;
}

.tag-share .post-tags a {
  letter-spacing: 0.075em;
  font-weight: 700;
}

.post-share-icons a {
  color: #161616;
}

.author-box .author > a {
  font-family: "HK Grotesk", system-ui, sans-serif;
  font-size: 22px;
}

.related-posts .post-title {
  margin-bottom: 12px;
  font-size: 17px;
  font-weight: 600;
  letter-spacing: 0;
}

.related-posts .post-meta {
  font-size: 11px;
}

.related-posts.grid-2 .post-title {
  margin-bottom: 12px;
  font-size: 19px;
  font-weight: 700;
}

.post-nav .post-title {
  margin-bottom: 8px;
  font-family: inherit;
  line-height: 1.3;
  font-weight: 600;
}

.comments-list .comment-author {
  font-family: "HK Grotesk", system-ui, sans-serif;
  font-size: 17px;
}

.comments-list .comment-meta {
  font-family: "HK Grotesk", system-ui, sans-serif;
}

.comments-list .comment-time {
  color: #a0a0a0;
  font-size: 11px;
}

.comments-list .comment-text {
  margin-top: 9px;
}

.post-share-float .share-text {
  font-weight: 600;
  letter-spacing: 0.075em;
}

/**
 * Home & Archives changes
 */
.subscribe-box {
  margin-top: -15px;
  padding-left: 27px;
  padding-right: 32px;
}

.subscribe-box .text {
  font-size: 14px;
}

.subscribe-box .input {
  height: 3.15385em;
  width: 270px;
}

.subscribe-box .button {
  width: auto;
  padding: 15px 34px;
  background: #000;
}

.block-heading {
  margin-top: 0;
  margin-bottom: 55px;
}

.block-heading .title {
  background: transparent;
  font-size: 24px;
  font-weight: 800;
  letter-spacing: 0;
}

.block-heading .title:before,
.block-heading .title:after {
  display: none;
}

.block-heading:before {
  display: none;
}

.block-heading:after {
  top: 100%;
  left: 50%;
  margin-top: 12px;
  margin-left: -18px;
  width: 30px;
  height: 1px;
  background: #000;
}

.posts-carousel .post-link {
  margin-bottom: 18px;
}

.posts-carousel .post-title {
  margin-top: 16px;
  margin-bottom: 16px;
  font-size: 20px;
}

.posts-carousel .post-meta {
  font-size: 10px;
}

.archive-head .title {
  font-weight: 700;
}

.slider-overlay .heading {
  font-family: "HK Grotesk", system-ui, sans-serif;
  font-weight: 700;
  color: #000;
  line-height: 1.2;
}

.slider-overlay .excerpt {
  font-size: 14px;
  letter-spacing: 0;
}

.classic-slider .heading {
  font-size: 24px;
  margin-bottom: 8px;
}

.common-slider .post-title,
.common-slider .heading {
  font-family: "HK Grotesk", system-ui, sans-serif;
  font-weight: 700;
  color: #000;
  line-height: 1.3;
}

.common-slider .category {
  font-family: "HK Grotesk", system-ui, sans-serif;
  font-weight: 700;
  letter-spacing: 0.05em;
}

.fashion-slider .post-title {
  margin-top: 18px;
  margin-bottom: 18px;
}

.carousel-slider .heading {
  font-size: 21px;
}

/**
 * Sidebar adjustments
 */
.sidebar .widget-title {
  border-color: #e84d15;
  font-weight: 700;
}

.sidebar .widget_mc4wp_form_widget,
.sidebar .widget-subscribe {
  padding: 30px;
  background: #f7f7f7;
}

.widget-cta .label {
  padding: 8px 18px;
  font-weight: 500;
  font-size: 11px;
  color: #161616;
  letter-spacing: 0.15em;
}

.blocks > .widget-cta {
  padding-bottom: 35px;
  border-bottom: 1px solid #efefef;
  margin-bottom: 70px;
}

.widget_mc4wp_form_widget .message,
.widget-subscribe .message {
  letter-spacing: 0;
  font-size: 14px;
}

.widget_mc4wp_form_widget p:last-of-type,
.widget-subscribe p:last-of-type {
  margin-top: -17px;
}

.widget-posts .post-title {
  font-family: "HK Grotesk", system-ui, sans-serif;
  font-size: 15px;
  font-weight: 600;
  line-height: 1.36;
  letter-spacing: 0;
}

.widget-posts .posts.large .post-title {
  font-size: 17px;
}

/* Footer Changes */
.upper-footer .widget-title {
  margin-bottom: 42px;
  color: #222;
  font-size: 16px;
  font-weight: 700;
}

.upper-footer .widget-posts .post-meta {
  color: #707070;
}

.upper-footer .widget-about .about-text {
  font-size: 14px;
}

.lower-footer .copyright {
  font-size: 14px;
}

.lower-footer .social-icons {
  letter-spacing: 0.12em;
}

.main-footer.stylish .copyright a {
  color: #e84d15;
}

.main-footer.dark {
  background: #020202;
}

.main-footer.dark .widget-title {
  font-weight: 800;
}

.main-footer.dark .copyright {
  font-weight: 500;
}

.main-footer.dark .post-date {
  color: inherit;
}

.main-footer.bold .links .menu-item {
  font-size: 13px;
  font-weight: 600;
  letter-spacing: 0.075em;
}

@media (min-width: 1200px) {
  .modern-quote,
  .wp-block-quote.is-style-large {
    font-size: 27px;
  }
  .navigation.simple .menu > li > a {
    font-size: 17px;
    font-weight: 700;
  }
  .single-cover .overlay .post-title {
    font-size: 36px;
  }
  .single-magazine .post-top .post-title {
    max-width: 80%;
    font-size: 37px;
  }
  .fashion-slider .post-title {
    font-size: 29px;
  }
}

@media (min-width: 940px) {
  .grid-post-b .post-title-alt,
  .grid-post-b .post-excerpt,
  .news-block .grid-post .post-title-alt,
  .news-block .grid-post .post-excerpt {
    max-width: 70%;
    margin-left: auto;
    margin-right: auto;
  }
  .grid-post-b .post-excerpt,
  .news-block .grid-post .post-excerpt {
    max-width: 85%;
  }
  .overlay-post .post-title {
    margin-top: 18px;
    margin-bottom: 18px;
    font-size: 30px;
  }
  .news-block .small-post .post-title {
    max-width: 85%;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: 767px) {
  .main-head.compact .posts-ticker {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
  }
  .subscribe-box .input {
    margin-right: 15px;
  }
  .fashion-slider .overlay {
    max-width: 645px;
  }
  .carousel-slider .heading {
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 767px) {
  .single-magazine .post-top .sub-title {
    font-size: 16px;
    line-height: 1.5;
  }
}

@media (max-width: 540px) {
  .post-title-alt {
    font-size: 24px;
  }
}
