/**
 * Skin: Mom / Parents
 */
:root {
  --main-color: #00a5b2;
  --main-color-rgb: 0, 165, 178;
}

/**
 * Change Main Color
 */
input[type="submit"],
button,
input[type="button"],
.button,
.cart-action .cart-link .counter,
.main-head.compact .posts-ticker .heading,
.single-cover .overlay .post-cat a,
.comments-list .bypostauthor .post-author,
.cat-label a:hover,
.cat-label.color a,
.post-thumb:hover .cat-label a,
.products-block .more-link:hover,
.beauty-slider .slick-dots .slick-active button,
.carousel-slider .category,
.grid-b-slider .category,
.page-links .current,
.page-links a:hover,
.page-links > span,
.widget-posts .posts.full .counter:before,
.wp-block-button .wp-block-button__link,
.woocommerce span.onsale,
.woocommerce a.button,
.woocommerce button.button,
.woocommerce input.button,
.woocommerce #respond input#submit,
.woocommerce a.button.alt,
.woocommerce a.button.alt:hover,
.woocommerce button.button.alt,
.woocommerce button.button.alt:hover,
.woocommerce input.button.alt,
.woocommerce input.button.alt:hover,
.woocommerce #respond input#submit.alt,
.woocommerce #respond input#submit.alt:hover,
.woocommerce a.button:hover,
.woocommerce button.button:hover,
.woocommerce input.button:hover,
.woocommerce #respond input#submit:hover,
.woocommerce nav.woocommerce-pagination ul li span.current,
.woocommerce nav.woocommerce-pagination ul li a:hover,
.woocommerce .widget_price_filter .price_slider_amount .button {
  background: #00a5b2;
}

blockquote:before,
.main-color,
.top-bar .social-icons a:hover,
.navigation .menu > li:hover > a,
.navigation .menu > .current-menu-item > a,
.navigation .menu > .current-menu-parent > a,
.navigation .menu > .current-menu-ancestor > a,
.navigation li:hover > a:after,
.navigation .current-menu-item > a:after,
.navigation .current-menu-parent > a:after,
.navigation .current-menu-ancestor > a:after,
.navigation .menu li li:hover > a,
.navigation .menu li li.current-menu-item > a,
.tag-share .post-tags a:hover,
.post-share-icons a:hover,
.post-share-icons .likes-count,
.author-box .author > span,
.comments-area .section-head .number,
.comments-list .comment-reply-link,
.comment-form input[type=checkbox],
.main-footer.dark .social-link:hover,
.lower-footer .social-icons .fa,
.archive-head .sub-title,
.social-share a:hover,
.social-icons a:hover,
.post-meta .post-cat > a,
.post-meta-c .post-author > a,
.large-post-b .post-footer .author a,
.trendy-slider .post-cat a,
.main-pagination .next a:hover,
.main-pagination .previous a:hover,
.main-pagination.number .current,
.post-content a,
.textwidget a,
.widget-about .more,
.widget-about .social-icons .social-btn:hover,
.widget-social .social-link:hover,
.wp-block-pullquote blockquote:before,
.egcf-modal .checkbox,
.woocommerce .star-rating:before,
.woocommerce .star-rating span:before,
.woocommerce .amount,
.woocommerce .order-select .drop a:hover,
.woocommerce .order-select .drop li.active,
.woocommerce-page .order-select .drop a:hover,
.woocommerce-page .order-select .drop li.active,
.woocommerce .widget_price_filter .price_label .from,
.woocommerce .widget_price_filter .price_label .to,
.woocommerce div.product div.summary p.price,
.woocommerce div.product div.summary span.price,
.woocommerce #content div.product div.summary p.price,
.woocommerce #content div.product div.summary span.price {
  color: #00a5b2;
}

.products-block .more-link:hover,
.beauty-slider .slick-dots .slick-active button,
.page-links .current,
.page-links a:hover,
.page-links > span,
.woocommerce nav.woocommerce-pagination ul li span.current,
.woocommerce nav.woocommerce-pagination ul li a:hover {
  border-color: #00a5b2;
}

.woocommerce .widget_price_filter .ui-slider .ui-slider-handle {
  background-color: #00a5b2;
}

.post-title-alt:after,
.block-head-b .title {
  border-bottom: 1px solid #00a5b2;
}

.widget_categories a:before,
.widget_product_categories a:before,
.widget_archive a:before {
  border: 1px solid #00a5b2;
}

/* Change text / contrast font */
body,
input,
textarea,
select,
.archive-head .description,
.text,
.post-meta .text-in,
.post-content,
.textwidget,
.widget_categories a,
.widget_product_categories a,
.widget_archive a,
.woocommerce .woocommerce-message,
.woocommerce .woocommerce-error,
.woocommerce .woocommerce-info,
.woocommerce form .form-row,
.woocommerce .woocommerce-noreviews,
.woocommerce #reviews #comments ol.commentlist .description,
.woocommerce-cart .cart-empty,
.woocommerce-cart .cart-collaterals .cart_totals table {
  font-family: Lato, Arial, sans-serif;
  letter-spacing: 0;
  -webkit-font-smoothing: initial;
}

/* Change main body and heading font */
h1,
h2,
h3,
h4,
h5,
h6,
input[type="submit"],
button,
input[type="button"],
.button,
blockquote cite,
blockquote .wp-block-pullquote__citation,
.top-bar-content,
.search-action .search-field,
.main-head .title,
.navigation,
.tag-share,
.post-share-b .service,
.post-share-float .share-text,
.author-box,
.comments-list .comment-content,
.post-nav .label,
.main-footer.dark .back-to-top,
.lower-footer .social-icons,
.main-footer .social-strip .social-link,
.main-footer.bold .links .menu-item,
.main-footer.bold .copyright,
.archive-head,
.cat-label a,
.section-head,
.post-title-alt,
.post-title,
.block-heading,
.block-head-b,
.block-head-c,
.small-post .post-title,
.likes-count .number,
.post-meta,
.grid-post-b .read-more-btn,
.list-post-b .read-more-btn,
.post-footer .read-more,
.post-footer .social-share,
.post-footer .social-icons,
.large-post-b .post-footer .author a,
.products-block .more-link,
.main-slider,
.slider-overlay .heading,
.large-slider,
.large-slider .heading,
.grid-slider .category,
.grid-slider .heading,
.carousel-slider .category,
.carousel-slider .heading,
.grid-b-slider .heading,
.bold-slider,
.bold-slider .heading,
.main-pagination,
.main-pagination .load-button,
.page-links,
.post-content .read-more,
.widget-about .more,
.widget-posts .post-title,
.widget-posts .posts.full .counter:before,
.widget-cta .label,
.social-follow .service-link,
.widget-twitter .meta .date,
.widget-twitter .follow,
.widget_categories,
.widget_product_categories,
.widget_archive,
.wp-block-button .wp-block-button__link,
.mobile-menu,
.woocommerce .main .button,
.woocommerce .quantity .qty,
.woocommerce nav.woocommerce-pagination,
.woocommerce-cart .post-content,
.woocommerce .woocommerce-ordering,
.woocommerce-page .woocommerce-ordering,
.woocommerce ul.products,
.woocommerce.widget,
.woocommerce div.product,
.woocommerce #content div.product,
.woocommerce-cart .cart-collaterals .cart_totals .button,
.woocommerce .checkout .shop_table thead th,
.woocommerce .checkout .shop_table .amount,
.woocommerce-checkout #payment #place_order {
  font-family: Lato, Arial, sans-serif;
}

.mega-menu .recent-posts .post-title,
.text,
.post-footer .author a,
.post-footer .read-more-link,
.post-content,
.widget-cta .label,
.textwidget,
.tagcloud a,
.widget_categories a,
.widget_product_categories a,
.widget_archive a {
  color: #333;
}

/* Remove uppercase text on several elements */
.navigation.inline .menu > li li a,
.navigation.inline .mega-menu .sub-cats a,
.navigation.simple,
.author-box .author > a,
.comments-list .comment-author,
.post-title-alt,
.post-title,
.block-head-c .title,
.slider-overlay .heading,
.large-slider .heading,
.grid-slider .heading,
.carousel-slider .heading,
.grid-b-slider .heading,
.bold-slider .heading,
.main-pagination.number,
.post-content h1,
.textwidget h1,
.post-content h2,
.textwidget h2,
.post-content h3,
.textwidget h3,
.post-content h4,
.textwidget h4,
.post-content h5,
.textwidget h5,
.post-content h6,
.textwidget h6,
.widget_calendar tfoot a,
.woocommerce ul.products li.product,
.woocommerce ul.products li.product .product-cat,
.woocommerce ul.products .product_type_external,
.woocommerce ul.products .added_to_cart,
.woocommerce .widget_price_filter .price_slider_amount,
.woocommerce ul.cart_list li a,
.woocommerce ul.product_list_widget li a,
.woocommerce.widget_shopping_cart .total > strong,
.woocommerce div.product .product_title,
.woocommerce #content div.product .product_title,
.woocommerce div.product .product_meta,
.woocommerce #content div.product .product_meta,
.woocommerce #reviews #comments ol.commentlist li .meta strong,
.woocommerce #reviews .comment-form-rating,
.woocommerce-cart table.cart .label,
.woocommerce-cart table.cart .product-name > a,
.woocommerce-cart table.cart .product-cat a,
.woocommerce .checkout .shop_table thead th {
  text-transform: none;
}

/**
 * Header and Nav
 */
.top-bar-content {
  font-family: Montserrat, Arial, sans-serif;
}

.top-bar-content .search-field {
  font-family: inherit;
}

.main-head.nav-below .top-bar-content {
  background: #00a5b2;
  border-color: #00a5b2;
  color: #fafafa;
}

.main-head.nav-below .cart-action {
  margin-left: 9px;
}

.main-head.nav-below .cart-action a,
.main-head.nav-below .search-field,
.main-head.nav-below .search-submit {
  color: inherit;
}

.main-head.nav-below .search-submit {
  font-size: 15px;
}

.main-head.nav-below .search-field {
  width: 65px;
  margin-left: 5px;
  font-size: 12px;
  font-weight: 500;
}

.main-head.nav-below .social-icons a {
  color: inherit;
}

.dark .cart-link .counter {
  padding-top: 2px;
  background: #fff;
  color: #5e5e5e;
  font-weight: 600;
}

.navigation {
  font-family: Montserrat, Arial, sans-serif;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 0.1em;
  color: #535353;
}

.navigation .menu > li li a,
.navigation .mega-menu .sub-cats a {
  letter-spacing: 0.1em;
}

.navigation .mega-menu .recent-posts .post-title {
  font-family: Lato, Arial, sans-serif;
  font-size: 15px;
  letter-spacing: 0;
}

.navigation.below {
  font-size: 14px;
  line-height: 52px;
  height: 52px;
  border-top-color: #e6e6e6;
  border-bottom-color: #e6e6e6;
}

.navigation.dark {
  font-weight: 400;
}

.navigation.dark .menu > li > a,
.navigation.dark .menu > .current-menu-item > a,
.navigation.dark .menu > .current-menu-parent > a,
.navigation.dark .menu > .current-menu-ancestor > a {
  color: #fff;
}

.navigation.dark .menu li:hover > a,
.navigation.dark .menu li li:hover > a,
.navigation.dark .menu li:hover > a:after {
  color: #00a5b2;
}

.navigation.dark .menu > li li a,
.navigation.dark .mega-menu .sub-cats a {
  color: #eee;
  font-weight: 400;
}

.navigation.dark .mega-menu .recent-posts .post-title {
  color: #eee;
}

.mobile-menu li a {
  letter-spacing: 0.12em;
}

.head-nav-below + .carousel-slider {
  margin-top: 48px;
}

/**
 * General components and global changes
 */
.large-post-b .read-more a, .list-post-b .read-more-btn, .grid-post-b .read-more-btn {
  padding: 12px 19px;
  border: 1px solid #ddd;
  color: #555;
  background: transparent;
  font-size: 11px;
  font-weight: 600;
  letter-spacing: 0.1em;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}

::-moz-selection {
  background: rgba(0, 165, 178, 0.2);
}

::selection {
  background: rgba(0, 165, 178, 0.2);
}

::-moz-selection {
  background: rgba(0, 165, 178, 0.2);
}

input[type="submit"],
button, input[type="button"],
.button {
  font-size: 13px;
  letter-spacing: 0.1em;
}

input,
textarea,
select {
  color: #9c9c9c;
}

blockquote {
  font-family: "Arima Madurai", Palatino, serif;
  font-size: 21px;
  color: #989898;
}

.section-head .title {
  font-weight: 600;
  font-size: 13px;
  letter-spacing: 0.1em;
  color: #161616;
}

.post-meta {
  font-size: 11px;
  font-family: "Segoe UI", Lato, Roboto, sans-serif;
}

.post-meta .text-in {
  display: none;
}

.post-meta .post-cat > a {
  letter-spacing: 0.12em;
}

.post-meta time {
  color: #aaa;
  font-weight: 400;
}

.post-meta time,
.post-meta .comments {
  letter-spacing: 0.11em;
}

.post-meta-b .post-title-alt {
  margin: 18px 0;
}

.post-title,
.post-title-alt {
  font-family: "Arima Madurai", Palatino, serif;
  font-weight: 600;
  color: #000;
  line-height: 1.4;
}

.post-title .post-cat > a,
.post-title-alt .post-cat > a {
  font-size: 12px;
  -webkit-font-smoothing: antialiased;
}

.post-title a,
.post-title-alt a {
  color: #000;
}

.post-title-alt {
  margin-top: 16px;
  margin-bottom: 16px;
  font-size: 29px;
}

.post-title-alt:after {
  display: none;
}

.text,
.post-content,
.textwidget {
  font-size: 14px;
  line-height: 1.86;
  -webkit-font-smoothing: antialiased;
}

.main-pagination .next a,
.main-pagination .previous a {
  letter-spacing: 0.15em;
}

.main-pagination .load-button {
  min-width: initial;
  padding: 2px 60px;
  background: #fff;
  font-weight: 800;
  letter-spacing: 0.075em;
}

.main-pagination.load-more {
  margin-top: 80px;
}

/**
 * Posts adjustments
 */
.social-share li {
  margin-right: 12px;
  font-size: 14px;
}

.social-share a {
  color: #111;
}

.likes-count {
  color: #555;
}

.likes-count:before {
  color: #00a5b2;
}

.likes-count .number {
  margin-left: 5px;
}

.large-post .featured img {
  margin-bottom: 30px;
}

.large-post .author {
  letter-spacing: 0;
}

.large-post-b .read-more a:hover {
  background: #000;
  color: #fff;
}

.large-post-b .read-more a:before {
  display: none;
}

.large-post-b .read-more a span {
  padding: 0;
  background: transparent;
}

.large-post-b .post-footer {
  letter-spacing: 0;
  padding-bottom: 2px;
  border-bottom: 1px solid #ebebeb;
}

.large-post-b .post-footer .author a {
  letter-spacing: 0.15em;
}

.large-post-b .post-footer .number {
  font-size: 13px;
  font-weight: 400;
}

.large-post-b .post-footer .social-icons a {
  font-size: 14px;
}

.post-footer {
  margin-top: 45px;
}

.post-footer .read-more {
  font-size: 11px;
  font-weight: 900;
  letter-spacing: 0.1em;
}

.list-post .post-excerpt {
  font-size: 14px;
}

.grid-post .post-meta-b {
  margin-top: 28px;
  margin-bottom: 20px;
}

.grid-post .post-footer {
  margin-top: 34px;
}

.grid-post .post-excerpt {
  text-align: center;
}

/* Single Post */
.single-cover .overlay .post-by {
  font-weight: 600;
  letter-spacing: 0.12em;
}

.post-content {
  font-size: 15px;
  font-weight: 400;
}

.post-content h1, .post-content h2, .post-content h3, .post-content h4, .post-content h5, .post-content h6 {
  font-weight: 600;
}

.tag-share .post-tags a {
  letter-spacing: 0.1em;
  font-weight: 700;
}

.post-share-icons a {
  color: #161616;
}

.author-box .author > a {
  font-size: 22px;
}

.related-posts .post-title {
  font-family: Lato, Arial, sans-serif;
  font-size: 15px;
  font-weight: 600;
  letter-spacing: 0;
}

.related-posts .post-meta {
  font-size: 10px;
}

/**
 * Home & Archives changes
 */
.block-heading .title {
  font-size: 15px;
}

.subscribe-box {
  margin-top: -15px;
  padding-left: 27px;
  padding-right: 32px;
}

.subscribe-box .text {
  font-size: 14px;
}

.subscribe-box .input {
  height: 3.15385em;
  width: 270px;
}

.subscribe-box .button {
  font-size: 13px;
  width: auto;
  padding: 14px 34px;
  vertical-align: top;
}

.posts-carousel .post-link {
  margin-bottom: 18px;
}

.posts-carousel .post-title {
  margin-top: 16px;
  margin-bottom: 16px;
}

.posts-carousel .post-meta {
  font-size: 10px;
}

.slider-overlay .heading {
  font-family: "Arima Madurai", Palatino, serif;
  font-weight: 400;
  letter-spacing: 0;
}

.slider-overlay .excerpt {
  font-size: 14px;
  letter-spacing: 0;
}

.common-slider .post-title,
.common-slider .heading {
  font-family: "Arima Madurai", Palatino, serif;
  font-weight: 600;
  color: #000;
  line-height: 1.4;
}

.carousel-slider .heading {
  margin-top: 10px;
  margin-bottom: 2px;
  font-weight: 500;
}

.carousel-slider .category {
  padding: 8px 11px;
  font-family: "Segoe UI", Lato, Roboto, sans-serif;
  font-size: 11px;
  font-weight: 600;
  letter-spacing: 0.12em;
}

/**
 * Sidebar adjustments
 */
.sidebar .widget-title {
  font-family: "Arima Madurai", Palatino, serif;
  font-weight: 600;
  color: #000;
  border: 0;
  color: #00a5b2;
  text-transform: none;
  font-size: 21px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 1.2;
}

.sidebar .widget-title:after {
  content: "";
  display: block;
  margin: 0 auto;
  margin-top: 10px;
  width: 36px;
  border-bottom: 2px solid #00a5b2;
}

.sidebar .widget_mc4wp_form_widget,
.sidebar .widget-subscribe {
  background: #f7f7f7;
}

.sidebar .widget_mc4wp_form_widget .widget-title,
.sidebar .widget-subscribe .widget-title {
  font-family: Lato, Arial, sans-serif;
  font-size: 12px;
  font-weight: 800;
  letter-spacing: 0.075em;
  color: #161616;
  line-height: 1;
  text-transform: uppercase;
}

.sidebar .widget_mc4wp_form_widget .widget-title:after,
.sidebar .widget-subscribe .widget-title:after {
  margin-top: 18px;
  width: 18px;
  border-bottom: 0;
}

.widget-posts .post-title {
  font-size: 15px;
  font-weight: 600;
  line-height: 1.6;
  letter-spacing: 0;
}

.widget-posts .posts.large .post-title {
  font-size: 16px;
  font-weight: 600;
  -webkit-font-smoothing: antialiased;
}

.widget .mc4wp-form .message,
.widget-subscribe .message {
  letter-spacing: 0;
}

.widget-about .more {
  color: #161616;
  font-weight: 700;
}

/* Footer Changes */
.upper-footer .widget-title {
  padding-bottom: 9px;
  color: #00a5b2;
  font-family: "Arima Madurai", Palatino, serif;
  font-size: 21px;
  font-weight: 500;
  text-transform: none;
}

.upper-footer .widget-posts .post-meta {
  color: #707070;
}

.upper-footer .widget-about .about-text {
  font-size: 14px;
}

.lower-footer .copyright {
  font-size: 13px;
}

.lower-footer .social-icons {
  letter-spacing: 0.12em;
}

.main-footer.dark .post-title,
.main-footer.dark .product-title {
  font-weight: 500;
  -webkit-font-smoothing: initial;
}

@media (min-width: 1200px) {
  .modern-quote,
  .wp-block-quote.is-style-large {
    font-size: 32px;
  }
  .list-post .post-title {
    font-size: 26px;
    max-width: 90%;
  }
  .grid-post .post-meta-a .post-title-alt,
  .grid-post .post-meta-b .post-title-alt {
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
  .fashion-slider .post-title {
    font-size: 36px;
  }
}

@media (min-width: 767px) {
  .subscribe-box .input {
    margin-right: 15px;
  }
}

@media (max-width: 540px) {
  .post-title-alt {
    font-size: 24px;
  }
}
