#adminmenu .menu-icon-sp_easy_accordion .wp-menu-image img {
    width: 16px;
    padding: 4px 0;
    margin-top: 4px;
}

/* Help Page */
.sp-eap-text-center{
    text-align: center;
}
div.sp-eap-help .wp-badge{
    border: none;
    background: url(../img/logo.png) right no-repeat;
    box-shadow: none;
    height: auto;
    top: -75px;
}
.sp-eap-help.about-wrap [class$="-col"] {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.sp-eap-help.about-wrap [class$="-col"] .col {
    flex: 1;
    align-self: flex-start;
}
.sp-eap-help.about-wrap .feature-section .col {
    margin-top: 40px;
}
.sp-eap-help.about-wrap [class$="-col"] .col+.col {
    margin-left: 20px;
}
.wrap.about-wrap.sp-eap-help .headline-feature.feature-video{
    position: relative;
    margin: 40px 0;
    padding-bottom: 56.25%;
    width: 100%;
    max-width: 100%;
    height: 0;
    text-align: center;
}

div.sp-eap-help .headline-feature.feature-video iframe{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
div.sp-eap-help .feature-section .sp-eap-feature{
    background-color: #fff;
    padding: 20px 20px;
    border: 1px solid #ddd;
}
div.sp-eap-help .feature-section .sp-eap-feature h3{
    font-size: 16px;
    margin-top: 18px;
}

div.sp-eap-help .feature-section i.sp-eap-font-icon{
    font-size: 30px;
    display: block;
    color: #fd946f;
    font-family: fontawesome;
    font-style: normal;
}
@media (max-width: 500px) {
    div.sp-eap-help .wp-badge {
        background-position-x: center;
        top: 0;
    }
}
