//
// Skin variables, mixin, config.
// 

// Import essentials
@import '../../abstracts/_variables';
@import '../../abstracts/_utils';

// Variables for this skin
$skin-font: "Open Sans", sans-serif;
$skin-color: #08528b;
$skin-font-alt: soleil, Raleway, sans-serif; 

// For CSS variables and editor mainly
$body-font: $skin-font;
$text-font: $skin-font;
$title-font: $skin-font;
$text-tracking: 0;

// Common elements
@mixin skin-elements {
	.button {
		&:hover {
			@include btn-shadow;
		}
	}
	
	h1, h2, h3, h4, h5, h6 {
		@include special-title;
	}
	
	h1 {
		font-size: 29px;
	}
	
	h2 { 
		font-size: 26px;
	}
	
	h3 {
		font-size: 22px;
	}

	blockquote {
		font-family: Lora, Georgia, serif;
		font-size: 17px;
		color: #989898;
	}
	
	.modern-quote,
	.wp-block-quote.is-style-large  {
		&:before {
			color: #f6f6f6;
		}
	}
}

@mixin skin-text {
	font-size: 15px;
	line-height: 1.73;
	-webkit-font-smoothing: antialiased;
}

@mixin skin-entry-content {}

@mixin skin-post-content {
	line-height: 1.73;
	
	h1, h2, h3, h4, h5, h6 {
		letter-spacing: -0.02em;
		font-weight: 700;
	}
	
	h1, h2, h4 {
		margin-bottom: 0.86em;
	}
}

// ---

// @TODO: Improve mixin to skip $skin-font-alt (not needed for all selectors)
@mixin special-title {
	font-family: $skin-font-alt;
	font-weight: 700;
	letter-spacing: -0.015em;
	color: #000;
	-webkit-font-smoothing: antialiased;
}

@mixin special-title-alt {
	font-family: $skin-font-alt;
	font-weight: 700;
	letter-spacing: -0.03em;
	-webkit-font-smoothing: antialiased;
}

@mixin title-extra-bold {
	font-family: $skin-font-alt;
	font-weight: 800;
	-webkit-font-smoothing: antialiased;
}

@mixin btn-shadow {
	//box-shadow: 1px 2px 8px rgba(0,0,0,0.17);
	box-shadow: 0 5px 10px rgba(#000, 0.1), 0 3px 6px rgba(#000, 0.07);
	transform: translateY(-1px);
}