/**
 * Skin: Bold Blog 
 */

// Note: Bold skin uses selector override method on top of base CSS styling from style.scss

// Base overrides
@import 'common';
@import 'base';


/**
 * Header and Nav
 */

.main-head {
	border-color: #ebebeb;
}

.main-head.compact {
	.posts-ticker {
		letter-spacing: 0;
		font-size: 12px;
		
		a {
			text-transform: none;
		}
	}
}

.top-bar.dark .top-bar-content {
	background: #000;
}

.navigation {
	font-family: $skin-font-alt;
	font-size: 13px;
	letter-spacing: 0.06em;

	.menu > li > a {
		font-weight: 700;
		-webkit-font-smoothing: antialiased;
	}
	
	.menu li li a {
		font-size: 12px;
		color: #313131;
		letter-spacing: 0.06em;
		-webkit-font-smoothing: antialiased;
	}
	
	.mega-menu {		
		.recent-posts .post-title {
			margin-bottom: 8px;
			font-size: 15px;
			font-weight: 700;
			letter-spacing: -0.01em;
		}
		
		.post-meta {
			//font-size: 10px;
		}
	}
}

.main-head.top-below .menu > li > a {
	font-size: 13px;
}

// Inline menu style for compact header
.navigation.inline {
	letter-spacing: 0;
	color: #383838;
	
	.menu > li > a {
		font-weight: 700;
	}
	
	.menu > li li a, 
	.mega-menu .sub-cats a {
		font-size: 14px;
	}
}

.navigation.simple {
	
	.menu > li:hover > a,
	.menu li li.current-menu-item > a,
	.menu > .current-menu-item > a,
	.menu > .current-menu-parent > a,
	.menu > .current-menu-ancestor > a,
	.mega-menu .sub-cats li:hover > a {
		color: #666;
	}
	
	.menu > .menu-item-has-children > a:after {
		color: inherit !important;
	}
	
	.sub-menu > li:not(.item-mega-menu) a {
		margin: 0 -1px;
		border-left: 1px solid transparent;
		border-right: 1px solid transparent;
		//transition-property: border, background;
		transition: 0.4s cubic-bezier(0.15, 1.03, 0.58, 1);
	}
	
	.menu > li:not(.item-mega-menu) li:last-child a {
		margin-bottom: -1px;
		border-bottom: 1px solid transparent;
	}
	
	.menu > li:not(.item-mega-menu) li:hover > a {
		background: #000;
		color: #fff;
		border-color: #000;
	}
	
	// 1px off bg color
	.sub-menu > li:not(:first-child) li:first-child a {
		margin-top: -1px;
		border-top: 1px solid transparent;
	}
	
	.menu > li li a,
	.mega-menu .sub-cats a {
		font-size: 15px;
	}

}

.navigation.dark {
	&.has-bg {
		background: #000;
	}
	
	.menu > li > a,
	.menu > .current-menu-item > a, 
	.menu > .current-menu-parent > a,
	.menu > .current-menu-ancestor > a {
		color: #fff;
	}
	
	.menu li:hover > a,
	.menu li li:hover > a,
	.menu li:hover > a:after {
		color: $skin-color;
	}
	
	.menu > li li a {
		border-color: rgba(187, 187, 187, 0.15);
	}
}

.mobile-menu li a {
	letter-spacing: 0.08em;
}

/**
 * General components and global changes
 */
 
::selection { 
	background: rgba($skin-color, 0.7);
	color: #fff;
}

::-moz-selection {
	background: rgba($skin-color, 0.7);
	color: #fff;
}

input[type="submit"], 
button, input[type="button"],
.button {
	padding: 15px 25px;
	background: #000;
	font-family: $skin-font;
	font-size: 12px;
	font-weight: 700;
	letter-spacing: 0.075em;
	transition: all .25s ease-in-out;
}

input, 
textarea, 
select {
	font-size: 14px;
}

input {
	height: (42/14) * 1em;
}

@include skin-elements;
 
.post-title,
.post-title-alt {
	@include special-title;
	
	a {
		color: #000;
	}
}

.post-title-alt {
	
	// Small+ only for 42px
	@include breakpoint(false, medium) {
		font-size: 42px;
	}
	
	@include breakpoint(medium) {
		font-size: 34px;
	}

	@include breakpoint(small) {
		font-size: 27px;
	}
	
	&:after {
		display: none;
	}
}

.text,
.post-content,
.textwidget {
	@include skin-text;
}

.post-meta {
	font-family: $skin-font;
	font-size: 11px;
	
	.post-author,
	time {
		font-weight: 400;
		letter-spacing: 0.06em;
	}
	
	.post-cat > a {
		letter-spacing: 0.06em;
	}
	
	.post-cat > span {
		text-transform: lowercase;
	}
	
	.comments {
		letter-spacing: 0.06em;
		font-weight: 600;
	}
	
	.meta-sep:before {
		padding: 0 2px;
	}
}

// Pagination changes
.main-pagination {
	.next a,
	.previous a {
		font-weight: 900;
		letter-spacing: 0.15em;
	}
	
	.load-button {
		min-width: initial;
		padding: 0 60px;
		border-color: #e1e1e1;
		background: #fff;
		font-size: 13px;
		font-weight: 700;
		line-height: 40px;
		
		&:hover {
			@include btn-shadow;
		}
	}
}

// Structural
.main {
	margin-bottom: 90px;
}

/**
 * Posts adjustments
 */
 
%read-more-button {
	padding: 12px 24px;
	background: #000;
	border: 0;
	border-radius: 18px;
	color: #fff;
	
	font-size: 12px;
	font-weight: 700;
	line-height: 1;
	letter-spacing: 0.075em;
	text-transform: uppercase;
	-webkit-font-smoothing: antialiased;		
		
	&:hover {
		background: #000;
		color: #fff;
		@include btn-shadow;
	}		
}

.post-content .read-more a,
.grid-post-b .read-more-btn,
.list-post-b .read-more-btn {
	@extend %read-more-button;
}
 
 // Large and classic Single
.large-post,
.the-post:not(.the-page) .post-header {
	
	.post-meta-b {
		margin-bottom: 38px;
	}
	
	.post-title-alt {
		max-width: 90%;
		margin: 20px auto;
		font-weight: 800;
		letter-spacing: -0.03em;
		line-height: 1.142;
	}
}

// Large Post 
.large-post-b {
	.read-more {
		margin-top: 40px;
	} 
	
	.read-more a {
			
		&:before {
			display: none;
		}
		
		span {
			padding: 0;
			background: transparent;
		}
	}
}

.large-post-b .post-footer {
	letter-spacing: 0;
	padding-bottom: 2px;
	border-bottom: 1px solid #efefef;
	
	.author a {
		color: #000;
		letter-spacing: 0.06em;
	}
	
	
}

.post-footer {
	margin-top: 45px;
	
	.col {
		border-color: #efefef;
	}
	
	.read-more {
		font-size: 11px;
		font-weight: 800;
		letter-spacing: 0.1em;
	}
	
	.number {
		font-size: 13px;
	}
	
	.social-share li {
		font-size: 14px;
	}
}


// Grid Posts
.grid-post {
	.post-title-alt {
		font-size: 22px;
	}
	
	.post-thumb {
		margin-bottom: 23px;
	}
	
	.post-meta-b {
		margin-top: 23px;
		margin-bottom: 18px;
	}
}

// List Posts

.list-post-b {
	.post-title {
		margin-top: 15px;
		margin-bottom: 20px;
		max-width: initial;
		font-size: 23px;
	}
}

.posts-dynamic {
	//margin-bottom: -50px;
}

// Overlay
.overlay-post {
	.post-title {
		margin-top: 15px;
		margin-bottom: 13px;
		font-size: 32px;
		line-height: 1.2;
		
		@include breakpoint(small) {
			font-size: 26px;
		}
	}
}


/**
 * Single Post
 */
.single-creative {
	
	.featured {
		margin-right: 8px;
		margin-left: 8px;
	}
	
	.featured .post-title {
		@include title-extra-bold;
		letter-spacing: -0.04em;
	}
}

.single-magazine {
	.post-top {
		.post-title {
			@include title-extra-bold;
			letter-spacing: -0.04em;
		}
	}
}

.single-cover {
	
	.featured {
		margin-top: -25px;
	}
	
	.featured .post-by {
		font-weight: 600;
		letter-spacing: 0.1em;
	}
	
	.featured .post-title {
		@include special-title-alt;
		margin-bottom: 15px;
		
		@include breakpoint(false, large) {
			font-size: 40px;
		}
	}
	
	.featured .post-cat a {
		background: #000;
		letter-spacing: 0.06em;
		line-height: 2;
	}
} 

.post-content {
	@include skin-post-content;
}

.tag-share {
	.post-tags a {
		font-weight: 700;
		letter-spacing: 0.1em;
	}
}

.post-share-icons a {
	color: #161616;
}


.author-box {
	.author { 
		> a {
			@include special-title;
			margin-top: -7px;
		}
		
		> span {
			display: none;
		}
	}
	
	.author-bio {
		font-size: 14px;
	}
}


.section-head {
	.title {
		margin-top: -4px;
		padding: 0 20px;
		@include special-title-alt;
		font-size: 19px;
		text-transform: none;
	}
}

// Related Posts
.related-posts {
	
	.post-title {
		@include special-title;
		font-size: 16px;
	}
}

.related-posts.grid-2 {
	.post-title {
		margin-bottom: 10px;
		font-size: 17px;
		line-height: 1.3;
	}
}


// Comments changes

.comments-wrap {
	margin-top: 55px;
	padding-bottom: 50px;
	border: 1px solid #efefef;
	
	.section-head {
		margin-top: 32px;
	}

}

// Shared by respond heading and comments wrap heading
.comments-area {
	
	.section-head {
		&:before {
			display: none;
		}
	}

	.title {
		background: transparent;
		
		&:after {
			content: "";
			display: block;
			margin: 0 auto;
			margin-top: 12px;
			width: 24px;
			height: 2px;
			background: #000;
		}
	}
	
	.submit {
		&:hover {
			@include btn-shadow;
		}
	}
}

.comments-list {

	.the-comment {
		//padding-right: 30px;
	}

	> .comment, 
	> li {
		padding: 45px 30px;
	}
	
	.comment .children {
		margin-top: 45px;
	}
	
	.children li.comment {
		margin-top: 45px;
		padding-top: 45px;
		padding-left: 28px;
	}
	
	.children .comment {
		&:before,
		&:after {
			display: none;
		}
	}
	
	.children li.depth-2 {
		//padding-left: 60px;
	}
	
	.comment-author {
		@include special-title;
		margin-bottom: 0;
		font-size: 15px;
	}
	
	.bypostauthor .post-author {
		display: none;
	}
	
	.comment-reply-link {
		margin-top: -18px;
		font-size: 12px;
		font-weight: 700;
		letter-spacing: 0.07em;
		-webkit-font-smoothing: antialiased;
		
		&:before {
			display: none;
		}
	}
	
	.comment-time {
		font-weight: 400;
	}
	
	.comment-text {
		font-size: 14px;
	}
}

#cancel-comment-reply-link {
	margin-top: -38px;
}

.comment-respond .section-head {
	border: 0;
	margin-top: 65px;
	text-align: center;
}

// Pages
.the-page { 
	.post-title-alt {
		margin-bottom: 33px;
	}
}


/**
 * Home & Archives changes
 */
 
.block-heading .title {
	@include special-title-alt;
	font-size: 19px;
	text-transform: none;
}

.posts-carousel-b {
	padding-bottom: 35px;
}
 
.small-post {
	.post-title {
		font-family: $skin-font-alt;
		font-size: 14px;
		font-weight: 600;
		line-height: 1.5;
		letter-spacing: -0.01em;	
	}
}

// Default / Stylish slider
.slider-overlay {
	.heading {
		@include special-title;
	}
	
	.excerpt {
		font-size: 14px;
		letter-spacing: 0;
	}
}

.main-slider {
	.heading {
		@include breakpoint(false, medium) { 
			font-size: 29px;
			max-width: 576px;
			line-height: 1.2;
		}
	}
}

.stylish-slider {
	.heading {
		@include breakpoint(false, medium) { 
			font-size: 33px;
			max-width: 615px;
			line-height: 1.2;
			margin: 10px auto;
		}
	}
}


// Large slider 
.large-slider {	
	.heading {
		@include special-title;
	}
}

// Grid slider
.grid-slider {
	.heading {
		@include special-title;
		max-width: 450px;
	}
	
	.category {
		font-size: 11px;
	}
}

.grid-b-slider {
	.heading {
		@include special-title;
		-webkit-font-smoothing: antialiased;
	}
}

.carousel-slider {
	.heading {
		@include special-title;
		-webkit-font-smoothing: antialiased;
	}
}

// Bold Slider
.bold-slider {
	margin-left: 8px;
	margin-right: 8px;
	
	.heading {
		font-family: $skin-font-alt;
		font-weight: 800;
		letter-spacing: -0.04em;
		-webkit-font-smoothing: antialiased;
		
		// For medium and higher
		@include breakpoint(false, medium) {
			font-size: 46px;
		}
	}
}

// Archive
.archive-head {
	.sub-title {
		font-family: $skin-font;
		font-weight: 400;
		color: #999 !important;
		letter-spacing: 0.05em;
	}
	
	.title {
		font-size: 26px;
		font-weight: 700;
		letter-spacing: -0.03em;
		text-transform: none;
	}
}

.archive .main,
.page .main,
.single:not(.layout-creative) .main {
	margin-top: 80px;
	
	@include breakpoint(medium) {
		margin-top: 60px;
	}
}


/**
 * Sidebar & Widgets adjustments
 */
.sidebar {
	
	.widget {
		border: 1px solid #efefef;
		padding: 30px;
		margin-bottom: 66px;
		
		@include breakpoint(large, medium) {
			padding-left: 20px;
			padding-right: 20px;
		}
	}
	
	.widget-title {
		margin-top: -44px;
		margin-bottom: 33px;
		border: 0;
		color: #000;

		font-size: 19px;
		@include special-title-alt;
		
		line-height: 1.2;
		text-transform: none;
		
		span {
			background: #fff;
			padding: 0 22px;
		}
	}
	
	.widget-slider,
	.widget-cta {
		padding: 0;
		border: 0;
	}
	
	.widget + .widget-slider {
		margin-top: -6px;
	}
	
	// MailChimp widget
	.widget_mc4wp_form_widget,
	.widget-subscribe {
		background: #f6f6f6;
		border: 0;
		
		.widget-title {
			margin-top: -5px;
			margin-bottom: 46px;
			
			span {
				padding: 0;
				background: transparent;
			}
			
			&:after {
				margin-top: 16px;
				height: 2px;
				background: #000;
				width: 24px;
			}
		}	
	}
	
	// Ad widget
	.widget-a-wrap {
		border: 0;
		
		.the-wrap {
			margin: 0 -30px;
		}
	}
}

// Default widgets font
.widget_links, 
.widget_meta, 
.widget_recent_comments, 
.widget_recent_entries, 
.widget_rss, 
.widget_pages, 
.widget_nav_menu  {
	
	ul {
		margin-top: 0;
	}
	
	li {
		font-size: 14px;
	}
}

.widget_categories,
.widget_product_categories,
.widget_archive {
	ul {
		margin-top: 0;
	}
}

// Mailchimp widget - general (not specific to sidebar)
.widget .mc4wp-form, 
.widget-subscribe {
	.message {
		margin-bottom: 30px;
		font-family: $skin-font;
		font-size: 14px;
		letter-spacing: 0;
	}
	
	p:last-of-type {
		margin-top: -17px;
	}
}


.widget-cta {
	.label {
		font-weight: 600;
		font-size: 11px;
		color: #161616;
		padding: 9px 14px;
		letter-spacing: 0.15em;
	}
}

.widget-posts {
	.content {
		margin-top: 2px;
	}
	
	.image-link img {
		margin-right: 26px;
	}
	
	.post-title {
		@include special-title;
		font-size: 15px;
		line-height: 1.46;
	}
	
	.posts.large {
		.post-title {
			font-size: 15px;
		}
		
		time {
			letter-spacing: 0.07em;
		}
	}
}

.widget-about {
	
	.about-text {
		font-size: 14px;
	}
	
	.more {
		color: #000;
		font-size: 12px;
	}
}

.widget_search button {
	margin-top: -43px;
}


/* Footer Changes */
.upper-footer {
	
	.widget-about {
		.about-text {
			font-size: 14px;
		}
		
		.text.below {
			color: #7a7a7a;
		}
	}
	
	.widget .widget-title {
		@include special-title-alt;
		margin-bottom: 40px;
	}
}

.main-footer.dark {
	.widget {
		color: #888;
	}
	
	.widget-posts .post-meta {
		color: #7a7a7a;
	}
	
	a {
		color: #fdfdfd;
	}
	
	a:hover {
		color: #ddd;
	}
	
	input[type="submit"] {
		background: rgba(#fff, 0.15);
	}

	.mid-footer a {
		color: #454545;
	}
}

.lower-footer {
	.copyright {
		font-size: 13px;
	}
	
	.social-icons {
		letter-spacing: 0.12em;
	}
}

.main-footer .text {
	font-size: 14px;
}

// Bold footer
.main-footer.bold {
	margin-left: 8px;
	margin-right: 8px;
		
	.mid-footer {
		border-top: 8px solid #fff;
	}
}
