//
// Skin variables, mixin, config.
// 

// Import essentials
@import '../../abstracts/_variables';
@import '../../abstracts/_utils';

// Variables for this skin
$skin-font: Lato, Arial, sans-serif;
$skin-color: #c0a88a;
$skin-font-alt: "Noto Sans", Arial, sans-serif;
$special-title-font: Trueno, Arial, sans-serif;

// For CSS variables and editor mainly
$body-font: $skin-font;
$text-font: $skin-font;
$title-font: $skin-font;
$text-tracking: 0;

// Common elements
@mixin skin-elements {
	blockquote {
		font-family: Lora, Georgia, serif;
		font-size: 17px;
		color: #989898;
	}
}

@mixin skin-text {
	font-family: $skin-font-alt;
	font-size: 13px;
	-webkit-font-smoothing: antialiased;
}

@mixin skin-entry-content {}

@mixin skin-post-content {
	font-size: 14px;
	
	h1, h2, h3, h4, h5, h6 {
		@include bold-title;
	}
}

// ---

@mixin special-title {
	font-family: $special-title-font;
	font-weight: 400;
	color: #161616;
}

@mixin bold-title-alt {
	font-family: $skin-font-alt;
	font-weight: 600;
	letter-spacing: 0.16em;
}

@mixin bold-title {
	font-weight: 600;
	-webkit-font-smoothing: antialiased;
}
