/**
 * Skin: Rovella 
 */

// Note: Rovella skin uses selector override method on top of base CSS styling from style.scss

// Base overrides
@import 'common';
@import 'base';

/**
 * Header and Nav
 */

.top-bar.dark .top-bar-content {
	background: #000;
}

.navigation {
	@include bold-title;
	letter-spacing: 0.12em;

	.menu > li:first-child {
		margin-left: -19px;
	}
	
	.menu > li > a {
		padding: 0 19px;
	}
	
	.menu > li li a,
	.mega-menu .sub-cats a {
		font-size: 11px;
		font-weight: 700;
		letter-spacing: 0.1em;
	}
	
	.mega-menu .recent-posts .post-title {
		font-family: $skin-font;
		font-size: 15px;
		font-weight: 400;
		letter-spacing: 0;
	}
}

.navigation.dark {
	&.has-bg {
		background: #000;
	}
	
	.menu > li > a,
	.menu > .current-menu-item > a, 
	.menu > .current-menu-parent > a,
	.menu > .current-menu-ancestor > a {
		color: #fff;
	}
	
	.menu li:hover > a,
	.menu li li:hover > a,
	.menu li:hover > a:after {
		color: $skin-color;
	}
	
	.menu > li li a {
		border-color: rgba(187, 187, 187, 0.15);
	}
}

.mobile-menu li a {
	letter-spacing: 0.12em;
}


/**
 * General components and global changes
 */
 
::selection { 
	background: rgba($skin-color, 0.2);
}

::-moz-selection {
	background: rgba($skin-color, 0.2);
}

input[type="submit"], 
button, input[type="button"], 
.button {
	letter-spacing: 0.12em;
}

@include skin-elements;

.section-head {
	.title {
		@include bold-title;
		font-size: 11px;
		letter-spacing: 0.1em;
		color: #161616;
	}
}
 
.post-meta {
	.post-cat > a {
		font-weight: 600;
		letter-spacing: 0.15em;
	}
	
	.post-cat > span {
		display: none;
	}
	
	time {
		font-weight: 400;
		letter-spacing: 0.1em;
	}
}

.post-meta-b {
	margin-bottom: 30px;
	
	.date-link,
	.comments {
		color: #505050;
		//-webkit-font-smoothing: antialiased;
	}
	
	.post-title-alt {
		margin: 16px 0;
	}
}

.post-title,
.post-title-alt {
	@include special-title;
	letter-spacing: -0.01em;
	
	a {
		color: #000;
	}
}

.post-title-alt {
	margin-top: 13px;
	margin-bottom: 16px;
	font-size: 34px;
	
	@include breakpoint(x-small) {
		font-size: 24px;
	}
	
	&:after {
		display: none;
	}
}

.text,
.post-content,
.textwidget {
	@include skin-text;
}


// Pagination changes
.main-pagination {
	.next a,
	.previous a {
		font-weight: 900;
		letter-spacing: 0.15em;
	}
}

/**
 * Posts adjustments
 */

// Large Post 
.large-post { 
	.featured img {
		margin-bottom: 30px;
	}
	
	.author {
		letter-spacing: 0;
	}
}

.large-post-b {
	.read-more a {
		padding: 13px 19px;
		border: 2px solid #161616;
		color: #161616;
		background: transparent;
		line-height: 1;
		font-weight: 400;
		letter-spacing: 0.12em;
		-webkit-font-smoothing: initial;
		
		&:hover {
			background: #000;
			color: #fff;
		}
			
		&:before {
			display: none;
		}
		
		span {
			padding: 0;
			background: transparent;
		}
	}
}

.large-post-b .post-footer {
	letter-spacing: 0;
	padding-bottom: 2px;
	border-bottom: 1px solid #ebebeb;
	
	.author a {
		letter-spacing: 0.15em;
	}
	
	.number {
		font-size: 13px;
		font-weight: 400;
	}
	
	.social-icons a {
		font-size: 14px;
	}
}

.list-post .post-excerpt {
	font-size: 13px;
}

.post-footer {
	margin-top: 45px;
	
	.read-more {
		font-size: 11px;
		font-weight: 900;
		letter-spacing: 0.1em;
	}
}

.post-content .read-more {
	font-family: $skin-font-alt;
}


// List post b
.list-post-b {
	.post-meta {
		color: #505050;
	}
	
	time {
		//-webkit-font-smoothing: antialiased;
	} 
	
	.read-more-btn {
		padding: 13px 19px;
		border: 2px solid #161616;
		color: #161616;
		background: transparent;
	}
}

// Grid Post B
.grid-post-b .read-more-btn {
	padding: 13px 19px;
    border: 2px solid #161616;
    color: #161616;
    background: transparent;
	font-weight: 400;
}


/* Single Post */

.single-cover .overlay .post-by {
	font-weight: 600;
	letter-spacing: 0.1em;
}

.post-content {
	@include skin-post-content;
}

.tag-share {
	.post-tags a {
		font-weight: 700;
		letter-spacing: 0.15em;
	}
}

.post-share-icons a {
	color: #161616;
}


.author-box {
	
	.author > a {
		@include bold-title;
		font-size: 22px;
	}
	
	.author-bio {
		font-size: 13px;
	}
}

.related-posts {
	.post-title {
		font-family: $skin-font;
		font-size: 15px;
		font-weight: 600;
		letter-spacing: 0;
	}
	
	.post-meta {
		font-size: 10px;
	}
}


/**
 * Home & Archives changes
 */
.block-heading .title {
	font-size: 15px;
}

.posts-carousel {
	
	.title {
		background: transparent;
	}
	
	.title:before,
	.title:after {
		display: none;
	}
	
	.block-heading {
		margin-top: -5px;
		margin-bottom: 62px;
	}
	
	.block-heading:before {
		display: none;
	}
	
	.block-heading:after {
		top: 100%;
		left: 50%;
		margin-top: 12px;
		margin-left: -18px;
		width: 36px;
		height: 2px;
		background: #000;
	}
	
	.post-link {
		margin-bottom: 18px;
	}
	
	.post-title {
		max-width: 90%;
		margin-left: auto;
		margin-right: auto;
		font-size: 16px;
		line-height: 1.8;
	}
	
	time {
		display: none;
	}
	
}

// Default / Stylish slider
.slider-overlay {
	.heading {
		font-family: $special-title-font;
		font-weight: 400;
		letter-spacing: 0;
	}
	
	.excerpt {
		font-size: 14px;
		letter-spacing: 0;
	}
}


// Large slider 
.large-slider {	
	.heading {
		@include special-title;
		-webkit-font-smoothing: antialiased;
	}
}

// Grid slider
.grid-slider {
	.heading {
		@include special-title;
		-webkit-font-smoothing: antialiased;
	}
	
	.category {
		font-size: 11px;
	}
}

.grid-b-slider {
	.heading {
		@include special-title;
		-webkit-font-smoothing: antialiased;
	}
}

.carousel-slider {
	.heading {
		@include special-title;
		-webkit-font-smoothing: antialiased;
	}
}

// Bold Slider
.bold-slider {
	.heading {
		@include special-title;
		-webkit-font-smoothing: antialiased;	
	}
}



/**
 * Sidebar adjustments
 */
.sidebar {
	.widget-title {
		@include bold-title;
		font-size: 11px;
		letter-spacing: 0.12em;
		color: #fff;
		background: #000;
	}
	
	.widget_mc4wp_form_widget,
	.widget-subscribe {
		background: #f7f7f7;
		
		.widget-title {
			background: transparent;
			color: #161616;
			line-height: 1;
		}
	}
}

.widget .mc4wp-form .message, 
.widget-subscribe .message {
	font-family: $skin-font-alt;
}


.widget-cta {
	.label {
		font-weight: 600;
		font-size: 11px;
		color: #161616;
		padding: 9px 14px;
		letter-spacing: 0.15em;
	}
}

.widget-posts {
	.post-title {
		font-family: $skin-font;
		font-size: 15px;
		font-weight: 600;
		line-height: 1.52;
		letter-spacing: 0;
	}
	
	.posts.large {
		.post-title {
			font-size: 17px;
			font-weight: 400;
		}
		
		time {
			letter-spacing: 0.07em;
		}
	}

}

/* Footer Changes */
.upper-footer {
	
	.widget-title {
		color: #222;
		font-size: 15px;
		font-weight: 600;
		letter-spacing: 0.04em;
	}
	
	.widget-posts .post-meta {
		color: #707070;
	}
}

.lower-footer {
	.copyright {
		font-size: 13px;
	}
	
	.social-icons {
		letter-spacing: 0.12em;
	}
}

.main-footer.stylish { 
	.copyright a {
		color: $skin-color;
	}
}