//
// Base styles of the editor skin
//

/**
 * Change Main Color
 */
:root { 
	--body-font: #{$body-font};
	--title-font: #{$title-font};
	--text-font: #{$text-font};
	
	// Accent color
	--main-color: #{$skin-color};
	--main-color-rgb: #{$main-color-rgb};
	--text-color: #{$post-text-color};
	--text-tracking: #{$text-tracking};
}

.editor-block-list__block-edit {
	
	@include skin-elements;
	@include skin-text;

	@include skin-post-content;
	@include skin-entry-content;

	h1, h2, h3, h4, h5, h6 {
		text-transform: none;
	}

	p {
		font-size: inherit;
		line-height: inherit;
	}

}

.main-pagination.number,
.widget_calendar tfoot a {
	text-transform: none;
}
