/**
 * Change Main Color
 */
:root {
  --body-font: IBM Plex, Arial, sans-serif;
  --title-font: IBM Plex, Arial, sans-serif;
  --text-font: IBM Plex, Arial, sans-serif;
  --main-color: #a18858;
  --main-color-rgb: 49, 136, 146;
  --text-color: #454545;
  --text-tracking: 0;
}

.editor-block-list__block-edit {
  font-size: 14px;
  line-height: 1.7;
  -webkit-font-smoothing: antialiased;
  font-size: 15px;
  font-weight: 400;
}

.editor-block-list__block-edit h1 {
  font-size: 29px;
}

.editor-block-list__block-edit h2 {
  font-size: 26px;
}

.editor-block-list__block-edit h3 {
  font-size: 22px;
}

@media (min-width: 1200px) {
  .editor-block-list__block-edit .modern-quote,
  .editor-block-list__block-edit .wp-block-quote.is-style-large {
    font-size: 32px;
  }
}

.editor-block-list__block-edit blockquote {
  font-family: "Cormorant", Didot, serif;
  font-size: 21px;
  color: #989898;
  -webkit-font-smoothing: antialiased;
}

.editor-block-list__block-edit h1, .editor-block-list__block-edit h2, .editor-block-list__block-edit h3, .editor-block-list__block-edit h4, .editor-block-list__block-edit h5, .editor-block-list__block-edit h6 {
  font-family: "Cormorant", Didot, serif;
  font-weight: 700;
  color: #000;
  -webkit-font-smoothing: antialiased;
}

.editor-block-list__block-edit h1, .editor-block-list__block-edit h2, .editor-block-list__block-edit h3, .editor-block-list__block-edit h4, .editor-block-list__block-edit h5, .editor-block-list__block-edit h6 {
  text-transform: none;
}

.editor-block-list__block-edit p {
  font-size: inherit;
  line-height: inherit;
}

.main-pagination.number,
.widget_calendar tfoot a {
  text-transform: none;
}
