/**
 * Change Main Color
 */
:root {
  --body-font: Nunito Sans, system-ui, sans-serif;
  --title-font: Nunito Sans, system-ui, sans-serif;
  --text-font: Nunito Sans, system-ui, sans-serif;
  --main-color: #e84d15;
  --main-color-rgb: 49, 136, 146;
  --text-color: #454545;
  --text-tracking: 0;
}

.editor-block-list__block-edit {
  font-size: 15px;
  line-height: 1.7;
  font-size: 17px;
  color: #3b3b3b;
  line-height: 1.71;
}

.editor-block-list__block-edit .modern-quote,
.editor-block-list__block-edit .wp-block-quote.is-style-large {
  color: #000;
}

@media (min-width: 1200px) {
  .editor-block-list__block-edit .modern-quote,
  .editor-block-list__block-edit .wp-block-quote.is-style-large {
    font-size: 27px;
  }
}

.editor-block-list__block-edit .wp-block-pullquote {
  color: #000;
}

.editor-block-list__block-edit blockquote {
  font-family: "IBM Plex Serif", Georgia, serif;
  font-size: 21px;
  font-weight: 500;
  font-style: normal;
}

.editor-block-list__block-edit h1, .editor-block-list__block-edit h2, .editor-block-list__block-edit h3, .editor-block-list__block-edit h4, .editor-block-list__block-edit h5, .editor-block-list__block-edit h6 {
  font-family: "HK Grotesk", system-ui, sans-serif;
  font-weight: 700;
}

.editor-block-list__block-edit .wp-block-image figcaption,
.editor-block-list__block-edit .wp-caption-text,
.editor-block-list__block-edit figcaption {
  font-size: 14px;
  font-style: normal;
  color: #888;
}

.editor-block-list__block-edit p {
  margin-bottom: 1.65em;
}

.editor-block-list__block-edit h1, .editor-block-list__block-edit h2, .editor-block-list__block-edit h3, .editor-block-list__block-edit h4, .editor-block-list__block-edit h5, .editor-block-list__block-edit h6 {
  text-transform: none;
}

.editor-block-list__block-edit p {
  font-size: inherit;
  line-height: inherit;
}

.main-pagination.number,
.widget_calendar tfoot a {
  text-transform: none;
}
