/**
 * Change Main Color
 */
:root {
  --body-font: Lato, Arial, sans-serif;
  --title-font: Lato, Arial, sans-serif;
  --text-font: Lato, Arial, sans-serif;
  --main-color: #c0a88a;
  --main-color-rgb: 49, 136, 146;
  --text-color: #454545;
  --text-tracking: 0;
}

.editor-block-list__block-edit {
  font-family: "Noto Sans", Arial, sans-serif;
  font-size: 13px;
  -webkit-font-smoothing: antialiased;
  font-size: 14px;
}

.editor-block-list__block-edit blockquote {
  font-family: Lora, Georgia, serif;
  font-size: 17px;
  color: #989898;
}

.editor-block-list__block-edit h1, .editor-block-list__block-edit h2, .editor-block-list__block-edit h3, .editor-block-list__block-edit h4, .editor-block-list__block-edit h5, .editor-block-list__block-edit h6 {
  font-weight: 600;
  -webkit-font-smoothing: antialiased;
}

.editor-block-list__block-edit h1, .editor-block-list__block-edit h2, .editor-block-list__block-edit h3, .editor-block-list__block-edit h4, .editor-block-list__block-edit h5, .editor-block-list__block-edit h6 {
  text-transform: none;
}

.editor-block-list__block-edit p {
  font-size: inherit;
  line-height: inherit;
}

.main-pagination.number,
.widget_calendar tfoot a {
  text-transform: none;
}
