/**
 * Change Main Color
 */
:root {
  --body-font: Lato, Arial, sans-serif;
  --title-font: Open Sans, Arial, sans-serif;
  --text-font: Lato, Arial, sans-serif;
  --main-color: #ec0e0e;
  --main-color-rgb: 49, 136, 146;
  --text-color: #454545;
  --text-tracking: 0;
}

.editor-block-list__block-edit {
  font-size: 15px;
  line-height: 1.8;
  color: #616161;
  font-size: 16px;
  line-height: 1.8125;
}

.editor-block-list__block-edit blockquote {
  font-family: Lora, Georgia, serif;
  font-size: 17px;
  color: #989898;
}

.editor-block-list__block-edit h1, .editor-block-list__block-edit h2, .editor-block-list__block-edit h3, .editor-block-list__block-edit h4, .editor-block-list__block-edit h5, .editor-block-list__block-edit h6 {
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 700;
  letter-spacing: -0.01em;
  color: #000;
}

.editor-block-list__block-edit h1, .editor-block-list__block-edit h2, .editor-block-list__block-edit h3, .editor-block-list__block-edit h4, .editor-block-list__block-edit h5, .editor-block-list__block-edit h6 {
  text-transform: none;
}

.editor-block-list__block-edit p {
  font-size: inherit;
  line-height: inherit;
}

.main-pagination.number,
.widget_calendar tfoot a {
  text-transform: none;
}
