/**
 * Change Main Color
 */
:root {
  --body-font: Karla, Arial, sans-serif;
  --title-font: Renner, Arial, sans-serif;
  --text-font: Karla, Arial, sans-serif;
  --main-color: #a24034;
  --main-color-rgb: 49, 136, 146;
  --text-color: #454545;
  --text-tracking: 0;
}

.editor-block-list__block-edit {
  font-size: 15px;
  line-height: 1.7;
  letter-spacing: -0.008em;
  -webkit-font-smoothing: antialiased;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.75;
}

.editor-block-list__block-edit blockquote {
  font-family: Lora, Georgia, serif;
  font-size: 19px;
  color: #989898;
}

.editor-block-list__block-edit h1, .editor-block-list__block-edit h2, .editor-block-list__block-edit h3, .editor-block-list__block-edit h4, .editor-block-list__block-edit h5, .editor-block-list__block-edit h6 {
  font-weight: 600;
}

.editor-block-list__block-edit h1, .editor-block-list__block-edit h2, .editor-block-list__block-edit h3, .editor-block-list__block-edit h4, .editor-block-list__block-edit h5, .editor-block-list__block-edit h6 {
  text-transform: none;
}

.editor-block-list__block-edit p {
  font-size: inherit;
  line-height: inherit;
}

.main-pagination.number,
.widget_calendar tfoot a {
  text-transform: none;
}
