/**
 * Change Main Color
 */
:root {
  --body-font: Lato, Arial, sans-serif;
  --title-font: Lato, Arial, sans-serif;
  --text-font: Lato, Arial, sans-serif;
  --main-color: #f6b2ca;
  --main-color-rgb: 49, 136, 146;
  --text-color: #454545;
  --text-tracking: 0;
}

.editor-block-list__block-edit {
  line-height: 1.857;
}

.editor-block-list__block-edit h1, .editor-block-list__block-edit h2, .editor-block-list__block-edit h3, .editor-block-list__block-edit h4, .editor-block-list__block-edit h5, .editor-block-list__block-edit h6 {
  color: #535353;
}

.editor-block-list__block-edit a {
  color: #535353;
}

.editor-block-list__block-edit h1, .editor-block-list__block-edit h2, .editor-block-list__block-edit h3, .editor-block-list__block-edit h4, .editor-block-list__block-edit h5, .editor-block-list__block-edit h6 {
  font-family: "LibreBodoni", Didot, Garamond, serif;
  font-weight: 400;
  color: #161616;
}

.editor-block-list__block-edit h1, .editor-block-list__block-edit h2, .editor-block-list__block-edit h3, .editor-block-list__block-edit h4, .editor-block-list__block-edit h5, .editor-block-list__block-edit h6 {
  text-transform: none;
}

.editor-block-list__block-edit p {
  font-size: inherit;
  line-height: inherit;
}

.main-pagination.number,
.widget_calendar tfoot a {
  text-transform: none;
}
