/**
 * Change Main Color
 */
:root {
  --body-font: Open Sans, sans-serif;
  --title-font: Open Sans, sans-serif;
  --text-font: Open Sans, sans-serif;
  --main-color: #08528b;
  --main-color-rgb: 49, 136, 146;
  --text-color: #454545;
  --text-tracking: 0;
}

.editor-block-list__block-edit {
  font-size: 15px;
  line-height: 1.73;
  -webkit-font-smoothing: antialiased;
  line-height: 1.73;
}

.editor-block-list__block-edit .button:hover {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1), 0 3px 6px rgba(0, 0, 0, 0.07);
  transform: translateY(-1px);
}

.editor-block-list__block-edit h1, .editor-block-list__block-edit h2, .editor-block-list__block-edit h3, .editor-block-list__block-edit h4, .editor-block-list__block-edit h5, .editor-block-list__block-edit h6 {
  font-family: soleil, Raleway, sans-serif;
  font-weight: 700;
  letter-spacing: -0.015em;
  color: #000;
  -webkit-font-smoothing: antialiased;
}

.editor-block-list__block-edit h1 {
  font-size: 29px;
}

.editor-block-list__block-edit h2 {
  font-size: 26px;
}

.editor-block-list__block-edit h3 {
  font-size: 22px;
}

.editor-block-list__block-edit blockquote {
  font-family: Lora, Georgia, serif;
  font-size: 17px;
  color: #989898;
}

.editor-block-list__block-edit .modern-quote:before,
.editor-block-list__block-edit .wp-block-quote.is-style-large:before {
  color: #f6f6f6;
}

.editor-block-list__block-edit h1, .editor-block-list__block-edit h2, .editor-block-list__block-edit h3, .editor-block-list__block-edit h4, .editor-block-list__block-edit h5, .editor-block-list__block-edit h6 {
  letter-spacing: -0.02em;
  font-weight: 700;
}

.editor-block-list__block-edit h1, .editor-block-list__block-edit h2, .editor-block-list__block-edit h4 {
  margin-bottom: 0.86em;
}

.editor-block-list__block-edit h1, .editor-block-list__block-edit h2, .editor-block-list__block-edit h3, .editor-block-list__block-edit h4, .editor-block-list__block-edit h5, .editor-block-list__block-edit h6 {
  text-transform: none;
}

.editor-block-list__block-edit p {
  font-size: inherit;
  line-height: inherit;
}

.main-pagination.number,
.widget_calendar tfoot a {
  text-transform: none;
}
