//
// Skin variables, mixin, config.
// 

// Import essentials
@import '../../abstracts/_variables';
@import '../../abstracts/_utils';

// Variables for this skin
$skin-font: "IBM Plex", Arial, sans-serif;
$skin-color: #a18858;
$special-title-font: "Cormorant", Didot, serif;

// For CSS variables and editor mainly
$body-font: $skin-font;
$text-font: $skin-font;
$title-font: $skin-font;
$text-tracking: 0;

// Common elements
@mixin skin-elements {
	
	h1 { font-size: 29px; }
	h2 { font-size: 26px; }
	h3 { font-size: 22px; }

	.modern-quote,
	.wp-block-quote.is-style-large {
		@include breakpoint(false, large) {
			font-size: 32px;
		}
	}
	
	blockquote {
		font-family: $special-title-font;
		font-size: 21px;
		color: #989898;
	
		-webkit-font-smoothing: antialiased;
	}

}

@mixin skin-text {
	font-size: 14px;
	line-height: 1.7;
	-webkit-font-smoothing: antialiased;
}

@mixin skin-entry-content {}

@mixin skin-post-content {
	font-size: 15px;
	font-weight: 400;
	
	h1, h2, h3, h4, h5, h6 {
		@include special-title;
	}
}

// ---

@mixin special-title {
	font-family: $special-title-font;
	font-weight: 700;
	color: #000;
	-webkit-font-smoothing: antialiased;
}

@mixin bold-title {
	font-weight: 600;
}