/**
 * Skin: Fashion
 */

// Note: Fashion skin uses selector override method on top of base CSS styling from style.scss

// Base overrides
@import 'common';
@import 'base';


/**
 * Header and Nav
 */

.top-bar.dark { 
	.top-bar-content {
		background: #000;
		color: #999;
	}

	.cart-action {
		margin-left: 9px;
	}

	.cart-action a,
	.search-field,
	.search-submit {
		color: #999;
	}

	.search-submit {
		font-size: 15px;
	}

	.search-field {
		margin-left: 5px;
		font-size: 12px;
		font-weight: 500;
	}

	.social-icons a {
		color: #999;
	}
}

.dark .cart-link .counter {
	padding-top: 2px;
	background: #fff;
	color: #000;
	font-weight: 500;
}

.navigation {
	font-size: 12px;
	font-weight: 500;
	letter-spacing: 0.15em;

	.menu > li:first-child {
		//margin-left: -19px;
	}
	
	.menu > li > a {
		//padding: 0 19px;
	}
	
	.menu > li li a,
	.mega-menu .sub-cats a {
		font-weight: 500;
		letter-spacing: 0.13em;
	}
	
	.mega-menu .recent-posts .post-title {
		font-family: $skin-font;
		font-size: 15px;
		font-weight: 600;
		letter-spacing: 0;
	}
}

.navigation.dark {
	font-weight: 400;

	&.has-bg {
		background: #000;
	}
	
	.menu > li > a,
	.menu > .current-menu-item > a, 
	.menu > .current-menu-parent > a,
	.menu > .current-menu-ancestor > a {
		color: #fff;
	}
	
	.menu li:hover > a,
	.menu li li:hover > a,
	.menu li:hover > a:after {
		color: $skin-color;
	}
	
	.menu > li li a {
		//border-color: rgba(187, 187, 187, 0.15);
	}

	.menu > li li a,
	.mega-menu .sub-cats a {
		color: #eee;
		font-weight: 400;
	}

	.mega-menu .recent-posts .post-title {
		color: #eee;
		font-weight: 500;
	}
}

.mobile-menu li a {
	letter-spacing: 0.12em;
}


/**
 * General components and global changes
 */

%read-more-btn {
	padding: 12px 19px;
	border: 1px solid #ddd;
	color: #555;
	background: transparent;
	font-size: 11px;
	font-weight: 600;
	letter-spacing: 0.1em;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}

::selection { 
	background: rgba($skin-color, 0.2);
}

::-moz-selection {
	background: rgba($skin-color, 0.2);
}

input[type="submit"], 
button, input[type="button"], 
.button {
	letter-spacing: 0.15em;
	font-weight: 400;
}

input,
textarea,
select {
	color: #9c9c9c;
}

@include skin-elements;

.section-head {
	.title {
		@include bold-title;
		font-size: 12px;
		letter-spacing: 0.075em;
		color: #000;
	}
}
 
.post-meta {
	font-size: 11px;

	.text-in {
		font-family: $special-title-font;
		color: #9c9c9c;
	}

	.post-cat > a {
		font-weight: 500;
		letter-spacing: 0.11em;
	}
	
	time {
		color: #aaa;
	}

	time,
	.comments {
		font-weight: 500;
		letter-spacing: 0.14em;
	}
}

.post-meta-b {
	margin-bottom: 34px;
	
	.post-cat > a {
		font-size: 12px;
	}

	.date-link,
	.comments {
		color: #505050;
		//-webkit-font-smoothing: antialiased;
	}
	
	.post-title-alt {
		margin: 17px 0;
	}
}

.post-title,
.post-title-alt {
	@include special-title;
	line-height: 1.35;

	a {
		color: #000;
	}
}

.post-title-alt {
	margin-top: 16px;
	margin-bottom: 16px;
	font-size: 38px;
	line-height: 1.2;
	
	@include breakpoint(x-small) {
		font-size: 24px;
	}
	
	&:after {
		display: none;
	}
}

.text,
.post-content,
.textwidget {
	@include skin-text;
}


// Pagination changes
.main-pagination {
	.next a,
	.previous a {
		letter-spacing: 0.15em;
	}

	.load-button {
		min-width: initial;
		padding: 0 60px;
		border-color: #000;
		background: #000;
		color: #fff;
		font-size: 12px;
		font-weight: 500;
		line-height: 40px;
		letter-spacing: 0.15em;
		-webkit-font-smoothing: initial;
		
		&:hover {
			opacity: 0.9;
		}

		.fa {
			margin-left: 12px;
		}
	}
}


/**
 * Posts adjustments
 */

// Large Post 
.large-post { 
	.featured img {
		margin-bottom: 30px;
	}
	
	.author {
		letter-spacing: 0;
	}
}

.large-post-b {
	.read-more a {
		@extend %read-more-btn;
		
		&:hover {
			background: #000;
			color: #fff;
		}
			
		&:before {
			display: none;
		}
		
		span {
			padding: 0;
			background: transparent;
		}
	}
}

.large-post-b .post-footer {
	letter-spacing: 0;
	padding-bottom: 2px;
	border-bottom: 1px solid #ebebeb;
	
	.author a {
		letter-spacing: 0.15em;
	}
	
	.number {
		font-size: 13px;
		font-weight: 400;
	}
	
	.social-icons a {
		font-size: 14px;
	}
}

.post-footer {
	margin-top: 45px;
	
	.read-more {
		font-size: 11px;
		font-weight: 900;
		letter-spacing: 0.1em;
	}
}

.list-post {

	.post-excerpt {
		font-size: 14px;
	}

	.post-title {
		// 1200px+
		@include breakpoint(false, large) {
			font-size: 27px;
			max-width: 90%;
		}
	}
}

// List post b
.list-post-b {

	.read-more-btn {
		@extend %read-more-btn;
	}
}

.grid-post { 
	.post-title-alt {
		font-size: 32px;
	}

	.post-meta-b {
		margin-bottom: 20px;
	}

	.post-meta-a,
	.post-meta-b {
		.post-title-alt {
			@include breakpoint(false, large) {
				max-width: 90%;
				margin-left: auto;
				margin-right: auto;
			}
		}
	}
}


// Grid Post B
.grid-post-b .read-more-btn {
	@extend %read-more-btn;
}

.overlay-post {
	.post-title {
		// 1200px+
		@include breakpoint(false, medium) {
			margin-top: 18px;
			margin-bottom: 18px;
			font-size: 33px;
		}
	}
}


/* Single Post */

.single-cover .overlay {
	.post-by {
		font-weight: 500;
		letter-spacing: 0.14em;
	}

	.post-title {
		@include breakpoint(null, large) {
			font-size: 36px;
		}
	}
}

.post-content {
	@include skin-post-content;
}

.tag-share {
	.post-tags a {
		letter-spacing: 0.15em;
		font-weight: 600;
	}
}

.post-share-icons a {
	color: #161616;
}


.author-box {
	.author > a {
		@include bold-title;
		font-size: 22px;
	}
}

.related-posts {
	.post-title {
		margin-bottom: 12px;
		font-family: $skin-font;
		font-size: 15px;
		font-weight: 600;
		letter-spacing: 0;
	}
	
	.post-meta {
		font-size: 10px;
	}
}

// Next/prev posts
.post-nav {
	.post-title {
		margin-bottom: 8px;
		font-family: inherit;
		line-height: 1.3;
		font-weight: 600;
	}
}


/**
 * Home & Archives changes
 */
.block-heading .title {
	font-size: 15px;
}

.subscribe-box {
	margin-top: -15px;
	padding-left: 27px;
	padding-right: 32px;

	.text {
		font-size: 14px;
	}

	.input {
		height: (41/13) * 1em;
		width: 270px;

		@include breakpoint(false, small) {
			margin-right: 15px;
		}
	}

	.button {
		width: auto;
		padding: 15px 34px;
		background: #000;
	}
}

.posts-carousel {
	
	.title {
		background: transparent;
	}
	
	.title:before,
	.title:after {
		display: none;
	}
	
	.block-heading {
		margin-top: -5px;
		margin-bottom: 62px;
	}
	
	.block-heading:before {
		display: none;
	}
	
	.block-heading:after {
		top: 100%;
		left: 50%;
		margin-top: 12px;
		margin-left: -18px;
		width: 36px;
		height: 2px;
		background: #000;
	}
	
	.post-link {
		margin-bottom: 18px;
	}
	
	.post-title {
		margin-top: 16px;
		margin-bottom: 16px;
		font-size: 20px;
	}

	.post-meta {
		font-size: 10px;
	}
	
}

// Default / Stylish slider
.slider-overlay {
	.heading {
		@include special-title;
		line-height: 1.2;
	}
	
	.excerpt {
		font-size: 14px;
		letter-spacing: 0;
	}
}

// Fashion slider
.common-slider {
	.post-title,
	.heading {
		@include special-title;
		line-height: 1.2;
	}
}

.fashion-slider {
	.post-title {
		margin-top: 18px;
		margin-bottom: 18px;

		// From 1200px+
		@include breakpoint(false, large) {
			font-size: 36px;
		}
	}
}


/**
 * Sidebar adjustments
 */
.sidebar {
	.widget-title {
		font-size: 12px;
		font-weight: 400;
		letter-spacing: 0.15em;
		color: #fff;
		background: #000;
	}
	
	.widget_mc4wp_form_widget,
	.widget-subscribe {
		padding: 30px;
		background: #f7f7f7;
		
		.widget-title {
			background: transparent;
			color: #161616;
			line-height: 1;
			font-weight: 500;
		}
	}
}

.widget-cta {
	
	.label {
		padding: 8px 18px;
		font-weight: 500;
		font-size: 11px;
		color: #161616;
		letter-spacing: 0.15em;
	}

	.blocks > & {
		padding-bottom: 50px - 15px;
		border-bottom: 1px solid #efefef;
		margin-bottom: 70px;
	}
}

.widget_mc4wp_form_widget,
.widget-subscribe {
	.message {
		letter-spacing: 0;
		font-size: 14px;
	}

	p:last-of-type {
		margin-top: -17px;
	}
}

.widget-posts {
	.post-title {
		font-size: 15px;
		font-weight: 600;
		line-height: 1.52;
		letter-spacing: 0;
	}
	
	.posts.large {
		.post-title {
			font-size: 17px;
			-webkit-font-smoothing: antialiased;
		}
	}

}

/* Footer Changes */
.upper-footer {
	
	.widget-title {
		margin-bottom: 42px;
		color: #222;
		font-size: 15px;
		font-weight: 600;
		letter-spacing: -0.03em;
	}
	
	.widget-posts .post-meta {
		color: #707070;
	}

	.widget-about .about-text {
		font-size: 14px;
	}
}

.lower-footer {
	.copyright {
		font-size: 13px;
	}
	
	.social-icons {
		letter-spacing: 0.12em;
	}
}

.main-footer.stylish { 
	.copyright a {
		color: $skin-color;
	}
}

.main-footer.dark {
	.copyright {
		font-weight: 500;
	}

	.post-date {
		color: inherit;
	}

	.post-title,
	.product-title,
	.posts .post-title {
		font-weight: 400;
		-webkit-font-smoothing: initial;
	}
}

.main-footer.bold { 
	.links .menu-item {
		font-size: 13px;
		font-weight: 500;
		letter-spacing: 0.15;
	}
}