//
// Skin variables, mixin, config.
// 

// Import essentials
@import '../../abstracts/_variables';
@import '../../abstracts/_utils';

// Variables for this skin
$skin-font: Karla, Arial, sans-serif;
$skin-font-alt: Renner, Arial, sans-serif;
$skin-color: #a24034;
$special-title-font: $skin-font-alt;

// For CSS variables and editor mainly
$body-font: $skin-font;
$text-font: $skin-font;
$title-font: $skin-font-alt;
$text-tracking: 0;

// Common elements
@mixin skin-elements {
	blockquote {
		font-family: Lora, Georgia, serif;
		font-size: 19px;
		color: #989898;
	}
}

@mixin skin-text {
	font-size: 15px;
	line-height: 1.7;
	letter-spacing: -0.008em;
	-webkit-font-smoothing: antialiased;
}

@mixin skin-entry-content {}

@mixin skin-post-content {
	font-size: 16px;
	font-weight: 400;
	line-height: 1.75;
	
	h1, h2, h3, h4, h5, h6 {
		@include bold-title;
	}
}

// ---

@mixin special-title {
	font-family: $special-title-font;
	font-weight: 600;
	color: #000;
}

@mixin bold-title {
	font-weight: 600;
}