/**
 * Skin: Trendy
 */
:root {
  --main-color: #cea525;
  --main-color-rgb: 206, 165, 37;
}

/**
 * Change Main Color
 */
input[type="submit"],
button,
input[type="button"],
.t,
.tz .ne .nn,
.nu.nw .tx .tk,
.so .su .iq a,
.oq .us .uo,
.ss a:hover,
.ss.ci a,
.lk:hover .ss a,
.hy .hk:hover,
.nz .pk .p_ button,
.re .sg,
.rs .sg,
.dd .df,
.dd a:hover,
.dd > span,
.fn .is.vy .nn:before,
.xk .x_,
.hb span.yb,
.hb a.t,
.hb button.t,
.hb input.t,
.hb #yw input.uw,
.hb a.t.rl,
.hb a.t.rl:hover,
.hb button.t.rl,
.hb button.t.rl:hover,
.hb input.t.rl,
.hb input.t.rl:hover,
.hb #yw input.uw.rl,
.hb #yw input.uw.rl:hover,
.hb a.t:hover,
.hb button.t:hover,
.hb input.t:hover,
.hb #yw input.uw:hover,
.hb nav.yx ul li span.df,
.hb nav.yx ul li a:hover,
.hb .yk .y_ .t {
  background: #cea525;
}

blockquote:before,
.c,
.tm .tb a:hover,
.ra .rh > li:hover > a,
.ra .rh > .r_ > a,
.ra .rh > .rj > a,
.ra .rh > .rk > a,
.ra li:hover > a:after,
.ra .r_ > a:after,
.ra .rj > a:after,
.ra .rk > a:after,
.ra .rh li li:hover > a,
.ra .rh li li.r_ > a,
.se .st a:hover,
.sw a:hover,
.sw .sk,
.om .oy > span,
.ok .o_ .sq,
.oq .uf,
.ud input[type=checkbox],
.a_.nr .fd:hover,
.fl .tb .nt,
.ld .sh,
.c_ a:hover,
.tb a:hover,
.sm .iq > a,
.ht .uo > a,
.hd .hs .oy a,
.ri .iq a,
.ag .ae a:hover,
.ag .do a:hover,
.ag.sq .df,
.cu a,
.fu a,
.fe .hx,
.fe .tb .ff:hover,
.vb .fd:hover,
.dm blockquote:before,
.yi .ys,
.hb .yj:before,
.hb .yj span:before,
.hb .yq,
.hb .yz .be a:hover,
.hb .yz .be li.nd,
.bt .yz .be a:hover,
.bt .yz .be li.nd,
.hb .yk .bn .br,
.hb .yk .bn .bi,
.hb div.bs div.bo p.bu,
.hb div.bs div.bo span.bu,
.hb .ox div.bs div.bo p.bu,
.hb .ox div.bs div.bo span.bu {
  color: #cea525;
}

.hy .hk:hover,
.nz .pk .p_ button,
.dd .df,
.dd a:hover,
.dd > span,
.hb nav.yx ul li span.df,
.hb nav.yx ul li a:hover {
  border-color: #cea525;
}

.hb .yk .ba .bf {
  background-color: #cea525;
}

.al:after,
.cl .nl {
  border-bottom: 1px solid #cea525;
}

.fg a:before,
.fk a:before,
.fv a:before {
  border: 1px solid #cea525;
}

/* Change text / contrast font */
body,
input,
textarea,
select,
blockquote,
.ld .lm,
.fo,
.sm .cq,
.cu,
.fu,
.fg a,
.fk a,
.fv a,
.hb .bl,
.hb .bc,
.hb .bh,
.hb form .bp,
.hb .bd,
.hb #bv .cz ol.bm .lm,
.bg .by,
.bg .bb .bw table {
  font-family: Lora, Georgia, serif;
  letter-spacing: 0;
  -webkit-font-smoothing: initial;
}

/* Change main body and heading font */
h1,
h2,
h3,
h4,
h5,
h6,
input[type="submit"],
button,
input[type="button"],
.t,
blockquote cite,
blockquote .xp,
.ty,
.t_ .tq,
.nu .nl,
.ra,
.se,
.sz .oe,
.oc .od,
.om,
.oq .un,
.uz .ot,
.a_.nr .fh,
.fl .tb,
.a_ .fp .fd,
.a_.ll .lc .lh,
.a_.ll .fc,
.ld,
.ss a,
.o_,
.al,
.ia,
.ca,
.cl,
.ch,
.cb .ia,
.sk .sq,
.sm,
.ho .hu,
.hf .hu,
.hs .hc,
.hs .c_,
.hs .tb,
.hd .hs .oy a,
.hy .hk,
.rr,
.pg .tk,
.pj,
.pj .tk,
.ro .sg,
.ro .tk,
.re .sg,
.re .tk,
.rs .tk,
.dt,
.dt .tk,
.ag,
.ag .du,
.dd,
.cu .hc,
.fe .hx,
.fn .ia,
.fn .is.vy .nn:before,
.ap .ot,
.vw .vx,
.mu .ma .mf,
.mu .mc,
.fg,
.fk,
.fv,
.xk .x_,
.gd,
.hb .tp .t,
.hb .bx .bk,
.hb nav.yx,
.bg .cu,
.hb .b_,
.bt .b_,
.hb ul.hw,
.hb.ax,
.hb div.bs,
.hb .ox div.bs,
.bg .bb .bw .t,
.hb .bj .bq thead th,
.hb .bj .bq .yq,
.bz #we #wt {
  font-family: Lato, Arial, sans-serif;
}

/* Remove uppercase text on several elements */
.ra.iy .rh > li li a,
.ra.iy .rz .it a,
.ra.nx,
.om .oy > a,
.oq .ui,
.al,
.ia,
.ch .nl,
.pg .tk,
.pj .tk,
.ro .tk,
.re .tk,
.rs .tk,
.dt .tk,
.ag.sq,
.cu h1,
.fu h1,
.cu h2,
.fu h2,
.cu h3,
.fu h3,
.cu h4,
.fu h4,
.cu h5,
.fu h5,
.cu h6,
.fu h6,
.fm tfoot a,
.hb ul.hw li.bs,
.hb ul.hw li.bs .wn,
.hb ul.hw .wr,
.hb ul.hw .wi,
.hb .yk .y_,
.hb ul.ws li a,
.hb ul.wo li a,
.hb.wu .wa > strong,
.hb div.bs .wf,
.hb .ox div.bs .wf,
.hb div.bs .wl,
.hb .ox div.bs .wl,
.hb #bv .cz ol.bm li .ma strong,
.hb #bv .wc,
.bg table.wh .ot,
.bg table.wh .wp > a,
.bg table.wh .wn a,
.hb .bj .bq thead th {
  text-transform: none;
}

/* Navigation Adjustments */
.ra {
  letter-spacing: 0.1em;
  font-weight: 900;
}

.ra .rh > li li a,
.ra .rz .it a {
  font-size: 11px;
  font-weight: 700;
  letter-spacing: 0.07em;
}

.ra .rz .ii .ia {
  font-family: Lato, Arial, sans-serif;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: 0;
}

.ra.nr {
  -webkit-font-smoothing: antialiased;
}

/* Adjust text color */
.fo,
.cu,
.fu,
.ap .ot,
.fg a,
.ax .w_ a,
.fv a {
  color: #535353;
}

/**
 * General components and global changes
 */
h1, h2, h3, h4, h5, h6 {
  color: #535353;
}

.o_ .nl {
  font-weight: 900;
  letter-spacing: 0.1em;
  font-size: 11px;
}

.sm time {
  font-weight: 700;
  letter-spacing: 0.05em;
}

.sm .iq > a {
  font-weight: 900;
  letter-spacing: 0.1em;
}

.sm .cw:before {
  padding: 0 5px;
}

.ia,
.al {
  font-family: "TexGyreAdventor", Futura, Arial, sans-serif;
  font-weight: 600;
  color: #161616;
  letter-spacing: 0;
}

.ia a,
.al a {
  color: #161616;
}

.al {
  margin-top: 12px;
  margin-bottom: 16px;
  font-size: 23px;
}

.al:after {
  display: none;
}

.pe .ia {
  font-size: 18px;
}

.ag {
  margin-top: 90px;
}

.ag .ae a,
.ag .do a {
  font-weight: 900;
  letter-spacing: 0.15em;
}

/**
 * Posts adjustments
 */
.l_ .al {
  margin-top: 9px;
  margin-bottom: 15px;
  font-size: 20px;
  line-height: 1.5;
}

.l_ .lk {
  margin-bottom: 0;
}

.l_ .hg {
  position: relative;
  margin: 0 12px;
  margin-top: -12px;
  padding: 0 20px;
  padding-top: 18px;
  background: #fff;
}

.l_ .he {
  margin-top: 15px;
}

.lw .ix img {
  margin-bottom: 23px;
}

.hs {
  margin-top: 45px;
}

.hs .hc {
  font-size: 11px;
  font-weight: 900;
  letter-spacing: 0.1em;
}

.lx .iq a {
  color: #161616;
}

.lx .ia {
  margin-top: 12px;
  margin-bottom: 12px;
}

/**
 * Single Post changes 
 */
.so .su .sa {
  font-weight: 600;
  letter-spacing: 0.05em;
}

.cu {
  line-height: 1.857;
}

.cu h1, .cu h2, .cu h3, .cu h4, .cu h5, .cu h6 {
  font-family: "TexGyreAdventor", Futura, Arial, sans-serif;
  font-weight: 600;
  color: #161616;
}

.se .st a {
  font-weight: 900;
  letter-spacing: 0.1em;
}

.om .oy > span {
  font-weight: 900;
  letter-spacing: 0.1em;
}

.om .oy > a {
  font-family: "TexGyreAdventor", Futura, Arial, sans-serif;
  font-weight: 600;
  color: #161616;
  font-size: 22px;
}

.om .fo {
  font-size: 13px;
}

.uj .ia {
  padding: 0 10px;
  font-family: Lato, Arial, sans-serif;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: 0;
}

.uj .ia a {
  color: #535353;
}

.oq .ui {
  color: #535353;
  margin-bottom: 0;
}

.oq .ul {
  font-size: 13px;
}

.oq .uu {
  font-weight: 700;
  -webkit-font-smoothing: antialiased;
}

/**
 * Home changes
 */
.ca .nl {
  font-size: 16px;
}

.ri .iq a {
  color: #161616;
}

.ri .pv:before {
  content: "";
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  pointer-events: none;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  -webkit-transition: opacity 0.3s ease-in;
  transition: opacity 0.3s ease-in;
}

.ri .pv:hover:before {
  opacity: 0.4;
}

.ri .pv:hover img {
  -webkit-filter: none;
          filter: none;
}

.ri .su {
  width: 500px;
  max-width: calc(100% - 200px);
  background: rgba(0, 0, 0, 0.15);
  border: 1px solid rgba(255, 255, 255, 0.25);
}

.ri .ia a,
.ri .ia a:hover {
  color: #fff;
}

.ri time {
  color: #fff;
}

.nz .su {
  width: 350px;
  margin-left: -175px;
  padding-left: 25px;
  padding-right: 25px;
}

.nz .ia {
  font-size: 20px;
}

.pj .tk {
  font-family: "TexGyreAdventor", Futura, Arial, sans-serif;
  font-weight: 600;
  color: #161616;
}

.ro .tk {
  font-family: "TexGyreAdventor", Futura, Arial, sans-serif;
  font-weight: 600;
  color: #161616;
  -webkit-font-smoothing: antialiased;
}

.ro .sg {
  font-size: 11px;
}

.rs .tk {
  font-family: "TexGyreAdventor", Futura, Arial, sans-serif;
  font-weight: 600;
  color: #161616;
  -webkit-font-smoothing: antialiased;
}

.re .tk {
  font-family: "TexGyreAdventor", Futura, Arial, sans-serif;
  font-weight: 600;
  color: #161616;
  -webkit-font-smoothing: antialiased;
}

.dt .tk {
  font-family: "TexGyreAdventor", Futura, Arial, sans-serif;
  font-weight: 600;
  color: #161616;
  -webkit-font-smoothing: antialiased;
}

.pg .tk {
  font-family: "TexGyreAdventor", Futura, Arial, sans-serif;
  font-weight: 600;
  color: #161616;
  letter-spacing: 0;
}

.pg .fr {
  font-size: 15px;
  letter-spacing: 0;
}

/**
 * Sidebar adjustments
 */
.aw .ax {
  border: 1px solid #ebebeb;
  padding: 30px;
}

.aw .ak {
  font-weight: 900;
  letter-spacing: 0.1em;
  margin: 0 -31px;
  margin-top: -31px;
  margin-bottom: 35px;
  border-color: transparent;
  background: #161616;
  color: #fff;
  font-size: 11px;
  -webkit-font-smoothing: antialiased;
}

.aw .ly {
  border: 0;
}

.aw .ly .rb {
  margin: 0 -30px;
}

.aw .mt,
.aw .me {
  background: #f7f7f7;
}

.aw .mt .ak,
.aw .me .ak {
  margin: 0;
  margin-bottom: 35px;
  background: transparent;
  color: #535353;
}

.fe .ft {
  font-size: 13px;
}

.fe .hx {
  font-weight: 900;
  letter-spacing: 0.1em;
}

.ap .ot {
  font-weight: 900;
  letter-spacing: 0.1em;
}

.fn .ia {
  font-family: Lato, Arial, sans-serif;
  font-size: 15px;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

.fn .sm {
  font-size: 10px;
}

.fg li,
.ax .w_ li,
.fv li {
  padding: 10px 0;
}

.fg li:only-child,
.ax .w_ li:only-child,
.fv li:only-child {
  padding-bottom: 0;
}

.fg a,
.ax .w_ a,
.fv a {
  font-size: 13px;
}

.fg a:before,
.ax .w_ a:before,
.fv a:before {
  margin-top: 8px;
}

/**
 * Footer Changes 
 */
.aq .ak {
  color: #535353;
  font-weight: 700;
}

.li .fl .fc {
  font-weight: 900;
  letter-spacing: 0.1em;
  font-size: 11px;
  font-family: Lato, Arial, sans-serif;
  text-transform: uppercase;
  -webkit-font-smoothing: antialiased;
}

.li .fl .tb {
  line-height: 1.5;
}
