/**
 * Skin: ContentPro
 */
@font-face {
  font-family: 'Charter BS';
  src: url("fonts/charter/charter_regular-webfont.woff2") format("woff2"), url("fonts/charter/charter_regular-webfont.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Charter BS';
  src: url("fonts/charter/charter_italic-webfont.woff2") format("woff2"), url("fonts/charter/charter_italic-webfont.woff") format("woff");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Charter BS';
  src: url("fonts/charter/charter_bold-webfont.woff2") format("woff2"), url("fonts/charter/charter_bold-webfont.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Charter BS';
  src: url("fonts/charter/charter_bold_italic-webfont.woff2") format("woff2"), url("fonts/charter/charter_bold_italic-webfont.woff") format("woff");
  font-weight: 600;
  font-style: italic;
}

:root {
  --main-color: #2d53fe;
  --main-color-rgb: 45, 83, 254;
}

/**
 * Change Main Color
 */
input[type="submit"],
button,
input[type="button"],
.t,
.tz .ne .nn,
.nu.nw .tx .tk,
.so .su .iq a,
.oq .us .uo,
.ss a:hover,
.ss.ci a,
.lk:hover .ss a,
.hy .hk:hover,
.nz .pk .p_ button,
.re .sg,
.rs .sg,
.dd .df,
.dd a:hover,
.dd > span,
.fn .is.vy .nn:before,
.xk .x_,
.hb span.yb,
.hb a.t,
.hb button.t,
.hb input.t,
.hb #yw input.uw,
.hb a.t.rl,
.hb a.t.rl:hover,
.hb button.t.rl,
.hb button.t.rl:hover,
.hb input.t.rl,
.hb input.t.rl:hover,
.hb #yw input.uw.rl,
.hb #yw input.uw.rl:hover,
.hb a.t:hover,
.hb button.t:hover,
.hb input.t:hover,
.hb #yw input.uw:hover,
.hb nav.yx ul li span.df,
.hb nav.yx ul li a:hover,
.hb .yk .y_ .t {
  background: #2d53fe;
}

blockquote:before,
.c,
.tm .tb a:hover,
.ra .rh > li:hover > a,
.ra .rh > .r_ > a,
.ra .rh > .rj > a,
.ra .rh > .rk > a,
.ra li:hover > a:after,
.ra .r_ > a:after,
.ra .rj > a:after,
.ra .rk > a:after,
.ra .rh li li:hover > a,
.ra .rh li li.r_ > a,
.se .st a:hover,
.sw a:hover,
.sw .sk,
.om .oy > span,
.ok .o_ .sq,
.oq .uf,
.ud input[type=checkbox],
.a_.nr .fd:hover,
.fl .tb .nt,
.ld .sh,
.c_ a:hover,
.tb a:hover,
.sm .iq > a,
.ht .uo > a,
.hd .hs .oy a,
.ri .iq a,
.ag .ae a:hover,
.ag .do a:hover,
.ag.sq .df,
.cu a,
.fu a,
.fe .hx,
.fe .tb .ff:hover,
.vb .fd:hover,
.dm blockquote:before,
.yi .ys,
.hb .yj:before,
.hb .yj span:before,
.hb .yq,
.hb .yz .be a:hover,
.hb .yz .be li.nd,
.bt .yz .be a:hover,
.bt .yz .be li.nd,
.hb .yk .bn .br,
.hb .yk .bn .bi,
.hb div.bs div.bo p.bu,
.hb div.bs div.bo span.bu,
.hb .ox div.bs div.bo p.bu,
.hb .ox div.bs div.bo span.bu {
  color: #2d53fe;
}

.hy .hk:hover,
.nz .pk .p_ button,
.dd .df,
.dd a:hover,
.dd > span,
.hb nav.yx ul li span.df,
.hb nav.yx ul li a:hover {
  border-color: #2d53fe;
}

.hb .yk .ba .bf {
  background-color: #2d53fe;
}

.al:after,
.cl .nl {
  border-bottom: 1px solid #2d53fe;
}

.fg a:before,
.fk a:before,
.fv a:before {
  border: 1px solid #2d53fe;
}

/* Change text / contrast font */
body,
input,
textarea,
select,
.ld .lm,
.fo,
.sm .cq,
.cu,
.fu,
.fg a,
.fk a,
.fv a,
.hb .bl,
.hb .bc,
.hb .bh,
.hb form .bp,
.hb .bd,
.hb #bv .cz ol.bm .lm,
.bg .by,
.bg .bb .bw table {
  font-family: Roboto, Arial, sans-serif;
  letter-spacing: 0;
  -webkit-font-smoothing: initial;
}

/* Change main body and heading font */
h1,
h2,
h3,
h4,
h5,
h6,
input[type="submit"],
button,
input[type="button"],
.t,
blockquote cite,
blockquote .xp,
.ty,
.t_ .tq,
.nu .nl,
.ra,
.se,
.sz .oe,
.oc .od,
.om,
.oq .un,
.uz .ot,
.a_.nr .fh,
.fl .tb,
.a_ .fp .fd,
.a_.ll .lc .lh,
.a_.ll .fc,
.ld,
.ss a,
.o_,
.al,
.ia,
.ca,
.cl,
.ch,
.cb .ia,
.sk .sq,
.sm,
.ho .hu,
.hf .hu,
.hs .hc,
.hs .c_,
.hs .tb,
.hd .hs .oy a,
.hy .hk,
.rr,
.pg .tk,
.pj,
.pj .tk,
.ro .sg,
.ro .tk,
.re .sg,
.re .tk,
.rs .tk,
.dt,
.dt .tk,
.ag,
.ag .du,
.dd,
.cu .hc,
.fe .hx,
.fn .ia,
.fn .is.vy .nn:before,
.ap .ot,
.vw .vx,
.mu .ma .mf,
.mu .mc,
.fg,
.fk,
.fv,
.xk .x_,
.gd,
.hb .tp .t,
.hb .bx .bk,
.hb nav.yx,
.bg .cu,
.hb .b_,
.bt .b_,
.hb ul.hw,
.hb.ax,
.hb div.bs,
.hb .ox div.bs,
.bg .bb .bw .t,
.hb .bj .bq thead th,
.hb .bj .bq .yq,
.bz #we #wt {
  font-family: Roboto, Arial, sans-serif;
}

.rz .ii .ia,
.fo,
.hs .oy a,
.hs .hh,
.cu,
.ap .ot,
.fu,
.mm a,
.fg a,
.fk a,
.fv a {
  color: #505050;
}

/* Remove uppercase text on several elements */
.ra.iy .rh > li li a,
.ra.iy .rz .it a,
.ra.nx,
.om .oy > a,
.oq .ui,
.al,
.ia,
.ch .nl,
.pg .tk,
.pj .tk,
.ro .tk,
.re .tk,
.rs .tk,
.dt .tk,
.ag.sq,
.cu h1,
.fu h1,
.cu h2,
.fu h2,
.cu h3,
.fu h3,
.cu h4,
.fu h4,
.cu h5,
.fu h5,
.cu h6,
.fu h6,
.fm tfoot a,
.hb ul.hw li.bs,
.hb ul.hw li.bs .wn,
.hb ul.hw .wr,
.hb ul.hw .wi,
.hb .yk .y_,
.hb ul.ws li a,
.hb ul.wo li a,
.hb.wu .wa > strong,
.hb div.bs .wf,
.hb .ox div.bs .wf,
.hb div.bs .wl,
.hb .ox div.bs .wl,
.hb #bv .cz ol.bm li .ma strong,
.hb #bv .wc,
.bg table.wh .ot,
.bg table.wh .wp > a,
.bg table.wh .wn a,
.hb .bj .bq thead th {
  text-transform: none;
}

/**
 * Header and Nav
 */
.ra.nx {
  color: #525252;
}

.ra.nx .rh > li > a {
  padding: 0 20px;
  font-weight: 500;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
}

.nu.nx .tb a:not(:hover) {
  color: #525252;
}

.nu.nx .tb .nt {
  font-size: 16px;
}

.nu.nx .rv:before {
  height: 16px;
}

.nu.nx .rv .nt {
  font-size: 17px;
  margin-top: -2px;
}

.gd li a {
  letter-spacing: 0.12em;
}

/**
 * General components and global changes
 */
.hd .hc a, .ct .hu, .ho .hu {
  padding: 14px 24px;
  border: 0;
  background: #f6f6f6;
  -webkit-box-shadow: 0 2px 3px rgba(110, 110, 110, 0.25);
          box-shadow: 0 2px 3px rgba(110, 110, 110, 0.25);
  color: #000;
  font-size: 11px;
  font-weight: 500;
  letter-spacing: 0.1em;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}

:root {
  --main-color: $skin-color;
}

::-moz-selection {
  background: rgba(45, 83, 254, 0.5);
}

::selection {
  background: rgba(45, 83, 254, 0.5);
}

::-moz-selection {
  background: rgba(45, 83, 254, 0.5);
}

h1, h2, h3, h4, h5, h6 {
  -webkit-font-smoothing: antialiased;
}

h1 {
  font-size: 29px;
}

h2 {
  font-size: 26px;
}

h3 {
  font-size: 22px;
}

input,
textarea,
select {
  font-size: 14px;
}

input {
  height: 3.14286em;
}

input[type="checkbox"],
input[type="radio"] {
  height: auto;
}

input[type="submit"],
button,
input[type="button"],
.t {
  padding: 15px 20px;
  background: #000;
  letter-spacing: 0.1em;
  font-weight: 500;
  font-size: 12px;
  -webkit-font-smoothing: antialiased;
}

input,
textarea,
select {
  color: #9c9c9c;
}

.n,
.r.i {
  padding-left: 42px;
  padding-right: 42px;
  font-style: normal;
  font-size: 27px;
  line-height: 1.44;
  font-weight: 500;
  color: #252525;
}

.n:before,
.r.i:before {
  -webkit-transform: translateX(-50%) translateY(9px) rotate(1deg);
          transform: translateX(-50%) translateY(9px) rotate(1deg);
  font-size: 132px;
  color: #2d53fe;
  opacity: .13;
}

.n cite,
.r.i cite {
  font-size: 14px;
}

.n cite:before,
.r.i cite:before {
  display: none;
}

.dm {
  font-size: 24px;
  font-weight: 500;
  color: #252525;
  padding-left: 3.896%;
}

.dm:before {
  position: absolute;
  margin-left: -1.75%;
  z-index: -1;
  color: #2d53fe;
  opacity: .13;
  font-size: 96px;
}

.dm.dg {
  margin-right: 7%;
}

.dm.dy {
  margin-left: 3.9%;
}

.dm cite {
  margin-top: 24px;
}

blockquote {
  font-family: "IBM Plex Serif", Charter, Georgia, serif;
  font-size: 21px;
  font-style: normal;
  color: #989898;
  -webkit-font-smoothing: antialiased;
}

blockquote p + cite {
  font-family: Roboto, Arial, sans-serif;
  font-style: normal;
  font-size: 15px;
  color: #9c9c9c;
}

.sv {
  -webkit-box-shadow: 0 3px 12px -1px rgba(7, 10, 25, 0.2), 0 22px 27px -20px rgba(7, 10, 25, 0.2);
          box-shadow: 0 3px 12px -1px rgba(7, 10, 25, 0.2), 0 22px 27px -20px rgba(7, 10, 25, 0.2);
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.sv:hover {
  opacity: 1;
  -webkit-box-shadow: 0 15px 45px -5px rgba(7, 10, 25, 0.25);
          box-shadow: 0 15px 45px -5px rgba(7, 10, 25, 0.25);
  -webkit-filter: brightness(1.07);
          filter: brightness(1.07);
  -webkit-transform: translate(0px, -2px);
          transform: translate(0px, -2px);
}

.o_ .nl {
  padding: 0 16px;
  color: #000;
  font-weight: 600;
  -webkit-font-smoothing: antialiased;
  font-size: 22px;
  letter-spacing: 0;
  text-transform: none;
}

.o_:before {
  background: #dfdfdf;
}

.sm,
.he {
  font-size: 12px;
  color: #9e9e9e;
  -webkit-font-smoothing: antialiased;
  text-align: left;
}

.sm .cq,
.he .cq {
  display: none;
}

.sm time,
.sm .cz,
.he time,
.he .cz {
  color: #9e9e9e;
}

.sm .cw,
.he .cw {
  padding: 0;
}

.sm .iq > a,
.sm time,
.sm .cz,
.he .iq > a,
.he time,
.he .cz {
  font-weight: 500;
  letter-spacing: 0.1em;
}

.he {
  margin-bottom: 20px;
}

.ia,
.al {
  font-family: Roboto, Arial, sans-serif;
  font-weight: 700;
  color: #030303;
  -webkit-font-smoothing: antialiased;
}

.ia a,
.al a {
  color: inherit;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

.ia a:hover,
.al a:hover {
  opacity: 1;
  text-shadow: 2px 2px white, 2px -2px white, -2px 2px white, -2px -2px white;
  -webkit-box-shadow: 0 -1px 0 0 white inset, 0 -2px 0 0 var(--main-color, #000) inset;
          box-shadow: 0 -1px 0 0 white inset, 0 -2px 0 0 var(--main-color, #000) inset;
}

.al {
  margin-top: 18px;
  margin-bottom: 18px;
  font-size: 27px;
  line-height: 1.4;
}

.al:after {
  display: none;
}

.fo,
.cu,
.fu {
  color: #555;
  font-size: 16px;
  line-height: 1.6875;
  -webkit-font-smoothing: antialiased;
}

.fo {
  font-size: 15px;
}

.ag .ae a,
.ag .do a {
  font-size: 12px;
  letter-spacing: 0.1em;
  border-bottom: 1px solid #e1e1e1;
}

.ag .du {
  min-width: initial;
  padding: 16px 50px;
  border: 0;
  background: #f6f6f6;
  -webkit-box-shadow: 0 2px 3px rgba(110, 110, 110, 0.25);
          box-shadow: 0 2px 3px rgba(110, 110, 110, 0.25);
  color: #000;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0.1em;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}

.ag .du:hover {
  opacity: 0.9;
}

.ag .du .nt:not(.wg) {
  display: none;
}

.ag.sq {
  font-size: 14px;
  letter-spacing: 0;
  -webkit-font-smoothing: antialiased;
}

.lq .dv {
  padding: 0 20px;
}

.lq .du {
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/**
 * Posts adjustments
 */
.lb .l_ {
  margin-bottom: 50px;
}

.lb.wy {
  margin-bottom: -50px;
}

.lw,
.l_ {
  padding-left: 20px;
  padding-right: 20px;
}

.lw .ix,
.lw .lk,
.l_ .ix,
.l_ .lk {
  margin-left: -20px;
  margin-right: -20px;
}

.lw .al {
  max-width: 88%;
}

.lw .he .al {
  margin: 18px 0;
}

.lw .ix img,
.lw .cp,
.lw .ik {
  margin-bottom: 46px;
}

.lw .sm {
  margin-bottom: 21px;
}

.lw .oy {
  letter-spacing: 0;
}

.lw .cu > p:last-of-type + .hc {
  margin-top: -6px;
}

.hd .hc a:hover {
  background: #000;
  color: #fff;
}

.hd .hc a:before {
  display: none;
}

.hd .hc a span {
  padding: 0;
  background: transparent;
}

.hd .hs {
  letter-spacing: 0;
  padding-bottom: 2px;
  border-bottom: 1px solid #ebebeb;
}

.hd .hs .oy a {
  letter-spacing: 0.15em;
}

.hd .hs .sq {
  font-size: 13px;
  font-weight: 400;
}

.hd .hs .tb a {
  font-size: 14px;
}

.hs {
  margin-top: 45px;
}

.hs .hc {
  font-size: 11px;
  font-weight: 900;
  letter-spacing: 0.1em;
}

.ct .ia {
  margin-top: 18px;
  margin-bottom: 18px;
  line-height: 1.4;
}

.ct .sm {
  font-size: 12px;
}

.l_ .al {
  font-size: 24px;
}

.l_ .lk {
  margin-bottom: 36px;
  overflow: visible;
}

.l_ .he {
  margin-bottom: 20px;
}

.wb .al {
  font-size: 22px;
}

.lx .iq a {
  background: #000;
  color: #fff !important;
}

.lx .ia:hover {
  opacity: 1;
  -webkit-box-shadow: none;
          box-shadow: none;
  text-shadow: none;
}

.hj .cn {
  margin-bottom: -38px;
}

.hj .cb {
  margin-bottom: 42px;
}

.hj .cb .ox {
  padding-left: 18px;
  padding-right: 18px;
}

.hj .cb img {
  margin-bottom: 25px;
}

.hj .cb .ia {
  font-size: 19px;
  font-weight: 500;
  line-height: 1.42;
}

.hj .cb .sm {
  display: none;
}

/* Single Post */
.so .su .sa {
  font-weight: 500;
  letter-spacing: 0.1em;
}

.sl .al {
  font-size: 42px;
  max-width: 675px;
  line-height: 1.21;
  -webkit-font-smoothing: initial;
}

.sl .ij {
  margin-bottom: 35px;
}

.sl .iw .ix {
  margin-bottom: 50px;
}

.sp .tp {
  margin-top: 75px;
}

.sp .cu {
  margin-top: -.421em;
}

.sp .ix .sm {
  font-size: 12px;
}

.sp .ix .sg {
  letter-spacing: 0.08em;
  line-height: 26px;
}

.sp .ix .ia {
  font-size: 38px;
  line-height: 1.21;
  -webkit-font-smoothing: initial;
}

.sp .ix .sa {
  font-weight: 500;
  letter-spacing: 0.1em;
}

.cu p > a,
.cu li > a,
.cu dd > a,
.cu h1 a,
.cu h2 a,
.cu h3 a,
.cu h4 a,
.cu h5 a,
.cu h6 a,
.cu em a,
.cu strong a {
  color: inherit;
  -webkit-box-shadow: 0 -1px 0 0 #2d53fe inset;
          box-shadow: 0 -1px 0 0 #2d53fe inset;
  -webkit-transition: .3s ease-in;
  transition: .3s ease-in;
}

.cu p > a:hover,
.cu li > a:hover,
.cu dd > a:hover,
.cu h1 a:hover,
.cu h2 a:hover,
.cu h3 a:hover,
.cu h4 a:hover,
.cu h5 a:hover,
.cu h6 a:hover,
.cu em a:hover,
.cu strong a:hover {
  opacity: 1;
  -webkit-box-shadow: 0 -1px 0 0 currentColor inset;
          box-shadow: 0 -1px 0 0 currentColor inset;
}

.cu li > ul,
.cu li > ol {
  margin-top: 0.8em;
  margin-bottom: 0.8em;
}

.cu li {
  margin-bottom: 0.8em;
}

.cu figure > a:not(.cx) {
  display: block;
}

.cu h1, .cu h2, .cu h3, .cu h4, .cu h5, .cu h6 {
  font-family: Roboto, Arial, sans-serif;
  font-weight: 700;
  color: #030303;
  -webkit-font-smoothing: antialiased;
}

.cu figcaption a,
.cu .vs a {
  text-decoration: underline;
}

.cu .dj figcaption,
.cu .vs {
  font-size: 14px;
  font-family: Roboto, Arial, sans-serif;
  font-style: normal;
  color: #777;
}

.cu .n,
.cu .r.i {
  margin-top: 2em;
  margin-bottom: 1.9em;
}

.cu .hc {
  margin-top: 22px;
  text-transform: none;
  font-weight: 400;
  color: #000;
  letter-spacing: 0;
  font-size: 16px;
  text-align: initial;
}

.cu .hc a:after {
  content: "";
  display: block;
  height: 1px;
  width: 100%;
  background: #2d53fe;
  -webkit-transition: -webkit-transform .3s ease-in;
  transition: -webkit-transform .3s ease-in;
  transition: transform .3s ease-in;
  transition: transform .3s ease-in, -webkit-transform .3s ease-in;
}

.cu .hc a:hover:after {
  background: #000;
}

.cu .hc a:before {
  display: none;
}

.cu .hc a span {
  padding: 0;
  background: transparent;
}

.ww {
  font-family: ff-more-web-pro, "PT Serif", Georiga, serif;
  font-size: 19px;
  font-weight: 400;
  color: #444;
  color: rgba(0, 0, 0, 0.74);
  line-height: 1.73;
}

.ww p {
  margin-bottom: 1.65em;
}

.ww > ul,
.ww > ol {
  margin-top: 1.65em;
  margin-bottom: 1.65em;
}

.ww > ul,
.ww > ul ul {
  list-style: none;
}

.ww > ul li:before {
  position: absolute;
  content: "\2022";
  margin-left: -25px;
  display: inline-block;
  text-align: right;
  opacity: 0.8;
  font-family: georgia, arial, system-ui;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-font-smoothing: antialiased;
}

.ww h1 {
  font-size: 1.7em;
}

.ww h2 {
  font-size: 1.6em;
}

.ww h3 {
  font-size: 1.3em;
}

.ww h4 {
  font-size: 1.15em;
}

.ww h5 {
  font-size: 1.05em;
}

.ww h6 {
  font-size: 1em;
}

.ww h1, .ww h2, .ww h3, .ww h4, .ww h5, .ww h6 {
  margin-top: 1.4em;
  margin-bottom: 0.6em;
}

.se .st a {
  color: #161616;
  letter-spacing: 0.1em;
  font-weight: 500;
}

.sw a {
  color: #161616;
}

.wx .oe {
  margin-top: -1px;
  display: block;
  width: 42px;
  height: 42px;
  border: 0;
  -webkit-box-shadow: -3px -3px 8px -6px rgba(0, 0, 0, 0.1), 1px 3px 15px -7px;
          box-shadow: -3px -3px 8px -6px rgba(0, 0, 0, 0.1), 1px 3px 15px -7px;
  border-radius: 50%;
  font-size: 17px;
  line-height: 44px;
  text-align: center;
  margin-bottom: 12px;
}

.wx .oe:hover {
  background: #fff;
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
}

.wx .od {
  margin-bottom: 27px;
  font-weight: 500;
  -webkit-font-smoothing: antialiased;
}

.wx .nt {
  -webkit-font-smoothing: antialiased;
}

.om .oy > a {
  margin-top: -5px;
  font-weight: 600;
  -webkit-font-smoothing: antialiased;
  font-size: 22px;
}

.om .oy > span {
  display: none;
}

.om .og img {
  margin-top: -77px;
  width: 110px;
  height: auto;
}

.om .ob {
  font-size: 16px;
}

.uj .ia {
  margin-top: 25px;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 0;
  text-align: left;
}

.uj.uq .ia {
  margin-top: 25px;
  margin-bottom: 12px;
  padding: 0;
  font-size: 20px;
}

.uj .sm,
.uj.uq .sm {
  font-size: 12px;
}

.uj .ox {
  padding-left: 20px;
  padding-right: 20px;
}

.uz .ia {
  margin-bottom: 8px;
  font-family: inherit;
  line-height: 1.3;
  font-weight: 600;
}

.oq .ui {
  font-size: 18px;
  font-weight: 500;
}

.oq .uf:before {
  vertical-align: middle;
}

.oq .uf,
.oq .uu,
.oq .oz .ua {
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0.1em;
  -webkit-font-smoothing: antialiased;
}

.oq .ul {
  margin-top: 8px;
  font-size: 16px;
}

.ud .uw {
  padding: 14px 25px;
}

/**
 * Home & Archives changes
 */
.ah .am {
  margin-bottom: 60px;
}

.ah .ag {
  margin-top: 70px;
}

.ca .nl {
  font-size: 18px;
}

.ch .nl {
  font-size: 27px;
  padding-left: 20px;
}

.ch .cc {
  font-size: 14px;
}

.hq {
  margin-top: -15px;
  padding-left: 27px;
  padding-right: 32px;
}

.hq .fo {
  font-size: 14px;
}

.hq .hz {
  height: 3.15385em;
  width: 270px;
}

.hq .t {
  width: auto;
  padding: 15px 34px;
  background: #000;
}

.pe .nl {
  background: transparent;
}

.pe .nl:before,
.pe .nl:after {
  display: none;
}

.pe .ca {
  margin-top: -5px;
  margin-bottom: 62px;
}

.pe .ca:before {
  display: none;
}

.pe .ca:after {
  top: 100%;
  left: 50%;
  margin-top: 12px;
  margin-left: -18px;
  width: 36px;
  height: 2px;
  background: #000;
}

.pe .ps {
  margin-bottom: 18px;
}

.pe .ia {
  margin-top: 16px;
  margin-bottom: 16px;
  font-size: 20px;
}

.pe .sm {
  font-size: 10px;
}

.pg .tk {
  font-family: Roboto, Arial, sans-serif;
  font-weight: 700;
  color: #030303;
  -webkit-font-smoothing: antialiased;
  line-height: 1.2;
}

.pg .fr {
  font-size: 14px;
  letter-spacing: 0;
}

.ph .ia,
.ph .tk {
  font-family: Roboto, Arial, sans-serif;
  font-weight: 700;
  color: #030303;
  -webkit-font-smoothing: antialiased;
  line-height: 1.2;
}

.rt .ia {
  margin-top: 18px;
  margin-bottom: 18px;
}

/**
 * Sidebar adjustments
 */
.aw .ax {
  margin-bottom: 50px;
}

.aw .ak {
  margin-bottom: 35px;
  padding-bottom: 6px;
  border: 0;
  border-bottom: 1px solid #e1e1e1;
  font-size: 21px;
  color: #000;
  font-weight: 600;
  -webkit-font-smoothing: antialiased;
  text-align: left;
  text-transform: none;
  letter-spacing: 0;
  line-height: 1.5;
}

.aw .mt,
.aw .me {
  background: #f6f6f6;
  border: 0;
  padding: 34px 30px;
}

.aw .mt .ak,
.aw .me .ak {
  margin-top: -3px;
  margin-bottom: 32px;
  text-align: center;
}

.aw .mt .ak span,
.aw .me .ak span {
  padding: 0;
  background: transparent;
}

.aw .mt .ak:after,
.aw .me .ak:after {
  margin-top: 8px;
  height: 2px;
  background: #000;
  width: 24px;
}

.mt .vp,
.me .vp {
  margin-bottom: 22px;
  font-size: 16px;
  color: #5b5b5b;
  -webkit-font-smoothing: antialiased;
}

.mt input,
.me input {
  height: 44px;
}

.ap .ot {
  padding: 7px 18px;
  font-weight: 500;
  font-size: 13px;
  color: #111;
  letter-spacing: 0.1em;
}

.ah > .ap {
  padding-bottom: 35px;
  border-bottom: 1px solid #efefef;
  margin-bottom: 70px;
}

.mt .vp,
.me .vp {
  letter-spacing: 0;
  font-size: 14px;
}

.mt p:last-of-type,
.me p:last-of-type {
  margin-top: -17px;
}

.nr .mt input[type="submit"], .nr
.me input[type="submit"] {
  background: #2d53fe;
}

.fn .ia {
  font-size: 15px;
  font-weight: 600;
  line-height: 1.52;
  letter-spacing: 0;
}

.fn .al {
  font-weight: 500;
}

.fn .is.cr .ia {
  font-size: 17px;
  font-weight: 500;
  -webkit-font-smoothing: antialiased;
}

.fn .l_ {
  padding-left: 0;
  padding-right: 0;
}

.fn .l_ .he {
  margin-bottom: 14px;
}

.fn .l_ img {
  float: none;
}

.fn .lk {
  margin-left: 0;
  margin-right: 0;
}

.fn .lk + .hg {
  margin-bottom: 20px;
}

.mh .ia a:hover {
  text-shadow: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.fy li,
.fb li,
.f_ li,
.fj li,
.fq li,
.fx li,
.fw li {
  font-size: 14px;
}

.fg a,
.fk a,
.fv a {
  font-size: 15px;
}

/* Footer Changes */
.aq .ak {
  margin-bottom: 42px;
  color: #222;
  font-size: 15px;
  font-weight: 600;
  letter-spacing: -0.03em;
}

.aq .fn .sm {
  color: #707070;
}

.aq .fe .ft {
  font-size: 15px;
}

.fl .fc {
  font-size: 13px;
}

.fl .tb {
  letter-spacing: 0.12em;
}

.a_.lu .fc a {
  color: #2d53fe;
}

.a_.nr .fc {
  font-weight: 500;
}

.a_.nr .ai {
  color: inherit;
}

.a_.nr .ia,
.a_.nr .fi,
.a_.nr .is .ia {
  font-weight: 400;
  -webkit-font-smoothing: initial;
}

.a_.ll .lc .lh {
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0.1em;
}

.a_.ll .fh {
  font-weight: 500;
  letter-spacing: 0.1em;
}

.a_.lp {
  -webkit-font-smoothing: antialiased;
}

.a_.lp .fl .fd {
  background: #2d53fe;
  -webkit-box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
}

.a_.lp .fc {
  font-weight: 500;
  letter-spacing: 0.11em;
}

@media (min-width: 1500px) {
  .sp .ix {
    height: 570px;
  }
  .wx {
    margin-left: -138px;
  }
}

@media (min-width: 1200px) {
  .ct .ia {
    font-size: 25px;
    max-width: 90%;
  }
  .so .su .ia {
    font-size: 36px;
  }
  .rt .ia {
    font-size: 36px;
  }
}

@media (min-width: 940px) {
  .lx .ia {
    margin-top: 18px;
    margin-bottom: 18px;
    font-size: 33px;
  }
}

@media (min-width: 767px) {
  .hq .hz {
    margin-right: 15px;
  }
}

@media (max-width: 540px) {
  .n,
  .r.i {
    font-size: 23px;
    padding-left: 10px;
    padding-right: 10px;
  }
  .al {
    font-size: 20px;
  }
  .hj .cb .ia {
    font-size: 15px;
  }
  .oq .ul {
    font-size: 14px;
  }
}
