/**
 * Skin: Magazine 
 */
:root {
  --main-color: #ec0e0e;
  --main-color-rgb: 236, 14, 14;
}

/**
 * Change Main Color
 */
input[type="submit"],
button,
input[type="button"],
.t,
.tz .ne .nn,
.nu.nw .tx .tk,
.so .su .iq a,
.oq .us .uo,
.ss a:hover,
.ss.ci a,
.lk:hover .ss a,
.hy .hk:hover,
.nz .pk .p_ button,
.re .sg,
.rs .sg,
.dd .df,
.dd a:hover,
.dd > span,
.fn .is.vy .nn:before,
.xk .x_,
.hb span.yb,
.hb a.t,
.hb button.t,
.hb input.t,
.hb #yw input.uw,
.hb a.t.rl,
.hb a.t.rl:hover,
.hb button.t.rl,
.hb button.t.rl:hover,
.hb input.t.rl,
.hb input.t.rl:hover,
.hb #yw input.uw.rl,
.hb #yw input.uw.rl:hover,
.hb a.t:hover,
.hb button.t:hover,
.hb input.t:hover,
.hb #yw input.uw:hover,
.hb nav.yx ul li span.df,
.hb nav.yx ul li a:hover,
.hb .yk .y_ .t {
  background: #ec0e0e;
}

blockquote:before,
.c,
.tm .tb a:hover,
.ra .rh > li:hover > a,
.ra .rh > .r_ > a,
.ra .rh > .rj > a,
.ra .rh > .rk > a,
.ra li:hover > a:after,
.ra .r_ > a:after,
.ra .rj > a:after,
.ra .rk > a:after,
.ra .rh li li:hover > a,
.ra .rh li li.r_ > a,
.se .st a:hover,
.sw a:hover,
.sw .sk,
.om .oy > span,
.ok .o_ .sq,
.oq .uf,
.ud input[type=checkbox],
.a_.nr .fd:hover,
.fl .tb .nt,
.ld .sh,
.c_ a:hover,
.tb a:hover,
.sm .iq > a,
.ht .uo > a,
.hd .hs .oy a,
.ri .iq a,
.ag .ae a:hover,
.ag .do a:hover,
.ag.sq .df,
.cu a,
.fu a,
.fe .hx,
.fe .tb .ff:hover,
.vb .fd:hover,
.dm blockquote:before,
.yi .ys,
.hb .yj:before,
.hb .yj span:before,
.hb .yq,
.hb .yz .be a:hover,
.hb .yz .be li.nd,
.bt .yz .be a:hover,
.bt .yz .be li.nd,
.hb .yk .bn .br,
.hb .yk .bn .bi,
.hb div.bs div.bo p.bu,
.hb div.bs div.bo span.bu,
.hb .ox div.bs div.bo p.bu,
.hb .ox div.bs div.bo span.bu {
  color: #ec0e0e;
}

.hy .hk:hover,
.nz .pk .p_ button,
.dd .df,
.dd a:hover,
.dd > span,
.hb nav.yx ul li span.df,
.hb nav.yx ul li a:hover {
  border-color: #ec0e0e;
}

.hb .yk .ba .bf {
  background-color: #ec0e0e;
}

.al:after,
.cl .nl {
  border-bottom: 1px solid #ec0e0e;
}

.fg a:before,
.fk a:before,
.fv a:before {
  border: 1px solid #ec0e0e;
}

/* Change text / contrast font */
body,
input,
textarea,
select,
.ld .lm,
.fo,
.sm .cq,
.cu,
.fu,
.fg a,
.fk a,
.fv a,
.hb .bl,
.hb .bc,
.hb .bh,
.hb form .bp,
.hb .bd,
.hb #bv .cz ol.bm .lm,
.bg .by,
.bg .bb .bw table {
  font-family: Lato, Arial, sans-serif;
  letter-spacing: 0;
  -webkit-font-smoothing: initial;
}

/* Change main body and heading font */
h1,
h2,
h3,
h4,
h5,
h6,
blockquote cite,
blockquote .xp,
.ty,
.t_ .tq,
.nu .nl,
.ra,
.se,
.sz .oe,
.oc .od,
.om,
.oq .un,
.uz .ot,
.a_.nr .fh,
.fl .tb,
.a_ .fp .fd,
.a_.ll .lc .lh,
.a_.ll .fc,
.ld,
.ss a,
.o_,
.al,
.ia,
.ca,
.cl,
.ch,
.cb .ia,
.sk .sq,
.ho .hu,
.hf .hu,
.hs .hc,
.hs .c_,
.hs .tb,
.hd .hs .oy a,
.hy .hk,
.rr,
.pg .tk,
.pj,
.pj .tk,
.ro .sg,
.ro .tk,
.re .sg,
.re .tk,
.rs .tk,
.dt,
.dt .tk,
.ag,
.ag .du,
.dd,
.cu .hc,
.fe .hx,
.fn .ia,
.fn .is.vy .nn:before,
.ap .ot,
.vw .vx,
.mu .ma .mf,
.mu .mc,
.fg,
.fk,
.fv,
.xk .x_,
.gd,
.hb .tp .t,
.hb .bx .bk,
.hb nav.yx,
.bg .cu,
.hb .b_,
.bt .b_,
.hb ul.hw,
.hb.ax,
.hb div.bs,
.hb .ox div.bs,
.bg .bb .bw .t,
.hb .bj .bq thead th,
.hb .bj .bq .yq,
.bz #we #wt {
  font-family: "Open Sans", Arial, sans-serif;
}

/* Remove uppercase text on several elements */
.ra.iy .rh > li li a,
.ra.iy .rz .it a,
.ra.nx,
.om .oy > a,
.oq .ui,
.al,
.ia,
.ch .nl,
.pg .tk,
.pj .tk,
.ro .tk,
.re .tk,
.rs .tk,
.dt .tk,
.ag.sq,
.cu h1,
.fu h1,
.cu h2,
.fu h2,
.cu h3,
.fu h3,
.cu h4,
.fu h4,
.cu h5,
.fu h5,
.cu h6,
.fu h6,
.fm tfoot a,
.hb ul.hw li.bs,
.hb ul.hw li.bs .wn,
.hb ul.hw .wr,
.hb ul.hw .wi,
.hb .yk .y_,
.hb ul.ws li a,
.hb ul.wo li a,
.hb.wu .wa > strong,
.hb div.bs .wf,
.hb .ox div.bs .wf,
.hb div.bs .wl,
.hb .ox div.bs .wl,
.hb #bv .cz ol.bm li .ma strong,
.hb #bv .wc,
.bg table.wh .ot,
.bg table.wh .wp > a,
.bg table.wh .wn a,
.hb .bj .bq thead th {
  text-transform: none;
}

/**
 * Header and Nav
 */
.nu {
  border-color: #e7e7e7;
}

.nu.nw .tx {
  letter-spacing: 0;
}

.nu.nw .tx a {
  text-transform: none;
}

.nu.nw .na.ns {
  border-color: #e7e7e7;
}

.tm.nr .ty {
  background: #000;
}

.ra {
  letter-spacing: 0.035em;
  font-size: 12px;
}

.ra .rh > li > a {
  font-weight: 700;
  -webkit-font-smoothing: antialiased;
}

.ra .rh li li a {
  color: #313131;
}

.ra .rz .ii .io {
  text-align: left;
}

.ra .rz .ii .ia {
  margin-bottom: 8px;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: -0.01em;
}

.ra .rz .sm {
  font-size: 10px;
}

.ra.iy {
  letter-spacing: 0;
  color: #383838;
}

.ra.iy .rh > li > a {
  font-weight: 700;
  letter-spacing: 0.035em;
  -webkit-font-smoothing: antialiased;
}

.ra.nx .rh > li > a {
  letter-spacing: 0;
}

.ra.nr.rn {
  background: #000;
}

.ra.nr .rh > li > a,
.ra.nr .rh > .r_ > a,
.ra.nr .rh > .rj > a,
.ra.nr .rh > .rk > a {
  color: #fff;
}

.ra.nr .rh li:hover > a,
.ra.nr .rh li li:hover > a,
.ra.nr .rh li:hover > a:after {
  color: #ec0e0e;
}

.ra.nr .rh > li li a {
  border-color: rgba(187, 187, 187, 0.15);
}

.gd li a {
  letter-spacing: 0.08em;
}

.rb.rw {
  border-color: #e7e7e7;
}

/**
 * General components and global changes
 */
::-moz-selection {
  background: rgba(236, 14, 14, 0.7);
  color: #fff;
}
::selection {
  background: rgba(236, 14, 14, 0.7);
  color: #fff;
}

::-moz-selection {
  background: rgba(236, 14, 14, 0.7);
  color: #fff;
}

input[type="submit"],
button,
input[type="button"],
.t {
  font-family: Lato, Arial, sans-serif;
  font-weight: 900;
  letter-spacing: 0.06em;
}

input,
textarea,
select {
  font-size: 14px;
}

input {
  height: 2.64286em;
}

blockquote {
  font-family: Lora, Georgia, serif;
  font-size: 17px;
  color: #989898;
}

.o_ {
  margin-top: 65px;
  border-bottom: 1px solid #e7e7e7;
  text-align: left;
}

.o_ .nl {
  display: inline-block;
  margin-bottom: -1px;
  padding: 0 1px;
  padding-bottom: 8px;
  border-bottom: 1px solid #ec0e0e;
  font-size: 17px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0;
  line-height: 1.2;
}

.o_:before, .o_:after {
  display: none !important;
}

.ia,
.al {
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 700;
  letter-spacing: -0.01em;
  color: #000;
}

.ia a,
.al a {
  color: #000;
}

.al {
  font-size: 29px;
}

.al:after {
  display: none;
}

.fo,
.cu,
.fu {
  font-size: 15px;
  line-height: 1.8;
  color: #616161;
}

.sm {
  font-family: Lato, Arial, sans-serif;
  font-size: 11px;
}

.sm .uo,
.sm time {
  letter-spacing: 0.025em;
}

.ag .ae a,
.ag .do a {
  font-weight: 900;
  letter-spacing: 0.15em;
}

.tp {
  margin-top: 55px;
  margin-bottom: 80px;
}

/**
 * Posts adjustments
 */
.hd .hc a {
  padding: 13px 19px;
  border: 1px solid #e5e5e5;
  background: #fbfbfb;
  color: #777;
  font-size: 11px;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  -webkit-font-smoothing: initial;
}

.hd .hc a:hover {
  background: #000;
  color: #fff;
}

.hd .hc a:before {
  display: none;
}

.hd .hc a span {
  padding: 0;
  background: transparent;
}

.hs {
  margin-top: 45px;
}

.hs .hc {
  font-size: 11px;
  font-weight: 900;
  letter-spacing: 0.1em;
}

.hf .hu,
.l_ .hu {
  padding: 13px 19px;
  font-weight: 700;
  letter-spacing: 0.08em;
}

.ct:not(.hf) {
  border-bottom: 0;
  padding-bottom: 0;
  margin-bottom: 35px;
}

.ct:not(.hf) .ox {
  display: block;
  -ms-flex-item-align: center;
      align-self: center;
  margin-bottom: 5px;
}

.ct:not(.hf) .ia {
  font-size: 21px;
  margin-top: 0;
}

.l_ .al {
  font-size: 20px;
}

.lb {
  margin-bottom: -50px;
}

.lb .l_ {
  margin-bottom: 50px;
}

/**
 * Single Post
 */
.sc .si .ia {
  letter-spacing: -0.025em;
}

.so .su .sa {
  font-weight: 600;
  letter-spacing: 0.1em;
}

.cu {
  font-size: 16px;
  line-height: 1.8125;
}

.cu h1, .cu h2, .cu h3, .cu h4, .cu h5, .cu h6 {
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 700;
  letter-spacing: -0.01em;
  color: #000;
}

.se .st a {
  font-weight: 700;
  letter-spacing: 0.1em;
}

.sw a {
  color: #161616;
}

.om .oy > a {
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 700;
  letter-spacing: -0.01em;
  color: #000;
}

.om .ob {
  font-size: 15px;
}

.uj .is {
  margin-bottom: -30px;
  padding-top: 35px;
  text-align: initial;
}

.uj .ia {
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 600;
  letter-spacing: -0.01em;
  color: #000;
  font-size: 14px;
}

.uj .sm {
  display: none;
}

.oq {
  margin-bottom: -15px;
}

.oq .ui {
  font-size: 17px;
  font-weight: 700;
  letter-spacing: -0.01em;
}

.oq .ul {
  margin-bottom: -5px;
}

.oq > .oz,
.oq > li {
  padding: 45px 0;
}

.oq .oz .uc {
  margin-top: 45px;
}

.oq .uc li.oz {
  margin-top: 45px;
  padding-top: 45px;
}

.oq .uf {
  font-weight: 700;
  letter-spacing: 0.1em;
}

#ux {
  margin-top: -38px;
}

.up .o_ {
  border: 0;
  border-top: 1px solid #f2f2f2;
  padding-top: 55px;
  margin-top: 55px;
  text-align: center;
}

.up .o_ .nl {
  border: 0;
}

.up .o_ .nl:after {
  content: "";
  display: block;
  margin: 0 auto;
  margin-top: 8px;
  width: 24px;
  height: 1px;
  background: #ec0e0e;
}

/**
 * Home & Archives changes
 */
.ah .am {
  margin-bottom: 50px;
}

.ca .nl {
  font-size: 15px;
}

.cb .ia {
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.5;
  letter-spacing: -0.01em;
}

.pg .tk {
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 700;
  letter-spacing: -0.01em;
  color: #000;
}

.pg .fr {
  font-size: 14px;
  letter-spacing: 0;
}

.pj .tk {
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 700;
  letter-spacing: -0.01em;
  color: #000;
}

.ro .tk {
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 700;
  letter-spacing: -0.01em;
  color: #000;
}

.ro .sg {
  font-size: 11px;
}

.rs .tk {
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 700;
  letter-spacing: -0.01em;
  color: #000;
  -webkit-font-smoothing: antialiased;
}

.ld .sh {
  font-family: Lato, Arial, sans-serif;
  font-weight: 400;
  color: #999 !important;
  letter-spacing: 0.05em;
}

.ld .nl {
  font-size: 24px;
  font-weight: 700;
  letter-spacing: -0.01em;
}

/**
 * Sidebar & Widgets adjustments
 */
.aw .ax {
  margin-bottom: 55px;
}

.aw .ak {
  border: 0;
  color: #000;
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 700;
  font-size: 17px;
  letter-spacing: 0;
  line-height: 1.2;
}

.aw .ak:after {
  content: "";
  display: block;
  margin: 0 auto;
  margin-top: 8px;
  width: 24px;
  height: 1px;
  background: #ec0e0e;
}

.aw .mt,
.aw .me {
  background: #fff;
  position: relative;
  border: 5px solid transparent;
}

.aw .mt .ak,
.aw .me .ak {
  margin-top: 10px;
  margin-bottom: 17px;
  background: transparent;
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 700;
  letter-spacing: -0.01em;
  color: #000;
  font-weight: 900;
  font-size: 21px;
  line-height: 1.3;
  text-transform: none;
}

.aw .mt .ak:after,
.aw .me .ak:after {
  display: none;
}

.aw .mt:before,
.aw .me:before {
  content: "";
  position: absolute;
  display: block;
  width: calc(100% + 10px);
  height: calc(100% + 10px);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  top: -5px;
  left: -5px;
  z-index: 1;
  border: 5px solid #f5f5f5;
  -webkit-box-shadow: inset 0 0 0 1px #d7d7d7;
          box-shadow: inset 0 0 0 1px #d7d7d7;
  pointer-events: none;
}

.aw .mt .vp,
.aw .me .vp {
  max-width: 85%;
}

.fy li,
.fb li,
.f_ li,
.fj li,
.fq li,
.fx li,
.fw li {
  font-size: 14px;
}

.mt p:last-of-type,
.me p:last-of-type {
  margin-top: -16px;
}

.mt .vp,
.me .vp {
  margin: 0 auto;
  margin-bottom: 20px;
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 13px;
}

.ax .mn .vp,
.me .vp {
  font-family: Lato, Arial, sans-serif;
}

.ap .ot {
  font-weight: 600;
  font-size: 11px;
  color: #161616;
  padding: 9px 14px;
  letter-spacing: 0.15em;
}

.fn .ox {
  margin-top: 2px;
}

.fn .sd img {
  margin-right: 21px;
}

.fn .ia {
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.5;
  letter-spacing: -0.01em;
}

.fn .is.cr .ia {
  font-size: 16px;
  font-weight: 600;
  -webkit-font-smoothing: antialiased;
}

.fn .is.cr time {
  letter-spacing: 0.07em;
}

/* Footer Changes */
.aq .fe .ft {
  font-size: 14px;
}

.aq .fe .fo.im {
  color: #7a7a7a;
}

.aq .ak {
  color: #222;
  font-size: 15px;
  font-weight: 600;
  letter-spacing: 0.04em;
}

.aq .fn .sm {
  color: #7a7a7a;
}

.fl .fc {
  font-size: 13px;
}

.fl .tb {
  letter-spacing: 0.12em;
}

@media (max-width: 540px) {
  .al {
    font-size: 24px;
  }
}
