/**
 * Skin: Fitness
 */
:root {
  --main-color: #a24034;
  --main-color-rgb: 162, 64, 52;
}

/**
 * Change Main Color
 */
input[type="submit"],
button,
input[type="button"],
.t,
.tz .ne .nn,
.nu.nw .tx .tk,
.so .su .iq a,
.oq .us .uo,
.ss a:hover,
.ss.ci a,
.lk:hover .ss a,
.hy .hk:hover,
.nz .pk .p_ button,
.re .sg,
.rs .sg,
.dd .df,
.dd a:hover,
.dd > span,
.fn .is.vy .nn:before,
.xk .x_,
.hb span.yb,
.hb a.t,
.hb button.t,
.hb input.t,
.hb #yw input.uw,
.hb a.t.rl,
.hb a.t.rl:hover,
.hb button.t.rl,
.hb button.t.rl:hover,
.hb input.t.rl,
.hb input.t.rl:hover,
.hb #yw input.uw.rl,
.hb #yw input.uw.rl:hover,
.hb a.t:hover,
.hb button.t:hover,
.hb input.t:hover,
.hb #yw input.uw:hover,
.hb nav.yx ul li span.df,
.hb nav.yx ul li a:hover,
.hb .yk .y_ .t {
  background: #a24034;
}

blockquote:before,
.c,
.tm .tb a:hover,
.ra .rh > li:hover > a,
.ra .rh > .r_ > a,
.ra .rh > .rj > a,
.ra .rh > .rk > a,
.ra li:hover > a:after,
.ra .r_ > a:after,
.ra .rj > a:after,
.ra .rk > a:after,
.ra .rh li li:hover > a,
.ra .rh li li.r_ > a,
.se .st a:hover,
.sw a:hover,
.sw .sk,
.om .oy > span,
.ok .o_ .sq,
.oq .uf,
.ud input[type=checkbox],
.a_.nr .fd:hover,
.fl .tb .nt,
.ld .sh,
.c_ a:hover,
.tb a:hover,
.sm .iq > a,
.ht .uo > a,
.hd .hs .oy a,
.ri .iq a,
.ag .ae a:hover,
.ag .do a:hover,
.ag.sq .df,
.cu a,
.fu a,
.fe .hx,
.fe .tb .ff:hover,
.vb .fd:hover,
.dm blockquote:before,
.yi .ys,
.hb .yj:before,
.hb .yj span:before,
.hb .yq,
.hb .yz .be a:hover,
.hb .yz .be li.nd,
.bt .yz .be a:hover,
.bt .yz .be li.nd,
.hb .yk .bn .br,
.hb .yk .bn .bi,
.hb div.bs div.bo p.bu,
.hb div.bs div.bo span.bu,
.hb .ox div.bs div.bo p.bu,
.hb .ox div.bs div.bo span.bu {
  color: #a24034;
}

.hy .hk:hover,
.nz .pk .p_ button,
.dd .df,
.dd a:hover,
.dd > span,
.hb nav.yx ul li span.df,
.hb nav.yx ul li a:hover {
  border-color: #a24034;
}

.hb .yk .ba .bf {
  background-color: #a24034;
}

.al:after,
.cl .nl {
  border-bottom: 1px solid #a24034;
}

.fg a:before,
.fk a:before,
.fv a:before {
  border: 1px solid #a24034;
}

/* Change text / contrast font */
body,
input,
textarea,
select,
.ld .lm,
.fo,
.sm .cq,
.cu,
.fu,
.fg a,
.fk a,
.fv a,
.hb .bl,
.hb .bc,
.hb .bh,
.hb form .bp,
.hb .bd,
.hb #bv .cz ol.bm .lm,
.bg .by,
.bg .bb .bw table {
  font-family: Karla, Arial, sans-serif;
  letter-spacing: 0;
  -webkit-font-smoothing: initial;
}

/* Change main body and heading font */
h1,
h2,
h3,
h4,
h5,
h6,
input[type="submit"],
button,
input[type="button"],
.t,
blockquote cite,
blockquote .xp,
.ty,
.t_ .tq,
.nu .nl,
.ra,
.se,
.sz .oe,
.oc .od,
.om,
.oq .un,
.uz .ot,
.a_.nr .fh,
.fl .tb,
.a_ .fp .fd,
.a_.ll .lc .lh,
.a_.ll .fc,
.ld,
.ss a,
.o_,
.al,
.ia,
.ca,
.cl,
.ch,
.cb .ia,
.sk .sq,
.sm,
.ho .hu,
.hf .hu,
.hs .hc,
.hs .c_,
.hs .tb,
.hd .hs .oy a,
.hy .hk,
.rr,
.pg .tk,
.pj,
.pj .tk,
.ro .sg,
.ro .tk,
.re .sg,
.re .tk,
.rs .tk,
.dt,
.dt .tk,
.ag,
.ag .du,
.dd,
.cu .hc,
.fe .hx,
.fn .ia,
.fn .is.vy .nn:before,
.ap .ot,
.vw .vx,
.mu .ma .mf,
.mu .mc,
.fg,
.fk,
.fv,
.xk .x_,
.gd,
.hb .tp .t,
.hb .bx .bk,
.hb nav.yx,
.bg .cu,
.hb .b_,
.bt .b_,
.hb ul.hw,
.hb.ax,
.hb div.bs,
.hb .ox div.bs,
.bg .bb .bw .t,
.hb .bj .bq thead th,
.hb .bj .bq .yq,
.bz #we #wt {
  font-family: Renner, Arial, sans-serif;
}

.rz .ii .ia,
.fo,
.hs .oy a,
.hs .hh,
.cu,
.ap .ot,
.fu,
.mm a,
.fg a,
.fk a,
.fv a {
  color: #202020;
}

/* Remove uppercase text on several elements */
.ra.iy .rh > li li a,
.ra.iy .rz .it a,
.ra.nx,
.om .oy > a,
.oq .ui,
.al,
.ia,
.ch .nl,
.pg .tk,
.pj .tk,
.ro .tk,
.re .tk,
.rs .tk,
.dt .tk,
.ag.sq,
.cu h1,
.fu h1,
.cu h2,
.fu h2,
.cu h3,
.fu h3,
.cu h4,
.fu h4,
.cu h5,
.fu h5,
.cu h6,
.fu h6,
.fm tfoot a,
.hb ul.hw li.bs,
.hb ul.hw li.bs .wn,
.hb ul.hw .wr,
.hb ul.hw .wi,
.hb .yk .y_,
.hb ul.ws li a,
.hb ul.wo li a,
.hb.wu .wa > strong,
.hb div.bs .wf,
.hb .ox div.bs .wf,
.hb div.bs .wl,
.hb .ox div.bs .wl,
.hb #bv .cz ol.bm li .ma strong,
.hb #bv .wc,
.bg table.wh .ot,
.bg table.wh .wp > a,
.bg table.wh .wn a,
.hb .bj .bq thead th {
  text-transform: none;
}

/**
 * Header and Nav
 */
.nu.ny .ty {
  color: #aaa;
}

.nu.ny .tb a {
  color: inherit;
}

.nu.ny .tz a,
.nu.ny .tj {
  color: inherit;
}

.nu.ny .tq {
  color: #999;
  font-weight: 400;
}

.t_ .tq {
  font-size: 12px;
}

.ra {
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.09em;
  color: #111;
}

.ra .rh > li li a,
.ra .rz .it a {
  letter-spacing: 0.09em;
  font-size: 12px;
  font-weight: 500;
  color: #3a3a3a;
}

.ra .rz .ii .ia {
  margin-bottom: 8px;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0;
}

.ra.im {
  line-height: 50px;
  height: 50px;
  border-top-color: transparent;
  border-bottom-color: #e6e6e6;
  -webkit-box-shadow: 0 3px 5px -3px rgba(0, 0, 0, 0.09);
          box-shadow: 0 3px 5px -3px rgba(0, 0, 0, 0.09);
}

.ra.nr {
  font-weight: 400;
}

.ra.nr.rn {
  background: #000;
}

.ra.nr .rh > li > a,
.ra.nr .rh > .r_ > a,
.ra.nr .rh > .rj > a,
.ra.nr .rh > .rk > a {
  color: #fff;
}

.ra.nr .rh li:hover > a,
.ra.nr .rh li li:hover > a,
.ra.nr .rh li:hover > a:after {
  color: #a24034;
}

.ra.nr .rh > li li a,
.ra.nr .rz .it a {
  color: #eee;
  font-weight: 400;
}

.ra.nr .rz .ii .ia {
  color: #eee;
}

.gd li a {
  letter-spacing: 0.1em;
}

.nq + .re {
  margin-top: 48px;
}

/**
 * General components and global changes
 */
.hd .hc a, .hf .hu, .ho .hu {
  padding: 13px 19px;
  border-color: transparent;
  color: #fff;
  background: #000;
  font-size: 11px;
  font-weight: 500;
  letter-spacing: 0.11em;
  line-height: 1;
  will-change: opacity;
}

.hd .hc a:hover, .hf .hu:hover, .ho .hu:hover {
  opacity: 0.87;
}

::-moz-selection {
  background: rgba(162, 64, 52, 0.2);
}

::selection {
  background: rgba(162, 64, 52, 0.2);
}

::-moz-selection {
  background: rgba(162, 64, 52, 0.2);
}

input[type="submit"],
button,
input[type="button"],
.t {
  letter-spacing: 0.075em;
  font-size: 12px;
}

input,
textarea,
select {
  color: #9c9c9c;
}

blockquote {
  font-family: Lora, Georgia, serif;
  font-size: 19px;
  color: #989898;
}

.o_ .nl {
  font-weight: 600;
  font-size: 13px;
  letter-spacing: 0.075em;
  color: #161616;
}

.sm {
  font-size: 11px;
  color: #aaa;
}

.sm .cq {
  display: none;
}

.sm .iq > a {
  letter-spacing: 0.075em;
  -webkit-font-smoothing: antialiased;
}

.sm time {
  font-weight: 400;
}

.sm time,
.sm .cz {
  letter-spacing: 0.075em;
}

.hv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.hv .iq {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

.hv .cw {
  padding: 0 6px;
}

.hv .fs {
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
}

.hv .ia,
.hv .al {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  width: 100%;
}

.l_ .hv,
.lw .hv {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.ia,
.al {
  font-family: Renner, Arial, sans-serif;
  font-weight: 600;
  color: #000;
  line-height: 1.35;
  -webkit-font-smoothing: antialiased;
}

.ia .iq > a,
.al .iq > a {
  font-size: 12px;
  -webkit-font-smoothing: antialiased;
}

.ia a,
.al a {
  color: #000;
}

.al {
  margin-top: 16px;
  margin-bottom: 16px;
  font-size: 29px;
}

.al:after {
  display: none;
}

.fo,
.fu,
.cu {
  font-size: 15px;
  line-height: 1.7;
  letter-spacing: -0.008em;
  -webkit-font-smoothing: antialiased;
}

.ss a {
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0.04em;
  -webkit-font-smoothing: initial;
}

.ag .ae a,
.ag .do a {
  letter-spacing: 0.15em;
}

.ag .du {
  min-width: initial;
  padding: 2px 60px;
  background: #fff;
  font-weight: 700;
  letter-spacing: 0.075em;
  -webkit-font-smoothing: initial;
}

.ag.dv {
  margin-top: 80px;
}

/**
 * Posts adjustments
 */
.hd .hc a:hover {
  opacity: 0.8;
}

.hd .hc a:before {
  display: none;
}

.hd .hc a span {
  padding: 0;
  background: transparent;
}

.hd .hs {
  letter-spacing: 0;
  padding-bottom: 2px;
  border-bottom: 1px solid #ebebeb;
}

.hd .hs .oy a {
  letter-spacing: 0.15em;
}

.hd .hs .sq {
  font-size: 13px;
  font-weight: 400;
}

.hd .hs .tb a {
  font-size: 14px;
}

.hs {
  margin-top: 45px;
}

.hs .hc {
  font-size: 11px;
  font-weight: 900;
  letter-spacing: 0.1em;
}

.ct .ha {
  font-size: 15px;
  line-height: 1.75;
}

.hf .sm time {
  letter-spacing: 0.075em;
}

.l_ .lk {
  margin-bottom: 31px;
}

.l_ .hv .al {
  margin-bottom: 22px;
}

.l_ .hv .al:after {
  margin-top: 17px;
  display: block;
  border-color: #161616;
  border-width: 2px;
}

.l_ .he {
  margin-top: 28px;
  margin-bottom: 20px;
}

.l_ .hs {
  margin-top: 34px;
}

/* Single Post */
.iw .i_ .ia {
  margin-top: 15px;
  margin-bottom: 15px;
}

.so .su .sa {
  font-weight: 600;
  letter-spacing: 0.12em;
}

.cu {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.75;
}

.cu h1, .cu h2, .cu h3, .cu h4, .cu h5, .cu h6 {
  font-weight: 600;
}

.ha {
  font-size: 15px;
  line-height: 1.75;
}

.se .st a {
  letter-spacing: 0.1em;
  font-weight: 700;
}

.sw a {
  color: #161616;
}

.om .oy > a {
  font-size: 22px;
}

.uj .ia {
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0;
}

.uj .sm {
  font-size: 10px;
}

/**
 * Home & Archives changes
 */
.ca,
.cl .nl {
  font-family: Renner, Arial, sans-serif;
  font-weight: 600;
  font-size: 17px;
  letter-spacing: 0.06em;
}

.hq .fo {
  font-size: 14px;
}

.pe .nl {
  background: transparent;
}

.pe .nl:before,
.pe .nl:after {
  display: none;
}

.pe .ca {
  margin-top: -5px;
  margin-bottom: 62px;
}

.pe .ca:before {
  display: none;
}

.pe .ca:after {
  top: 100%;
  left: 50%;
  margin-top: 12px;
  margin-left: -18px;
  width: 36px;
  height: 2px;
  background: #000;
}

.pe .ps {
  margin-bottom: 18px;
}

.pe .fs {
  display: none;
}

.pe .ia {
  margin-top: 12px;
  margin-bottom: 0;
  font-size: 20px;
  font-weight: 500;
}

.pe .sm {
  font-size: 11px;
}

.pg .tk {
  font-family: Renner, Arial, sans-serif;
  font-weight: 400;
  letter-spacing: 0;
}

.pg .fr {
  font-size: 14px;
  letter-spacing: 0;
}

.ph .ia,
.ph .tk {
  font-family: Renner, Arial, sans-serif;
  font-weight: 600;
  color: #000;
  line-height: 1.2;
}

.rs .pz .tk {
  font-size: 23px;
  line-height: 1.2;
  font-weight: 500;
}

.rs .sg {
  background: #000;
}

.rs time {
  color: inherit;
}

.re .tk {
  margin-top: 10px;
  margin-bottom: 2px;
  font-weight: 500;
}

.re .sg {
  padding: 8px 11px;
  font-size: 11px;
  font-weight: 600;
  letter-spacing: 0.12em;
}

/**
 * Sidebar adjustments
 */
.aw .ak {
  border-top-color: #a24034;
  font-size: 12px;
  letter-spacing: 0.075em;
  color: #000;
}

.aw .mt,
.aw .me {
  background: #f7f7f7;
}

.aw .mt .ak,
.aw .me .ak {
  text-transform: uppercase;
}

.aw .mt .ak:after,
.aw .me .ak:after {
  margin-top: 18px;
  width: 18px;
  border-bottom: 0;
}

.fn .ia {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.55;
  letter-spacing: 0;
}

.fn .is.cr .ia {
  font-size: 17px;
  font-weight: 500;
}

.ax .mn .vp,
.me .vp {
  color: #161616;
  font-size: 14px;
  letter-spacing: 0;
}

.fe .hx {
  color: #161616;
  font-weight: 700;
}

.ap .ot {
  font-size: 12px;
  letter-spacing: 0.07em;
}

.fy a,
.fb a,
.fg a,
.fk a,
.fv a,
.fj a,
.fx a,
.fw a {
  font-size: 15px;
}

/* Footer Changes */
.aq .ak {
  color: #000;
  font-size: 14px;
  letter-spacing: 0.06em;
}

.aq .fn .sm {
  color: #707070;
}

.aq .fe .ft {
  font-size: 15px;
}

.fl .fc {
  font-size: 14px;
}

.fl .tb {
  letter-spacing: 0.12em;
}

.fl .tb .nt {
  margin-right: 2px;
}

.a_.rl .tb .ot {
  color: #161616;
  font-size: 12px;
  letter-spacing: 0.075em;
}

@media (min-width: 1200px) {
  .ct .ia {
    max-width: 100%;
    font-size: 25px;
  }
  .l_ .hv .al {
    font-size: 25px;
  }
  .rt .ia {
    font-size: 36px;
  }
}

@media (min-width: 940px) {
  .iw .i_ .ia {
    font-size: 30px;
  }
}

@media (min-width: 540px) {
  .pe .ia {
    margin-left: auto;
    margin-right: auto;
    max-width: 88%;
  }
}

@media (max-width: 540px) {
  .al {
    font-size: 24px;
  }
}
