/**
 * Skin Specifics for General
 */
.ra.iy .rh > li > a {
  letter-spacing: 0.08em;
}

.ra.iy .rh > li li a,
.ra.iy .rz .it a {
  font-size: 13px;
  letter-spacing: 0.07em;
  font-weight: 600;
}

.ra.nx .rh > li > a {
  font-size: 14px;
  letter-spacing: 0.08em;
}
