/**
 * Skin: Mom / Parents
 */
:root {
  --main-color: #00a5b2;
  --main-color-rgb: 0, 165, 178;
}

/**
 * Change Main Color
 */
input[type="submit"],
button,
input[type="button"],
.t,
.tz .ne .nn,
.nu.nw .tx .tk,
.so .su .iq a,
.oq .us .uo,
.ss a:hover,
.ss.ci a,
.lk:hover .ss a,
.hy .hk:hover,
.nz .pk .p_ button,
.re .sg,
.rs .sg,
.dd .df,
.dd a:hover,
.dd > span,
.fn .is.vy .nn:before,
.xk .x_,
.hb span.yb,
.hb a.t,
.hb button.t,
.hb input.t,
.hb #yw input.uw,
.hb a.t.rl,
.hb a.t.rl:hover,
.hb button.t.rl,
.hb button.t.rl:hover,
.hb input.t.rl,
.hb input.t.rl:hover,
.hb #yw input.uw.rl,
.hb #yw input.uw.rl:hover,
.hb a.t:hover,
.hb button.t:hover,
.hb input.t:hover,
.hb #yw input.uw:hover,
.hb nav.yx ul li span.df,
.hb nav.yx ul li a:hover,
.hb .yk .y_ .t {
  background: #00a5b2;
}

blockquote:before,
.c,
.tm .tb a:hover,
.ra .rh > li:hover > a,
.ra .rh > .r_ > a,
.ra .rh > .rj > a,
.ra .rh > .rk > a,
.ra li:hover > a:after,
.ra .r_ > a:after,
.ra .rj > a:after,
.ra .rk > a:after,
.ra .rh li li:hover > a,
.ra .rh li li.r_ > a,
.se .st a:hover,
.sw a:hover,
.sw .sk,
.om .oy > span,
.ok .o_ .sq,
.oq .uf,
.ud input[type=checkbox],
.a_.nr .fd:hover,
.fl .tb .nt,
.ld .sh,
.c_ a:hover,
.tb a:hover,
.sm .iq > a,
.ht .uo > a,
.hd .hs .oy a,
.ri .iq a,
.ag .ae a:hover,
.ag .do a:hover,
.ag.sq .df,
.cu a,
.fu a,
.fe .hx,
.fe .tb .ff:hover,
.vb .fd:hover,
.dm blockquote:before,
.yi .ys,
.hb .yj:before,
.hb .yj span:before,
.hb .yq,
.hb .yz .be a:hover,
.hb .yz .be li.nd,
.bt .yz .be a:hover,
.bt .yz .be li.nd,
.hb .yk .bn .br,
.hb .yk .bn .bi,
.hb div.bs div.bo p.bu,
.hb div.bs div.bo span.bu,
.hb .ox div.bs div.bo p.bu,
.hb .ox div.bs div.bo span.bu {
  color: #00a5b2;
}

.hy .hk:hover,
.nz .pk .p_ button,
.dd .df,
.dd a:hover,
.dd > span,
.hb nav.yx ul li span.df,
.hb nav.yx ul li a:hover {
  border-color: #00a5b2;
}

.hb .yk .ba .bf {
  background-color: #00a5b2;
}

.al:after,
.cl .nl {
  border-bottom: 1px solid #00a5b2;
}

.fg a:before,
.fk a:before,
.fv a:before {
  border: 1px solid #00a5b2;
}

/* Change text / contrast font */
body,
input,
textarea,
select,
.ld .lm,
.fo,
.sm .cq,
.cu,
.fu,
.fg a,
.fk a,
.fv a,
.hb .bl,
.hb .bc,
.hb .bh,
.hb form .bp,
.hb .bd,
.hb #bv .cz ol.bm .lm,
.bg .by,
.bg .bb .bw table {
  font-family: Lato, Arial, sans-serif;
  letter-spacing: 0;
  -webkit-font-smoothing: initial;
}

/* Change main body and heading font */
h1,
h2,
h3,
h4,
h5,
h6,
input[type="submit"],
button,
input[type="button"],
.t,
blockquote cite,
blockquote .xp,
.ty,
.t_ .tq,
.nu .nl,
.ra,
.se,
.sz .oe,
.oc .od,
.om,
.oq .un,
.uz .ot,
.a_.nr .fh,
.fl .tb,
.a_ .fp .fd,
.a_.ll .lc .lh,
.a_.ll .fc,
.ld,
.ss a,
.o_,
.al,
.ia,
.ca,
.cl,
.ch,
.cb .ia,
.sk .sq,
.sm,
.ho .hu,
.hf .hu,
.hs .hc,
.hs .c_,
.hs .tb,
.hd .hs .oy a,
.hy .hk,
.rr,
.pg .tk,
.pj,
.pj .tk,
.ro .sg,
.ro .tk,
.re .sg,
.re .tk,
.rs .tk,
.dt,
.dt .tk,
.ag,
.ag .du,
.dd,
.cu .hc,
.fe .hx,
.fn .ia,
.fn .is.vy .nn:before,
.ap .ot,
.vw .vx,
.mu .ma .mf,
.mu .mc,
.fg,
.fk,
.fv,
.xk .x_,
.gd,
.hb .tp .t,
.hb .bx .bk,
.hb nav.yx,
.bg .cu,
.hb .b_,
.bt .b_,
.hb ul.hw,
.hb.ax,
.hb div.bs,
.hb .ox div.bs,
.bg .bb .bw .t,
.hb .bj .bq thead th,
.hb .bj .bq .yq,
.bz #we #wt {
  font-family: Lato, Arial, sans-serif;
}

.rz .ii .ia,
.fo,
.hs .oy a,
.hs .hh,
.cu,
.ap .ot,
.fu,
.mm a,
.fg a,
.fk a,
.fv a {
  color: #333;
}

/* Remove uppercase text on several elements */
.ra.iy .rh > li li a,
.ra.iy .rz .it a,
.ra.nx,
.om .oy > a,
.oq .ui,
.al,
.ia,
.ch .nl,
.pg .tk,
.pj .tk,
.ro .tk,
.re .tk,
.rs .tk,
.dt .tk,
.ag.sq,
.cu h1,
.fu h1,
.cu h2,
.fu h2,
.cu h3,
.fu h3,
.cu h4,
.fu h4,
.cu h5,
.fu h5,
.cu h6,
.fu h6,
.fm tfoot a,
.hb ul.hw li.bs,
.hb ul.hw li.bs .wn,
.hb ul.hw .wr,
.hb ul.hw .wi,
.hb .yk .y_,
.hb ul.ws li a,
.hb ul.wo li a,
.hb.wu .wa > strong,
.hb div.bs .wf,
.hb .ox div.bs .wf,
.hb div.bs .wl,
.hb .ox div.bs .wl,
.hb #bv .cz ol.bm li .ma strong,
.hb #bv .wc,
.bg table.wh .ot,
.bg table.wh .wp > a,
.bg table.wh .wn a,
.hb .bj .bq thead th {
  text-transform: none;
}

/**
 * Header and Nav
 */
.ty {
  font-family: Montserrat, Arial, sans-serif;
}

.ty .tq {
  font-family: inherit;
}

.nu.ny .ty {
  background: #00a5b2;
  border-color: #00a5b2;
  color: #fafafa;
}

.nu.ny .tz {
  margin-left: 9px;
}

.nu.ny .tz a,
.nu.ny .tq,
.nu.ny .tj {
  color: inherit;
}

.nu.ny .tj {
  font-size: 15px;
}

.nu.ny .tq {
  width: 65px;
  margin-left: 5px;
  font-size: 12px;
  font-weight: 500;
}

.nu.ny .tb a {
  color: inherit;
}

.nr .ne .nn {
  padding-top: 2px;
  background: #fff;
  color: #5e5e5e;
  font-weight: 600;
}

.ra {
  font-family: Montserrat, Arial, sans-serif;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 0.1em;
  color: #535353;
}

.ra .rh > li li a,
.ra .rz .it a {
  letter-spacing: 0.1em;
}

.ra .rz .ii .ia {
  font-family: Lato, Arial, sans-serif;
  font-size: 15px;
  letter-spacing: 0;
}

.ra.im {
  font-size: 14px;
  line-height: 52px;
  height: 52px;
  border-top-color: #e6e6e6;
  border-bottom-color: #e6e6e6;
}

.ra.nr {
  font-weight: 400;
}

.ra.nr .rh > li > a,
.ra.nr .rh > .r_ > a,
.ra.nr .rh > .rj > a,
.ra.nr .rh > .rk > a {
  color: #fff;
}

.ra.nr .rh li:hover > a,
.ra.nr .rh li li:hover > a,
.ra.nr .rh li:hover > a:after {
  color: #00a5b2;
}

.ra.nr .rh > li li a,
.ra.nr .rz .it a {
  color: #eee;
  font-weight: 400;
}

.ra.nr .rz .ii .ia {
  color: #eee;
}

.gd li a {
  letter-spacing: 0.12em;
}

.nq + .re {
  margin-top: 48px;
}

/**
 * General components and global changes
 */
.hd .hc a, .hf .hu, .ho .hu {
  padding: 12px 19px;
  border: 1px solid #ddd;
  color: #555;
  background: transparent;
  font-size: 11px;
  font-weight: 600;
  letter-spacing: 0.1em;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}

::-moz-selection {
  background: rgba(0, 165, 178, 0.2);
}

::selection {
  background: rgba(0, 165, 178, 0.2);
}

::-moz-selection {
  background: rgba(0, 165, 178, 0.2);
}

input[type="submit"],
button,
input[type="button"],
.t {
  font-size: 13px;
  letter-spacing: 0.1em;
}

input,
textarea,
select {
  color: #9c9c9c;
}

blockquote {
  font-family: "Arima Madurai", Palatino, serif;
  font-size: 21px;
  color: #989898;
}

.o_ .nl {
  font-weight: 600;
  font-size: 13px;
  letter-spacing: 0.1em;
  color: #161616;
}

.sm {
  font-size: 11px;
  font-family: "Segoe UI", Lato, Roboto, sans-serif;
}

.sm .cq {
  display: none;
}

.sm .iq > a {
  letter-spacing: 0.12em;
}

.sm time {
  color: #aaa;
  font-weight: 400;
}

.sm time,
.sm .cz {
  letter-spacing: 0.11em;
}

.he .al {
  margin: 18px 0;
}

.ia,
.al {
  font-family: "Arima Madurai", Palatino, serif;
  font-weight: 600;
  color: #000;
  line-height: 1.4;
}

.ia .iq > a,
.al .iq > a {
  font-size: 12px;
  -webkit-font-smoothing: antialiased;
}

.ia a,
.al a {
  color: #000;
}

.al {
  margin-top: 16px;
  margin-bottom: 16px;
  font-size: 29px;
}

.al:after {
  display: none;
}

.fo,
.cu,
.fu {
  font-size: 14px;
  line-height: 1.86;
  -webkit-font-smoothing: antialiased;
}

.ag .ae a,
.ag .do a {
  letter-spacing: 0.15em;
}

.ag .du {
  min-width: initial;
  padding: 2px 60px;
  background: #fff;
  font-weight: 800;
  letter-spacing: 0.075em;
}

.ag.dv {
  margin-top: 80px;
}

/**
 * Posts adjustments
 */
.c_ li {
  margin-right: 12px;
  font-size: 14px;
}

.c_ a {
  color: #111;
}

.sk {
  color: #555;
}

.sk:before {
  color: #00a5b2;
}

.sk .sq {
  margin-left: 5px;
}

.lw .ix img {
  margin-bottom: 30px;
}

.lw .oy {
  letter-spacing: 0;
}

.hd .hc a:hover {
  background: #000;
  color: #fff;
}

.hd .hc a:before {
  display: none;
}

.hd .hc a span {
  padding: 0;
  background: transparent;
}

.hd .hs {
  letter-spacing: 0;
  padding-bottom: 2px;
  border-bottom: 1px solid #ebebeb;
}

.hd .hs .oy a {
  letter-spacing: 0.15em;
}

.hd .hs .sq {
  font-size: 13px;
  font-weight: 400;
}

.hd .hs .tb a {
  font-size: 14px;
}

.hs {
  margin-top: 45px;
}

.hs .hc {
  font-size: 11px;
  font-weight: 900;
  letter-spacing: 0.1em;
}

.ct .ha {
  font-size: 14px;
}

.l_ .he {
  margin-top: 28px;
  margin-bottom: 20px;
}

.l_ .hs {
  margin-top: 34px;
}

.l_ .ha {
  text-align: center;
}

/* Single Post */
.so .su .sa {
  font-weight: 600;
  letter-spacing: 0.12em;
}

.cu {
  font-size: 15px;
  font-weight: 400;
}

.cu h1, .cu h2, .cu h3, .cu h4, .cu h5, .cu h6 {
  font-weight: 600;
}

.se .st a {
  letter-spacing: 0.1em;
  font-weight: 700;
}

.sw a {
  color: #161616;
}

.om .oy > a {
  font-size: 22px;
}

.uj .ia {
  font-family: Lato, Arial, sans-serif;
  font-size: 15px;
  font-weight: 600;
  letter-spacing: 0;
}

.uj .sm {
  font-size: 10px;
}

/**
 * Home & Archives changes
 */
.ca .nl {
  font-size: 15px;
}

.hq {
  margin-top: -15px;
  padding-left: 27px;
  padding-right: 32px;
}

.hq .fo {
  font-size: 14px;
}

.hq .hz {
  height: 3.15385em;
  width: 270px;
}

.hq .t {
  font-size: 13px;
  width: auto;
  padding: 14px 34px;
  vertical-align: top;
}

.pe .ps {
  margin-bottom: 18px;
}

.pe .ia {
  margin-top: 16px;
  margin-bottom: 16px;
}

.pe .sm {
  font-size: 10px;
}

.pg .tk {
  font-family: "Arima Madurai", Palatino, serif;
  font-weight: 400;
  letter-spacing: 0;
}

.pg .fr {
  font-size: 14px;
  letter-spacing: 0;
}

.ph .ia,
.ph .tk {
  font-family: "Arima Madurai", Palatino, serif;
  font-weight: 600;
  color: #000;
  line-height: 1.4;
}

.re .tk {
  margin-top: 10px;
  margin-bottom: 2px;
  font-weight: 500;
}

.re .sg {
  padding: 8px 11px;
  font-family: "Segoe UI", Lato, Roboto, sans-serif;
  font-size: 11px;
  font-weight: 600;
  letter-spacing: 0.12em;
}

/**
 * Sidebar adjustments
 */
.aw .ak {
  font-family: "Arima Madurai", Palatino, serif;
  font-weight: 600;
  color: #000;
  border: 0;
  color: #00a5b2;
  text-transform: none;
  font-size: 21px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 1.2;
}

.aw .ak:after {
  content: "";
  display: block;
  margin: 0 auto;
  margin-top: 10px;
  width: 36px;
  border-bottom: 2px solid #00a5b2;
}

.aw .mt,
.aw .me {
  background: #f7f7f7;
}

.aw .mt .ak,
.aw .me .ak {
  font-family: Lato, Arial, sans-serif;
  font-size: 12px;
  font-weight: 800;
  letter-spacing: 0.075em;
  color: #161616;
  line-height: 1;
  text-transform: uppercase;
}

.aw .mt .ak:after,
.aw .me .ak:after {
  margin-top: 18px;
  width: 18px;
  border-bottom: 0;
}

.fn .ia {
  font-size: 15px;
  font-weight: 600;
  line-height: 1.6;
  letter-spacing: 0;
}

.fn .is.cr .ia {
  font-size: 16px;
  font-weight: 600;
  -webkit-font-smoothing: antialiased;
}

.ax .mn .vp,
.me .vp {
  letter-spacing: 0;
}

.fe .hx {
  color: #161616;
  font-weight: 700;
}

/* Footer Changes */
.aq .ak {
  padding-bottom: 9px;
  color: #00a5b2;
  font-family: "Arima Madurai", Palatino, serif;
  font-size: 21px;
  font-weight: 500;
  text-transform: none;
}

.aq .fn .sm {
  color: #707070;
}

.aq .fe .ft {
  font-size: 14px;
}

.fl .fc {
  font-size: 13px;
}

.fl .tb {
  letter-spacing: 0.12em;
}

.a_.nr .ia,
.a_.nr .fi {
  font-weight: 500;
  -webkit-font-smoothing: initial;
}

@media (min-width: 1200px) {
  .n,
  .r.i {
    font-size: 32px;
  }
  .ct .ia {
    font-size: 26px;
    max-width: 90%;
  }
  .l_ .hv .al,
  .l_ .he .al {
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
  .rt .ia {
    font-size: 36px;
  }
}

@media (min-width: 767px) {
  .hq .hz {
    margin-right: 15px;
  }
}

@media (max-width: 540px) {
  .al {
    font-size: 24px;
  }
}
