/**
 * Skin: Miranda 
 */
:root {
  --main-color: #f1868a;
  --main-color-rgb: 241, 134, 138;
}

/**
 * Change Main Color
 */
input[type="submit"],
button,
input[type="button"],
.t,
.tz .ne .nn,
.nu.nw .tx .tk,
.so .su .iq a,
.oq .us .uo,
.ss a:hover,
.ss.ci a,
.lk:hover .ss a,
.hy .hk:hover,
.nz .pk .p_ button,
.re .sg,
.rs .sg,
.dd .df,
.dd a:hover,
.dd > span,
.fn .is.vy .nn:before,
.xk .x_,
.hb span.yb,
.hb a.t,
.hb button.t,
.hb input.t,
.hb #yw input.uw,
.hb a.t.rl,
.hb a.t.rl:hover,
.hb button.t.rl,
.hb button.t.rl:hover,
.hb input.t.rl,
.hb input.t.rl:hover,
.hb #yw input.uw.rl,
.hb #yw input.uw.rl:hover,
.hb a.t:hover,
.hb button.t:hover,
.hb input.t:hover,
.hb #yw input.uw:hover,
.hb nav.yx ul li span.df,
.hb nav.yx ul li a:hover,
.hb .yk .y_ .t {
  background: #f1868a;
}

blockquote:before,
.c,
.tm .tb a:hover,
.ra .rh > li:hover > a,
.ra .rh > .r_ > a,
.ra .rh > .rj > a,
.ra .rh > .rk > a,
.ra li:hover > a:after,
.ra .r_ > a:after,
.ra .rj > a:after,
.ra .rk > a:after,
.ra .rh li li:hover > a,
.ra .rh li li.r_ > a,
.se .st a:hover,
.sw a:hover,
.sw .sk,
.om .oy > span,
.ok .o_ .sq,
.oq .uf,
.ud input[type=checkbox],
.a_.nr .fd:hover,
.fl .tb .nt,
.ld .sh,
.c_ a:hover,
.tb a:hover,
.sm .iq > a,
.ht .uo > a,
.hd .hs .oy a,
.ri .iq a,
.ag .ae a:hover,
.ag .do a:hover,
.ag.sq .df,
.cu a,
.fu a,
.fe .hx,
.fe .tb .ff:hover,
.vb .fd:hover,
.dm blockquote:before,
.yi .ys,
.hb .yj:before,
.hb .yj span:before,
.hb .yq,
.hb .yz .be a:hover,
.hb .yz .be li.nd,
.bt .yz .be a:hover,
.bt .yz .be li.nd,
.hb .yk .bn .br,
.hb .yk .bn .bi,
.hb div.bs div.bo p.bu,
.hb div.bs div.bo span.bu,
.hb .ox div.bs div.bo p.bu,
.hb .ox div.bs div.bo span.bu {
  color: #f1868a;
}

.hy .hk:hover,
.nz .pk .p_ button,
.dd .df,
.dd a:hover,
.dd > span,
.hb nav.yx ul li span.df,
.hb nav.yx ul li a:hover {
  border-color: #f1868a;
}

.hb .yk .ba .bf {
  background-color: #f1868a;
}

.al:after,
.cl .nl {
  border-bottom: 1px solid #f1868a;
}

.fg a:before,
.fk a:before,
.fv a:before {
  border: 1px solid #f1868a;
}

/* Change text / contrast font */
body,
input,
textarea,
select,
.ld .lm,
.fo,
.sm .cq,
.cu,
.fu,
.fg a,
.fk a,
.fv a,
.hb .bl,
.hb .bc,
.hb .bh,
.hb form .bp,
.hb .bd,
.hb #bv .cz ol.bm .lm,
.bg .by,
.bg .bb .bw table {
  font-family: "Source Sans Pro", Arial, sans-serif;
  letter-spacing: 0;
  -webkit-font-smoothing: initial;
}

/* Change main body and heading font */
h1,
h2,
h3,
h4,
h5,
h6,
input[type="submit"],
button,
input[type="button"],
.t,
blockquote cite,
blockquote .xp,
.ty,
.t_ .tq,
.nu .nl,
.ra,
.se,
.sz .oe,
.oc .od,
.om,
.oq .un,
.uz .ot,
.a_.nr .fh,
.fl .tb,
.a_ .fp .fd,
.a_.ll .lc .lh,
.a_.ll .fc,
.ld,
.ss a,
.o_,
.al,
.ia,
.ca,
.cl,
.ch,
.cb .ia,
.sk .sq,
.sm,
.ho .hu,
.hf .hu,
.hs .hc,
.hs .c_,
.hs .tb,
.hd .hs .oy a,
.hy .hk,
.rr,
.pg .tk,
.pj,
.pj .tk,
.ro .sg,
.ro .tk,
.re .sg,
.re .tk,
.rs .tk,
.dt,
.dt .tk,
.ag,
.ag .du,
.dd,
.cu .hc,
.fe .hx,
.fn .ia,
.fn .is.vy .nn:before,
.ap .ot,
.vw .vx,
.mu .ma .mf,
.mu .mc,
.fg,
.fk,
.fv,
.xk .x_,
.gd,
.hb .tp .t,
.hb .bx .bk,
.hb nav.yx,
.bg .cu,
.hb .b_,
.bt .b_,
.hb ul.hw,
.hb.ax,
.hb div.bs,
.hb .ox div.bs,
.bg .bb .bw .t,
.hb .bj .bq thead th,
.hb .bj .bq .yq,
.bz #we #wt {
  font-family: "Source Sans Pro", Arial, sans-serif;
}

/* Adjust text color */
.rz .ii .ia,
.fo,
.hs .oy a,
.hs .hh,
.cu,
.ap .ot,
.fu,
.mm a,
.fg a,
.fk a,
.fv a {
  color: #666;
}

/* Remove uppercase text on several elements */
.ra.iy .rh > li li a,
.ra.iy .rz .it a,
.ra.nx,
.om .oy > a,
.oq .ui,
.al,
.ia,
.ch .nl,
.pg .tk,
.pj .tk,
.ro .tk,
.re .tk,
.rs .tk,
.dt .tk,
.ag.sq,
.cu h1,
.fu h1,
.cu h2,
.fu h2,
.cu h3,
.fu h3,
.cu h4,
.fu h4,
.cu h5,
.fu h5,
.cu h6,
.fu h6,
.fm tfoot a,
.hb ul.hw li.bs,
.hb ul.hw li.bs .wn,
.hb ul.hw .wr,
.hb ul.hw .wi,
.hb .yk .y_,
.hb ul.ws li a,
.hb ul.wo li a,
.hb.wu .wa > strong,
.hb div.bs .wf,
.hb .ox div.bs .wf,
.hb div.bs .wl,
.hb .ox div.bs .wl,
.hb #bv .cz ol.bm li .ma strong,
.hb #bv .wc,
.bg table.wh .ot,
.bg table.wh .wp > a,
.bg table.wh .wn a,
.hb .bj .bq thead th {
  text-transform: none;
}

/**
 * Header and Nav
 */
.tm .tx {
  font-size: 10px;
  font-family: "Noto Sans", Arial, sans-serif;
}

.tm .tx .tk {
  font-weight: 400;
}

.tm.nr .tx {
  color: #aaa;
}

.tm.nr .tx a {
  color: #aaa;
}

.t_ .tq {
  font-size: 12px;
}

.nu.ru .nr .tb a {
  color: #aaa;
}

.nu.ru .nl {
  padding: 70px 0;
}

/* Navigation Adjustments */
.ra {
  color: #535353;
  letter-spacing: 0.16em;
  font-weight: 400;
  font-family: "Noto Sans", Arial, sans-serif;
}

.ra .rx > a:after {
  color: #d8d8d8 !important;
  font-size: 13px;
  -webkit-font-smoothing: initial;
}

.ra .rh > li > a {
  color: #111;
  padding: 0 25px;
  font-size: 12px;
  letter-spacing: 0.18em;
}

.ra .rh > li li a,
.ra .rz .it a {
  font-size: 10px;
  letter-spacing: 0.16em;
  font-weight: 400;
}

.ra .rh > li li a {
  padding: 8px 17px;
}

.ra .rh ul .rx > a:after {
  color: #d8d8d8;
  font-size: 12px;
  -webkit-font-smoothing: initial;
}

.ra .rz .ii .ia {
  color: #444;
  font-family: "Source Sans Pro", Arial, sans-serif;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0;
}

.ra.im {
  height: 54px;
  line-height: 54px;
}

.ra.nr .rh > li > a {
  color: #ebebeb;
}

.gd li a {
  letter-spacing: 0.12em;
}

/**
 * General components and global changes
 */
::-moz-selection {
  background: rgba(241, 134, 138, 0.2);
}
::selection {
  background: rgba(241, 134, 138, 0.2);
}

::-moz-selection {
  background: rgba(241, 134, 138, 0.2);
}

input,
textarea,
select {
  font-size: 14px;
}

input[type="submit"],
button,
input[type="button"],
.t {
  letter-spacing: 0.15em;
}

blockquote {
  font-family: Lora, Georgia, serif;
  font-size: 17px;
  color: #989898;
}

.o_ .nl {
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 0.11em;
  color: #2a2a2a;
  -webkit-font-smoothing: antialiased;
}

.sm .iq > a {
  font-weight: 600;
  letter-spacing: 0.15em;
}

.sm time {
  letter-spacing: 0.1em;
}

.he .iq {
  margin-bottom: -2px;
}

.he .iq > a {
  font-weight: 600;
  letter-spacing: 0.18em;
}

.he .al {
  margin: 18px 0;
}

.he time,
.he .cz,
.he .cw {
  font-size: 12px;
  letter-spacing: 0.12em;
}

.he time,
.he .cw {
  color: #b4b4b4;
}

.he .cz {
  color: #5b5b5b;
}

.he .cw:before {
  padding: 0 5px;
}

.ia,
.al {
  font-family: "Playfair Display", Didot, Garamond, serif;
  font-weight: 400;
  color: #161616;
  letter-spacing: 0;
}

.ia a,
.al a {
  color: #000;
}

.ia em,
.al em {
  font-weight: 600;
}

.al {
  margin-top: 12px;
  margin-bottom: 16px;
  font-size: 26px;
}

.al:after {
  display: none;
}

.fo,
.cu,
.fu {
  -webkit-font-smoothing: antialiased;
}

.ag .ae a,
.ag .do a {
  letter-spacing: 0.15em;
}

.ag.sq {
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 0;
}

/**
 * Posts adjustments
 */
.l_ .al {
  margin-bottom: 14px;
}

.l_ .he .al {
  margin: 16px 0;
}

.ho .al {
  font-size: 24px;
}

.ho .hu {
  font-family: "Noto Sans", Arial, sans-serif;
  letter-spacing: 0.15em;
}

.lw .ix img {
  margin-bottom: 23px;
}

.hd .hs .oy a {
  letter-spacing: 0.18em;
}

.hd .hs .sq {
  font-size: 14px;
  font-weight: 600;
}

.hd .hs .tb a {
  font-size: 14px;
}

.hs {
  margin-top: 45px;
}

.hs .hc {
  font-size: 11px;
  font-weight: 900;
  letter-spacing: 0.1em;
}

.cu .hc {
  font-family: "Noto Sans", Arial, sans-serif;
}

.lx .ia {
  font-size: 25px;
}

/* Single Post */
.so .su .sa {
  font-weight: 600;
  letter-spacing: 0.1em;
}

.cu {
  line-height: 1.857;
  font-size: 16px;
}

.cu h1, .cu h2, .cu h3, .cu h4, .cu h5, .cu h6 {
  font-family: "Playfair Display", Didot, Garamond, serif;
  font-weight: 400;
  color: #161616;
}

.ha {
  font-size: 15px;
}

.se .st a {
  font-weight: 700;
  letter-spacing: 0.15em;
}

.sw a {
  color: #454545;
}

.om .oy > span {
  letter-spacing: 0.15em;
}

.om .oy > a {
  font-size: 22px;
  font-weight: 700;
  text-transform: uppercase;
}

.om .ob {
  font-size: 15px;
}

.uj .ia {
  font-family: "Source Sans Pro", Arial, sans-serif;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0;
}

.uj .sm {
  font-size: 10px;
}

.oq .ui {
  margin-bottom: 0;
  text-transform: uppercase;
  letter-spacing: 0.025em;
  font-size: 15px;
}

.oq .ul {
  font-size: 15px;
  color: #777;
}

.oq .uu {
  font-weight: 400;
  letter-spacing: 0.1em;
}

.ud .uw {
  font-size: 12px;
  letter-spacing: 0.15em;
}

/**
 * Home & Archives changes
 */
.ca .nl {
  font-size: 16px;
}

.pg .tk {
  font-family: "Playfair Display", Didot, Garamond, serif;
  font-weight: 400;
  letter-spacing: 0;
}

.pg .fr {
  font-size: 15px;
  letter-spacing: 0;
}

.pj .sg a {
  font-size: 13px;
  letter-spacing: 0.18em;
}

.pj .tk {
  font-family: "Playfair Display", Didot, Garamond, serif;
  font-weight: 400;
  color: #161616;
  font-size: 44px;
}

.pj .tk:after {
  margin-top: 24px;
}

.pj .hc {
  font-family: "Noto Sans", Arial, sans-serif;
  font-weight: 600;
  letter-spacing: 0.16em;
  letter-spacing: 0.2em;
}

.pj .pv:hover:after {
  background: rgba(62, 34, 34, 0.3);
}

.ro .tk {
  font-family: "Playfair Display", Didot, Garamond, serif;
  font-weight: 400;
  color: #161616;
  max-width: 450px;
}

.ro .sg {
  font-size: 11px;
}

.rs .tk {
  font-family: "Playfair Display", Didot, Garamond, serif;
  font-weight: 400;
  color: #161616;
}

.re .tk {
  font-family: "Playfair Display", Didot, Garamond, serif;
  font-weight: 400;
  color: #161616;
}

.dt .tk {
  font-family: "Playfair Display", Didot, Garamond, serif;
  font-weight: 400;
  color: #161616;
}

.pe .sm {
  font-size: 10px;
}

.pe .ia {
  font-size: 18px;
}

.hq .fo {
  font-size: 14px;
}

.ld .sh {
  font-size: 11px;
  letter-spacing: 0.15em;
}

.wk .tj {
  padding-top: 14px;
  padding-bottom: 14px;
}

/**
 * Sidebar adjustments
 */
.aw .ax {
  border: 1px solid #ebebeb;
  padding: 30px;
}

.aw .ak {
  margin: 0 -31px;
  margin-top: -31px;
  margin-bottom: 35px;
  border-top-color: #f1868a;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 0.11em;
  color: #2a2a2a;
  -webkit-font-smoothing: antialiased;
  line-height: 44px;
}

.aw .ly {
  border: 0;
}

.aw .ly .rb {
  margin: 0 -30px;
}

.aw .mt,
.aw .me {
  background: #f7f7f7;
}

.aw .mt .ak,
.aw .me .ak {
  margin: 0;
  margin-bottom: 35px;
  background: transparent;
  line-height: 1;
}

.ax .mn .vp,
.me .vp {
  color: #777;
  font-size: 14px;
}

.fe .hx {
  font-family: "Noto Sans", Arial, sans-serif;
  font-weight: 600;
  letter-spacing: 0.16em;
}

.ap .ot {
  font-family: "Noto Sans", Arial, sans-serif;
  font-weight: 600;
  letter-spacing: 0.16em;
  font-size: 11px;
  color: #161616;
  padding: 9px 14px;
  letter-spacing: 0.15em;
}

.fn .ia {
  margin-top: -4px;
  font-family: "Source Sans Pro", Arial, sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.45;
  -webkit-font-smoothing: antialiased;
}

.fn .sd img {
  margin-right: 22px;
}

/* Footer Changes */
.aq .ak {
  color: #222;
  font-size: 15px;
  font-weight: 600;
  letter-spacing: 0.04em;
}

.aq .fe .ft {
  font-size: 14px;
}

.fl .fc {
  font-size: 14px;
}

.fl .tb {
  letter-spacing: 0.12em;
}

@media (max-width: 767px) {
  .pj .tk {
    font-size: 30px;
  }
}
