/**
 * Skin: Rovella 
 */
:root {
  --main-color: #c0a88a;
  --main-color-rgb: 192, 168, 138;
}

/**
 * Change Main Color
 */
input[type="submit"],
button,
input[type="button"],
.t,
.tz .ne .nn,
.nu.nw .tx .tk,
.so .su .iq a,
.oq .us .uo,
.ss a:hover,
.ss.ci a,
.lk:hover .ss a,
.hy .hk:hover,
.nz .pk .p_ button,
.re .sg,
.rs .sg,
.dd .df,
.dd a:hover,
.dd > span,
.fn .is.vy .nn:before,
.xk .x_,
.hb span.yb,
.hb a.t,
.hb button.t,
.hb input.t,
.hb #yw input.uw,
.hb a.t.rl,
.hb a.t.rl:hover,
.hb button.t.rl,
.hb button.t.rl:hover,
.hb input.t.rl,
.hb input.t.rl:hover,
.hb #yw input.uw.rl,
.hb #yw input.uw.rl:hover,
.hb a.t:hover,
.hb button.t:hover,
.hb input.t:hover,
.hb #yw input.uw:hover,
.hb nav.yx ul li span.df,
.hb nav.yx ul li a:hover,
.hb .yk .y_ .t {
  background: #c0a88a;
}

blockquote:before,
.c,
.tm .tb a:hover,
.ra .rh > li:hover > a,
.ra .rh > .r_ > a,
.ra .rh > .rj > a,
.ra .rh > .rk > a,
.ra li:hover > a:after,
.ra .r_ > a:after,
.ra .rj > a:after,
.ra .rk > a:after,
.ra .rh li li:hover > a,
.ra .rh li li.r_ > a,
.se .st a:hover,
.sw a:hover,
.sw .sk,
.om .oy > span,
.ok .o_ .sq,
.oq .uf,
.ud input[type=checkbox],
.a_.nr .fd:hover,
.fl .tb .nt,
.ld .sh,
.c_ a:hover,
.tb a:hover,
.sm .iq > a,
.ht .uo > a,
.hd .hs .oy a,
.ri .iq a,
.ag .ae a:hover,
.ag .do a:hover,
.ag.sq .df,
.cu a,
.fu a,
.fe .hx,
.fe .tb .ff:hover,
.vb .fd:hover,
.dm blockquote:before,
.yi .ys,
.hb .yj:before,
.hb .yj span:before,
.hb .yq,
.hb .yz .be a:hover,
.hb .yz .be li.nd,
.bt .yz .be a:hover,
.bt .yz .be li.nd,
.hb .yk .bn .br,
.hb .yk .bn .bi,
.hb div.bs div.bo p.bu,
.hb div.bs div.bo span.bu,
.hb .ox div.bs div.bo p.bu,
.hb .ox div.bs div.bo span.bu {
  color: #c0a88a;
}

.hy .hk:hover,
.nz .pk .p_ button,
.dd .df,
.dd a:hover,
.dd > span,
.hb nav.yx ul li span.df,
.hb nav.yx ul li a:hover {
  border-color: #c0a88a;
}

.hb .yk .ba .bf {
  background-color: #c0a88a;
}

.al:after,
.cl .nl {
  border-bottom: 1px solid #c0a88a;
}

.fg a:before,
.fk a:before,
.fv a:before {
  border: 1px solid #c0a88a;
}

/* Change text / contrast font */
body,
input,
textarea,
select,
.ld .lm,
.fo,
.sm .cq,
.cu,
.fu,
.fg a,
.fk a,
.fv a,
.hb .bl,
.hb .bc,
.hb .bh,
.hb form .bp,
.hb .bd,
.hb #bv .cz ol.bm .lm,
.bg .by,
.bg .bb .bw table {
  font-family: Lato, Arial, sans-serif;
  letter-spacing: 0;
  -webkit-font-smoothing: initial;
}

/* Change main body and heading font */
h1,
h2,
h3,
h4,
h5,
h6,
input[type="submit"],
button,
input[type="button"],
.t,
blockquote cite,
blockquote .xp,
.ty,
.t_ .tq,
.nu .nl,
.ra,
.se,
.sz .oe,
.oc .od,
.om,
.oq .un,
.uz .ot,
.a_.nr .fh,
.fl .tb,
.a_ .fp .fd,
.a_.ll .lc .lh,
.a_.ll .fc,
.ld,
.ss a,
.o_,
.al,
.ia,
.ca,
.cl,
.ch,
.cb .ia,
.sk .sq,
.sm,
.ho .hu,
.hf .hu,
.hs .hc,
.hs .c_,
.hs .tb,
.hd .hs .oy a,
.hy .hk,
.rr,
.pg .tk,
.pj,
.pj .tk,
.ro .sg,
.ro .tk,
.re .sg,
.re .tk,
.rs .tk,
.dt,
.dt .tk,
.ag,
.ag .du,
.dd,
.cu .hc,
.fe .hx,
.fn .ia,
.fn .is.vy .nn:before,
.ap .ot,
.vw .vx,
.mu .ma .mf,
.mu .mc,
.fg,
.fk,
.fv,
.xk .x_,
.gd,
.hb .tp .t,
.hb .bx .bk,
.hb nav.yx,
.bg .cu,
.hb .b_,
.bt .b_,
.hb ul.hw,
.hb.ax,
.hb div.bs,
.hb .ox div.bs,
.bg .bb .bw .t,
.hb .bj .bq thead th,
.hb .bj .bq .yq,
.bz #we #wt {
  font-family: Lato, Arial, sans-serif;
}

/* Adjust text color */
.rz .ii .ia,
.fo,
.hs .oy a,
.hs .hh,
.cu,
.ap .ot,
.fu,
.mm a,
.fg a,
.fk a,
.fv a {
  color: #161616;
}

/* Remove uppercase text on several elements */
.ra.iy .rh > li li a,
.ra.iy .rz .it a,
.ra.nx,
.om .oy > a,
.oq .ui,
.al,
.ia,
.ch .nl,
.pg .tk,
.pj .tk,
.ro .tk,
.re .tk,
.rs .tk,
.dt .tk,
.ag.sq,
.cu h1,
.fu h1,
.cu h2,
.fu h2,
.cu h3,
.fu h3,
.cu h4,
.fu h4,
.cu h5,
.fu h5,
.cu h6,
.fu h6,
.fm tfoot a,
.hb ul.hw li.bs,
.hb ul.hw li.bs .wn,
.hb ul.hw .wr,
.hb ul.hw .wi,
.hb .yk .y_,
.hb ul.ws li a,
.hb ul.wo li a,
.hb.wu .wa > strong,
.hb div.bs .wf,
.hb .ox div.bs .wf,
.hb div.bs .wl,
.hb .ox div.bs .wl,
.hb #bv .cz ol.bm li .ma strong,
.hb #bv .wc,
.bg table.wh .ot,
.bg table.wh .wp > a,
.bg table.wh .wn a,
.hb .bj .bq thead th {
  text-transform: none;
}

/**
 * Header and Nav
 */
.tm.nr .ty {
  background: #000;
}

.ra {
  font-weight: 600;
  -webkit-font-smoothing: antialiased;
  letter-spacing: 0.12em;
}

.ra .rh > li:first-child {
  margin-left: -19px;
}

.ra .rh > li > a {
  padding: 0 19px;
}

.ra .rh > li li a,
.ra .rz .it a {
  font-size: 11px;
  font-weight: 700;
  letter-spacing: 0.1em;
}

.ra .rz .ii .ia {
  font-family: Lato, Arial, sans-serif;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 0;
}

.ra.nr.rn {
  background: #000;
}

.ra.nr .rh > li > a,
.ra.nr .rh > .r_ > a,
.ra.nr .rh > .rj > a,
.ra.nr .rh > .rk > a {
  color: #fff;
}

.ra.nr .rh li:hover > a,
.ra.nr .rh li li:hover > a,
.ra.nr .rh li:hover > a:after {
  color: #c0a88a;
}

.ra.nr .rh > li li a {
  border-color: rgba(187, 187, 187, 0.15);
}

.gd li a {
  letter-spacing: 0.12em;
}

/**
 * General components and global changes
 */
::-moz-selection {
  background: rgba(192, 168, 138, 0.2);
}
::selection {
  background: rgba(192, 168, 138, 0.2);
}

::-moz-selection {
  background: rgba(192, 168, 138, 0.2);
}

input[type="submit"],
button,
input[type="button"],
.t {
  letter-spacing: 0.12em;
}

blockquote {
  font-family: Lora, Georgia, serif;
  font-size: 17px;
  color: #989898;
}

.o_ .nl {
  font-weight: 600;
  -webkit-font-smoothing: antialiased;
  font-size: 11px;
  letter-spacing: 0.1em;
  color: #161616;
}

.sm .iq > a {
  font-weight: 600;
  letter-spacing: 0.15em;
}

.sm .iq > span {
  display: none;
}

.sm time {
  font-weight: 400;
  letter-spacing: 0.1em;
}

.he {
  margin-bottom: 30px;
}

.he .fs,
.he .cz {
  color: #505050;
}

.he .al {
  margin: 16px 0;
}

.ia,
.al {
  font-family: Trueno, Arial, sans-serif;
  font-weight: 400;
  color: #161616;
  letter-spacing: -0.01em;
}

.ia a,
.al a {
  color: #000;
}

.al {
  margin-top: 13px;
  margin-bottom: 16px;
  font-size: 34px;
}

.al:after {
  display: none;
}

.fo,
.cu,
.fu {
  font-family: "Noto Sans", Arial, sans-serif;
  font-size: 13px;
  -webkit-font-smoothing: antialiased;
}

.ag .ae a,
.ag .do a {
  font-weight: 900;
  letter-spacing: 0.15em;
}

/**
 * Posts adjustments
 */
.lw .ix img {
  margin-bottom: 30px;
}

.lw .oy {
  letter-spacing: 0;
}

.hd .hc a {
  padding: 13px 19px;
  border: 2px solid #161616;
  color: #161616;
  background: transparent;
  line-height: 1;
  font-weight: 400;
  letter-spacing: 0.12em;
  -webkit-font-smoothing: initial;
}

.hd .hc a:hover {
  background: #000;
  color: #fff;
}

.hd .hc a:before {
  display: none;
}

.hd .hc a span {
  padding: 0;
  background: transparent;
}

.hd .hs {
  letter-spacing: 0;
  padding-bottom: 2px;
  border-bottom: 1px solid #ebebeb;
}

.hd .hs .oy a {
  letter-spacing: 0.15em;
}

.hd .hs .sq {
  font-size: 13px;
  font-weight: 400;
}

.hd .hs .tb a {
  font-size: 14px;
}

.ct .ha {
  font-size: 13px;
}

.hs {
  margin-top: 45px;
}

.hs .hc {
  font-size: 11px;
  font-weight: 900;
  letter-spacing: 0.1em;
}

.cu .hc {
  font-family: "Noto Sans", Arial, sans-serif;
}

.hf .sm {
  color: #505050;
}

.hf .hu {
  padding: 13px 19px;
  border: 2px solid #161616;
  color: #161616;
  background: transparent;
}

.ho .hu {
  padding: 13px 19px;
  border: 2px solid #161616;
  color: #161616;
  background: transparent;
  font-weight: 400;
}

/* Single Post */
.so .su .sa {
  font-weight: 600;
  letter-spacing: 0.1em;
}

.cu {
  font-size: 14px;
}

.cu h1, .cu h2, .cu h3, .cu h4, .cu h5, .cu h6 {
  font-weight: 600;
  -webkit-font-smoothing: antialiased;
}

.se .st a {
  font-weight: 700;
  letter-spacing: 0.15em;
}

.sw a {
  color: #161616;
}

.om .oy > a {
  font-weight: 600;
  -webkit-font-smoothing: antialiased;
  font-size: 22px;
}

.om .ob {
  font-size: 13px;
}

.uj .ia {
  font-family: Lato, Arial, sans-serif;
  font-size: 15px;
  font-weight: 600;
  letter-spacing: 0;
}

.uj .sm {
  font-size: 10px;
}

/**
 * Home & Archives changes
 */
.ca .nl {
  font-size: 15px;
}

.pe .nl {
  background: transparent;
}

.pe .nl:before,
.pe .nl:after {
  display: none;
}

.pe .ca {
  margin-top: -5px;
  margin-bottom: 62px;
}

.pe .ca:before {
  display: none;
}

.pe .ca:after {
  top: 100%;
  left: 50%;
  margin-top: 12px;
  margin-left: -18px;
  width: 36px;
  height: 2px;
  background: #000;
}

.pe .ps {
  margin-bottom: 18px;
}

.pe .ia {
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
  font-size: 16px;
  line-height: 1.8;
}

.pe time {
  display: none;
}

.pg .tk {
  font-family: Trueno, Arial, sans-serif;
  font-weight: 400;
  letter-spacing: 0;
}

.pg .fr {
  font-size: 14px;
  letter-spacing: 0;
}

.pj .tk {
  font-family: Trueno, Arial, sans-serif;
  font-weight: 400;
  color: #161616;
  -webkit-font-smoothing: antialiased;
}

.ro .tk {
  font-family: Trueno, Arial, sans-serif;
  font-weight: 400;
  color: #161616;
  -webkit-font-smoothing: antialiased;
}

.ro .sg {
  font-size: 11px;
}

.rs .tk {
  font-family: Trueno, Arial, sans-serif;
  font-weight: 400;
  color: #161616;
  -webkit-font-smoothing: antialiased;
}

.re .tk {
  font-family: Trueno, Arial, sans-serif;
  font-weight: 400;
  color: #161616;
  -webkit-font-smoothing: antialiased;
}

.dt .tk {
  font-family: Trueno, Arial, sans-serif;
  font-weight: 400;
  color: #161616;
  -webkit-font-smoothing: antialiased;
}

/**
 * Sidebar adjustments
 */
.aw .ak {
  font-weight: 600;
  -webkit-font-smoothing: antialiased;
  font-size: 11px;
  letter-spacing: 0.12em;
  color: #fff;
  background: #000;
}

.aw .mt,
.aw .me {
  background: #f7f7f7;
}

.aw .mt .ak,
.aw .me .ak {
  background: transparent;
  color: #161616;
  line-height: 1;
}

.ax .mn .vp,
.me .vp {
  font-family: "Noto Sans", Arial, sans-serif;
}

.ap .ot {
  font-weight: 600;
  font-size: 11px;
  color: #161616;
  padding: 9px 14px;
  letter-spacing: 0.15em;
}

.fn .ia {
  font-family: Lato, Arial, sans-serif;
  font-size: 15px;
  font-weight: 600;
  line-height: 1.52;
  letter-spacing: 0;
}

.fn .is.cr .ia {
  font-size: 17px;
  font-weight: 400;
}

.fn .is.cr time {
  letter-spacing: 0.07em;
}

/* Footer Changes */
.aq .ak {
  color: #222;
  font-size: 15px;
  font-weight: 600;
  letter-spacing: 0.04em;
}

.aq .fn .sm {
  color: #707070;
}

.fl .fc {
  font-size: 13px;
}

.fl .tb {
  letter-spacing: 0.12em;
}

.a_.lu .fc a {
  color: #c0a88a;
}

@media (max-width: 540px) {
  .al {
    font-size: 24px;
  }
}
