/**
 * Skin: Beauty
 */
:root {
  --main-color: #f6b2ca;
  --main-color-rgb: 246, 178, 202;
}

/**
 * Change Main Color
 */
input[type="submit"],
button,
input[type="button"],
.t,
.tz .ne .nn,
.nu.nw .tx .tk,
.so .su .iq a,
.oq .us .uo,
.ss a:hover,
.ss.ci a,
.lk:hover .ss a,
.hy .hk:hover,
.nz .pk .p_ button,
.re .sg,
.rs .sg,
.dd .df,
.dd a:hover,
.dd > span,
.fn .is.vy .nn:before,
.xk .x_,
.hb span.yb,
.hb a.t,
.hb button.t,
.hb input.t,
.hb #yw input.uw,
.hb a.t.rl,
.hb a.t.rl:hover,
.hb button.t.rl,
.hb button.t.rl:hover,
.hb input.t.rl,
.hb input.t.rl:hover,
.hb #yw input.uw.rl,
.hb #yw input.uw.rl:hover,
.hb a.t:hover,
.hb button.t:hover,
.hb input.t:hover,
.hb #yw input.uw:hover,
.hb nav.yx ul li span.df,
.hb nav.yx ul li a:hover,
.hb .yk .y_ .t {
  background: #f6b2ca;
}

blockquote:before,
.c,
.tm .tb a:hover,
.ra .rh > li:hover > a,
.ra .rh > .r_ > a,
.ra .rh > .rj > a,
.ra .rh > .rk > a,
.ra li:hover > a:after,
.ra .r_ > a:after,
.ra .rj > a:after,
.ra .rk > a:after,
.ra .rh li li:hover > a,
.ra .rh li li.r_ > a,
.se .st a:hover,
.sw a:hover,
.sw .sk,
.om .oy > span,
.ok .o_ .sq,
.oq .uf,
.ud input[type=checkbox],
.a_.nr .fd:hover,
.fl .tb .nt,
.ld .sh,
.c_ a:hover,
.tb a:hover,
.sm .iq > a,
.ht .uo > a,
.hd .hs .oy a,
.ri .iq a,
.ag .ae a:hover,
.ag .do a:hover,
.ag.sq .df,
.cu a,
.fu a,
.fe .hx,
.fe .tb .ff:hover,
.vb .fd:hover,
.dm blockquote:before,
.yi .ys,
.hb .yj:before,
.hb .yj span:before,
.hb .yq,
.hb .yz .be a:hover,
.hb .yz .be li.nd,
.bt .yz .be a:hover,
.bt .yz .be li.nd,
.hb .yk .bn .br,
.hb .yk .bn .bi,
.hb div.bs div.bo p.bu,
.hb div.bs div.bo span.bu,
.hb .ox div.bs div.bo p.bu,
.hb .ox div.bs div.bo span.bu {
  color: #f6b2ca;
}

.hy .hk:hover,
.nz .pk .p_ button,
.dd .df,
.dd a:hover,
.dd > span,
.hb nav.yx ul li span.df,
.hb nav.yx ul li a:hover {
  border-color: #f6b2ca;
}

.hb .yk .ba .bf {
  background-color: #f6b2ca;
}

.al:after,
.cl .nl {
  border-bottom: 1px solid #f6b2ca;
}

.fg a:before,
.fk a:before,
.fv a:before {
  border: 1px solid #f6b2ca;
}

/* Change text / contrast font */
body,
input,
textarea,
select,
.ld .lm,
.fo,
.sm .cq,
.cu,
.fu,
.fg a,
.fk a,
.fv a,
.hb .bl,
.hb .bc,
.hb .bh,
.hb form .bp,
.hb .bd,
.hb #bv .cz ol.bm .lm,
.bg .by,
.bg .bb .bw table {
  font-family: Lato, Arial, sans-serif;
  letter-spacing: 0;
  -webkit-font-smoothing: initial;
}

/* Change main body and heading font */
h1,
h2,
h3,
h4,
h5,
h6,
input[type="submit"],
button,
input[type="button"],
.t,
blockquote cite,
blockquote .xp,
.ty,
.t_ .tq,
.nu .nl,
.ra,
.se,
.sz .oe,
.oc .od,
.om,
.oq .un,
.uz .ot,
.a_.nr .fh,
.fl .tb,
.a_ .fp .fd,
.a_.ll .lc .lh,
.a_.ll .fc,
.ld,
.ss a,
.o_,
.al,
.ia,
.ca,
.cl,
.ch,
.cb .ia,
.sk .sq,
.sm,
.ho .hu,
.hf .hu,
.hs .hc,
.hs .c_,
.hs .tb,
.hd .hs .oy a,
.hy .hk,
.rr,
.pg .tk,
.pj,
.pj .tk,
.ro .sg,
.ro .tk,
.re .sg,
.re .tk,
.rs .tk,
.dt,
.dt .tk,
.ag,
.ag .du,
.dd,
.cu .hc,
.fe .hx,
.fn .ia,
.fn .is.vy .nn:before,
.ap .ot,
.vw .vx,
.mu .ma .mf,
.mu .mc,
.fg,
.fk,
.fv,
.xk .x_,
.gd,
.hb .tp .t,
.hb .bx .bk,
.hb nav.yx,
.bg .cu,
.hb .b_,
.bt .b_,
.hb ul.hw,
.hb.ax,
.hb div.bs,
.hb .ox div.bs,
.bg .bb .bw .t,
.hb .bj .bq thead th,
.hb .bj .bq .yq,
.bz #we #wt {
  font-family: Lato, Arial, sans-serif;
}

/* Adjust text color */
.rz .ii .ia,
.se .st a,
.fo,
.c_ a,
.tb a,
.hs .oy a,
.hs .hh,
.cu,
.ap .ot,
.fu,
.mm a,
.fg a,
.fk a,
.fv a {
  color: #535353;
}

/* Remove uppercase text on several elements */
.ra.iy .rh > li li a,
.ra.iy .rz .it a,
.ra.nx,
.om .oy > a,
.oq .ui,
.al,
.ia,
.ch .nl,
.pg .tk,
.pj .tk,
.ro .tk,
.re .tk,
.rs .tk,
.dt .tk,
.ag.sq,
.cu h1,
.fu h1,
.cu h2,
.fu h2,
.cu h3,
.fu h3,
.cu h4,
.fu h4,
.cu h5,
.fu h5,
.cu h6,
.fu h6,
.fm tfoot a,
.hb ul.hw li.bs,
.hb ul.hw li.bs .wn,
.hb ul.hw .wr,
.hb ul.hw .wi,
.hb .yk .y_,
.hb ul.ws li a,
.hb ul.wo li a,
.hb.wu .wa > strong,
.hb div.bs .wf,
.hb .ox div.bs .wf,
.hb div.bs .wl,
.hb .ox div.bs .wl,
.hb #bv .cz ol.bm li .ma strong,
.hb #bv .wc,
.bg table.wh .ot,
.bg table.wh .wp > a,
.bg table.wh .wn a,
.hb .bj .bq thead th {
  text-transform: none;
}

/* Navigation Adjustments */
.ra {
  color: #535353;
  letter-spacing: 0.1em;
  font-weight: 900;
}

.ra .rh > li li a,
.ra .rz .it a {
  font-size: 11px;
  font-weight: 700;
  letter-spacing: 0.07em;
}

.ra .rz .ii .ia {
  font-family: Lato, Arial, sans-serif;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: 0;
}

/**
 * General components and global changes
 */
h1, h2, h3, h4, h5, h6 {
  color: #535353;
}

a {
  color: #535353;
}

.o_ .nl {
  font-weight: 900;
  letter-spacing: 0.1em;
  font-size: 11px;
}

.sm time {
  font-weight: 700;
  letter-spacing: 0.05em;
}

.sm .iq > a {
  font-weight: 900;
  letter-spacing: 0.1em;
}

.sm .cw:before {
  padding: 0 5px;
}

.ia,
.al {
  font-family: "LibreBodoni", Didot, Garamond, serif;
  font-weight: 400;
  color: #161616;
  letter-spacing: 0;
}

.ia a,
.al a {
  color: #161616;
}

.al {
  margin-top: 12px;
  margin-bottom: 16px;
  font-size: 26px;
}

.al:after {
  display: none;
}

.pe .ia {
  font-size: 18px;
}

.ag .ae a,
.ag .do a {
  font-weight: 900;
  letter-spacing: 0.15em;
}

/**
 * Posts adjustments
 */
.l_ .al {
  margin-bottom: 14px;
}

.lw .ix img {
  margin-bottom: 23px;
}

.hs {
  margin-top: 45px;
}

.hs .hc {
  font-size: 11px;
  font-weight: 900;
  letter-spacing: 0.1em;
}

/* Single Post */
.so .su .sa {
  font-weight: 600;
  letter-spacing: 0.05em;
}

.cu {
  line-height: 1.857;
}

.cu h1, .cu h2, .cu h3, .cu h4, .cu h5, .cu h6 {
  font-family: "LibreBodoni", Didot, Garamond, serif;
  font-weight: 400;
  color: #161616;
}

.se .st a {
  font-weight: 900;
  letter-spacing: 0.1em;
}

.om .oy > span {
  font-weight: 900;
  letter-spacing: 0.1em;
}

.om .oy > a {
  font-family: "LibreBodoni", Didot, Garamond, serif;
  font-weight: 400;
  color: #161616;
  font-size: 22px;
}

.uj .ia {
  font-family: Lato, Arial, sans-serif;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: 0;
}

.uj .ia a {
  color: #535353;
}

.oq .ui {
  color: #535353;
  margin-bottom: 0;
}

.oq .ul {
  font-size: 13px;
}

.oq .uu {
  font-weight: 700;
  -webkit-font-smoothing: antialiased;
}

/**
 * Home changes
 */
.ca .nl {
  font-size: 16px;
}

.pj .tk {
  font-family: "LibreBodoni", Didot, Garamond, serif;
  font-weight: 400;
  color: #161616;
}

.pw .tk {
  font-family: "LibreBodoni", Didot, Garamond, serif;
  font-weight: 400;
  color: #161616;
}

.pw .fr {
  font-size: 15px;
  letter-spacing: 0;
}

.ro .tk {
  font-family: "LibreBodoni", Didot, Garamond, serif;
  font-weight: 400;
  color: #161616;
}

.rs .tk {
  font-family: "LibreBodoni", Didot, Garamond, serif;
  font-weight: 400;
  color: #161616;
}

.re .tk {
  font-family: "LibreBodoni", Didot, Garamond, serif;
  font-weight: 400;
  color: #161616;
}

.dt .tk {
  font-family: "LibreBodoni", Didot, Garamond, serif;
  font-weight: 400;
  color: #161616;
}

/**
 * Sidebar adjustments
 */
.aw .ak {
  font-weight: 900;
  letter-spacing: 0.1em;
  border-top-color: #f6b2ca;
  font-size: 11px;
}

.aw .mt,
.aw .me {
  background: #f7f7f7;
}

.fe .ft {
  font-size: 13px;
}

.fe .hx {
  font-weight: 900;
  letter-spacing: 0.1em;
}

.ap .ot {
  font-weight: 900;
  letter-spacing: 0.1em;
}

.fn .ia {
  color: #535353;
  font-family: Lato, Arial, sans-serif;
  font-size: 15px;
  font-weight: 700;
  line-height: 1.45;
}

/* Footer Changes */
.aq .ak {
  color: #535353;
  font-weight: 700;
}
