/**
 * Skin: Classic
 */
/**
 * Skin Specifics for General
 */
.ra.iy .rh > li > a {
  letter-spacing: 0.08em;
}

.ra.iy .rh > li li a,
.ra.iy .rz .it a {
  font-size: 13px;
  letter-spacing: 0.07em;
  font-weight: 600;
}

.ra.nx .rh > li > a {
  font-size: 14px;
  letter-spacing: 0.08em;
}

:root {
  --main-color: #f6b2ca;
  --main-color-rgb: 246, 178, 202;
}

/* Change text / contrast font */
body,
input,
textarea,
select,
blockquote,
.ld .lm,
.fo,
.sm .cq,
.cu,
.fu,
.fg a,
.fk a,
.fv a,
.hb .bl,
.hb .bc,
.hb .bh,
.hb form .bp,
.hb .bd,
.hb #bv .cz ol.bm .lm,
.bg .by,
.bg .bb .bw table {
  font-family: ff-meta-serif-web-pro, Georgia, serif;
  letter-spacing: 0;
}

/* Change main body and heading font */
h1,
h2,
h3,
h4,
h5,
h6,
input[type="submit"],
button,
input[type="button"],
.t,
blockquote cite,
blockquote .xp,
.ty,
.t_ .tq,
.nu .nl,
.ra,
.se,
.sz .oe,
.oc .od,
.om,
.oq .un,
.uz .ot,
.a_.nr .fh,
.fl .tb,
.a_ .fp .fd,
.a_.ll .lc .lh,
.a_.ll .fc,
.ld,
.ss a,
.o_,
.al,
.ia,
.ca,
.cl,
.ch,
.cb .ia,
.sk .sq,
.sm,
.ho .hu,
.hf .hu,
.hs .hc,
.hs .c_,
.hs .tb,
.hd .hs .oy a,
.hy .hk,
.rr,
.pg .tk,
.pj,
.pj .tk,
.ro .sg,
.ro .tk,
.re .sg,
.re .tk,
.rs .tk,
.dt,
.dt .tk,
.ag,
.ag .du,
.dd,
.cu .hc,
.fe .hx,
.fn .ia,
.fn .is.vy .nn:before,
.ap .ot,
.vw .vx,
.mu .ma .mf,
.mu .mc,
.fg,
.fk,
.fv,
.xk .x_,
.gd,
.hb .tp .t,
.hb .bx .bk,
.hb nav.yx,
.bg .cu,
.hb .b_,
.bt .b_,
.hb ul.hw,
.hb.ax,
.hb div.bs,
.hb .ox div.bs,
.bg .bb .bw .t,
.hb .bj .bq thead th,
.hb .bj .bq .yq,
.bz #we #wt {
  font-family: "brandon-grotesque", sans-serif;
}

/* Adjust text color */
.rz .ii .ia,
.se .st a,
.fo,
.c_ a,
.tb a,
.hs .oy a,
.hs .hh,
.cu,
.ap .ot,
.fu,
.mm a,
.fg a,
.fk a,
.fv a {
  color: #535353;
}

.fo,
.fu,
.cu {
  color: #606060;
}

/**
 * General components and global changes
 */
input,
select {
  font-size: 14px;
  height: 2.64286em;
}

textarea {
  font-size: 14px;
}

blockquote {
  font-size: 18px;
  -webkit-font-smoothing: antialiased;
}

blockquote cite {
  font-size: 13px;
}

.fo,
.fu,
.cu {
  font-size: 15px;
  line-height: 1.8;
  letter-spacing: 0;
}

.hs .oy {
  font-size: 13px;
}

.hq .fo {
  font-size: 14px;
}

.pg .fr {
  font-size: 14px;
  letter-spacing: 0;
}

.pe .sm,
.uj .sm {
  font-size: 10px;
}

/**
 * Posts adjustments
 */
.cu {
  font-size: 16px;
}

/**
 * Sidebar adjustments
 */
.ax .mn .vp,
.me .vp {
  font-size: 14px;
}

.fg a,
.fk a,
.fv a {
  font-size: 15px;
}

.fy li,
.fb li,
.f_ li,
.fj li,
.fq li,
.fx li,
.fw li {
  font-size: 15px;
}

.fn .fr > p {
  font-size: 14px;
}

.fm tr td,
.fm th td {
  font-size: 13px;
}

.mm a {
  font-size: 13px !important;
}

/**
 * Footer changes
 */
.aq .fe .ft {
  font-size: 14px;
}

.fl {
  font-size: 13px;
}

/**
 * WooCommerce adjustments
 */
.hb .bl,
.hb .bc,
.hb .bh {
  font-size: 15px;
}

.hb form .bp {
  font-size: 14px;
}

.hb #bv ol.bm .lm {
  font-size: 15px;
}

.hb #we ul.wj,
.hb #we div.wq {
  font-size: 14px;
}

.bg .bb .bw tr th,
.bg .bb .bw tr td {
  font-size: 14px;
}

.bg .by {
  font-size: 15px;
}

.wz .ra a,
.wz .aw .ak,
.wz .ap .ot,
.wz .o_ .nl,
.wz .hs .hh,
.wz .fn .ia,
.wz .ax .fi,
.wz .hy .hk,
.wz .ag,
.wz .se .st a,
.wz .om .oy > span {
  -webkit-text-stroke: 0.2px;
}

.wz .ra a:after {
  -webkit-text-stroke: 0;
}

.wz input,
.wz textarea,
.wz select,
.wz .fo,
.wz .cu,
.wz .fu,
.wz .fz .su,
.wz .fl,
.wz .hs .oy,
.wz .pg .fr,
.wz .mi,
.wz .fv li,
.wz .fb li,
.wz .f_ li,
.wz .fj li,
.wz .fx li,
.wz .fw li,
.wz .fg a,
.wz .fk a,
.wz .fv a,
.wz .hb .bl,
.wz .hb .bc,
.wz .hb .bh,
.wz .hb form .bp,
.wz .hb #bv .cz ol.bm .lm,
.wz .bg .bb .bw table {
  -webkit-text-stroke: 0.2px;
}

.wz .ax .mn .vp,
.wz .me .vp {
  -webkit-text-stroke: 0.1px;
}

.wz blockquote,
.wz .vs,
.wz .pg .fr {
  -webkit-text-stroke: 0;
}

.yn h1, .yn h2, .yn h3, .yn h4, .yn h5, .yn h6, .yn p, .yn a, .yn label, .yn .tq {
  visibility: hidden;
  -webkit-transition: none !important;
  transition: none !important;
}

@media (max-width: 767px) {
  .fo,
  .fu,
  .cu {
    font-size: 14px;
  }
  .cu {
    font-size: 15px;
  }
}
