/**
 * Skin: Lifestyle
 */
:root {
  --main-color: #e84d15;
  --main-color-rgb: 232, 77, 21;
}

/**
 * Change Main Color
 */
input[type="submit"],
button,
input[type="button"],
.t,
.tz .ne .nn,
.nu.nw .tx .tk,
.so .su .iq a,
.oq .us .uo,
.ss a:hover,
.ss.ci a,
.lk:hover .ss a,
.hy .hk:hover,
.nz .pk .p_ button,
.re .sg,
.rs .sg,
.dd .df,
.dd a:hover,
.dd > span,
.fn .is.vy .nn:before,
.xk .x_,
.hb span.yb,
.hb a.t,
.hb button.t,
.hb input.t,
.hb #yw input.uw,
.hb a.t.rl,
.hb a.t.rl:hover,
.hb button.t.rl,
.hb button.t.rl:hover,
.hb input.t.rl,
.hb input.t.rl:hover,
.hb #yw input.uw.rl,
.hb #yw input.uw.rl:hover,
.hb a.t:hover,
.hb button.t:hover,
.hb input.t:hover,
.hb #yw input.uw:hover,
.hb nav.yx ul li span.df,
.hb nav.yx ul li a:hover,
.hb .yk .y_ .t {
  background: #e84d15;
}

blockquote:before,
.c,
.tm .tb a:hover,
.ra .rh > li:hover > a,
.ra .rh > .r_ > a,
.ra .rh > .rj > a,
.ra .rh > .rk > a,
.ra li:hover > a:after,
.ra .r_ > a:after,
.ra .rj > a:after,
.ra .rk > a:after,
.ra .rh li li:hover > a,
.ra .rh li li.r_ > a,
.se .st a:hover,
.sw a:hover,
.sw .sk,
.om .oy > span,
.ok .o_ .sq,
.oq .uf,
.ud input[type=checkbox],
.a_.nr .fd:hover,
.fl .tb .nt,
.ld .sh,
.c_ a:hover,
.tb a:hover,
.sm .iq > a,
.ht .uo > a,
.hd .hs .oy a,
.ri .iq a,
.ag .ae a:hover,
.ag .do a:hover,
.ag.sq .df,
.cu a,
.fu a,
.fe .hx,
.fe .tb .ff:hover,
.vb .fd:hover,
.dm blockquote:before,
.yi .ys,
.hb .yj:before,
.hb .yj span:before,
.hb .yq,
.hb .yz .be a:hover,
.hb .yz .be li.nd,
.bt .yz .be a:hover,
.bt .yz .be li.nd,
.hb .yk .bn .br,
.hb .yk .bn .bi,
.hb div.bs div.bo p.bu,
.hb div.bs div.bo span.bu,
.hb .ox div.bs div.bo p.bu,
.hb .ox div.bs div.bo span.bu {
  color: #e84d15;
}

.hy .hk:hover,
.nz .pk .p_ button,
.dd .df,
.dd a:hover,
.dd > span,
.hb nav.yx ul li span.df,
.hb nav.yx ul li a:hover {
  border-color: #e84d15;
}

.hb .yk .ba .bf {
  background-color: #e84d15;
}

.al:after,
.cl .nl {
  border-bottom: 1px solid #e84d15;
}

.fg a:before,
.fk a:before,
.fv a:before {
  border: 1px solid #e84d15;
}

/* Change text / contrast font */
body,
input,
textarea,
select,
.ld .lm,
.fo,
.sm .cq,
.cu,
.fu,
.fg a,
.fk a,
.fv a,
.hb .bl,
.hb .bc,
.hb .bh,
.hb form .bp,
.hb .bd,
.hb #bv .cz ol.bm .lm,
.bg .by,
.bg .bb .bw table {
  font-family: "Nunito Sans", system-ui, sans-serif;
  letter-spacing: 0;
  -webkit-font-smoothing: antialiased;
}

/* Change main body and heading font */
h1,
h2,
h3,
h4,
h5,
h6,
input[type="submit"],
button,
input[type="button"],
.t,
blockquote cite,
blockquote .xp,
.ty,
.t_ .tq,
.nu .nl,
.ra,
.se,
.sz .oe,
.oc .od,
.om,
.oq .un,
.uz .ot,
.a_.nr .fh,
.fl .tb,
.a_ .fp .fd,
.a_.ll .lc .lh,
.a_.ll .fc,
.ld,
.ss a,
.o_,
.al,
.ia,
.ca,
.cl,
.ch,
.cb .ia,
.sk .sq,
.sm,
.ho .hu,
.hf .hu,
.hs .hc,
.hs .c_,
.hs .tb,
.hd .hs .oy a,
.hy .hk,
.rr,
.pg .tk,
.pj,
.pj .tk,
.ro .sg,
.ro .tk,
.re .sg,
.re .tk,
.rs .tk,
.dt,
.dt .tk,
.ag,
.ag .du,
.dd,
.cu .hc,
.fe .hx,
.fn .ia,
.fn .is.vy .nn:before,
.ap .ot,
.vw .vx,
.mu .ma .mf,
.mu .mc,
.fg,
.fk,
.fv,
.xk .x_,
.gd,
.hb .tp .t,
.hb .bx .bk,
.hb nav.yx,
.bg .cu,
.hb .b_,
.bt .b_,
.hb ul.hw,
.hb.ax,
.hb div.bs,
.hb .ox div.bs,
.bg .bb .bw .t,
.hb .bj .bq thead th,
.hb .bj .bq .yq,
.bz #we #wt {
  font-family: "Nunito Sans", system-ui, sans-serif;
}

.rz .ii .ia,
.fo,
.hs .oy a,
.hs .hh,
.cu,
.ap .ot,
.fu,
.mm a,
.fg a,
.fk a,
.fv a {
  color: #292929;
}

/* Remove uppercase text on several elements */
.ra.iy .rh > li li a,
.ra.iy .rz .it a,
.ra.nx,
.om .oy > a,
.oq .ui,
.al,
.ia,
.ch .nl,
.pg .tk,
.pj .tk,
.ro .tk,
.re .tk,
.rs .tk,
.dt .tk,
.ag.sq,
.cu h1,
.fu h1,
.cu h2,
.fu h2,
.cu h3,
.fu h3,
.cu h4,
.fu h4,
.cu h5,
.fu h5,
.cu h6,
.fu h6,
.fm tfoot a,
.hb ul.hw li.bs,
.hb ul.hw li.bs .wn,
.hb ul.hw .wr,
.hb ul.hw .wi,
.hb .yk .y_,
.hb ul.ws li a,
.hb ul.wo li a,
.hb.wu .wa > strong,
.hb div.bs .wf,
.hb .ox div.bs .wf,
.hb div.bs .wl,
.hb .ox div.bs .wl,
.hb #bv .cz ol.bm li .ma strong,
.hb #bv .wc,
.bg table.wh .ot,
.bg table.wh .wp > a,
.bg table.wh .wn a,
.hb .bj .bq thead th {
  text-transform: none;
}

/**
 * General components and global changes
 */
*,
:before,
:after {
  -webkit-font-smoothing: antialiased;
}

.hd .hc a, .hf .hu, .ho .hu {
  padding: 0;
  padding-bottom: 4px;
  border: 0;
  background: transparent;
  text-transform: none;
  font-family: "HK Grotesk", system-ui, sans-serif;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0;
  color: #000;
  border-bottom: 1px solid var(--main-color);
}

.hd .hc a:hover, .hf .hu:hover, .ho .hu:hover {
  background: inherit;
  border-color: #000;
  color: inherit;
  opacity: 0.8;
}

::-moz-selection {
  background: rgba(232, 77, 21, 0.2);
}

::selection {
  background: rgba(232, 77, 21, 0.2);
}

::-moz-selection {
  background: rgba(232, 77, 21, 0.2);
}

h1 {
  font-size: 29px;
}

h2 {
  font-size: 26px;
}

h3 {
  font-size: 22px;
}

input[type="submit"],
button,
input[type="button"],
.t {
  font-family: "HK Grotesk", system-ui, sans-serif;
  font-size: 12px;
  letter-spacing: 0.05em;
}

input,
textarea,
select {
  color: #9c9c9c;
  font-size: 14px;
}

.n,
.r.i {
  color: #000;
}

.dm {
  color: #000;
}

blockquote {
  font-family: "IBM Plex Serif", Georgia, serif;
  font-size: 21px;
  font-weight: 500;
  font-style: normal;
}

.o_ .nl {
  font-size: 13px;
  font-weight: 700;
  letter-spacing: 0.05em;
  color: #161616;
}

.sm {
  font-size: 12px;
  font-family: "HK Grotesk", system-ui, sans-serif;
  font-weight: 500;
}

.sm .iq > a {
  font-weight: 600;
  letter-spacing: 0.05em;
}

.sm time {
  color: #aaa;
}

.sm time,
.sm .cz {
  font-weight: inherit;
  letter-spacing: 0.05em;
}

.hv,
.xe {
  margin-left: auto;
  margin-right: auto;
}

.he {
  margin-bottom: 34px;
}

.he .fs,
.he .cz {
  color: #505050;
}

.he .al {
  margin: 17px auto;
}

.he .cw {
  padding: 0 2px;
}

.ia,
.al {
  font-family: "HK Grotesk", system-ui, sans-serif;
  font-weight: 700;
  color: #000;
  line-height: 1.3;
}

.ia a,
.al a {
  color: #000;
}

.al {
  margin-top: 16px;
  margin-bottom: 16px;
  line-height: 1.285;
  font-size: 27px;
}

.al:after {
  display: none;
  width: 30px;
}

.fo,
.cu,
.fu {
  font-size: 15px;
  line-height: 1.7;
}

.ag .ae a,
.ag .do a {
  letter-spacing: 0.15em;
}

.ag .du {
  font-family: "HK Grotesk", system-ui, sans-serif;
  min-width: initial;
  padding: 0 40px;
  border-color: var(--main-color);
  background: var(--main-color);
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  line-height: 45px;
  letter-spacing: 0.075em;
}

.ag .du:hover {
  opacity: 0.9;
}

.ag .du .nt:not(.wg) {
  display: none;
}

/**
 * Header and Nav
 */
.ra {
  font-size: 13px;
  font-weight: 600;
  font-family: "HK Grotesk", system-ui, sans-serif;
  letter-spacing: 0.05em;
}

.ra .rh > li li a {
  color: #414141;
  font-size: 12px;
}

.ra .rh > li li a,
.ra .rz .it a {
  font-weight: 500;
  letter-spacing: 0.09em;
}

.ra .rz .ii .ia {
  margin-bottom: 9px;
  font-size: 15px;
  font-weight: 600;
  letter-spacing: 0;
}

.nu.nw .rh > li > a {
  font-size: 14px;
  font-weight: 700;
}

.nu.nw .rh > li li a,
.nu.nw .rz .it a {
  font-size: 15px;
  font-weight: 600;
}

.nu.rc .rh > li > a {
  font-size: 14px;
  font-weight: 600;
}

.nu.rc .rh li li a {
  font-size: 13px;
}

.nu.rg .rh > li > a {
  font-weight: 600;
}

.nu .nr .ty {
  background: #e84d15;
  border-color: #e84d15;
  color: #fafafa;
}

.nu .nr .tz a,
.nu .nr .tq,
.nu .nr .tj,
.nu .nr .tb a {
  color: inherit;
}

.t_ .tq {
  width: 65px;
}

.tm.nr .tx a {
  color: #f1f1f1;
}

.tm.nr .tx .tk {
  font-weight: 700;
}

.nu.nw .ty {
  line-height: 38px;
  height: 38px;
}

.nu.nw .tx {
  text-transform: none;
  letter-spacing: 0;
}

.nu.nw .tx .tk {
  padding: 0 12px;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.075em;
  line-height: inherit;
}

.nu.nw .tx a {
  font-family: "HK Grotesk", system-ui, sans-serif;
  font-size: 13px;
  font-weight: 500;
}

.nu.nw .nr .tx .tk {
  background: #fff;
  color: #e84d15;
}

.nu.nw .nr .tx a {
  color: #fff;
}

.gd li a {
  letter-spacing: 0.12em;
}

.rb.rw {
  margin-bottom: 32px;
  padding: 32px 0;
}

/**
 * Posts adjustments
 */
.lb .l_ {
  margin-bottom: 50px;
}

.i_ .he .ia,
.i_ .he .al,
.lw .ia,
.lw .al {
  max-width: 88%;
}

.lw .ix img {
  margin-bottom: 30px;
}

.lw .oy {
  letter-spacing: 0;
}

.hd .hc a:hover {
  background: #000;
  color: #fff;
}

.hd .hc a:before {
  display: none;
}

.hd .hc a span {
  padding: 0;
  background: transparent;
}

.hd .hs {
  letter-spacing: 0;
  padding-bottom: 2px;
  border-bottom: 1px solid #ebebeb;
}

.hd .hs .oy a {
  letter-spacing: 0.15em;
}

.hd .hs .sq {
  font-size: 13px;
  font-weight: 400;
}

.hd .hs .tb a {
  font-size: 14px;
}

.hs {
  margin-top: 45px;
}

.hs .hc {
  font-size: 11px;
  font-weight: 900;
  letter-spacing: 0.1em;
}

.lb.ce + .ag .du {
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.ct .ha {
  line-height: 1.7;
}

.hf .ia {
  max-width: 100%;
  font-size: 22px;
  line-height: 1.3;
}

.hf .hs {
  margin-top: 22px;
}

.l_ .al {
  font-size: 22px;
}

.l_ .he {
  margin-top: 26px;
}

.ho .hg,
.hj .l_ .hg {
  position: relative;
}

.ho .he,
.hj .l_ .he {
  margin-bottom: 20px;
}

.ho .he .al:after,
.hj .l_ .he .al:after {
  display: block;
}

.ho .he .cq,
.hj .l_ .he .cq {
  display: none;
}

.ho .he .iq,
.hj .l_ .he .iq {
  position: absolute;
  width: 100%;
  top: 0;
  -webkit-transform: translateY(calc(-100% - 26px));
          transform: translateY(calc(-100% - 26px));
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  pointer-events: none;
}

.ho .he .sg,
.hj .l_ .he .sg {
  padding: 0 9px;
  padding-top: 2px;
  background: #fff;
  line-height: 25px;
  font-size: 12px;
  pointer-events: auto;
}

.ho .he .sg:hover,
.hj .l_ .he .sg:hover {
  opacity: 1;
}

.cb .ia {
  font-family: "HK Grotesk", system-ui, sans-serif;
  font-size: 15px;
}

.hj .ox,
.hj .cu {
  text-align: center;
}

.hj .cn {
  margin-bottom: -38px;
}

.hj .cb {
  margin-bottom: 38px;
}

.hj .cb img {
  margin-bottom: 22px;
}

.hj .cb .ia {
  font-size: 17px;
  font-weight: 700;
  line-height: 1.35;
}

.hj .cb .sm {
  display: none;
}

/**
 * Single Post 
 */
.so .su .sa {
  font-weight: 500;
  letter-spacing: 0.14em;
}

.sp .ix .sm {
  font-size: 13px;
}

.sc .si .ia {
  font-size: calc(0.82353vw + 24.11765px);
  -webkit-text-stroke: 0.3px #444;
}

.sc .si .sh {
  margin-bottom: 19px;
}

.sc .sm time {
  font-weight: 600;
}

.sc .ss a {
  font-family: "HK Grotesk", system-ui, sans-serif;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 0.05em;
  line-height: 23px;
}

.i_ .ia,
.i_ .al {
  font-size: 31px;
}

.sz .oe {
  font-weight: 600;
}

.cu h1, .cu h2, .cu h3, .cu h4, .cu h5, .cu h6 {
  font-family: "HK Grotesk", system-ui, sans-serif;
  font-weight: 700;
}

.cu .dj figcaption,
.cu .vs,
.cu figcaption {
  font-size: 14px;
  font-style: normal;
  color: #888;
}

.ww {
  font-size: 17px;
  color: #3b3b3b;
  line-height: 1.71;
}

.ww p {
  margin-bottom: 1.65em;
}

.se .st a {
  letter-spacing: 0.075em;
  font-weight: 700;
}

.sw a {
  color: #161616;
}

.om .oy > a {
  font-family: "HK Grotesk", system-ui, sans-serif;
  font-size: 22px;
}

.uj .ia {
  margin-bottom: 12px;
  font-size: 17px;
  font-weight: 600;
  letter-spacing: 0;
}

.uj .sm {
  font-size: 11px;
}

.uj.uq .ia {
  margin-bottom: 12px;
  font-size: 19px;
  font-weight: 700;
}

.uz .ia {
  margin-bottom: 8px;
  font-family: inherit;
  line-height: 1.3;
  font-weight: 600;
}

.oq .ui {
  font-family: "HK Grotesk", system-ui, sans-serif;
  font-size: 17px;
}

.oq .ur {
  font-family: "HK Grotesk", system-ui, sans-serif;
}

.oq .uu {
  color: #a0a0a0;
  font-size: 11px;
}

.oq .ul {
  margin-top: 9px;
}

.oc .od {
  font-weight: 600;
  letter-spacing: 0.075em;
}

/**
 * Home & Archives changes
 */
.hq {
  margin-top: -15px;
  padding-left: 27px;
  padding-right: 32px;
}

.hq .fo {
  font-size: 14px;
}

.hq .hz {
  height: 3.15385em;
  width: 270px;
}

.hq .t {
  width: auto;
  padding: 15px 34px;
  background: #000;
}

.ca {
  margin-top: 0;
  margin-bottom: 55px;
}

.ca .nl {
  background: transparent;
  font-size: 24px;
  font-weight: 800;
  letter-spacing: 0;
}

.ca .nl:before,
.ca .nl:after {
  display: none;
}

.ca:before {
  display: none;
}

.ca:after {
  top: 100%;
  left: 50%;
  margin-top: 12px;
  margin-left: -18px;
  width: 30px;
  height: 1px;
  background: #000;
}

.pe .ps {
  margin-bottom: 18px;
}

.pe .ia {
  margin-top: 16px;
  margin-bottom: 16px;
  font-size: 20px;
}

.pe .sm {
  font-size: 10px;
}

.ld .nl {
  font-weight: 700;
}

.pg .tk {
  font-family: "HK Grotesk", system-ui, sans-serif;
  font-weight: 700;
  color: #000;
  line-height: 1.2;
}

.pg .fr {
  font-size: 14px;
  letter-spacing: 0;
}

.ku .tk {
  font-size: 24px;
  margin-bottom: 8px;
}

.ph .ia,
.ph .tk {
  font-family: "HK Grotesk", system-ui, sans-serif;
  font-weight: 700;
  color: #000;
  line-height: 1.3;
}

.ph .sg {
  font-family: "HK Grotesk", system-ui, sans-serif;
  font-weight: 700;
  letter-spacing: 0.05em;
}

.rt .ia {
  margin-top: 18px;
  margin-bottom: 18px;
}

.re .tk {
  font-size: 21px;
}

/**
 * Sidebar adjustments
 */
.aw .ak {
  border-color: #e84d15;
  font-weight: 700;
}

.aw .mt,
.aw .me {
  padding: 30px;
  background: #f7f7f7;
}

.ap .ot {
  padding: 8px 18px;
  font-weight: 500;
  font-size: 11px;
  color: #161616;
  letter-spacing: 0.15em;
}

.ah > .ap {
  padding-bottom: 35px;
  border-bottom: 1px solid #efefef;
  margin-bottom: 70px;
}

.mt .vp,
.me .vp {
  letter-spacing: 0;
  font-size: 14px;
}

.mt p:last-of-type,
.me p:last-of-type {
  margin-top: -17px;
}

.fn .ia {
  font-family: "HK Grotesk", system-ui, sans-serif;
  font-size: 15px;
  font-weight: 600;
  line-height: 1.36;
  letter-spacing: 0;
}

.fn .is.cr .ia {
  font-size: 17px;
}

/* Footer Changes */
.aq .ak {
  margin-bottom: 42px;
  color: #222;
  font-size: 16px;
  font-weight: 700;
}

.aq .fn .sm {
  color: #707070;
}

.aq .fe .ft {
  font-size: 14px;
}

.fl .fc {
  font-size: 14px;
}

.fl .tb {
  letter-spacing: 0.12em;
}

.a_.lu .fc a {
  color: #e84d15;
}

.a_.nr {
  background: #020202;
}

.a_.nr .ak {
  font-weight: 800;
}

.a_.nr .fc {
  font-weight: 500;
}

.a_.nr .ai {
  color: inherit;
}

.a_.ll .lc .lh {
  font-size: 13px;
  font-weight: 600;
  letter-spacing: 0.075em;
}

@media (min-width: 1200px) {
  .n,
  .r.i {
    font-size: 27px;
  }
  .ra.nx .rh > li > a {
    font-size: 17px;
    font-weight: 700;
  }
  .so .su .ia {
    font-size: 36px;
  }
  .sc .si .ia {
    max-width: 80%;
    font-size: 37px;
  }
  .rt .ia {
    font-size: 29px;
  }
}

@media (min-width: 940px) {
  .ho .al,
  .ho .ha,
  .hj .l_ .al,
  .hj .l_ .ha {
    max-width: 70%;
    margin-left: auto;
    margin-right: auto;
  }
  .ho .ha,
  .hj .l_ .ha {
    max-width: 85%;
  }
  .lx .ia {
    margin-top: 18px;
    margin-bottom: 18px;
    font-size: 30px;
  }
  .hj .cb .ia {
    max-width: 85%;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: 767px) {
  .nu.nw .tx {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
  }
  .hq .hz {
    margin-right: 15px;
  }
  .rt .su {
    max-width: 645px;
  }
  .re .tk {
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 767px) {
  .sc .si .sh {
    font-size: 16px;
    line-height: 1.5;
  }
}

@media (max-width: 540px) {
  .al {
    font-size: 24px;
  }
}
