/**
 * Skin: Fashion
 */
:root {
  --main-color: #a18858;
  --main-color-rgb: 161, 136, 88;
}

/**
 * Change Main Color
 */
input[type="submit"],
button,
input[type="button"],
.t,
.tz .ne .nn,
.nu.nw .tx .tk,
.so .su .iq a,
.oq .us .uo,
.ss a:hover,
.ss.ci a,
.lk:hover .ss a,
.hy .hk:hover,
.nz .pk .p_ button,
.re .sg,
.rs .sg,
.dd .df,
.dd a:hover,
.dd > span,
.fn .is.vy .nn:before,
.xk .x_,
.hb span.yb,
.hb a.t,
.hb button.t,
.hb input.t,
.hb #yw input.uw,
.hb a.t.rl,
.hb a.t.rl:hover,
.hb button.t.rl,
.hb button.t.rl:hover,
.hb input.t.rl,
.hb input.t.rl:hover,
.hb #yw input.uw.rl,
.hb #yw input.uw.rl:hover,
.hb a.t:hover,
.hb button.t:hover,
.hb input.t:hover,
.hb #yw input.uw:hover,
.hb nav.yx ul li span.df,
.hb nav.yx ul li a:hover,
.hb .yk .y_ .t {
  background: #a18858;
}

blockquote:before,
.c,
.tm .tb a:hover,
.ra .rh > li:hover > a,
.ra .rh > .r_ > a,
.ra .rh > .rj > a,
.ra .rh > .rk > a,
.ra li:hover > a:after,
.ra .r_ > a:after,
.ra .rj > a:after,
.ra .rk > a:after,
.ra .rh li li:hover > a,
.ra .rh li li.r_ > a,
.se .st a:hover,
.sw a:hover,
.sw .sk,
.om .oy > span,
.ok .o_ .sq,
.oq .uf,
.ud input[type=checkbox],
.a_.nr .fd:hover,
.fl .tb .nt,
.ld .sh,
.c_ a:hover,
.tb a:hover,
.sm .iq > a,
.ht .uo > a,
.hd .hs .oy a,
.ri .iq a,
.ag .ae a:hover,
.ag .do a:hover,
.ag.sq .df,
.cu a,
.fu a,
.fe .hx,
.fe .tb .ff:hover,
.vb .fd:hover,
.dm blockquote:before,
.yi .ys,
.hb .yj:before,
.hb .yj span:before,
.hb .yq,
.hb .yz .be a:hover,
.hb .yz .be li.nd,
.bt .yz .be a:hover,
.bt .yz .be li.nd,
.hb .yk .bn .br,
.hb .yk .bn .bi,
.hb div.bs div.bo p.bu,
.hb div.bs div.bo span.bu,
.hb .ox div.bs div.bo p.bu,
.hb .ox div.bs div.bo span.bu {
  color: #a18858;
}

.hy .hk:hover,
.nz .pk .p_ button,
.dd .df,
.dd a:hover,
.dd > span,
.hb nav.yx ul li span.df,
.hb nav.yx ul li a:hover {
  border-color: #a18858;
}

.hb .yk .ba .bf {
  background-color: #a18858;
}

.al:after,
.cl .nl {
  border-bottom: 1px solid #a18858;
}

.fg a:before,
.fk a:before,
.fv a:before {
  border: 1px solid #a18858;
}

/* Change text / contrast font */
body,
input,
textarea,
select,
.ld .lm,
.fo,
.sm .cq,
.cu,
.fu,
.fg a,
.fk a,
.fv a,
.hb .bl,
.hb .bc,
.hb .bh,
.hb form .bp,
.hb .bd,
.hb #bv .cz ol.bm .lm,
.bg .by,
.bg .bb .bw table {
  font-family: "IBM Plex", Arial, sans-serif;
  letter-spacing: 0;
  -webkit-font-smoothing: initial;
}

/* Change main body and heading font */
h1,
h2,
h3,
h4,
h5,
h6,
input[type="submit"],
button,
input[type="button"],
.t,
blockquote cite,
blockquote .xp,
.ty,
.t_ .tq,
.nu .nl,
.ra,
.se,
.sz .oe,
.oc .od,
.om,
.oq .un,
.uz .ot,
.a_.nr .fh,
.fl .tb,
.a_ .fp .fd,
.a_.ll .lc .lh,
.a_.ll .fc,
.ld,
.ss a,
.o_,
.al,
.ia,
.ca,
.cl,
.ch,
.cb .ia,
.sk .sq,
.sm,
.ho .hu,
.hf .hu,
.hs .hc,
.hs .c_,
.hs .tb,
.hd .hs .oy a,
.hy .hk,
.rr,
.pg .tk,
.pj,
.pj .tk,
.ro .sg,
.ro .tk,
.re .sg,
.re .tk,
.rs .tk,
.dt,
.dt .tk,
.ag,
.ag .du,
.dd,
.cu .hc,
.fe .hx,
.fn .ia,
.fn .is.vy .nn:before,
.ap .ot,
.vw .vx,
.mu .ma .mf,
.mu .mc,
.fg,
.fk,
.fv,
.xk .x_,
.gd,
.hb .tp .t,
.hb .bx .bk,
.hb nav.yx,
.bg .cu,
.hb .b_,
.bt .b_,
.hb ul.hw,
.hb.ax,
.hb div.bs,
.hb .ox div.bs,
.bg .bb .bw .t,
.hb .bj .bq thead th,
.hb .bj .bq .yq,
.bz #we #wt {
  font-family: "IBM Plex", Arial, sans-serif;
}

.rz .ii .ia,
.fo,
.hs .oy a,
.hs .hh,
.cu,
.ap .ot,
.fu,
.mm a,
.fg a,
.fk a,
.fv a {
  color: #505050;
}

/* Remove uppercase text on several elements */
.ra.iy .rh > li li a,
.ra.iy .rz .it a,
.ra.nx,
.om .oy > a,
.oq .ui,
.al,
.ia,
.ch .nl,
.pg .tk,
.pj .tk,
.ro .tk,
.re .tk,
.rs .tk,
.dt .tk,
.ag.sq,
.cu h1,
.fu h1,
.cu h2,
.fu h2,
.cu h3,
.fu h3,
.cu h4,
.fu h4,
.cu h5,
.fu h5,
.cu h6,
.fu h6,
.fm tfoot a,
.hb ul.hw li.bs,
.hb ul.hw li.bs .wn,
.hb ul.hw .wr,
.hb ul.hw .wi,
.hb .yk .y_,
.hb ul.ws li a,
.hb ul.wo li a,
.hb.wu .wa > strong,
.hb div.bs .wf,
.hb .ox div.bs .wf,
.hb div.bs .wl,
.hb .ox div.bs .wl,
.hb #bv .cz ol.bm li .ma strong,
.hb #bv .wc,
.bg table.wh .ot,
.bg table.wh .wp > a,
.bg table.wh .wn a,
.hb .bj .bq thead th {
  text-transform: none;
}

/**
 * Header and Nav
 */
.tm.nr .ty {
  background: #000;
  color: #999;
}

.tm.nr .tz {
  margin-left: 9px;
}

.tm.nr .tz a,
.tm.nr .tq,
.tm.nr .tj {
  color: #999;
}

.tm.nr .tj {
  font-size: 15px;
}

.tm.nr .tq {
  margin-left: 5px;
  font-size: 12px;
  font-weight: 500;
}

.tm.nr .tb a {
  color: #999;
}

.nr .ne .nn {
  padding-top: 2px;
  background: #fff;
  color: #000;
  font-weight: 500;
}

.ra {
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0.15em;
}

.ra .rh > li li a,
.ra .rz .it a {
  font-weight: 500;
  letter-spacing: 0.13em;
}

.ra .rz .ii .ia {
  font-family: "IBM Plex", Arial, sans-serif;
  font-size: 15px;
  font-weight: 600;
  letter-spacing: 0;
}

.ra.nr {
  font-weight: 400;
}

.ra.nr.rn {
  background: #000;
}

.ra.nr .rh > li > a,
.ra.nr .rh > .r_ > a,
.ra.nr .rh > .rj > a,
.ra.nr .rh > .rk > a {
  color: #fff;
}

.ra.nr .rh li:hover > a,
.ra.nr .rh li li:hover > a,
.ra.nr .rh li:hover > a:after {
  color: #a18858;
}

.ra.nr .rh > li li a,
.ra.nr .rz .it a {
  color: #eee;
  font-weight: 400;
}

.ra.nr .rz .ii .ia {
  color: #eee;
  font-weight: 500;
}

.gd li a {
  letter-spacing: 0.12em;
}

/**
 * General components and global changes
 */
.hd .hc a, .hf .hu, .ho .hu {
  padding: 12px 19px;
  border: 1px solid #ddd;
  color: #555;
  background: transparent;
  font-size: 11px;
  font-weight: 600;
  letter-spacing: 0.1em;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}

::-moz-selection {
  background: rgba(161, 136, 88, 0.2);
}

::selection {
  background: rgba(161, 136, 88, 0.2);
}

::-moz-selection {
  background: rgba(161, 136, 88, 0.2);
}

input[type="submit"],
button,
input[type="button"],
.t {
  letter-spacing: 0.15em;
  font-weight: 400;
}

input,
textarea,
select {
  color: #9c9c9c;
}

h1 {
  font-size: 29px;
}

h2 {
  font-size: 26px;
}

h3 {
  font-size: 22px;
}

blockquote {
  font-family: "Cormorant", Didot, serif;
  font-size: 21px;
  color: #989898;
  -webkit-font-smoothing: antialiased;
}

.o_ .nl {
  font-weight: 600;
  font-size: 12px;
  letter-spacing: 0.075em;
  color: #000;
}

.sm {
  font-size: 11px;
}

.sm .cq {
  font-family: "Cormorant", Didot, serif;
  color: #9c9c9c;
}

.sm .iq > a {
  font-weight: 500;
  letter-spacing: 0.11em;
}

.sm time {
  color: #aaa;
}

.sm time,
.sm .cz {
  font-weight: 500;
  letter-spacing: 0.14em;
}

.he {
  margin-bottom: 34px;
}

.he .iq > a {
  font-size: 12px;
}

.he .fs,
.he .cz {
  color: #505050;
}

.he .al {
  margin: 17px 0;
}

.ia,
.al {
  font-family: "Cormorant", Didot, serif;
  font-weight: 700;
  color: #000;
  -webkit-font-smoothing: antialiased;
  line-height: 1.35;
}

.ia a,
.al a {
  color: #000;
}

.al {
  margin-top: 16px;
  margin-bottom: 16px;
  font-size: 38px;
  line-height: 1.2;
}

.al:after {
  display: none;
}

.fo,
.cu,
.fu {
  font-size: 14px;
  line-height: 1.7;
  -webkit-font-smoothing: antialiased;
}

.ag .ae a,
.ag .do a {
  letter-spacing: 0.15em;
}

.ag .du {
  min-width: initial;
  padding: 0 60px;
  border-color: #000;
  background: #000;
  color: #fff;
  font-size: 12px;
  font-weight: 500;
  line-height: 40px;
  letter-spacing: 0.15em;
  -webkit-font-smoothing: initial;
}

.ag .du:hover {
  opacity: 0.9;
}

.ag .du .nt {
  margin-left: 12px;
}

/**
 * Posts adjustments
 */
.lw .ix img {
  margin-bottom: 30px;
}

.lw .oy {
  letter-spacing: 0;
}

.hd .hc a:hover {
  background: #000;
  color: #fff;
}

.hd .hc a:before {
  display: none;
}

.hd .hc a span {
  padding: 0;
  background: transparent;
}

.hd .hs {
  letter-spacing: 0;
  padding-bottom: 2px;
  border-bottom: 1px solid #ebebeb;
}

.hd .hs .oy a {
  letter-spacing: 0.15em;
}

.hd .hs .sq {
  font-size: 13px;
  font-weight: 400;
}

.hd .hs .tb a {
  font-size: 14px;
}

.hs {
  margin-top: 45px;
}

.hs .hc {
  font-size: 11px;
  font-weight: 900;
  letter-spacing: 0.1em;
}

.ct .ha {
  font-size: 14px;
}

.l_ .al {
  font-size: 32px;
}

.l_ .he {
  margin-bottom: 20px;
}

/* Single Post */
.so .su .sa {
  font-weight: 500;
  letter-spacing: 0.14em;
}

.cu {
  font-size: 15px;
  font-weight: 400;
}

.cu h1, .cu h2, .cu h3, .cu h4, .cu h5, .cu h6 {
  font-family: "Cormorant", Didot, serif;
  font-weight: 700;
  color: #000;
  -webkit-font-smoothing: antialiased;
}

.se .st a {
  letter-spacing: 0.15em;
  font-weight: 600;
}

.sw a {
  color: #161616;
}

.om .oy > a {
  font-weight: 600;
  font-size: 22px;
}

.uj .ia {
  margin-bottom: 12px;
  font-family: "IBM Plex", Arial, sans-serif;
  font-size: 15px;
  font-weight: 600;
  letter-spacing: 0;
}

.uj .sm {
  font-size: 10px;
}

.uz .ia {
  margin-bottom: 8px;
  font-family: inherit;
  line-height: 1.3;
  font-weight: 600;
}

/**
 * Home & Archives changes
 */
.ca .nl {
  font-size: 15px;
}

.hq {
  margin-top: -15px;
  padding-left: 27px;
  padding-right: 32px;
}

.hq .fo {
  font-size: 14px;
}

.hq .hz {
  height: 3.15385em;
  width: 270px;
}

.hq .t {
  width: auto;
  padding: 15px 34px;
  background: #000;
}

.pe .nl {
  background: transparent;
}

.pe .nl:before,
.pe .nl:after {
  display: none;
}

.pe .ca {
  margin-top: -5px;
  margin-bottom: 62px;
}

.pe .ca:before {
  display: none;
}

.pe .ca:after {
  top: 100%;
  left: 50%;
  margin-top: 12px;
  margin-left: -18px;
  width: 36px;
  height: 2px;
  background: #000;
}

.pe .ps {
  margin-bottom: 18px;
}

.pe .ia {
  margin-top: 16px;
  margin-bottom: 16px;
  font-size: 20px;
}

.pe .sm {
  font-size: 10px;
}

.pg .tk {
  font-family: "Cormorant", Didot, serif;
  font-weight: 700;
  color: #000;
  -webkit-font-smoothing: antialiased;
  line-height: 1.2;
}

.pg .fr {
  font-size: 14px;
  letter-spacing: 0;
}

.ph .ia,
.ph .tk {
  font-family: "Cormorant", Didot, serif;
  font-weight: 700;
  color: #000;
  -webkit-font-smoothing: antialiased;
  line-height: 1.2;
}

.rt .ia {
  margin-top: 18px;
  margin-bottom: 18px;
}

/**
 * Sidebar adjustments
 */
.aw .ak {
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0.15em;
  color: #fff;
  background: #000;
}

.aw .mt,
.aw .me {
  padding: 30px;
  background: #f7f7f7;
}

.aw .mt .ak,
.aw .me .ak {
  background: transparent;
  color: #161616;
  line-height: 1;
  font-weight: 500;
}

.ap .ot {
  padding: 8px 18px;
  font-weight: 500;
  font-size: 11px;
  color: #161616;
  letter-spacing: 0.15em;
}

.ah > .ap {
  padding-bottom: 35px;
  border-bottom: 1px solid #efefef;
  margin-bottom: 70px;
}

.mt .vp,
.me .vp {
  letter-spacing: 0;
  font-size: 14px;
}

.mt p:last-of-type,
.me p:last-of-type {
  margin-top: -17px;
}

.fn .ia {
  font-size: 15px;
  font-weight: 600;
  line-height: 1.52;
  letter-spacing: 0;
}

.fn .is.cr .ia {
  font-size: 17px;
  -webkit-font-smoothing: antialiased;
}

/* Footer Changes */
.aq .ak {
  margin-bottom: 42px;
  color: #222;
  font-size: 15px;
  font-weight: 600;
  letter-spacing: -0.03em;
}

.aq .fn .sm {
  color: #707070;
}

.aq .fe .ft {
  font-size: 14px;
}

.fl .fc {
  font-size: 13px;
}

.fl .tb {
  letter-spacing: 0.12em;
}

.a_.lu .fc a {
  color: #a18858;
}

.a_.nr .fc {
  font-weight: 500;
}

.a_.nr .ai {
  color: inherit;
}

.a_.nr .ia,
.a_.nr .fi,
.a_.nr .is .ia {
  font-weight: 400;
  -webkit-font-smoothing: initial;
}

.a_.ll .lc .lh {
  font-size: 13px;
  font-weight: 500;
  letter-spacing: 0.15;
}

@media (min-width: 1200px) {
  .n,
  .r.i {
    font-size: 32px;
  }
  .ct .ia {
    font-size: 27px;
    max-width: 90%;
  }
  .l_ .hv .al,
  .l_ .he .al {
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
  .so .su .ia {
    font-size: 36px;
  }
  .rt .ia {
    font-size: 36px;
  }
}

@media (min-width: 940px) {
  .lx .ia {
    margin-top: 18px;
    margin-bottom: 18px;
    font-size: 33px;
  }
}

@media (min-width: 767px) {
  .hq .hz {
    margin-right: 15px;
  }
}

@media (max-width: 540px) {
  .al {
    font-size: 24px;
  }
}
