/**
 * Skin: Bold Blog 
 */
:root {
  --main-color: #08528b;
  --main-color-rgb: 8, 82, 139;
}

/**
 * Change Main Color
 */
input[type="submit"],
button,
input[type="button"],
.t,
.tz .ne .nn,
.nu.nw .tx .tk,
.so .su .iq a,
.oq .us .uo,
.ss a:hover,
.ss.ci a,
.lk:hover .ss a,
.hy .hk:hover,
.nz .pk .p_ button,
.re .sg,
.rs .sg,
.dd .df,
.dd a:hover,
.dd > span,
.fn .is.vy .nn:before,
.xk .x_,
.hb span.yb,
.hb a.t,
.hb button.t,
.hb input.t,
.hb #yw input.uw,
.hb a.t.rl,
.hb a.t.rl:hover,
.hb button.t.rl,
.hb button.t.rl:hover,
.hb input.t.rl,
.hb input.t.rl:hover,
.hb #yw input.uw.rl,
.hb #yw input.uw.rl:hover,
.hb a.t:hover,
.hb button.t:hover,
.hb input.t:hover,
.hb #yw input.uw:hover,
.hb nav.yx ul li span.df,
.hb nav.yx ul li a:hover,
.hb .yk .y_ .t {
  background: #08528b;
}

blockquote:before,
.c,
.tm .tb a:hover,
.ra .rh > li:hover > a,
.ra .rh > .r_ > a,
.ra .rh > .rj > a,
.ra .rh > .rk > a,
.ra li:hover > a:after,
.ra .r_ > a:after,
.ra .rj > a:after,
.ra .rk > a:after,
.ra .rh li li:hover > a,
.ra .rh li li.r_ > a,
.se .st a:hover,
.sw a:hover,
.sw .sk,
.om .oy > span,
.ok .o_ .sq,
.oq .uf,
.ud input[type=checkbox],
.a_.nr .fd:hover,
.fl .tb .nt,
.ld .sh,
.c_ a:hover,
.tb a:hover,
.sm .iq > a,
.ht .uo > a,
.hd .hs .oy a,
.ri .iq a,
.ag .ae a:hover,
.ag .do a:hover,
.ag.sq .df,
.cu a,
.fu a,
.fe .hx,
.fe .tb .ff:hover,
.vb .fd:hover,
.dm blockquote:before,
.yi .ys,
.hb .yj:before,
.hb .yj span:before,
.hb .yq,
.hb .yz .be a:hover,
.hb .yz .be li.nd,
.bt .yz .be a:hover,
.bt .yz .be li.nd,
.hb .yk .bn .br,
.hb .yk .bn .bi,
.hb div.bs div.bo p.bu,
.hb div.bs div.bo span.bu,
.hb .ox div.bs div.bo p.bu,
.hb .ox div.bs div.bo span.bu {
  color: #08528b;
}

.hy .hk:hover,
.nz .pk .p_ button,
.dd .df,
.dd a:hover,
.dd > span,
.hb nav.yx ul li span.df,
.hb nav.yx ul li a:hover {
  border-color: #08528b;
}

.hb .yk .ba .bf {
  background-color: #08528b;
}

.al:after,
.cl .nl {
  border-bottom: 1px solid #08528b;
}

.fg a:before,
.fk a:before,
.fv a:before {
  border: 1px solid #08528b;
}

/* Change text / contrast font */
body,
input,
textarea,
select,
.ld .lm,
.fo,
.sm .cq,
.cu,
.fu,
.fg a,
.fk a,
.fv a,
.hb .bl,
.hb .bc,
.hb .bh,
.hb form .bp,
.hb .bd,
.hb #bv .cz ol.bm .lm,
.bg .by,
.bg .bb .bw table {
  font-family: "Open Sans", sans-serif;
  letter-spacing: 0;
  -webkit-font-smoothing: initial;
}

/* Change main body and heading font */
h1,
h2,
h3,
h4,
h5,
h6,
blockquote cite,
blockquote .xp,
.ty,
.t_ .tq,
.nu .nl,
.ra,
.se,
.sz .oe,
.oc .od,
.om,
.oq .un,
.uz .ot,
.a_.nr .fh,
.fl .tb,
.a_ .fp .fd,
.a_.ll .lc .lh,
.a_.ll .fc,
.ld,
.ss a,
.o_,
.al,
.ia,
.ca,
.cl,
.ch,
.cb .ia,
.sk .sq,
.ho .hu,
.hf .hu,
.hs .hc,
.hs .c_,
.hs .tb,
.hd .hs .oy a,
.hy .hk,
.rr,
.pg .tk,
.pj,
.pj .tk,
.ro .sg,
.ro .tk,
.re .sg,
.re .tk,
.rs .tk,
.dt,
.dt .tk,
.ag,
.ag .du,
.dd,
.cu .hc,
.fe .hx,
.fn .ia,
.fn .is.vy .nn:before,
.ap .ot,
.vw .vx,
.mu .ma .mf,
.mu .mc,
.fg,
.fk,
.fv,
.xk .x_,
.gd,
.hb .tp .t,
.hb .bx .bk,
.hb nav.yx,
.bg .cu,
.hb .b_,
.bt .b_,
.hb ul.hw,
.hb.ax,
.hb div.bs,
.hb .ox div.bs,
.bg .bb .bw .t,
.hb .bj .bq thead th,
.hb .bj .bq .yq,
.bz #we #wt {
  font-family: "Open Sans", sans-serif;
}

/* Remove uppercase text on several elements */
.ra.iy .rh > li li a,
.ra.iy .rz .it a,
.ra.nx,
.om .oy > a,
.oq .ui,
.al,
.ia,
.ch .nl,
.pg .tk,
.pj .tk,
.ro .tk,
.re .tk,
.rs .tk,
.dt .tk,
.ag.sq,
.cu h1,
.fu h1,
.cu h2,
.fu h2,
.cu h3,
.fu h3,
.cu h4,
.fu h4,
.cu h5,
.fu h5,
.cu h6,
.fu h6,
.fm tfoot a,
.hb ul.hw li.bs,
.hb ul.hw li.bs .wn,
.hb ul.hw .wr,
.hb ul.hw .wi,
.hb .yk .y_,
.hb ul.ws li a,
.hb ul.wo li a,
.hb.wu .wa > strong,
.hb div.bs .wf,
.hb .ox div.bs .wf,
.hb div.bs .wl,
.hb .ox div.bs .wl,
.hb #bv .cz ol.bm li .ma strong,
.hb #bv .wc,
.bg table.wh .ot,
.bg table.wh .wp > a,
.bg table.wh .wn a,
.hb .bj .bq thead th {
  text-transform: none;
}

/**
 * Header and Nav
 */
.nu {
  border-color: #ebebeb;
}

.nu.nw .tx {
  letter-spacing: 0;
  font-size: 12px;
}

.nu.nw .tx a {
  text-transform: none;
}

.tm.nr .ty {
  background: #000;
}

.ra {
  font-family: soleil, Raleway, sans-serif;
  font-size: 13px;
  letter-spacing: 0.06em;
}

.ra .rh > li > a {
  font-weight: 700;
  -webkit-font-smoothing: antialiased;
}

.ra .rh li li a {
  font-size: 12px;
  color: #313131;
  letter-spacing: 0.06em;
  -webkit-font-smoothing: antialiased;
}

.ra .rz .ii .ia {
  margin-bottom: 8px;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: -0.01em;
}

.nu.rc .rh > li > a {
  font-size: 13px;
}

.ra.iy {
  letter-spacing: 0;
  color: #383838;
}

.ra.iy .rh > li > a {
  font-weight: 700;
}

.ra.iy .rh > li li a,
.ra.iy .rz .it a {
  font-size: 14px;
}

.ra.nx .rh > li:hover > a,
.ra.nx .rh li li.r_ > a,
.ra.nx .rh > .r_ > a,
.ra.nx .rh > .rj > a,
.ra.nx .rh > .rk > a,
.ra.nx .rz .it li:hover > a {
  color: #666;
}

.ra.nx .rh > .rx > a:after {
  color: inherit !important;
}

.ra.nx .rq > li:not(.wd) a {
  margin: 0 -1px;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
  -webkit-transition: 0.4s cubic-bezier(0.15, 1.03, 0.58, 1);
  transition: 0.4s cubic-bezier(0.15, 1.03, 0.58, 1);
}

.ra.nx .rh > li:not(.wd) li:last-child a {
  margin-bottom: -1px;
  border-bottom: 1px solid transparent;
}

.ra.nx .rh > li:not(.wd) li:hover > a {
  background: #000;
  color: #fff;
  border-color: #000;
}

.ra.nx .rq > li:not(:first-child) li:first-child a {
  margin-top: -1px;
  border-top: 1px solid transparent;
}

.ra.nx .rh > li li a,
.ra.nx .rz .it a {
  font-size: 15px;
}

.ra.nr.rn {
  background: #000;
}

.ra.nr .rh > li > a,
.ra.nr .rh > .r_ > a,
.ra.nr .rh > .rj > a,
.ra.nr .rh > .rk > a {
  color: #fff;
}

.ra.nr .rh li:hover > a,
.ra.nr .rh li li:hover > a,
.ra.nr .rh li:hover > a:after {
  color: #08528b;
}

.ra.nr .rh > li li a {
  border-color: rgba(187, 187, 187, 0.15);
}

.gd li a {
  letter-spacing: 0.08em;
}

/**
 * General components and global changes
 */
::-moz-selection {
  background: rgba(8, 82, 139, 0.7);
  color: #fff;
}
::selection {
  background: rgba(8, 82, 139, 0.7);
  color: #fff;
}

::-moz-selection {
  background: rgba(8, 82, 139, 0.7);
  color: #fff;
}

input[type="submit"],
button,
input[type="button"],
.t {
  padding: 15px 25px;
  background: #000;
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 0.075em;
  -webkit-transition: all .25s ease-in-out;
  transition: all .25s ease-in-out;
}

input,
textarea,
select {
  font-size: 14px;
}

input {
  height: 3em;
}

.t:hover {
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1), 0 3px 6px rgba(0, 0, 0, 0.07);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1), 0 3px 6px rgba(0, 0, 0, 0.07);
  -webkit-transform: translateY(-1px);
          transform: translateY(-1px);
}

h1, h2, h3, h4, h5, h6 {
  font-family: soleil, Raleway, sans-serif;
  font-weight: 700;
  letter-spacing: -0.015em;
  color: #000;
  -webkit-font-smoothing: antialiased;
}

h1 {
  font-size: 29px;
}

h2 {
  font-size: 26px;
}

h3 {
  font-size: 22px;
}

blockquote {
  font-family: Lora, Georgia, serif;
  font-size: 17px;
  color: #989898;
}

.n:before,
.r.i:before {
  color: #f6f6f6;
}

.ia,
.al {
  font-family: soleil, Raleway, sans-serif;
  font-weight: 700;
  letter-spacing: -0.015em;
  color: #000;
  -webkit-font-smoothing: antialiased;
}

.ia a,
.al a {
  color: #000;
}

.al:after {
  display: none;
}

.fo,
.cu,
.fu {
  font-size: 15px;
  line-height: 1.73;
  -webkit-font-smoothing: antialiased;
}

.sm {
  font-family: "Open Sans", sans-serif;
  font-size: 11px;
}

.sm .uo,
.sm time {
  font-weight: 400;
  letter-spacing: 0.06em;
}

.sm .iq > a {
  letter-spacing: 0.06em;
}

.sm .iq > span {
  text-transform: lowercase;
}

.sm .cz {
  letter-spacing: 0.06em;
  font-weight: 600;
}

.sm .cw:before {
  padding: 0 2px;
}

.ag .ae a,
.ag .do a {
  font-weight: 900;
  letter-spacing: 0.15em;
}

.ag .du {
  min-width: initial;
  padding: 0 60px;
  border-color: #e1e1e1;
  background: #fff;
  font-size: 13px;
  font-weight: 700;
  line-height: 40px;
}

.ag .du:hover {
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1), 0 3px 6px rgba(0, 0, 0, 0.07);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1), 0 3px 6px rgba(0, 0, 0, 0.07);
  -webkit-transform: translateY(-1px);
          transform: translateY(-1px);
}

.tp {
  margin-bottom: 90px;
}

/**
 * Posts adjustments
 */
.cu .hc a,
.ho .hu,
.hf .hu {
  padding: 12px 24px;
  background: #000;
  border: 0;
  border-radius: 18px;
  color: #fff;
  font-size: 12px;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 0.075em;
  text-transform: uppercase;
  -webkit-font-smoothing: antialiased;
}

.cu .hc a:hover,
.ho .hu:hover,
.hf .hu:hover {
  background: #000;
  color: #fff;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1), 0 3px 6px rgba(0, 0, 0, 0.07);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1), 0 3px 6px rgba(0, 0, 0, 0.07);
  -webkit-transform: translateY(-1px);
          transform: translateY(-1px);
}

.lw .he,
.iw:not(.au) .hn .he {
  margin-bottom: 38px;
}

.lw .al,
.iw:not(.au) .hn .al {
  max-width: 90%;
  margin: 20px auto;
  font-weight: 800;
  letter-spacing: -0.03em;
  line-height: 1.142;
}

.hd .hc {
  margin-top: 40px;
}

.hd .hc a:before {
  display: none;
}

.hd .hc a span {
  padding: 0;
  background: transparent;
}

.hd .hs {
  letter-spacing: 0;
  padding-bottom: 2px;
  border-bottom: 1px solid #efefef;
}

.hd .hs .oy a {
  color: #000;
  letter-spacing: 0.06em;
}

.hs {
  margin-top: 45px;
}

.hs .hl {
  border-color: #efefef;
}

.hs .hc {
  font-size: 11px;
  font-weight: 800;
  letter-spacing: 0.1em;
}

.hs .sq {
  font-size: 13px;
}

.hs .c_ li {
  font-size: 14px;
}

.l_ .al {
  font-size: 22px;
}

.l_ .lk {
  margin-bottom: 23px;
}

.l_ .he {
  margin-top: 23px;
  margin-bottom: 18px;
}

.hf .ia {
  margin-top: 15px;
  margin-bottom: 20px;
  max-width: initial;
  font-size: 23px;
}

.lx .ia {
  margin-top: 15px;
  margin-bottom: 13px;
  font-size: 32px;
  line-height: 1.2;
}

/**
 * Single Post
 */
.sp .ix {
  margin-right: 8px;
  margin-left: 8px;
}

.sp .ix .ia {
  font-family: soleil, Raleway, sans-serif;
  font-weight: 800;
  -webkit-font-smoothing: antialiased;
  letter-spacing: -0.04em;
}

.sc .si .ia {
  font-family: soleil, Raleway, sans-serif;
  font-weight: 800;
  -webkit-font-smoothing: antialiased;
  letter-spacing: -0.04em;
}

.so .ix {
  margin-top: -25px;
}

.so .ix .sa {
  font-weight: 600;
  letter-spacing: 0.1em;
}

.so .ix .ia {
  font-family: soleil, Raleway, sans-serif;
  font-weight: 700;
  letter-spacing: -0.03em;
  -webkit-font-smoothing: antialiased;
  margin-bottom: 15px;
}

.so .ix .iq a {
  background: #000;
  letter-spacing: 0.06em;
  line-height: 2;
}

.cu {
  line-height: 1.73;
}

.cu h1, .cu h2, .cu h3, .cu h4, .cu h5, .cu h6 {
  letter-spacing: -0.02em;
  font-weight: 700;
}

.cu h1, .cu h2, .cu h4 {
  margin-bottom: 0.86em;
}

.se .st a {
  font-weight: 700;
  letter-spacing: 0.1em;
}

.sw a {
  color: #161616;
}

.om .oy > a {
  font-family: soleil, Raleway, sans-serif;
  font-weight: 700;
  letter-spacing: -0.015em;
  color: #000;
  -webkit-font-smoothing: antialiased;
  margin-top: -7px;
}

.om .oy > span {
  display: none;
}

.om .ob {
  font-size: 14px;
}

.o_ .nl {
  margin-top: -4px;
  padding: 0 20px;
  font-family: soleil, Raleway, sans-serif;
  font-weight: 700;
  letter-spacing: -0.03em;
  -webkit-font-smoothing: antialiased;
  font-size: 19px;
  text-transform: none;
}

.uj .ia {
  font-family: soleil, Raleway, sans-serif;
  font-weight: 700;
  letter-spacing: -0.015em;
  color: #000;
  -webkit-font-smoothing: antialiased;
  font-size: 16px;
}

.uj.uq .ia {
  margin-bottom: 10px;
  font-size: 17px;
  line-height: 1.3;
}

.wv {
  margin-top: 55px;
  padding-bottom: 50px;
  border: 1px solid #efefef;
}

.wv .o_ {
  margin-top: 32px;
}

.ok .o_:before {
  display: none;
}

.ok .nl {
  background: transparent;
}

.ok .nl:after {
  content: "";
  display: block;
  margin: 0 auto;
  margin-top: 12px;
  width: 24px;
  height: 2px;
  background: #000;
}

.ok .uw:hover {
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1), 0 3px 6px rgba(0, 0, 0, 0.07);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1), 0 3px 6px rgba(0, 0, 0, 0.07);
  -webkit-transform: translateY(-1px);
          transform: translateY(-1px);
}

.oq > .oz,
.oq > li {
  padding: 45px 30px;
}

.oq .oz .uc {
  margin-top: 45px;
}

.oq .uc li.oz {
  margin-top: 45px;
  padding-top: 45px;
  padding-left: 28px;
}

.oq .uc .oz:before, .oq .uc .oz:after {
  display: none;
}

.oq .ui {
  font-family: soleil, Raleway, sans-serif;
  font-weight: 700;
  letter-spacing: -0.015em;
  color: #000;
  -webkit-font-smoothing: antialiased;
  margin-bottom: 0;
  font-size: 15px;
}

.oq .us .uo {
  display: none;
}

.oq .uf {
  margin-top: -18px;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 0.07em;
  -webkit-font-smoothing: antialiased;
}

.oq .uf:before {
  display: none;
}

.oq .uu {
  font-weight: 400;
}

.oq .ul {
  font-size: 14px;
}

#ux {
  margin-top: -38px;
}

.up .o_ {
  border: 0;
  margin-top: 65px;
  text-align: center;
}

.au .al {
  margin-bottom: 33px;
}

/**
 * Home & Archives changes
 */
.ca .nl {
  font-family: soleil, Raleway, sans-serif;
  font-weight: 700;
  letter-spacing: -0.03em;
  -webkit-font-smoothing: antialiased;
  font-size: 19px;
  text-transform: none;
}

.pl {
  padding-bottom: 35px;
}

.cb .ia {
  font-family: soleil, Raleway, sans-serif;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.5;
  letter-spacing: -0.01em;
}

.pg .tk {
  font-family: soleil, Raleway, sans-serif;
  font-weight: 700;
  letter-spacing: -0.015em;
  color: #000;
  -webkit-font-smoothing: antialiased;
}

.pg .fr {
  font-size: 14px;
  letter-spacing: 0;
}

.pj .tk {
  font-family: soleil, Raleway, sans-serif;
  font-weight: 700;
  letter-spacing: -0.015em;
  color: #000;
  -webkit-font-smoothing: antialiased;
}

.ro .tk {
  font-family: soleil, Raleway, sans-serif;
  font-weight: 700;
  letter-spacing: -0.015em;
  color: #000;
  -webkit-font-smoothing: antialiased;
  max-width: 450px;
}

.ro .sg {
  font-size: 11px;
}

.rs .tk {
  font-family: soleil, Raleway, sans-serif;
  font-weight: 700;
  letter-spacing: -0.015em;
  color: #000;
  -webkit-font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
}

.re .tk {
  font-family: soleil, Raleway, sans-serif;
  font-weight: 700;
  letter-spacing: -0.015em;
  color: #000;
  -webkit-font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
}

.dt {
  margin-left: 8px;
  margin-right: 8px;
}

.dt .tk {
  font-family: soleil, Raleway, sans-serif;
  font-weight: 800;
  letter-spacing: -0.04em;
  -webkit-font-smoothing: antialiased;
}

.ld .sh {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  color: #999 !important;
  letter-spacing: 0.05em;
}

.ld .nl {
  font-size: 26px;
  font-weight: 700;
  letter-spacing: -0.03em;
  text-transform: none;
}

.lg .tp,
.wm .tp,
.yt:not(.nj) .tp {
  margin-top: 80px;
}

/**
 * Sidebar & Widgets adjustments
 */
.aw .ax {
  border: 1px solid #efefef;
  padding: 30px;
  margin-bottom: 66px;
}

.aw .ak {
  margin-top: -44px;
  margin-bottom: 33px;
  border: 0;
  color: #000;
  font-size: 19px;
  font-family: soleil, Raleway, sans-serif;
  font-weight: 700;
  letter-spacing: -0.03em;
  -webkit-font-smoothing: antialiased;
  line-height: 1.2;
  text-transform: none;
}

.aw .ak span {
  background: #fff;
  padding: 0 22px;
}

.aw .mh,
.aw .ap {
  padding: 0;
  border: 0;
}

.aw .ax + .mh {
  margin-top: -6px;
}

.aw .mt,
.aw .me {
  background: #f6f6f6;
  border: 0;
}

.aw .mt .ak,
.aw .me .ak {
  margin-top: -5px;
  margin-bottom: 46px;
}

.aw .mt .ak span,
.aw .me .ak span {
  padding: 0;
  background: transparent;
}

.aw .mt .ak:after,
.aw .me .ak:after {
  margin-top: 16px;
  height: 2px;
  background: #000;
  width: 24px;
}

.aw .ly {
  border: 0;
}

.aw .ly .rb {
  margin: 0 -30px;
}

.fy ul,
.fb ul,
.f_ ul,
.fj ul,
.fq ul,
.fx ul,
.fw ul {
  margin-top: 0;
}

.fy li,
.fb li,
.f_ li,
.fj li,
.fq li,
.fx li,
.fw li {
  font-size: 14px;
}

.fg ul,
.fk ul,
.fv ul {
  margin-top: 0;
}

.ax .mn .vp,
.me .vp {
  margin-bottom: 30px;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  letter-spacing: 0;
}

.ax .mn p:last-of-type,
.me p:last-of-type {
  margin-top: -17px;
}

.ap .ot {
  font-weight: 600;
  font-size: 11px;
  color: #161616;
  padding: 9px 14px;
  letter-spacing: 0.15em;
}

.fn .ox {
  margin-top: 2px;
}

.fn .sd img {
  margin-right: 26px;
}

.fn .ia {
  font-family: soleil, Raleway, sans-serif;
  font-weight: 700;
  letter-spacing: -0.015em;
  color: #000;
  -webkit-font-smoothing: antialiased;
  font-size: 15px;
  line-height: 1.46;
}

.fn .is.cr .ia {
  font-size: 15px;
}

.fn .is.cr time {
  letter-spacing: 0.07em;
}

.fe .ft {
  font-size: 14px;
}

.fe .hx {
  color: #000;
  font-size: 12px;
}

.my button {
  margin-top: -43px;
}

/* Footer Changes */
.aq .fe .ft {
  font-size: 14px;
}

.aq .fe .fo.im {
  color: #7a7a7a;
}

.aq .ax .ak {
  font-family: soleil, Raleway, sans-serif;
  font-weight: 700;
  letter-spacing: -0.03em;
  -webkit-font-smoothing: antialiased;
  margin-bottom: 40px;
}

.a_.nr .ax {
  color: #888;
}

.a_.nr .fn .sm {
  color: #7a7a7a;
}

.a_.nr a {
  color: #fdfdfd;
}

.a_.nr a:hover {
  color: #ddd;
}

.a_.nr input[type="submit"] {
  background: rgba(255, 255, 255, 0.15);
}

.a_.nr .fz a {
  color: #454545;
}

.fl .fc {
  font-size: 13px;
}

.fl .tb {
  letter-spacing: 0.12em;
}

.a_ .fo {
  font-size: 14px;
}

.a_.ll {
  margin-left: 8px;
  margin-right: 8px;
}

.a_.ll .fz {
  border-top: 8px solid #fff;
}

@media (min-width: 1200px) {
  .so .ix .ia {
    font-size: 40px;
  }
}

@media (min-width: 940px) and (max-width: 1200px) {
  .aw .ax {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 940px) {
  .al {
    font-size: 34px;
  }
  .lg .tp,
  .wm .tp,
  .yt:not(.nj) .tp {
    margin-top: 60px;
  }
}

@media (min-width: 940px) {
  .al {
    font-size: 42px;
  }
  .rr .tk {
    font-size: 29px;
    max-width: 576px;
    line-height: 1.2;
  }
  .pw .tk {
    font-size: 33px;
    max-width: 615px;
    line-height: 1.2;
    margin: 10px auto;
  }
  .dt .tk {
    font-size: 46px;
  }
}

@media (max-width: 767px) {
  .al {
    font-size: 27px;
  }
  .lx .ia {
    font-size: 26px;
  }
}
